[2022-01-20 14:12] matobeno1 opened #4099 "Commands run with netlify dev's `--command` flag always exit with code 1. Successful commands should exit with code 0."
**Is your feature request related to a problem? Please describe.**

I'm using the `--command` flag to run integration tests together with Netlify dev server. This way the Netlify dev server stops automatically when tests are done. The exit code is always 1 (unfortunately), even if all tests succeed.
Here is an example of the command I'm running: `NODE_ENV=test netlify dev --command=ava`.

**Descri

[2022-01-20 14:20] #4098 closed

[2022-01-20 15:01] lukasholzer commented on #3870
So this looks all good, I see you invoke with `npm`?

I cannot reproduce it so please help my to troubleshoot this.

Can you verify if this folder exists on your system?
`/Users/francisagulto/Library/Preferences/netlify`

If yes can you print me the privileges of the folder?

`ls -lah /Users/francisagulto/Library/Preferences/netlify`
![CleanShot 2022-01-20 at 15 58 37](https://user-images.githubus

[2022-01-20 15:13] Fran-A-Dev commented on #3870
ahhh @lukasholzer ok let me try that now, One second here.

[2022-01-20 15:22] Fran-A-Dev commented on #3870
@lukasholzer forgive me but what is the correct syntax in shell script to check if this `/Users/francisagulto/Library/Preferences/netlify` exists?

[2022-01-20 16:13] Fran-A-Dev commented on #3870
@lukasholzer I ran this command, I think this is correct, it outputted that it does exists:
<img width="1440" alt="Screen Shot 2022-01-20 at 10 12 30 AM" src="https://user-images.githubusercontent.com/73023614/150377568-6942e380-3a37-4503-b5db-ef97f2081238.png">

[2022-01-20 16:16] Fran-A-Dev commented on #3870
@lukasholzer Did the commands and here is all the output it gave:
<img width="1439" alt="Screen Shot 2022-01-20 at 10 15 24 AM" src="https://user-images.githubusercontent.com/73023614/150378018-840bab38-a04c-46fc-90a3-579b1c00b638.png">

[2022-01-20 22:48] jimmend commented on #409
For whoever else has this issue, the launch config in the Netlify documentation ([https://cli.netlify.com/vscode/](url)) mostly worked for me.

I just had to change:

`node_modules/.bin/netlify`

to:

`node_modules/netlify-cli/bin/run`

I suspect the issue is when you don't have netlify-cli installed globally (I only install locally per project).

Hope that helps!

[2022-01-21 09:46] albertodeago opened #4100 "Add an option to turn off autoLaunch in dev command"
**Is your feature request related to a problem? Please describe.**

I really would like to have an option to be able to turn off the `autoLaunch` behaviour of the dev command.
I understand [why by default it's turned on](https://github.com/netlify/cli/pull/729#issuecomment-591701356), but I think that it would be a nice addition to add a way to turn it off if needed.

**Describe the solution you'd

[2022-01-21 10:37] erezrokah commented on #4100
Hi @albertodeago! Thank you for opening the issue. This is available via `BROWSER=none ntl dev`, due to the underlying library we use to open the browser.

We can probably document it better, so maybe adding it under https://cli.netlify.com/commands/dev or https://cli.netlify.com/netlify-dev#usage (or both) will make it more visible.

[2022-01-21 10:42] albertodeago commented on #4100
thanks @erezrokah for the quick response.
Oh wow I didn't find this info anywhere so I think it would be a nice addition in the docs, do you want me to submit a pr on the dev docs?

[2022-01-21 11:05] erezrokah commented on #4100
A PR would be very helpful, thanks @albertodeago!

[2022-01-21 11:05] albertodeago commented on #4100
I'll do that

[2022-01-21 12:24] lukasholzer commented on #3870
yea thanks @Fran-A-Dev so we can track down it is not an issue of the CLI per se it seems you have installed node.js with a different user probably that is not allowed to write into your `Library/Preferences` folder.

@ehmicky @erezrokah asking (as netlify is general relying on this folder if we should pick a different one?) 🤔

[2022-01-21 12:45] Fran-A-Dev commented on #3870
@lukasholzer Ok that is good to know.  I will stand by and wait for your instructions on how to proceed to fix my permissions.

[2022-01-21 13:00] erezrokah commented on #3870
We use https://github.com/sindresorhus/env-paths to get the recommended user specific directory:
https://github.com/netlify/cli/blob/5ba83d8f4446d0d17ac993e4b85e8317e73db664/src/lib/settings.js#L26

I was able to reproduce this issue by running:
1. On a fresh install (with no prior `Library/Preferences/netlify` directory run `npm install -g netlify-cli`
2. Run `sudo ntl status` to make sure the `c

[2022-01-21 13:15] Fran-A-Dev commented on #3870
@erezrokah I can try that workaround and see what happens.  One second, I can try it momentarily.

[2022-01-21 18:09] #4100 closed

[2022-01-21 20:53] saswatsam786 opened #4110 "functions are running on different port while frontend is running on another port"
**Describe the bug**
Netlify functions are not running on port 8888, the functions are listening on some random port 60248 which is causing error in running locally
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `git clone git@github.com:owner/repo-with-cli-bug.git`
2. Navigate to the cloned repository
3. Run `netlify dev`
4. See tha

[2022-01-21 20:54] saswatsam786 commented on #4110
@croaky

[2022-01-22 07:58] zalnaRs commented on #11
I still have the issue even with this redirect solutions I wanted to use it for trusted web activities which requires an `.well-known/assetlinks.json` but I can't get it to work so I can access it.

[2022-01-22 23:15] jlengstorf commented on #3427
I haven't hit this again, so I'm going to assume something was weird in my setup

[2022-01-22 23:15] #3427 closed

[2022-01-23 06:54] Soviut opened #4116 "netlify functions:serve shows an undefined port in loaded function URL"
**Describe the bug**

When using `netlify functions:serve` the URLs for the loaded functions have an `undefined` port.

[code]

Directly after the list of loaded functions, the default port is listed.

[code]

If you copy the URL for the function and replace `undefined` with `9999` the function works and returns its response.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a functio

[2022-01-23 22:31] fool commented on #11
perhaps you could show us your code and tell us what site you are using it on.  This should work well if you configure things correctly, but asserting that "i can't get it to work" doesn't help us help you troubleshoot.

PS: I'd suggest opening a community thread at https://answers.netlify.com rather than responding to closed github issues, if you'd like for our Support team to help you, too :)

[2022-01-24 09:52] erezrokah commented on #3941
I marked this as a `good first issue`. If someone is planning to pick this up, please specify which bullet point you'd like to address first

[2022-01-24 09:58] erezrokah commented on #4110
Hi @saswatsam786, can you fill in the missing parts from the issue template?
Specifically `To Reproduce`, `Configuration` and `Expected behavior`.

Running the functions server on a different port is the expected behavior. Can you describe what issue it's causing for you?

[2022-01-24 11:53] lukasholzer commented on #4099
@matobeno1 do you suggest reusing the status code of the command?

<img width="762" alt="CleanShot 2022-01-24 at 12 51 20@2x" src="https://user-images.githubusercontent.com/11156362/150778181-a04bf185-cfce-4d6f-a6b6-0effb9abc222.png">

So I guess you mean updating: https://github.com/netlify/cli/blob/main/src/commands/dev/dev.js#L110

[code]

would this be enough for you?

[2022-01-24 15:42] matobeno1 commented on #4099
Yes it would be great, thank you!

[2022-01-24 16:48] erezrokah commented on #4099
To add more context, the command `netlify dev` runs is expected to be a long running command that doesn't exit at all (e.g. a server), hence if it exists it consists as a failure.

This is useful is a user configures the wrong command to signal an error.

I wonder if using something like https://github.com/bahmutov/start-server-and-test will be more straightforward.

[2022-01-24 17:21] whitep4nth3r commented on #3945
+1 to this. Furthermore, the absence of a favicon gives a 404 in the network tab, which isn't ideal!

[2022-01-24 22:09] saswatsam786 commented on #4110
Actually, the function addData is not working on (http://localhost:8888/.netlify/functions/addData)  as specified but it is working on port 60248.

[2022-01-25 08:51] #3827 closed

[2022-01-25 10:25] erezrokah commented on #4110
Thanks @saswatsam786, can you share a reproduction scenario that reproduces the "not working on port 8888" and "working on port  60248".

The function should work on port 8888, so it would be great to understand the reason it doesn't

[2022-01-27 14:43] ilkkanisula commented on #3771
I have this same issue when trying to use netlify-cli init for newly created gitlab repo.

[2022-01-30 15:27] andystevenson commented on #1242
I have a simple 404 redirect which fails locally but works if deployed.

[code]

This is a direct lift from @philhawksworth demo.

Clone https://github.com/andystevenson/wwsc.club to witness the problem.

[2022-01-30 17:45] karagulamos commented on #4116
Hi @Soviut.

Thanks for reporting this issue. I can confirm that my experience is the same when I use the `functions:serve` command.

I'll investigate why the port is not captured in the functions URL and issue a fix soon.

Humble regards,
Alexander.

[2022-01-31 13:43] whitep4nth3r opened #4160 "netlify open:site hangs with Brave browser"
**Describe the bug**

`netlify open:site` hangs or fails silently with Brave browser set as default.

The following command ran successfully and opened Firefox as expected:

[code]

**To Reproduce**

Steps to reproduce the behavior on Mac OS:

1. Use latest CLI version
2. Set Brave to default system browser
3. Run `netlify open:site`
4. Notice that Brave browser has not opened after a considerable

[2022-01-31 14:44] erezrokah commented on #4160
The log line is here https://github.com/netlify/cli/blob/f1c4d1017acba380048c06efa98b51b967f763d2/src/commands/open/open-site.js#L27

which means it probably hangs on https://github.com/netlify/cli/blob/f1c4d1017acba380048c06efa98b51b967f763d2/src/utils/open-browser.js#L36.

And to add more context @whitep4nth3r, `ntl dev` doesn't experience the same behavior, correct?

[2022-01-31 14:53] whitep4nth3r commented on #4160
`ntl dev` experiences the same behaviour. Whilst the development server has started and I can navigate to a working development site in a browser manually, ntl dev does NOT open a browser tab.

[2022-01-31 14:53] whitep4nth3r commented on #4160
Interestingly, when I kill the `ntl dev` process, that's when the browser tab opens.

[2022-02-02 20:34] mosesoak commented on #404
I wanted to report that I'm on Windows 10 using WSL (bridged Linux subsystem) and do get this error with all standard security settings turned on, but seemed to be able to make them go away by temporarily disabling all windows security features and restarting my machine. The errors came back after I restored security settings and rebooted. In case that helps anyone at the Netlify team figure this

[2022-02-04 13:27] erezrokah opened #4178 "chore: find a better more automatic way to distribute our tests"
Follow up to https://github.com/netlify/cli/pull/4164.

In https://github.com/netlify/cli/pull/4164 we split our tests across multiple machines using an `ava` feature that allows it.
The feature works by sorting specs by file names, dividing those into chunks and sending each chunk to a different machine.
As a result of `ava`'s distribution strategy and since some of our specs are slower than othe

[2022-02-04 14:02] #4116 closed

[2022-02-04 14:41] #3770 closed

[2022-02-04 18:14] sgrove opened #4180 "feat: Run prettier automatically on generated code"
**Is your feature request related to a problem? Please describe.**

We generate various bits of code from the `graph` piece of the CLI, but we won't know the project's specific settings, so the user always has to run prettier on the result to get it to conform to their expectations.

**Describe the solution you'd like**

If prettier is available in the path, it would be a better DX to run it over

[2022-02-04 18:19] erezrokah commented on #4180
I think you could use `execa` with `preferLocal: true` and ignore the failure.
See example usage in https://github.com/netlify/cli/blob/0577c151838ef36f6e2cb21fab646fc54a9e9d97/src/commands/dev/dev.js#L80

[2022-02-04 18:23] ehmicky commented on #4180
Yes, that should work.
To ignore the failure, you can also use [the `reject: false` option](https://github.com/sindresorhus/execa#reject).

[2022-02-04 18:50] anmonteiro opened #4181 "Add tests for netlify graph + API Authentication"
**Is your feature request related to a problem? Please describe.**

We need to add a test for the Netlify Graph improvements made in #4167. We should test that for `netlify dev --graph`, the `ONEGRAPH_AUTHLIFY_TOKEN` variable gets injected into the environment.

Additionally, we'll wanna test that the `event` for function invocations contains an `authlifyToken` for users who've enabled API Authent

[2022-02-04 18:52] anmonteiro opened #4182 "Inject ONEGRAPH_AUTHLIFY_TOKEN when running `ntl build`"
**Is your feature request related to a problem? Please describe.**

In #4167, we added support for netlify graph in `netlify dev --graph` and function invocations that expect an `authlifyToken` (for API Authentication).

We wanna add support for that in the `netlify build` command too.

[2022-02-04 19:26] sgrove commented on #4180
@ehmicky But in that case we'd have to include `prettier` in our runtime `dependencies`, right?

[2022-02-04 19:38] ehmicky commented on #4180
For both the CLI and programmatic solutions, if we want to run Prettier, its code must be installed either by us (i.e. be a production `dependencies`) or by our users (i.e. be a `peerDependencies`).

[2022-02-04 19:52] sgrove commented on #4180
I agree, that'd be the nicest. We effectively need to be able to say, "Whatever prettier setup you have, run it on the file at `<path>`"

I suspect that the `execs` approach is the easiest to approach, and we can give a one-time warning to install prettier when it fails, then continue on.

[2022-02-04 19:55] ehmicky commented on #4180
IMHO both approaches work, with different cons, coming down to speed of execution vs code quality:
  - The binary approach is slower (since it requires spawning a process). It is harder to control its output (we can mostly just forward `stdout`/`stderr` and possibly filter it) and is generally less flexible.
  - The programmatic approach is harder to implement.

[2022-02-04 20:16] sgrove commented on #4180
I'll take the binary approach first and we can implement the programmatic
approach if it causes issues with the DX

On Fri, Feb 4, 2022 at 11:55 AM ehmicky ***@***.***> wrote:

[2022-02-05 06:18] #4180 closed

[2022-02-05 12:01] tinfoil-knight commented on #1772
@eduardoboucas Can I take this up?

[2022-02-05 16:31] eduardoboucas commented on #1772
Absolutely!

[2022-02-07 13:21] lukasholzer opened #4196 "CLI tracking of successful commands does not work currently"
**Describe the bug**

Currently we only report crashed commands with the telemetry and there a culprit is in there that it does not differentiate between commands

**To Reproduce**

Steps to reproduce the behavior:

1. Run any command with debug flag `DEBUG* ntl <command>`
2. Check the logs for

![CleanShot 2022-02-07 at 14 18 10](https://user-images.githubusercontent.com/11156362/152795389-223648

[2022-02-07 13:29] tobiasdiez commented on #1984
I seem to have the same problem as above, with the slight twist that I've only used `deploy --alias` without any branch deploys (never even linked a git repo in the netlify ui). However, after the initial deploy further deploys with the same alias are not updated.

(Caveat: for some reason deploys with `--alias` sometimes show up as a branch deploy in the netlify ui, e.g. https://app.netlify.com/s

[2022-02-07 14:23] erezrokah opened #4199 "test: use ava/get-port plugin instead of randomizing ports based on process id"
In the CLI tests we spawn multiple HTTP servers (directly and indirectly via CLI commands).
Since `ava` run specs in different processes we randomize port acquisition based on process id:
https://github.com/netlify/cli/blob/db86f163451e0775a003ed60ab3c0dc452ef5992/tests/integration/utils/dev-server.js#L16

to avoid collisions.

With `ava` version 4 we can use https://github.com/avajs/get-port to e

[2022-02-07 14:45] tinfoil-knight commented on #3033
@erezrokah Can I pick this one up?

[2022-02-07 21:20] charliegerard opened #4212 "Potential race condition in templates feature"
**Describe the bug**

After the release of the templates command `sites:create-template` we ran into what seems to be a race condition issue that causes the 1st deploy of a new site to occasionally fail with the error `Failed during stage 'preparing repo': git ref refs/heads/main does not exist`.

It seems like even though the new repo is created on GitHub from a template before creating the new s

[2022-02-08 09:04] erezrokah commented on #4212
Based on https://docs.github.com/en/repositories/creating-and-managing-repositories/creating-a-repository-from-a-template, creating a repo from template is similar to forking one.

We might need to poll until the repo exists, see https://github.com/netlify/netlify-cms/blob/f85960ecf6c125824642e2a664cd0ba2fa44aede/packages/netlify-cms-backend-github/src/implementation.tsx#L183

[2022-02-08 12:17] #1772 closed

[2022-02-08 17:01] sgrove opened #4226 "`netlify dev --graph` should monitor is API Authentication has been enabled after starting"
**Is your feature request related to a problem? Please describe.**

This has happened quite a few times:
1. Run `netlify dev --graph` on a new site
2. Add queries
3. Generate handler
4. Use handler, realize I haven't enable API Authentication for the service required by the query
5. Enable API Authentication
6. Connect to server required
7. ...
8. Realize I have to restart `netlify dev --graph` so

[2022-02-08 23:15] kiliman opened #4237 "Netlify CLI server does not properly handle content-type to determine base64 body"
Currently when the server checks `shouldBase64Encode()` it's passing in the `content-type` header. This function makes a series of checks and compares to an exclusion list. However, if the content-type header is something like `application/json; charset=utf-8` segment, this causes the exclusion list to not match and always returns true.

Oddly, even though `isBase64Encoded` is true, it doesn't see

[2022-02-09 03:58] #4237 closed

[2022-02-09 10:16] nicholaschedid opened #4243 "Access denied to config file after installing CLI when running netlify command"
**Describe the bug**

I installed the netlify-cli package globally using `npm install netlify-cli -g` , the installation completed. After that I ran `netlify` command and got this error

`Error: EACCES: permission denied, open '/Users/{USER_FOLDER}/Library/Preferences/netlify/config.json.2846113261'
You don't have access to this file.`

**To Reproduce**

Steps to reproduce the behavior:

1. Run `n

[2022-02-09 11:34] erezrokah commented on #4178
Opened https://github.com/avajs/ava/issues/2965 for reference

[2022-02-09 11:38] #3870 closed

[2022-02-09 11:40] erezrokah commented on #4243
Hi @nicholaschedid, I believe this similar to https://github.com/netlify/cli/issues/3870.

Can you please try the workaround suggested in https://github.com/netlify/cli/issues/3870#issuecomment-1018483719

[2022-02-09 11:41] nicholaschedid commented on #4243
Yes, I followed your comment and solved. Thank you so much

[2022-02-09 11:41] #4243 closed

[2022-02-09 15:15] sgrove opened #4245 "Graph should check if `state.json` is committed to git, and if so, give a warning"
**Is your feature request related to a problem? Please describe.**

@localden shared an example app using Netlify Graph but also committed `.netlify/state.json`, and this caused a few hours of [confusion/debugging](https://netlify.slack.com/archives/C02JVT8TBDK/p1644263085172559?thread_ts=1644016093.631899&cid=C02JVT8TBDK). Graph relies on `state.json["oneGraphSessionId"]` to reuse sessions, but s

[2022-02-09 18:08] erezrokah opened #4252 "Investigate increase in package size due to zip it and ship it update"
https://github.com/netlify/cli/pull/4233 increased the CLI size quite a bit.

https://github.com/netlify/cli/pull/4247 fixed some of the issue by de-duping `zisi`.

We should investigate if other packages can be de-duped as well.

[2022-02-09 19:03] anmonteiro opened #4256 "Replace custom Graph pollers with `p-wait-for`"
**Is your feature request related to a problem? Please describe.**

It was pointed out in https://github.com/netlify/cli/pull/4235 that we are doing custom polling when we could be using a well-tested, well-maintained package that's already in dependencies.

**Describe the solution you'd like**

Replace Netlify Graph pollers with `p-wait-for`.

[2022-02-10 11:39] Rabbs1 opened #4260 "Please replace with a clear and descriptive title"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `git clone git@github.com:owner/repo-with-cli-bug.git`
2. Navigate to the cloned repository
3. Run `netlify dev`
4. See that the CLI exits with an error

**Configuration**

- If possible, please copy/paste below your `netlify.toml`.
- Please enter the following comm

[2022-02-10 11:44] mossen commented on #158
I tried following but didn't work for me:
`/prediction http://18....205.5/prediction:splat 200!`

I had to have all these to get some result:
[code]
Result:
`Mixed Content: The page at 'https://.....-page.netlify.app/' was loaded over HTTPS, but requested an insecure resource 'http://18.....205.5/prediction'. This request has been blocked; the content must be served over HTTPS.`

[2022-02-10 12:30] #4260 closed

[2022-02-10 15:45] erezrokah commented on #3972
We should be able to use https://github.com/pnpm/tabtab and use `enquirer`, cc @XhmikosR

[2022-02-10 16:01] XhmikosR commented on #3972
Should probably update #3941 too later, but the above changes should slim down things a lot. Next biggest issue is TypeScript in precinct.

[2022-02-12 22:42] Soviut opened #4272 "CLI flag or config to prevent .env variables being injected"
**Is your feature request related to a problem? Please describe.**

I'm running a Vite + Vue 3 application with an API client that has to point to different URLs depending on the environment. Vite supports setting these in `.env`, `.env.local`, etc. These files load in a priority order so that `.env.local` values override `.env` values. However, if the environment variable is already set in the sy

[2022-02-13 00:18] toreylittlefield commented on #409
If it's helpful to anyone I

Confirm this works for me. Thanks to this thread and everyone here.

Here's my `launch.json` for reference if that helps anyone.

[launch.json config for netlify dev](https://github.com/toreylittlefield/netlify-dev-vs-code-launch-config)

[2022-02-13 14:26] Hrishikesh-K opened #4273 "Splat not being passed as Query String"
**Describe the bug:**

Using `splat` in sending query parameters to a destination doesn't seem to be working.

**To reproduce:**

Add the following to your `netlify.toml`:

[code]

Create a function with the following:

[code]

The output returns empty.

**Configuration**

[code]

**Expected behavior**

The query string should have some value if the requested URL was `/foo/bar/`.

**CLI Output**

[2022-02-13 17:16] kinkwilde opened #4274 "Remix.run deploy works fine via terminal but not in netlify web ui"
**Describe the bug**

I have recently setup a remix.run app with storyblok integrated. I have it building and working locally using the netlify-cli terminal commands and I can even deploy to netlify using terminals commands both preview & deploy.

However when I log into netlify website and try to trigger a deployment it fails.

I believe it's failing because the remix.run build folder doesn't exi

[2022-02-13 17:20] kinkwilde opened #4275 "Netlify-cli requires axios - why?"
**Describe the bug**

I have recently setup a remix.run app with storyblok integrated.

I tried to deploy via terminal commands and it fails on an axios error. I don't use axios and remix.run doesn't either (as far as I'm aware), so I am confused as to why I get this error and can only assume it's netlify-cli at the moment.

If I install axios manually then it fixes the error, but isn't the root c

[2022-02-14 01:05] imballinst opened #4277 "docs: in getting-started.md, "locally perhaps should be "globally" instead?"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `git clone git@github.com:owner/repo-with-cli-bug.git`
2. Navigate to the cloned repository
3. Run `netlify dev`
4. See that the CLI exits with an error

**Configuration**

- If possible, please copy/paste below your `netlify.toml`.
- Please enter the following comm

[2022-02-14 09:35] erezrokah commented on #4277
Great catch @imballinst, would you like to submit a PR for it?

[2022-02-14 10:43] imballinst commented on #4277
@erezrokah sure! I have prepared a branch. I'll submit a PR in a bit. Thanks for the response!

[2022-02-14 10:53] erezrokah commented on #4272
Thanks @Soviut, linking https://github.com/netlify/cli/issues/1303 as related

[2022-02-14 12:04] robations commented on #3735
I have this issue again with all Netlify cli versions I've tried:

[code]

Each time gatsby (v3) finishes with:

[code]

Then I get after a long pause:

[code]

It's possible that gatsby is at fault. Open to ideas on how to debug this dialogue between the two platforms.

[2022-02-15 08:47] whitep4nth3r opened #4303 "netlify-cli should respect your decision when you answer "No" to a question"
**Describe the bug**

If you make a typo on the command line and Netlify asks you to confirm your decision, and you reply with "No", Netlify goes ahead and runs a command anyway.

**To Reproduce**

Steps to reproduce the behavior:

1. Type `netlify ddev` or a similar typo
2. Reply with "No" when Netlify asks "Did you mean dev"
3. Observe that `netlify dev` is run anyway

**Configuration**

[code]

[2022-02-15 09:26] Skn0tt opened #4304 "netlify dev: correctly mirror Lambda's behaviour when returning synchronously"
As captured in https://github.com/netlify/functions/pull/308, there's currently a difference in behaviour between `ntl dev` and production behaviour for functions that respond synchronously:

[code]

While `ntl dev` will takes this as a literal response, a deployed function will discard this return value. Since that behaviour is controlled by Lambda, we should move `ntl dev`'s behaviour in-line.

[2022-02-15 09:26] Skn0tt commented on #4304
I opened an upstream PR to `lambda-local` to address this: https://github.com/ashiina/lambda-local/pull/220

[2022-02-15 11:34] gjdickens commented on #870
I'm still having this issue as well.  Are there any updates?

[2022-02-15 14:26] mjswensen opened #4306 "netlify dev supports import() but building on Netlify doesn't"
**Describe the bug**

In development, the following code works as expected:

[code]

But when deploying to production, `my-package` doesn't get bundled, resulting in 500 errors when the function tries to run (`Cannot find package 'my-package' imported from /var/task/my-function.js`)

**To Reproduce**

Steps to reproduce the behavior:

1. Write a Netlify function with a dynamic import
2. Run `netli

[2022-02-15 14:34] mjswensen opened #4307 "CLI automatically rewrites to /index.html but production deploys do not"
**Describe the bug**

When using `netlify dev` with `create-react-app` auto-configuration, requests to `localhost:8888/some-sub-path` automatically get rewritten to `/index.html`, but when deploying to Netlify `/some-sub-path` will throw a 404 unless the appropriate redirect rule is set up.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a React application with client-side routing

[2022-02-16 06:28] Soviut commented on #1303
@erezrokah rather than doing any detection, I think it would be more useful to be able to use `netlify.toml` to explicitly configure which env files are loaded for which environments.

Perhaps some kind of list that specified the priority to load the env files in. For example:

[code]

This would also mean you could configure it as follows to not inject any `.env` files at all.

[code]

[2022-02-16 07:03] Soviut opened #4311 "Function URLs in terminal end with zero width space causing a click to open an invalid URL"
**Describe the bug**

When starting `netlify dev`, all loaded functions are listed with their URLs. These URLs are clickable in most terminals.

[code]

These URLs have an invisible "zero width space" (`U+200B`) character at the end. **Even that snippet above has the characters!** (copy that snippet into a text editor and use the arrow keys to move the cursor left and right between `api` and `)`).

[2022-02-16 10:07] erezrokah commented on #1303
Hi @Soviut, that's a good idea and we should probably do both to have:
1. Good defaults
2. Configurability

Are you open to submitting a PR for it? This configuration should go under the `[dev]` block and only apply for the CLI, correct?

[2022-02-16 16:18] iib0011 commented on #4303
solved https://github.com/iib0011/cli/commit/648edc81219d1c3538fa82f22786ca22061093a7

[2022-02-16 18:28] iib0011 commented on #4272
Can you assign me this one?

[2022-02-16 18:30] erezrokah commented on #4272
Sure @iib0011, please see https://github.com/netlify/cli/issues/1303#issuecomment-1041152914 as the approach we'd like to take

[2022-02-16 19:26] Soviut commented on #1303
@erezrokah I noticed that someone else took the assignment here? https://github.com/netlify/cli/issues/4272#issuecomment-1041990010

I'd be happy to collaborate. I don't know the cli code base very well so anyone more aware then me is going to be able to focus more quickly on the areas of the code that affect this.

[2022-02-16 21:17] nolessafool opened #4318 "make netlify dev more bug-compatible with AWS"
**Is your feature request related to a problem? Please describe.**

Folks who use `netlify dev` to do local development for functions often discover differences between what netlify dev permits and what AWS permits.   Unfortunately, this discovery comes after they have done the local development, potentially after much work done / expectations set that these should work in prod identically.

**Des

[2022-02-17 03:11] fool commented on #870
We have not seen anyone with a properly configured redirect who has the issue.  Are you following the advice in https://github.com/netlify/cli/issues/870#issuecomment-749158368 ?  Can you share your redirect that is not working and the deploy ID (last part of the URL when you look at deploy logs) that you see it in, so we can review your redirect and hopefully point out a fix?

As far as netlify d

[2022-02-17 08:27] gjdickens commented on #870
@fool thanks for having a look so quickly!  Here's my redirect which is same as the advice in comment #870:

[code]

Here's the full context of the issue I'm having along with deploy ID's:

- Redirect is working with no problems in Dev
- When I build automatically from Github using continuous deployment, the redirect doesn't work in Prod (deploy ID:  620b883236a79b0007b0ca5d)
- If I build manually

[2022-02-17 11:57] nekdolan opened #4320 "Role based redirects does not work as intended in dev mode"
**Describe the bug**

When you make a role based rewrite (not redirect) on dev mode or live dev mode the rewrite to the page returns 404.
**Works** correctly **on production**.
https://answers.netlify.com/t/role-based-redirects-does-not-work-as-intended-in-dev-mode/50667

**To Reproduce**

Steps to reproduce the behavior:

Make a configuration like the one you see below.
[code]
Put a test.html fil

[2022-02-17 13:03] #4303 closed

[2022-02-17 16:29] #3973 closed

[2022-02-17 18:12] fool commented on #4318
I'll ask @overlordofmu to review this during their next pairing with the team that manages this.  This fix is clearly not required, but would be a good user experience.  If they decide WONTFIX on this, we should create an issue with the docs team to document this non-parity instead.

[2022-02-18 19:01] jlengstorf opened #4326 "Use repo shorthand for choosing a template quickly in `sites:create-template`"
It would be nice to add support for shorthand GitHub repos as an arg to the `ntl sites:create-template` command.

For example, something like this:

[code]

would expand to github.com/netlify-templates/nextjs-blog-theme

And this:

[code]

would expand to github.com/jlengstorf/my-template

[parse-github-url](https://github.com/jonschlinkert/parse-github-url) could tackle most of the heavy lifting

[2022-02-20 00:20] iib0011 commented on #4245
For which commands should we warn ?

[2022-02-20 02:43] zane commented on #410
It appears that if there's ambiguity about the framework you'll still be prompted to choose between them even if `command` is set. Setting `framework` explicitly resolves the issue for me.

[2022-02-21 03:44] coelmay commented on #4307
This happens with Vue as well. I don't believe it is (the fault of) Netlify CLI.

If you run `react-script start` or `vue-cli-service serve` (without using `ntl dev`) there is no need to have a redirect (i.e. `/*   /index.html   200`) as the framework is handling everything. This (as I understand things; *@erezrokah would know more than I*) is how Netlify interacts with the framework, enabling the

[2022-02-21 10:21] overlordofmu commented on #4318
@erezrokah and I discussed this and it belongs to the serverless pod.

[2022-02-21 13:25] erezrokah commented on #4307
Correct @coelmay the issue here seems to be how some frameworks work in dev mode.
Some will run a `dev` server (e.g. `create-react-app`) and some will run a `build` command in watch mode (e.g. 11ty).

The latter is closer to how static hosting production environments work. The former might have other advantages (speed? could be very framework/platform specific).

[2022-02-21 20:23] mjswensen commented on #4307
Good call @coelmay / @erezrokah , that makes sense. I wonder if a callout in the [create-react-app Netlify docs](https://docs.netlify.com/configure-builds/common-configurations/create-react-app/) might be helpful, to give folks a heads up. (Feel free to close this either way.)

[2022-02-21 20:31] coelmay commented on #4307
Interesting to note that documentation CRA documentation @mjswensen linked to does not contain mention of redirects although the [Angular](https://docs.netlify.com/configure-builds/common-configurations/angular/) documentation does.

Under the [Common configurations -> CRA](https://docs.netlify.com/configure-builds/common-configurations/#create-react-app) it does not mention redirects either, thou

[2022-02-22 08:59] erezrokah commented on #2873
I couldn't reproduce this so closing as fixed upstream.
If this still happens please comment and I'll re-open

[2022-02-22 08:59] #2873 closed

[2022-02-22 19:12] tomardern opened #4358 "experimentalDecorators / emitDecoratorMetadata not supported in netlify CLI"
**Is your feature request related to a problem? Please describe.**

We are trying to use the popular https://github.com/microsoft/tsyringe dependancy injection package within netlify functions. This does not seem to be working, and we are getting the following error:

[code]

I think the underlying issue is that Netlify CLI uses esbuild bundler under-the-hood (https://www.netlify.com/blog/2021/04/

[2022-02-23 09:53] gavinhenderson opened #4359 "v9.6.0 causes `out of memory` error when deploying"
**Describe the bug**

Since upgrading to `v9.6.0` (from `9.5.0`) I consistently get a Javascript out of memory error when running `netlify deploy`.

I have tried upping the node memory limit incase I was just I was just slightly over the memory limit but I still get the error even after doubling the memory limit.

Nothing else has changed in my setup, if i drop the version it builds fine

**To Rep

[2022-02-23 10:32] erezrokah commented on #4359
Thanks for the detailed bug report @gavinhenderson, that's super helpful.

The changes between `9.5.0` to `9.6.0` are here https://github.com/netlify/cli/commit/d9618559f2903ab693b11ed2289625dece5f63e9#diff-fc2c4aaa55fa6705ff0cf8ecdb6637ee37c932821b806fb3bef0a3b72afa309aR449, so my current assumption is that adding a watcher on the config results in excessive memory usage, especially in big `netli

[2022-02-23 11:28] gavinhenderson commented on #4359
Thanks for getting back to me, @erezrokah

I tried a smaller `netlify.toml` as you suggested and still hit the out of memory error.

The config I tried was:

[code]

[2022-02-23 14:15] gavinhenderson commented on #4359
Ah yeah so it does.

Let me know if you need me to create a repo where you can more easily reproduce this bug (my current repo is a bit of a pain to run because it requires a bunch of secret keys in the environment)

[2022-02-23 14:21] erezrokah commented on #4359
That would be very helpful so we can verify the fix. We're currently thinking of disabling the watcher for the `deploy` command, so having a reproduction will help us quite a bit.

[2022-02-24 10:57] PH4NTOMiki opened #4364 "Working on netlify dev, not on actual deploy"
**Describe the bug**

SvelteKit app when deployed to Netlify returns `Dynamic require of "fs" is not supported` and sometimes `Cannot read property 'default' of undefined` for routes that have `gray-matter` import in them, but the route only uses the text "part" of that library, not `fs` part of it so there shouldn't be that error.
The issue persists for node_bundler = esbuild and without it.

I t

[2022-02-24 10:59] erezrokah commented on #4364
Thanks @PH4NTOMiki, going to move this to the correct repo as it seems related to our bundling logic

[2022-02-25 14:43] iib0011 commented on #4358
Should we add a flag for the plugin to use?

[2022-02-26 04:39] erquhart opened #4383 "Background functions provide a clientContext and user locally, but not in production"
**Describe the bug**

Background functions don't check for an authorization header token in production, so there's never a `clientContext` or any way to validate that an Identity authenticated user is sending the request. This isn't documented, but it's mentioned in a community answer: https://answers.netlify.com/t/clientcontext-user-missing-in-background-functions/46166/2

This can be hacked arou

[2022-02-26 09:17] wad-im commented on #4088
Check out [#3617](https://github.com/netlify/cli/issues/3617). The issue has been reported for different frameworks. Had the same issue after updating to Node.js 17+. Going back to an older version of Node solved the issue for now.

[2022-02-27 10:55] makingthingswork commented on #870
Really useful feature but it appears if one has `esbuild` enabled for `node_bundler` the redirects don't work as you get a message saying "Too many redirects". In this case I can easily switch node fetch back to version 2 from version 3 and drop `esbuild` to get the redirect working.

Can anyone confirm that the "Too many redirects" issues I am experiencing is known or expected with the scenario I

[2022-02-27 20:19] gavinhenderson commented on #4359
@erezrokah Thanks that solves my `out of memory` error!

[2022-02-28 10:31] tomardern commented on #4358
Maybe something in the toml file? eg
[code]

[2022-02-28 10:37] iib0011 commented on #4358
Okay

[2022-02-28 11:36] erezrokah commented on #4358
Hi all 👋 This issue belongs in https://github.com/netlify/zip-it-and-ship-it.
I'm trying to transfer it, however GitHub seems to dislike it.

For esbuild plugins support you might want to look at the discussion in https://github.com/netlify/zip-it-and-ship-it/issues/392

[2022-02-28 12:58] erezrokah commented on #4383
Thanks @erquhart! We have an internal issue to track missing `clientContext` and this seems to be a AWS Lambda issue, https://github.com/aws/aws-sdk-js/issues/1388#issuecomment-403466618.
We didn't have an issue for the CLI, so thank you for opening one!

We'd be happy to accept a PR to remove it as you suggested ❤️
Once the PR is up we can figure out the best way to test this.

[2022-02-28 20:50] #4182 closed

[2022-03-01 14:28] erezrokah commented on #4359
Fixed in https://github.com/netlify/cli/releases/tag/v9.9.1

[2022-03-01 14:28] #4359 closed

[2022-03-01 15:07] sohailykhan94 opened #4403 "CLI argument context being replaced with env variable CONTEXT in build"
**Describe the bug**

When cli is run like
`netlify build --context deploy-preview  --debug` the correct context and build command is reported at first, but the config gets replaced with the value set in env variable set in `CONTEXT` or defaults to `production`

**To Reproduce**

Steps to reproduce the behavior:

| Step | Command | Result |
| --- | --- | --- |
| 1 | Run `netlify build --context de

[2022-03-01 17:25] #4403 closed

[2022-03-01 17:42] ehmicky commented on #4403
This should be fixed in [`9.9.3`](https://github.com/netlify/cli/releases/tag/v9.9.3).

[2022-03-01 18:47] #3033 closed

[2022-03-01 18:47] #157 closed

[2022-03-02 14:00] #4326 closed, assigned to nobody

[2022-03-02 14:14] #4383 closed

[2022-03-02 14:16] joshuaellis opened #4410 "`netlify dev` reload causes error: "Module did not self-register" with node-canvas"
**Describe the bug**

This is the same as #2641.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `git clone git@github.com:joshuaellis/netlify-dev-canvas-bug.git`
2. Navigate to the cloned repository
3. Run `yarn` to install the deps
4. Run `netlify dev`
5. Navigate to `http://localhost:8888/.netlify/functions/generate-static?handle=123`
6. It'll work!
7. Change something in the functi

[2022-03-02 14:46] erezrokah opened #4411 "feat(sites-create-template): clone the generated repo"
**Is your feature request related to a problem? Please describe.**

It would be useful for the `sites:create-template` command to clone the generated repo locally so the user can start hacking immediately.

**Describe the solution you'd like**

On successful generation of the GitHub template and Netlify site, the CLI should clone the repo locally.

**Describe alternatives you've considered**

Lett

[2022-03-02 15:47] tinfoil-knight commented on #2708
@erezrokah Tried this out locally. Redirects work for me. I think this was fixed by https://github.com/netlify/cli/pull/4109. Please check once and close the issue.

[2022-03-02 15:48] erezrokah commented on #3972
Once this is done, we should re-try https://github.com/netlify/cli/pull/4354

[2022-03-02 15:50] #2708 closed

[2022-03-03 05:59] tinfoil-knight commented on #1809
@erezrokah Inspected this today. Symlinks are getting filtered out since they're not assigned the type `file` by the `folder-walker` dependency.

See:
https://github.com/netlify/cli/blob/dda5a499b9a8286484bf5559fd645761c374dbc9/src/utils/deploy/hash-files.js#L14

https://github.com/netlify/cli/blob/dda5a499b9a8286484bf5559fd645761c374dbc9/src/utils/deploy/hasher-segments.js#L55

The [fs.Stats](htt

[2022-03-03 13:39] erezrokah commented on #1119
Closing as stale

[2022-03-03 13:39] #1119 closed

[2022-03-03 13:45] erezrokah commented on #422
Closing as stale as the logic had changed quite a bit.
We can re-open if still relevant

[2022-03-03 13:45] #422 closed

[2022-03-03 13:49] erezrokah commented on #430
Closing this as stale as it seems an issue with building that specific site in Hugo (not a Netlify CLI one).
Please comment if still relevant and I'll re-open.

[2022-03-03 13:49] #430 closed

[2022-03-03 15:46] erezrokah commented on #1809
Thanks @tinfoil-knight for digging into it. Very useful.
Looking at the dependencies we use in that code (and the code itself 🙃 ), we can either use a sync call to get the file stats (and also replace its content with the linked file), or refactor that code to use newer dependencies like https://www.npmjs.com/package/folder-walker

[2022-03-03 16:20] tinfoil-knight commented on #1809
@erezrokah

Bit confused here. The stats for the linked file would already be present since those are returned from `folder-walker`. Do you want to remove the dependency and just do it in the cli codebase itself?

Not sure why replacing the symlink with the linked file would be required since while reading/uploading the file it would behave the same as a normal file AFAIK. Haven't tried this yet b

[2022-03-03 17:07] erezrokah commented on #1809
Ah, I think I overcomplicated this. How are you suggesting to fix the filtering issue?

[2022-03-03 18:07] tinfoil-knight commented on #1809
@erezrokah I was just saying that here:

https://github.com/netlify/cli/blob/dda5a499b9a8286484bf5559fd645761c374dbc9/src/utils/deploy/hasher-segments.js#L55

We can check if the file object is a symbolic link. Get the path to the linked file/directory (through fs.readlink). Then check if that path is actually a file or not. (fs.stat)

If the linked path is a file, we just don't filter it out.

--

[2022-03-03 18:45] tinfoil-knight commented on #1809
Tried out [fast-glob](https://www.npmjs.com/package/fast-glob) locally. It has a [followsymboliclinks] method (https://www.npmjs.com/package/fast-glob#followsymboliclinks) which actually does what I described above. It follows symlinks to individual files and files under linked directories.

[2022-03-04 13:59] makingthingswork opened #4424 "Redirects don't seem to work with esbuild enabled for node_bundler"
The redirects are a really useful feature but it appears if one has `esbuild` enabled for `node_bundler` the redirects don't work as you get a message saying "Too many redirects". In this case I can easily switch node fetch back to version 2 from version 3 and drop esbuild to get the redirect working.

Can anyone confirm that the "Too many redirects" issues I am experiencing is known or expected w

[2022-03-04 14:07] erezrokah commented on #4424
Hi @makingthingswork, can you follow the [bug report template](https://github.com/netlify/cli/issues/new?assignees=&labels=type%3A+bug&template=bug_report.md&title=Please+replace+with+a+clear+and+descriptive+title)?

The template ensures we have the information needed to understated, reproduce and fix the issue.

[2022-03-04 15:58] #4424 closed

[2022-03-05 05:31] coelmay commented on #2710
I have long had the issue with a single project using Astro where I would see the error
[code]
Reproducing the error in a basic Astro build has proved rather elusive. However, I have found some further clues.

In the `netlify.toml` are
[code]
With these settings, if there is a `dist` directory in the project root, the above `500` error is produced for any page. If either the `[[redirects]]` for 40

[2022-03-05 06:48] whaaaley commented on #2710
Yeah it's pretty clear that `netlify-cli` is escaping URLs when it should not. It should just proxy the request as-is when using an existing server.

If you're able to, you fix this issue temporarily by undoing the double encoding like this before the request gets passed deeper into your server. I don't know how Astro works.

[code]

[2022-03-05 17:43] whaaaley commented on #2710
@coelmay Your issue with the 404 however is working as expected. You're redirecting from `/*` which is everything to the 404 page which is `/404`. If you want to design a custom 404 page this is not where you should be denoting that.

[2022-03-05 20:51] coelmay commented on #2710
The error I am having (as I referenced, and as I mentioned I was not able to fully replicate in the demonstration of which I also mentioned and of which I added a short clip of) is of receiving in error whereby Astro is asked to load the path
[code]
which of course does not exist. This is the same as mentioned [here](https://github.com/netlify/cli/issues/2710#issuecomment-875822941). While the fra

[2022-03-06 02:30] coelmay commented on #2710
I only suspect this is related as I am seeing the same behaviour as @knoxjeffrey with the `/%2Findex.html` when using Astro. Basic reproduction (though slightly different to my other project as mentioned in a previous post) with notes/results of testing in [coelmay/astro-ntl-bug](https://github.com/coelmay/astro-ntl-bug) @erezrokah

If this is indeed a separate/unrelated, happy to open a new issue

[2022-03-06 06:57] blakegearin opened #4426 "feat(command-deploy): Specify a deploy name/header/id"
### Which problem is this feature request solving?

When using CD, deploys to production look like this.

<img width="230" alt="image" src="https://user-images.githubusercontent.com/17950836/156911898-0fc986f0-c485-4c7f-bfa2-00b37992f10f.png">

With the CLI, you can only specify a `message` flag (represented here as `Removed alias`).

<img width="230" alt="image" src="https://user-images.githubuse

[2022-03-06 16:03] akoel commented on #4359
I have the same issue. I am on Netilfy-cli 9.12.3.

**CLI output**

- Build command: netilfy build
- At Netilfy support they say that it must be an issue with incompatibilities. Therefore I include my package.json below. No idea where this is going wrong. The build is quite large, and I have increase memory. But during functions build it seems to be stuck at 4GB.

`
───────────────────────────────

[2022-03-06 20:16] gavinhenderson commented on #4359
I have successfully upgraded to `v9.12.3` so I don't think its a regression of the same issue

[2022-03-07 08:30] erezrokah commented on #3978
https://github.com/tj/commander.js/pull/1678 got merged 🚀 so once released we should be able to move on this issue

[2022-03-07 09:53] erezrokah commented on #4426
Hi @blakegearin, I believe this is covered in https://github.com/netlify/cli/issues/1122.

Closing as a duplicate. If #1122 doesn't cover this use case, comment and I'll re-open

[2022-03-07 09:53] #4426 closed

[2022-03-07 09:59] erezrokah commented on #4359
Thanks @gavinhenderson. @akoel, the original issue is on `ntl deploy`, and yours seems to be specific to `ntl build`, specifically to our Next.js plugin or bundling logic.

Since the memory error happens during functions bundling, do you mind opening a new issue for it here https://github.com/netlify/zip-it-and-ship-it?

[2022-03-07 10:15] whitep4nth3r commented on #119
I would love to see this!

[2022-03-07 13:56] erezrokah commented on #4252
Fixed by https://github.com/netlify/cli/pull/4433

[2022-03-07 14:34] #4252 closed

[2022-03-07 19:04] erezrokah opened #4438 "feat(sites-create-template): auto-link cloned repo to the created netlify site"
### Which problem is this feature request solving?

Follow up to https://github.com/netlify/cli/issues/4411

After cloning the repo, we should auto-link it to the created site.

### Describe the solution you'd like

If the user confirmed to clone the repo, the CLI should auto-link the repo to the site that was created.

### Pull request (optional)

- [ ] I can submit a pull request.

[2022-03-08 03:28] blakegearin commented on #1122
One question this raises for me is what information could be added to the website with only a commit URL. The SHA could be added with a link to open it, but a branch name would be absent, no?

If that's true, this ambiguity could cause some confusion. For example, if a commit is present on a feature branch and deployed, then the commit is merged to `main` and deployed. The deploys would look ident

[2022-03-08 08:46] #4411 closed

[2022-03-08 10:08] erezrokah commented on #1122
So I've given this more thought.
Ideally (and assuming API support), the CLI could auto magically do this for users.
1. Detect it's running in a `git` repo
2. Get current branch and commit SHA.
3. Verify current branch and commit SHA exists on git remote.
4. Send branch and commit SHA with deploy information to API.

[2022-03-11 16:25] ehmicky opened #4444 "Run `dev.command` with Bash"
### Which problem is this feature request solving?

`build.command` and `build.ignore` both run with Bash.
At the moment, `dev.command` does not run in any shell.

https://github.com/netlify/cli/blob/4172001e367e5acf395124d55610dec65f3957dc/src/commands/dev/dev.js#L119-L126

This breaks feature parity between Netlify Dev and production.
Also, allowing shell features would be useful to many users.

[2022-03-11 22:19] coelmay commented on #2710
I have just updated to `netlify-cli/9.13.0` and the I mentioned/demonstrated previously is now non-existent @erezrokah 😄

[2022-03-12 00:48] ddrake commented on #955
I noticed this issue today when walking through https://docs.netlify.com/get-started/.  The redirect worked until I ran `ntl link`.

[2022-03-14 16:56] jlengstorf opened #4453 "`.DS_Store` causing a failure in Remix"
### Describe the bug

Remix ignores `.*` files in the routes folder, but when running Netlify CLI a `.DS_Store` file will cause a routing failure:

[code]

It's unclear where this is coming from, but is it possible that the Netlify CLI is overriding ignore settings in Remix?

### Steps to reproduce

1. Create a Remix project
2. Add a `.DS_Store` file to the `/app/routes/api` directory
3. Try to ru

[2022-03-14 21:37] sean-roberts opened #4454 "Changes to Included Files should restart/rebuild function"
### Describe the bug

When developing a function that uses the `included_files` feature, those files are bundled into the function for access. However, when developing the function, I would go back and forth between editing the included file and the function itself. Only when I updated the included function did it rebuild.

### Steps to reproduce

Create a function that uses the functions.included

[2022-03-16 09:08] #1091 closed

[2022-03-16 17:46] EmilyNecciai opened #4460 "Malicious Attacks - security vulnerability"
### Describe the bug

Malicious attacks via our feedback form from a specific IP address (help.bolt.com) despite honeypot fields and recaptchas. Your security policy says to open an issue with the label: security but I can't edit my label.

### Steps to reproduce

None

### Configuration

Private repo.

### Environment

npx: installed 1 in 1.262s

  System:
    OS: macOS 11.6
    CPU: (8) x64 Appl

[2022-03-17 07:30] #4311 closed

[2022-03-17 10:15] wangoimacharia commented on #4273
Observations so far: I'm seeing this bug on a local environment with `netlify dev` on v9.6.4 as well as a local clone of `netlify/cli`.

It however doesn't seem to be the case in production, testing using [code in this repo](https://github.com/wangoimacharia/netlify-feature-tour). For example:

- Navigating to https://modest-ardinghelli-177f85.netlify.app/foo redirects to https://modest-ardinghell

[2022-03-18 22:42] charliegroll opened #4462 "Consider improving messaging when a previously-logged-in user runs netlify login"
### Which problem is this feature request solving?

I was doing something on the Netlify CLI and forgot I was already logged into the (wrong) user. I ran netlify login to see if I could force that to open the Netlify app to log into the right account, but I received only this message: "Already logged in via netlify config on your machine"

(reported internally)

### Describe the solution you'd lik

[2022-03-21 16:13] #4462 closed

[2022-03-23 10:13] erezrokah commented on #4460
Hi @EmilyNecciai and thank you for this issue. Per our security policy we accept reports to Netlify public repos (like the CLI) via Hacker one. See https://github.com/netlify/cli/security/policy.

Do you mind submitting this via https://hackerone.com/netlify?type=team?

[2022-03-23 17:23] EmilyNecciai commented on #4460
Thank you! :)

[2022-03-23 17:37] erezrokah commented on #4460
Ah, thanks for clarifying @EmilyNecciai.

In that case I recommend using one of our support channels, see https://www.netlify.com/support/ for example. You can select abuse in the dropdown.

[2022-03-23 17:44] #4460 closed, assigned to nobody

[2022-03-28 15:27] dsifford opened #4488 "Cannot upgrade from 8.17.2 (ERR_REQUIRE_ESM)"
### Describe the bug

We have the cli installed as a dependency to one of our repos that we have deployed on netlify and have been unable to upgrade the cli since `8.17.2` because it appears that one of the subdependencies use ESM imports.

Here's the full error:

[code]

### Steps to reproduce

1. Have netlify-cli `8.17.2` installed in a non-module package.json (i.e., don't have `type: "module"`

[2022-03-28 16:10] erezrokah commented on #4488
Ah, that's very useful. Can you provide the structure of your monorepo and where the CLI is referenced?

[2022-03-28 16:25] dsifford commented on #4488
Basic structure as follows:

[code]

[2022-03-28 17:28] charliegroll opened #4489 "CLI installation with outdated Node erroneously reports success"
### Describe the bug

When attempting to install the CLI with an unsupported (outdated) version of node, you get the `Success! Netlify CLI has been installed` message before the installation actually fails.

<img width="1296" alt="image" src="https://user-images.githubusercontent.com/1126370/160453549-c6b1110f-6f34-4365-9f9b-bac03ffc1b25.png">

[internal link](https://netlify.slack.com/archives/CN

[2022-03-28 20:47] captainnurple commented on #1047
Can confirm I've run into similar problems due to the mismatched behavior between local behavior and prod. The `async` keyword appears to be unnecessary in some cases when running locally, which can lead to difficult to track bugs for users less familiar with the necessary `async` syntax even for synchronous Netlify functions.

Thread documenting my experience here: https://answers.netlify.com/t/f

[2022-03-31 20:28] slumbering opened #4498 "Redirect by country using subdivision names"
### Which problem is this feature request solving?

I don't know if it's possible but this feature would give more granularity in the way we manage access by countries.

This would work for US Embargoes sanctions  (CRIMEA - REGION OF UKRAINE, CUBA, IRAN, NORTH KOREA, and SYRIA)  for instance.

Right now netlify accept only ISO 3166-1 alpha-2. https://docs.netlify.com/routing/redirects/redirect-opt

[2022-04-01 10:17] erezrokah commented on #4498
Hi @slumbering and thanks for open the feature request. Mind adding it to https://answers.netlify.com/t/feature-requests-what-do-you-already-love-what-could-be-better/256 as well? This will require our platform to support it too

[2022-04-01 13:29] slumbering commented on #4498
Thanks @erezrokah :)

[2022-04-01 17:57] MeneDev opened #4503 "Too long names are not reported"
### Describe the bug

When creating a new site and providing a name via parameter, too long names are ignored, but should be reported instead.

### Steps to reproduce

[code]

Starts the interactive site creation dialog (max seems to be 63 chars)

### Configuration

_No response_

### Environment

[code]

[2022-04-04 13:15] erezrokah opened #4511 "chore(deps): remove usage of the static-server dependency"
We use [static-server](https://github.com/nbluis/static-server/blob/84999917193f664c205efd587934bc6ea361fa78/README.md) to simulate a static server a part of the `ntl dev` command.

About 2 months ago it was deprecated and repo archived, see https://github.com/nbluis/static-server/blob/84999917193f664c205efd587934bc6ea361fa78/README.md.

~~We should replace it with another package, possible https:

[2022-04-04 14:27] simonepelosi commented on #4511
@erezrokah hey! Can I work on that?

[2022-04-04 14:32] lukasholzer commented on #4511
Instead of express use fastify as it is even faster than node native http (it performs some optimizations).

There is the fastify static plugin as well should be relatively straight forward:
https://github.com/fastify/fastify-static

[2022-04-04 14:56] erezrokah commented on #4511
Sure thing @simonepelosi! Thank you 🥳

https://github.com/netlify/cli/blob/3df8f95a1f92fef41dc5c43d79b99551cf6f2bad/src/commands/dev/dev.js#L10 is a good place to start

[2022-04-04 15:24] dsifford commented on #4488
@erezrokah Just checking in here. Anything else I can provide to support you?

[2022-04-04 15:29] erezrokah commented on #4488
Hi @dsifford, sorry I missed your last comment and also haven't had the chance to look at this.

Until we can get to the bottom of this issue, a possible workaround would be to try with `npm`. Latest version of `npm` supports workspaces too https://docs.npmjs.com/cli/v8/using-npm/workspaces

[2022-04-04 15:32] simonepelosi commented on #4511
@lukasholzer How can I test my changes?

[2022-04-04 15:38] dsifford commented on #4488
@erezrokah No worries, just checking in as we typically upgrade our dependencies every monday and it was top of mind 😄

I've been lobbying hard for our org to switch to `npm` but as of right now it's not something we can do, unfortunately. 😞

[2022-04-06 15:20] davidfrgla opened #4515 "Nuxt3 and netlify.toml: nuxi build is not found"
### Describe the bug

In a **Nuxt3** project,
when editing the `netlify.toml` config file, the build throws an error:
`sh: 1: nuxi: not found`
But it builds when no `netlify.toml` in the project.

I think it is about the Bash Shell launched by this config file.

### Steps to reproduce

1. Create `netlify.toml`file
2. Edit file with your command
[code]
3. Push so netlify starts building
4. Error

#

[2022-04-08 13:02] #4304 closed

[2022-04-10 14:06] rgrannell1 commented on #2785
I'm encountering this bug too, has it been patched?

[2022-04-10 17:53] arpadgabor commented on #948
We are also looking for support in this regard! We are using cli deploys because (1) we can check logs faster, (2) we can add additional checks in pipelines (e.g. Sonar scanning) and (3) we are migrating to Trunk Based Development, so we are using the main branch for development and we create separate release branches, all of the logic being handled inside GitHub Actions. Having custom domains in

[2022-04-11 07:03] varna commented on #2785
dunno, haven't touched that project since 2021 Jun

[2022-04-11 11:31] novelnet commented on #3735
having the exact same problem on node v17.5.0, gatsby 4.11.2 and netlify-cli ^9.13.2

[2022-04-11 14:52] eduardoboucas opened #4528 "Create global configuration store"
Reading the Netlify configuration file is a very common problem throughout the CLI codebase. In some cases, it's sufficient to read the initial value of the config (i.e. the state of the config when the application starts), but in other cases it's important to watch for any updates and update the application accordingly.

We currently do this in a few places in a non-consistent way. For example, w

[2022-04-13 19:02] jdahdah commented on #3905
To add a use-case here, there is currently no way to locally test if [Netlify redirects](https://docs.netlify.com/routing/redirects/) are working correctly when using [gatsby-plugin-netlify](https://github.com/netlify/gatsby-plugin-netlify), as those are only generated at build time. Having this would be really helpful for debugging!

[2022-04-15 08:38] liyasthomas opened #4533 "GitHub CI action to deploy site failed - reason: `getaddrinfo ENOTFOUND api.netlify.com`"
### Describe the bug

I've the following step in a GitHub action workflow:
[code]

The above step failed with this error:

[code]

### Steps to reproduce

[Link to GitHub action run ->](https://github.com/hoppscotch/hoppscotch/runs/6036186685?check_suite_focus=true)

### Configuration

https://github.com/hoppscotch/hoppscotch/blob/main/netlify.toml

### Environment

[code]

[2022-04-15 09:58] #4533 closed

[2022-04-16 01:33] MincePie commented on #3617
Is this still current?

[2022-04-16 10:35] tkrunning commented on #3617
@MincePie Yes, seems so. With `netlify-cli` version `9.16.3` and node `v17.9.0` the dev server is still not starting for me when running `netlify dev` (for a Jekyll project). Works fine with `v16.13.2`.

[2022-04-16 10:52] robvanderleek commented on #3617
Also bumped into this problem recently and reverted Node to v16.
FWIW this is how to downgrade to Node  16.x on macOS with Brew:
[code]

[2022-04-16 23:52] NicoleJaneway opened #4534 "Netlify cannot find package in dev"
### Describe the bug

 I have my backend lambdas in a `functions/` folder. One of them (mailchimp.js) is set up like this:

[code]

Which results in:

I've tried also just pasting in my api key as a string from the .env file with the same result.  What is happening here?   The function is acting like @mailchimp/mailchimp_marketing is undefined.

@mailchimp/mailchimp_marketing is in dependencies in

[2022-04-17 00:03] NicoleJaneway commented on #4534
Should also mention, I added netlify-lambda as a postinstall step in my package.json, but it doesn't seem to be doing anything except logging in the console that it's installing function dependencies.  The error is the same 🤷‍♀️

[2022-04-17 00:08] NicoleJaneway opened #4535 "Deploy Preview is a blank page"
### Describe the bug

After trying many different things, my deploy preview is still compiling into a blank page. I’m able to successfully deploy from GitHub to production, but not to deploy preview.

Production deploy: (https://www.datastrategypros.com/).

Sample repo: [https://github.com/NicoleJaneway/netlify-build 1](https://github.com/NicoleJaneway/netlify-build)

Sample deploy: [https://deplo

[2022-04-17 04:08] reesericci commented on #3735
Nope, same issue here on SvelteKit.

[2022-04-17 08:49] novelnet commented on #3735
I moved to gatsby cloud, netlify got unusable for me since no update deploys or redeploys of old commits where possible anymore..

[2022-04-17 17:01] Hrishikesh-K commented on #4535
Hey @NicoleJaneway,

The repository is only for issues with CLI and yours in not one of that, sadly. Please note that, the Support Team doesn't monitor this space and you're directly engaging with one of our engineers here in many cases.

It would be great if you could engage with the Support Team before and we'll escalate the issues to the engineers if needed.

I see you were talking to Coel may

[2022-04-17 17:01] #4535 closed

[2022-04-18 08:56] Hrishikesh-K commented on #4534
Hey @NicoleJaneway,

This is being discussed here: https://answers.netlify.com/t/54910/. Follow-up with your feedback there and if we confirm it's a bug with the CLI, we can re-open this issue.

[2022-04-18 08:56] #4534 closed

[2022-04-19 20:21] anburocky3 opened #4552 "Not creating dist folder on nuxt3 project using github actions."
### Describe the bug

While fetching the data from the github repo, it is working good, but if i make my own github action with all required information, it is not building nuxt3 `dist` folder.

As per nuxt3 netlify docs: https://v3.nuxtjs.org/guide/deployment/netlify

It is not detecting the netlify environment while building.

### Steps to reproduce

1. Run `git clone https://github.com/anburock

[2022-04-20 14:39] RDIL opened #4556 "Netlify-cli is very bloated"
### Which problem is this feature request solving?

Netlify CLI is very, very big.  It consumes roughly 194 *megabytes* of disk space when installed.  This is easily one of, if not the biggest dependencies that a project can have.  It would really benefit it to be smaller (faster install times, faster runtime environment, etc).  Docusaurus removed it because of that: https://github.com/facebook/do

[2022-04-20 14:43] Josh-Cena commented on #4556
Correction: 333MB of node_modules on its own, just that it uses some popular modules like `express`, `lodash`, and `rxjs` that luckily manage to be reused.

I really don't understand why it pulls in so much stuff just to run a dev server locally.

[2022-04-20 15:01] Josh-Cena commented on #4556
There are some low-hanging fruits to pruning dependency size. For example, netlify-cli depends on `inquirer` which pulls in `rxjs`. Switching to `prompts` will save 23MB on its own. See https://github.com/facebook/docusaurus/pull/4012 and https://github.com/facebook/create-react-app/pull/10083 for examples.

Pulling in both `esbuild` and `babel` also seems fishy to me, not to mention transitively

[2022-04-21 14:28] whitep4nth3r opened #4558 "Cannot use node-fetch 3 in serverless functions"
### Describe the bug

Using node-fetch 3 (latest) causes serverless functions to error and not run.

### Steps to reproduce

1. Install latest node-fetch (version 3+)
2. Attempt to use fetch in a serverless function using `import fetch from "node-fetch"`
3. Observe below error:

[code]

Note: Using node-fetch 2 and importing the dependency via `const fetch = require("node-fetch");` works as expect

[2022-04-21 14:32] whitep4nth3r commented on #4558
Closing because the fix is to name the serverless function with the .mjs extension.

[2022-04-21 14:41] jacklyn-net commented on #4558
Spoke to @whitep4nth3r briefly about this during the DX Mobbing meeting, and I wanted to surface this for @klavavej to see if this is something that needs to be added to the Functions docs, since this is something that seems to be causing a lot of issues.

[2022-04-22 05:12] jimniels commented on #21
Would be nice to have this.

[Certain files are already being excluded](https://github.com/netlify/js-client/pull/226/files) and the js-client [used to have a deploy method](https://github.com/netlify/js-client/blob/96cd640a7b4480265f5119dd4c52b48d773d5dc4/CHANGELOG.md#700-2021-05-27) which would allow you to specify a `filter` function for filtering out files you didn't want.

Would be nice to ha

[2022-04-22 18:26] fool opened #4561 "HTTP 200 proxy redirects do not seem to work correctly in `netlify dev`"
### Describe the bug

HTTP 200 redirects seem to be mishandled under `netlify dev`, returning a `location` header incorrectly.

There should be no `location` set on an HTTP 200 proxy rule;  we should only serve the content.  Said redirect does work as expected in production, and I believe that production is correct here.

### Steps to reproduce

 When running netlify dev with a 200 status redirect

[2022-04-22 21:57] mirisuzanne commented on #4320
I'm also having this issue, with the more basic setup proposed in examples (although none of the docs show how to do this in toml, only in a redirects file). My config:

[code]

Seems to work in production, but when I run `netlify dev` locally, I get sent to login no matter what my logged-in/role status. For now, I just have to delete the redirects locally for development, and make sure I remember

[2022-04-23 12:20] novelnet commented on #3735
Solved the issue for me, having an index.js placeholder in src/pages/ (as i usually only used src/pages/de/ with locale redirect: domain.com/de/)
[code]

[2022-04-25 06:26] SeanCassiere commented on #3617
Can confirm that this issue also persists on Node 18 as well.

My app uses `create-react-app`, and like the others on Node@17 (and above including 18), the local webpack server starts, however, the Netlify Dev server (localhost:8888) does not. (Both the react-app content and the functions are not available at 8888)

[code]

[2022-04-25 22:44] baiirun opened #4564 "Netlify Dev Server with Edge Functions defaults to Vite in a Remix application with Vite dependency"
### Describe the bug

If `vite` is present as a dependency in your application using **Edge Functions**, the Netlify Dev Server will default to bundling your application with Vite instead of the Remix toolchain. If you remove `vite` from your dependencies, it will use Remix's toolchain as expected.

### Steps to reproduce

[Here's a reproduction repo with the below steps already done.
](https://gi

[2022-04-26 06:24] Soviut commented on #3393
@erezrokah Related? https://github.com/netlify/cli/pull/4321

[2022-04-26 06:38] Soviut opened #4565 ".env.netlify.local not overriding .env.netlify environment variables"
### Describe the bug

I am using a configuration feature outlined in this PR https://github.com/netlify/cli/pull/4321 to only inject specific .env files into my functions, but not my Vite environment.

My `netlify.toml` has the following

[code]

When I run `netlify dev` I get the following.

![image](https://user-images.githubusercontent.com/226882/165235894-8f8f2f6a-db37-40df-9e2f-3622db487eb6.p

[2022-04-26 07:01] Soviut commented on #4565
I just found this line in the source

https://github.com/netlify/cli/blob/8df364edfc8cf83f2acd0c8cfc9854419580a651/src/utils/dot-env.js#L22

Apparently, I've had these backwards the whole time? I've changed my `netlify.toml` to read

[code]

And this seems to be working.

Is there any way I can contribute documentation to update the following page and include the documentation for the `envFiles` c

[2022-04-26 15:33] #2730 closed

[2022-04-27 17:37] klavavej commented on #4558
this is somewhat related to https://github.com/netlify/docs/issues/1402
I'd like to see what engineering thinks about fixing this bug before trying to address this pain point with a docs update

[2022-04-27 21:13] charliegroll commented on #4489
@Lxxyx I think it's still worth addressing, since we could run into a similar situation with future versions of node if/when the cli drops support for them. It'd still be better to always fail gracefully and visibly in this situation.

[2022-04-29 13:26] mival opened #4568 "netlify open does not work on WSL"
### Describe the bug

Command `netlify open --site` doesn't work on Windows WSL.

### Steps to reproduce

1. netlify open --site

### Configuration

_No response_

### Environment

  System:
    OS: Linux 5.10 Ubuntu 21.10 21.10 (Impish Indri)
    CPU: (8) x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
    Memory: 17.86 GB / 19.45 GB
    Container: Yes
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node

[2022-04-29 15:09] nonAlgebraic opened #4569 "V10 `dev` breaks React Fast Refresh on Gatsby sites"
### Describe the bug

Since version 10, using `netlify-cli` in a Gatsby project and serving the site in `develop` mode locally using `netlify dev` seems to break React Fast Refresh/hot reloading in the browser. Hot reloading still works fine when browsing the site via the underlying Gatsby dev server instead of `netlify-cli`'s.

## Expected behavior
Making a change to a React component in the sour

[2022-05-02 03:56] bradeneast commented on #1610
Same issue here. I have tried all the troubleshooting steps and searched through several forums.

[2022-05-02 06:12] jlevy-io commented on #4569
Seeing exact same behavior on Windows/WSL2 since upgrading to v10 of Netlify CLI

[2022-05-02 06:28] kasperstorgaard opened #4575 "Golang functions: Multi value headers not working in local development"
### Describe the bug

When running netlify dev with golang functions, multi value headers are not working, but works in deploy preview, prod etc.

(This is specifically hindering me from testing a gin-gonic adapter setup locally, as the adapter uses multi value headers extensively)

### Steps to reproduce

1. Run `git clone git@github.com:kasperstorgaard/netlify-golang-fn-tester.git`
2. Navigate t

[2022-05-04 11:18] bomzj commented on #3735
Having the same time out issue with stopping Netlify dev server when 10 or so minutes passed.
I'm using Netlify dev server for functions and Vite as web server. `netlify-cli/10.1.0 win32-x64 node-v17.3.0`

[2022-05-05 01:13] AlanAcDz opened #4580 "JSONHTTPError when deploying Next.js app inside Nx workspace"
### Describe the bug

I'm trying to deploy a next.js app that's inside a Nx workspace using netlify-cli. I have configured the build settings as show below in the netlify.toml file and in the netlify UI. I have logged in using the cli and I'm setting the site ID as an environment variable in my terminal.

The app builds without problem including the @netlify/plugin-nextjs output, the issue begins

[2022-05-05 01:26] AlanAcDz commented on #4580
Forgot to mention, this issue is found only using the netlify-cli. If I activate github builds in the UI there is no problem whatsoever using the same configuration, the app builds and deploys just fine

[2022-05-05 17:19] rendall opened #4583 "ansi2html dependabot alert"
### Describe the bug

Can I make a PR replacing `ansi2html`? [It exists in only one place](https://github.com/netlify/cli/search?q=ansi2html) so the PR would be pretty low-impact. Possibly replace it with [ansi-to-html](https://github.com/rburns/ansi-to-html)

It's creating (the only) unresolved (and unresolvable) [dependabot alert](https://github.com/advisories/GHSA-c2v2-7rcg-2ch7) in my project.

[2022-05-05 21:44] jdesherlia opened #4584 "Netlify-Dev won't run edge function services locally"
### Describe the bug

I can't get netlify-cli to start edge function services when running netlify dev. It displayed the message the first time, but I had to stop the build to add the path and function to my netlify.toml. Since then, I can't get it to display the message or start the service. I am following the hello world documentation, so nothing crazy.

### Steps to reproduce

Follow the [hello

[2022-05-07 17:18] benmccann commented on #3514
There's a PR for this issue: https://github.com/netlify/cli/pull/4141

[2022-05-08 07:15] twofingerrightclick commented on #3617
I get this issue - no proxy from the apps port to the netlify functions port- whenever I use typescript with Nuxt. It is very frustrating not to be able to use the api. Netlify-cli 10.3.0, Node 16.x.x, Nuxt 2.15.8.
I have tried using various versions of Node 16.x.x but no luck.
![image](https://user-images.githubusercontent.com/11265760/167285849-ff2ee21b-3c3a-4a11-8b97-3399ac6aea32.png)

[2022-05-08 15:41] mklueh opened #4586 "netlify link works locally but freezes in Github Actions (CI)"
### Describe the bug

Netlify CLI freezes the CI process during netlify link command.

### Steps to reproduce

I was trying to deploy to Netlify using Netlify CLI with those commands in an NX executor:

[code]

Github Actions runs minutes until some timeout of CI is reached and then it terminates.

If it terminates or if I abort, this is the last message I'm seeing

The only way I get it working i

[2022-05-09 05:43] nichoth opened #4601 "Error because `import.meta.url` is undefined"
### Describe the bug

In order to require older modules, I've been writing this:

[code]

This works if I run the file with node my-file.js. However, I’ve been using the package [netlify-cli](https://www.npmjs.com/package/netlify-cli) to run things locally, and when I do that, it logs an error saying that `import.meta.url` is undefined:

If you want to see in more detail, this is all open source:

[2022-05-09 15:04] lukasholzer commented on #3514
@benmccann this PR is only the top of the iceberg. There is a lot of work for the functions resolving to make it compatible. (as some require functionality is used there)

[2022-05-09 16:59] jdesherlia commented on #4584
Our repo is private, so I won't be able to share access to it. I was hoping there was some debugging help you could provide that could help me track down what might be happening.

[2022-05-09 19:05] nickytonline commented on #4212
This has been on our board for a while. Just following up to see if this is still an issue @erezrokah?

[2022-05-10 02:19] mecklundie commented on #2785
I can confirm the same problem is occurring here.

Redirecting all Requests. With the first redirect intended to trump the catch-all redirect. The create-token should be a POST request. It's redirecting just fine, hitting the lambda function just fine, however, it's changing from a POST request to a GET request when the redirect occurs.

[[redirects]]
from = "/api/rest/create-token"
to = "/.netlif

[2022-05-10 15:35] inadeqtfuturs commented on #1984
Looking to see if this request is getting any traction.

We're very successfully using the cli to handle preview deploys for PRs, however we have a handful of static branches (`develop`, `preprod`, etc.) that we'd also move into our CI/CD pipeline. Being able to perform branch deploys would be a real boon.

[2022-05-10 18:53] nickytonline commented on #4212
I don't get that error, but I consistently get this error when the cloning the repo step runs (default answer is yes).

[code]

@maxcell or @tzmanics, is the initial issue opened by Charlie still an issue? Not sure if either of you ever had a chance to look at this.

[2022-05-10 19:46] sarahetter commented on #4212
I'm seeing the race condition issue when I'm using my personal Netlify account, so I think the error above is a git permissions issue as mentioned in slack.

[2022-05-10 19:54] nickytonline commented on #4212
Thanks, @sarahetter. I'll test the scenario with a personal account, as the Git permissions issue is separate. In my case, I'm using my work Netlify account and using my GitHub, which I believe is what is causing the permissions issue.

[2022-05-11 02:24] tzmanics commented on #4212
Hmm when we received the error it seemed like it was bc Netlify was trying to deploy before the github repo was built. Also, it was seemingly random, we never knew when it would work or would give us that error. This does seem like the same race condition tho, bc it seems to be trying to grab a repo that doesn't exist yet.

I hate the status 128 tho bc it could mean so many things.

I haven't repe

[2022-05-11 09:43] ashkanahrabi opened #4602 "js heap dump on Netlify while using mapbox-gl"
### Describe the bug

There's a **JS heap dump** issue which occurred while I was deploying a project on Netlify which uses [mapbox-gl-js](https://github.com/mapbox/mapbox-gl-js) as a dependency.

This is probably not an issue with mapbox-gl-js cause it won't happen in any other environments but Netlify.

So after Netlify runs `npm run build`, the following error shows up:

[code]

I also checked

[2022-05-11 09:55] nickytonline commented on #4212
So I copied the generated command for cloning the repo and ran it outside of the CLI and this is the actual error for the generic `128` git error.

[code]

The format for it to work is this.

`git clone git@github.com:nickytonline/netlify-thinks-nick-taylor-is-great-ff3c4.git netlify-thinks-nick-taylor-is-great-ff3c4`

I'm going to see about fixing that so we can work on the actual issue.

[2022-05-11 12:20] nickytonline commented on #4212
Alright, I was able to reproduce this. Going to look at getting a fix up.

[code]

[2022-05-11 12:47] ashkanahrabi commented on #4602
After digging deeper I realized that this is an issue with mapbox-gl.
I just downgraded mapbox-gl from `v2.8.2` to `v1.13.0` and the issue is fixed.

I opened [an issue on mapbox-gl](https://github.com/mapbox/mapbox-gl-js/issues/11877), so I'm closing this one.

[2022-05-11 12:47] #4602 closed

[2022-05-11 14:19] kevinsamoei opened #4603 "Improve default git urls in `netlify init` prompts"
### Which problem is this feature request solving?

When configuring a new site using `netlify init`, we ask for SSH URLs for private repos. However, we use origin configs as the default URL which is sometimes the HTTP URL. If not carefully following the prompts, you would miss the ssh URL requirement

A possible improvement to this would be:
- Add validation to the prompts by making sure the prov

[2022-05-11 21:23] tholder commented on #111
Still not working. May 2022 🙃 - moving to _redirects file in root of project seems to sort.

[2022-05-13 10:08] rshackleton commented on #4580
Seeing the same thing, started happening this morning with a build triggered by content changes in the CMS.

[code]

[2022-05-13 18:36] danisztls opened #4608 "Node experimental feature warning leaking to CLI"
### Describe the bug

The following warning appear when I run netlify-cli.

[code]

### Steps to reproduce

Run `netlify status`.

*Note: Also happens with other commands*

### Configuration

None.

### Environment

  System:
    OS: Linux 5.17 Arch Linux
    CPU: (12) x64 AMD Ryzen 5 2600 Six-Core Processor
    Memory: 6.53 GB / 15.61 GB
    Container: Yes
    Shell: 5.8.1 - /bin/zsh
  Binaries:

[2022-05-13 18:37] danisztls opened #4609 "Wasm Error"
### Describe the bug

The following appear each time I run netlify-cli:

[code]

### Steps to reproduce

Run `netlify status`.

### Configuration

None.

### Environment

  System:
    OS: Linux 5.17 Arch Linux
    CPU: (12) x64 AMD Ryzen 5 2600 Six-Core Processor
    Memory: 6.53 GB / 15.61 GB
    Container: Yes
    Shell: 5.8.1 - /bin/zsh
  Binaries:
    Node: 18.1.0 - /bin/node
    Yarn: 1.22.1

[2022-05-14 21:07] fadyio opened #4610 "wasm streaming compile failed: TypeError: Failed to parse URL from /usr/lib/node_modules/netlify-cli/node_modulesPlease replace with a clear and descriptive title"
### Describe the bug

The following appear each time I run netlify login

[code]

### Steps to reproduce

Run `netlify status`.

### Configuration

None.

### Environment

  System:
    OS: Linux 5.15 Manjaro Linux
    CPU: (4) x64 Intel(R) Core(TM) i5-3570 CPU @ 3.40GHz
    Memory: 5.33 GB / 9.60 GB
    Container: Yes
    Shell: 5.8.1 - /usr/bin/zsh
  Binaries:
    Node: 18.1.0 - /usr/bin/node

[2022-05-16 09:05] hylmar opened #4611 "Browser-sync http2 server returns "Could not proxy request.""
### Describe the bug

My local environment was running smoothly with `netlify dev` booting my custom framework, which simply started an http server using browser-sync. However, I wanted my local dev environment to use http2, so I updated my setup accordingly. Now when I start my server through `netlify dev`, my custom framework is serving everything well with http2 at port 8000, but the netlify la

[2022-05-16 13:42] giovannilaperna opened #4612 "Netlify cli error when importing imagekit npm package in a netlify funcion"
### Describe the bug

I'm not able to import the [imagekit npm package](https://www.npmjs.com/package/imagekit)
I tried it on my project and on the [netlify nuxt-toolbox](https://github.com/netlify-templates/nuxt-toolbox)
Netlify support [confirmed](https://answers.netlify.com/t/netlify-cli-error-when-importing-imagekit-npm-package/56503?u=giovanni) this might be a netlify-cli bug
I get this error

[2022-05-16 15:34] giovannilaperna commented on #4612
Renaming the file from `.js` to `.mjs` does not fix the issue.

[2022-05-16 16:15] Skn0tt opened #4614 "edge-functions: Deno.env should contain the same environment variables as in production"
### Describe the bug

Running edge functions locally with `netlify dev`, `Deno.env` contains all environment variables inherited from the CLI's shell. This is different from production, where it will only contain env vars specified in the Netlify UI, and two Deno-specific ones. This should be replicated in local dev.

One possible solution is to work with downstream `@netlify/edge-bundler`, and pa

[2022-05-16 16:46] eduardoboucas commented on #4614
It also needs to contain the environment variables loaded from the API, which are merged into `process.env`. This is also the case with serverless functions.

[2022-05-20 15:24] joelcloralt opened #4620 "Suggest “Create a site” when running netlify link command"
### Which problem is this feature request solving?

When running the `netlify link` command, there should be an option to create a new site if you haven’t created one.

![1E79B6D6-644E-4328-93A6-6CE142DD002C](https://user-images.githubusercontent.com/881780/169560545-d9431674-a883-45a3-a052-6425ed2a8f96.jpeg)

### Describe the solution you'd like

The option to create a new site and be automatical

[2022-05-22 19:11] McJoe21 commented on #541
What about on Android?

[2022-05-22 19:25] McJoe21 opened #4621 "[Android] Netlify dev failed with redirects/edge functions"
### Describe the bug

[code]

Here's the logs. I was trying to just get a dev environment running on my phone and it's not working.

### Steps to reproduce

[code]

### Configuration

[code]

### Environment

[code]

[2022-05-23 10:21] chocobuckle commented on #4569
Same issue here. ```gatsby develop``` working as expected, but not ```netlify dev```

[2022-05-23 13:08] wlockiv commented on #4569
In the meantime, installing `netlify-cli@9.16.7` as a dev dependency to your repo, then using `yarn run netlify dev` seems to work.

[2022-05-24 00:39] gsperk commented on #4621
I have had the same error running netlify dev since cli v 10.

System:
CentOS Linux release 7.9.2009 (Core) running in Vagrant 2.2.9 on Windows.

[2022-05-24 22:52] #4565 closed

[2022-05-25 14:21] jackiewmacharia commented on #4621
A workaround for this error is to downgrade CLI to `v9.16.7` with `npm install netlify-cli@9.16.7 -g` while we work on a fix for it. Also worth noting is that v9 of CLI won't work with Edge Functions.

[2022-05-25 18:30] danez opened #4625 "Flaky tests umbrella ☂️"
Our tests are failing from time to time with different errors. These errors are unrelated to the actual changes in PRs.

As a first step, I thought it would be a good idea to collect these errors.

- Add errors as separate comments.
- Add logs where this happened to the comment. (I guess maximum 5 or so)

[2022-05-25 18:31] danez commented on #4625
https://github.com/netlify/cli/runs/6597781685?check_suite_focus=true

[2022-05-25 18:44] #4575 closed

[2022-05-25 18:59] danez commented on #4625
✖ Timed out while running tests

https://github.com/netlify/cli/runs/6598249957?check_suite_focus=true

[2022-05-26 09:43] ascorbic opened #4630 "Auto-generated site names do not follow Netlify's standard pattern"
### Describe the bug

If a user creates a new site via `ntl init` and accepts a default site name, the generated name is something like `matt-kane-makes-great-sites`, which is not only debatable, but also does not follow the expected sweet site names format used by sites created from the UI

### Steps to reproduce

1. run `ntl sites:create` in an unlinked repo
3. leave "site name" empty

Expected:

[2022-05-26 15:38] BKDaugherty commented on #471
+1 For this! Was sad to try and use netlify dev to check how things work locally, and realize that I can't really use snippet injection if I want to do this!

[2022-05-27 09:40] danez commented on #4625
Windows

https://github.com/netlify/cli/runs/6612669436?check_suite_focus=true

[2022-05-27 11:39] Morazee commented on #3242
atfter installing npm install netfly-cli -g
i run ntl dev but didnt work?
![devrun](https://user-images.githubusercontent.com/100149661/170692211-534e4bfd-e05c-45bd-8ac7-20c0cde0408e.png)

[2022-05-27 11:43] danez commented on #4625
Windows

https://github.com/netlify/cli/runs/6612669436?check_suite_focus=true

[2022-05-27 11:44] Morazee commented on #3242
one more question please?
after runin > npm run dev
do i need to cancel batch to run

![npmrundevcalncel](https://user-images.githubusercontent.com/100149661/170693028-295ac352-9bed-4bfb-b98b-5dc60b0cfd4b.png)

[2022-05-27 11:49] Morazee commented on #3242
let me know what's going on please ASAP cause i've being stuck with this for 3 days now and my brain is burning .
thank you for your time and your help is much appreciated

[2022-05-27 11:53] Morazee opened #4635 "help please"
one more question please?
after runin > npm run dev
do i need to cancel batch to run

![npmrundevcalncel](https://user-images.githubusercontent.com/100149661/170693028-295ac352-9bed-4bfb-b98b-5dc60b0cfd4b.png)

_Originally posted by @Morazee in https://github.com/netlify/cli/issues/3242#issuecomment-1139542290_

[2022-05-27 11:53] Morazee opened #4636 "atfter canceling the batchi run > npm install netfly-cli -g"
atfter canceling the batchi run  > npm install netfly-cli -g
after that i run > ntl dev  , but didnt work?
![devrun](https://user-images.githubusercontent.com/100149661/170692211-534e4bfd-e05c-45bd-8ac7-20c0cde0408e.png)

_Originally posted by @Morazee in https://github.com/netlify/cli/issues/3242#issuecomment-1139539424_

[2022-05-27 12:27] johnloy commented on #4609
Same error on OSX 12.3.1 with Node 18.2.0 and neltify-cli 10.3.3.

[2022-05-28 15:47] Morazee opened #4638 "What did I do wrong?"
![image](https://user-images.githubusercontent.com/100149661/170832673-352666ee-fb38-46c8-bbdd-0e319b0c8517.png)

[2022-05-28 17:04] AlanAcDz commented on #4580
Update: so I installed latest version of netlify-cli (10.3.3), still does not work but now the error is completely different.
I'm attaching the new error, although it seems not to be the full error, my terminal did not keep the whole thing

[new-error.txt](https://github.com/netlify/cli/files/8791511/new-error.txt)

[2022-05-30 09:46] ascorbic commented on #4638
This is a network issue, either on your own network or with npm. See if it works when you try again

[2022-05-30 09:58] ascorbic opened #4653 "Suggested site names may have illegal-length domains"
### Describe the bug

The pattern used for generating default site names can lead to it generating domains that cannot be resolved as they are too long. According to RFC 1035, a label may be up to 63 characters long. The longest template is `netlify-thinks-${slug}-is-great${suffix}`, where `suffix` is six characters and `slug` is the slugified username, so can be arbitrarily long. When generating

[2022-05-31 10:01] danez opened #4654 "[CI-Tests] EADDRINUSE: address already in use :::<PORT>"
See https://github.com/netlify/cli/issues/4625#issuecomment-1137697283

This is the most common error in the tests, so this should be fixed first.

[2022-05-31 12:25] Skn0tt opened #4655 "Bring netlify-branded functions error page to edge functions"
### Which problem is this feature request solving?

At the moment, when an edge function throws an uncaught exception, we just show the body of the 500 returned. The fact that an uncaught exception led to this is non-obvious.

### Describe the solution you'd like

Instead, we should use the Netlify-branded error page that was introduced in https://github.com/netlify/cli/pull/4486 also for edge fun

[2022-05-31 17:51] c-semaan opened #4656 "Terminal command netlify dev --live generating broken links"
![image](https://user-images.githubusercontent.com/73475621/171252410-f58b036a-3050-48e0-9584-5df4ab3baa80.png)
![image](https://user-images.githubusercontent.com/73475621/171252478-94402c15-f9f1-4c75-95d6-8371df21f09f.png)

There seems to be an issue with generating links using `netlify dev --live`. It sometimes output the link as "netllify" or "netlifyy" as seen in the image attached.

I search

[2022-05-31 22:39] verythorough commented on #3242
@Morazee for help with your Netlify site, I recommend you visit the Support Forums at https://answers.netlify.com/. Netlify's professional Support team and Community Pilots are there to help you out!

[2022-06-01 09:05] Skn0tt commented on #4656
Hi! This is a super interesting bug 😲 Is there some specific thing you can do to reproduce this, or does this show up randomly? Also, is it only the *rendering* that's broken? Or are your functions also available under the misspelled endpoint?

[2022-06-01 13:00] c-semaan commented on #4656
I am on cli 8.16.1

### **Reproducing the issue:**
**First try:**
1. Opened the project in VScode
2. `Netlify build` in terminal
3. `Netlify dev --live` in terminal
-> Works as expected.
![image](https://user-images.githubusercontent.com/73475621/171408530-3201740b-adc3-4979-81c4-30cb568cdfe3.png)

**Second try:**
1. Again `Netlify dev --live`
-> Works as expected
![image](https://user-images.gith

[2022-06-01 13:17] Skn0tt commented on #4656
Wow, what a riddle! This is interesting :D

What stands out to me is that in the first screenshot you share, the duplicated letter is always the last one before it wraps around to the next line. Could you try playing around with the terminal width to see if that's true always?
It kind of looks like a rendering bug in the terminal. I see you're on windows, what terminal is this (VS-Code builtin ter

[2022-06-01 13:21] Skn0tt commented on #4656
@jackiewmacharia I see you worked on https://github.com/netlify/cli/issues/4311, do you have an idea what might be causing this?

[2022-06-01 13:33] c-semaan commented on #4656
### **Trying out different VScode width**

1. Width 1300x852
->Issue with links persists
![image](https://user-images.githubusercontent.com/73475621/171414918-24e6c978-8146-4d43-b972-1d6c0d2336dd.png)

2. Width 1530x943
-> No issue with links. **Even after resizing window!**
![image](https://user-images.githubusercontent.com/73475621/171415646-f19bbe9c-ebcc-434e-b2cf-d7c82d24fc24.png)
![image](htt

[2022-06-02 16:25] ivorpad opened #4661 "Replace the command env:import with env:push"
### Which problem is this feature request solving?

I think `env:import` is terribly confusing and very prone to errors, even though I might be asking too much.

According to my understanding, `netlify env:import .env` reads as _import the environment variables to a .env local file_, however, after it's run the variables are overwritten without any warning.

### Describe the solution you'd like

I

[2022-06-02 16:26] ivorpad opened #4662 "Replace the command env:import with env:push"
### Which problem is this feature request solving?

I think `env:import` is terribly confusing and very prone to errors, and I understand this might be too much to ask, however I think this command reads as _import the environment variables to a .env local file_, but after it's run the variables are overwritten in the Netlify UI without any warning.

### Describe the solution you'd like

Instead o

[2022-06-02 16:47] #4661 closed

[2022-06-02 16:48] ivorpad commented on #4661
Dupped: https://github.com/netlify/cli/issues/4662

[2022-06-02 18:08] watadarkstar commented on #4662
+1

If possible, can we also have a command called `netlify env:pull .env` which pulls the environment variables from the Netlify UI to your local machine?

[2022-06-03 00:08] overlordofmu commented on #4653
Cross-linking this as they are related issues:

https://github.com/netlify/product/issues/743

[2022-06-03 21:42] jansengunderson commented on #4569
Downgrading to `netlify-cli@9.16.7` and using `ntl dev` worked for me.

[2022-06-05 11:15] Hrishikesh-K commented on #3617
Just came back to say that this seems to be the case for Node 18 too. I thought someone else might have reported by now, but since no one had, just adding a note here.

[2022-06-06 12:03] labboy0276 opened #4679 "TypeError: `` is not an Option Object when using plugins.js as a function name"
### Describe the bug

Hello

I am currently using the serverless functions to render api end point for https://api.lando.dev/ (lando-api.netlify.app)

My current toml file redirects the base name of all js files in the functions directory to their respective url via:

[code]
So a file names functions/ping.js will redirect to https://api.lando.dev/v1/ping.

The issue at hand is if I name a file plu

[2022-06-07 10:07] agnescameron commented on #3617
also having this issue with node 18!

[2022-06-07 19:21] AlanAcDz commented on #4580
Update 2: with version 10.4.0 of netlify-cli, it outputs the same error as it was before:

[code]

It's been a whole month since I first opened this issue and yet there has been no acknowledgement of it.

@rshackleton are you still seeing this error too?

[2022-06-08 09:37] #4454 closed

[2022-06-08 13:48] rshackleton commented on #4580
We ended up changing the site to not build as many pages statically to try and workaround the issue, so not we're not but we probably would be if we changed it back.

[2022-06-09 06:35] Soviut opened #4684 "Document ignored_node_modules option in netlify.toml"
### Which problem is this feature request solving?

I spent a day trying to figure out how to exclude a module from a function bundle that was over 50MB. Puppeteer doesn't leave much room and the aws-sdk v3 (despite it's tree-shaken smaller size than v2) tipped the scale and the function could not deploy.

I found out Lambdas have aws-sdk included by default so I wanted to exclude the redundant mo

[2022-06-09 16:15] laurentlaporte commented on #4569
I believe its because of the new support for Edge Functions in v10, every requests including hot reload related requests are being intercepted and it breaks the hot reload

[2022-06-09 23:14] hashmaster3k opened #4686 "Netlify Dev Server Not Starting"
### Describe the bug

I was trying to determine why my functions were being loaded but not found. I opened a [support thread ](https://answers.netlify.com/t/loaded-function-not-found-in-developement/66936/5)on the Netlify forms, which lead me to here. Apparently my development server is not starting and I cannot reach localhost:8888

Here is a screenshot of my terminal once running the ```netlify

[2022-06-10 00:44] AlanAcDz commented on #4580
Update 3: I have tried upgrading to the latest version 10.5.0 and downgrading to version 9.16.7, neither works.
This makes me think that the issue might not be within netlify-cli itself and instead be the connection bewteen netlify-cli and netlify servers in this specific situation (nx workspace with nextjs app)

I may continue to post updates every now and then about this issue, at least until it

[2022-06-10 05:21] ajereos-circadence commented on #4580
This only happens if you have large dependencies and static pages generated. Try limiting it, if you can't, there's no really good option but only publish it using github or other pipeline.

[2022-06-11 00:17] AlanAcDz commented on #4580
Interesting, I am in fact generating static pages but I don't think 17 of them would cause the issue and none of them is more than 5kb. Either way it seems really strange that only netlify-cli has this issue

[2022-06-11 20:07] cmarabate commented on #4621
I have the same issue, please fix!

[2022-06-12 13:00] Hrishikesh-K commented on #4686
Duplicate of: https://github.com/netlify/cli/issues/3617

[2022-06-12 13:00] #4686 closed

[2022-06-13 08:56] novelnet commented on #4621
Me too, just downgrading is working so far.

[2022-06-13 14:45] #3288 closed

[2022-06-15 16:11] mattevans-dev commented on #4453
I'm currently facing this exact same issue. I'm trying to setup my project running the Netlify CLI and receiving:
`Error: Invalid route module file: /app/routes/account/.DS_Store`
I have `ignoredRouteFiles: [".*"]` added in my remix.config file but that doesn't fix this issue.
@jlengstorf Did you happen to find a workaround for this?

[2022-06-16 01:31] jlengstorf commented on #4453
@mattevans-dev my workaround was to delete the `.DS_Store` manually, but I haven't figured out a more permanent fix.

[2022-06-16 15:10] sean-roberts opened #4707 "Please replace with a clear and descriptive title"
### Describe the bug

if I have a leading space in a redirect, the redirect doesn't work.

This was obviously an issue caused by user error but I unexpectedly lost a lot of time on this cursed space. I believe this would be a quick win to resolve these typos issues by trimming the URI as they are known to not match the URI spec. If there is more nuance here than I am unaware of (most likely), then

[2022-06-18 08:30] minivan commented on #4679
Thanks for reporting @labboy0276 . I'm adding `needs docs` because if this is indeed a limitation on the filename, we _might_ want to highlight that in the docs and the CLI itself.

[2022-06-19 14:53] deepto98 commented on #4707
Can I pick this up? Can you point me to the relevant files, I would need to work on?

[2022-06-21 08:54] danez commented on #4612
Ref: https://github.com/math-utils/hamming-distance/pull/4

[2022-06-21 09:07] danez commented on #4612
Thanks for reporting this and sorry for the wait.  💚
We were able to identify the issue and I created a PR (see comment above) in the broken repository.
We also will fix this on our end and will handle invalid `package.json`s better.

[2022-06-21 09:52] #4612 closed

[2022-06-22 14:56] maxcell opened #4724 "Cannot perform data fetching in Astro using Netlify Function"
### Describe the bug

It appears when using Astro's [Data Fetching](https://docs.astro.build/en/guides/data-fetching/) the build step for the project fails to move forward because the functions finish building at a different point in time after the time it would be called upon. This means that the route wouldn't be generated and fail the build.

### Steps to reproduce

1. Git clone the project fou

[2022-06-22 17:13] mkummer225 opened #4727 "Nuxt HMR not working"
### Describe the bug

Nuxt Hot Module Reloading not being passed through the proxy – pages reload on port :3000 but do not auto reload on netlify-cli's proxy :8888

Noticed this when upgrading netlify-cli from 9.16.0 to the latest 10.6.0

Also tested 10.5.0 with the same result (HMR not working on netlify's port :8888), rolled back to 9.16.7 and it's working again

### Steps to reproduce

netlify

[2022-06-22 20:49] danez commented on #4724
The underlying issue here is that we end up in a deadlock, as the netlify dev server is waiting for astro to finish starting, but astro is waiting for the function to be up :)

A quick fix, for now, is to change the fetch code to handle errors better. Here is a simple example.

[code]

This will catch and ignore the initial error and things will boot up correctly and it starts working.

[2022-06-23 14:53] maxcell commented on #4724
This works! Thank you for the fix!

What would you consider a possible solution for this be? Would this entail basically having to rethink how we process files? Or do you imagine that this is something we'd just want to address at a per framework solution?

[2022-06-23 15:27] Razz21 commented on #2785
Try with temporary redirect status

[code]

[2022-06-23 16:37] jackiewmacharia commented on #4621
@McJoe21 almost there, it will be soon!

[2022-06-24 14:59] JWhist commented on #4679
[code]

At first glance, after toying around, it would appear that naming a function with any of the top level properties of this config object will cause the builder to attempt to import that value as the function itself.  So in the cause of `plugins.js`, because it defaults to an empty array, it is not matching the object type in the module being used, which checks for object creation using `{}`

[2022-06-24 17:53] JWhist commented on #4679
Traced the error to this function: https://github.com/netlify/zip-it-and-ship-it/blob/4ba670c07e7331a1fdcb61143cf01e0181d12ea9/src/utils/matching.ts#L28 which comes from an imported library and uses a module called `merge_options` (see stack trace above).  This expects an object containing properties to be merged, but we are passing in an array in the case of https://github.com/netlify/zip-it-and-

[2022-06-26 00:54] Kirbyasdf commented on #3617
Its rekt for me too....lets get it going @sw-yx

[2022-06-26 10:35] designbuedchen commented on #440
Is there already someone aware of what @crock wrote regarding the missing "Authorization" header on requests to the emulated Identity endpoint https://netlify-dev-locally-emulated-identity.netlify.app/.netlify/identity/ ?

Even when directly hitting this endpoint with Postman and using the credentials which the netlify dev command serves, the "Authorization" header is totally omitted. It seems, th

[2022-06-26 20:34] #623 closed

[2022-06-27 00:01] stebogit opened #4738 "`netlify build` does not import all `included_files`"
### Describe the bug

According to the [CLI docs](https://docs.netlify.com/configure-builds/file-based-configuration/#functions) and [this article](https://www.netlify.com/blog/2021/08/12/how-to-include-files-in-netlify-serverless-functions/#tldr) the `included_files` directive should tell the build command to include _"any type of file in your serverless functions"_.
Even the docs have such examp

[2022-06-27 12:08] karalabe opened #4744 "All CLI commands are excruciatingly slow when running on a large repo"
### Describe the bug

I have a repo with 50K+ files in it. Running any netlify command in that directory (e.g. `netlify status`) takes about 4 minutes to start, after which the command terminates quickly. Rerunning the command takes 5 minutes again. The systme has 1 CPU maxed out during this time.

E.g.

[code]

### Steps to reproduce

Create a huge repo with 50K files, run netlify link and then n

[2022-06-27 12:10] karalabe commented on #4744
E.g. Just running `netlify lm` which just prints the help screen:

[code]

I.e. 4 minute hang.

If I run the same command from a different folder it takes 3 seconds for it to run.

[2022-06-28 13:26] JWhist commented on #4679
After further investigation, the issue lies further up the stack and isn't a result of this `mergeOptions` call, but instead appears to be related to the config as a whole getting passed in to the function in those cases mentioned above.

[2022-06-28 14:34] Jolg42 opened #4747 "`TypeError: (intermediate value).conflicts is not a function` during `yarn install` (yarn v1.22.19)"
### Describe the bug

The CLI errors with `TypeError: (intermediate value).conflicts is not a function` during `yarn install`

See renovate PR updating the dependency where the failure was spotted
https://github.com/prisma/ecosystem-tests/pull/2864

Logs https://github.com/prisma/ecosystem-tests/runs/7091989721?check_suite_focus=true#step:7:373
[code]

Digging a bit shows that it should be the fol

[2022-06-28 14:40] Jolg42 commented on #4747
Note: this is the process.argv logged (shows that it doesn't include `.yarn`)
<img width="705" alt="Screen Shot 2022-06-28 at 16 27 01" src="https://user-images.githubusercontent.com/1328733/176207600-b6c027d4-b7a2-411e-a1e6-1baf16abefb6.png">

[2022-06-28 18:59] deekshant57 commented on #2229
Hey I am also getting the same authorization error while logging into Netlify via Github. What could be the reason behind this? Anyone solved this in past?

[2022-06-28 22:46] teddybee opened #4749 "Scheduled functions are not running with Nextjs SSR app"
### Describe the bug

When I uploaded my nextjs project via CLI, the scheduled netlify functions are simply not firing. I couldn`t see any schedule badge on the project admin console. I can see the uploaded function and can run with the url by hand.
I have tried set it in the .toml file and in the function handler as well.
If I upload the function without the nextjs project, it is working.

### St

[2022-06-29 16:26] JWhist commented on #4625
Eleventy test frequently fails with connection refused error

<img width="1004" alt="Screen Shot 2022-06-29 at 12 24 54 PM" src="https://user-images.githubusercontent.com/63815686/176487661-81f0a090-07df-46ea-a0ff-14ad79e599e7.png">

[2022-06-30 09:04] iaminamcom opened #4752 "In local development functions context doesn't have identity values"
### Describe the bug

I am trying to access identity values in function context to validate if user is authorized. In development which is running in netlify cli via `ntl dev` it's returning empty while on main website it works.

### Steps to reproduce

Create a function and add this code
[code]
it gives empty object `{}` while when deployed on production it gives:
[code]

How can I make it access

[2022-06-30 16:01] Majewski1144 opened #4753 "Please replace with a clear and descriptive title"
### Which problem is this feature request solving?

New client

### Describe the solution you'd like

Where can I find the cloning tool

### Pull request (optional)

- [x] I can submit a pull request.

[2022-06-30 16:01] #4753 closed

[2022-07-01 12:30] dariodevito opened #4758 "`deploy` doesn't output when using `--trigger` & `--json` together"
### Describe the bug

When using the `--trigger` & `--json` flags together the `deploy` command doesn't output.

This is because there is no business logic to handle the `--json` argument in `triggerDeploy()`. It results in the output being passed to `log()` which in turn doesn't output anything if the `--json` argument is set.

### Steps to reproduce

1. Run `netlify deploy --trigger --json`

###

[2022-07-01 15:47] jackiewmacharia commented on #4621
This is now fixed in v10.7.1 of CLI. Test it out by running: `npm install netlify-cli -g`. In case of any issues, do let me know here.

[2022-07-01 15:55] McJoe21 commented on #4621
Setting up the Edge Functions environment. This may take a couple of minutes.
 ›   Error: There was a problem setting up the Edge Functions environment. To try a manual installation, visit https://ntl.fyi/install-deno.

[2022-07-03 12:10] jorislive commented on #3735
For some reason my problem has been resolved by enabling my VPN service on my computer / switching from on network to the other. It seems unrelated since you're running a localhost server but I thought to mention it here anyway.

[2022-07-03 20:50] alexcroox commented on #4601
@nichoth did you ever resolve this? Running ESM with import.meta.url is giving me the same error on AWS Lambda 16x

[2022-07-03 21:27] nichoth commented on #4601
@alexcroox
No actually, I think I refactored so that everything is using `require` on the server.

[2022-07-03 21:47] alexcroox commented on #4601
I don't blame you. The node ecosystem still isn't ready for ESM without a lot of pain during the intial stages of setting up a new project...

For any other weary travellers I solved this on AWS by using `import dirname from 'es-dirname'`.

`dirname()` is a hack that throws an error and reads the file path from the error stack!

[2022-07-04 09:37] danez commented on #4747
Thanks for all the investigation and reporting it to us.

I create a PR that will fix the issue. The underlying problem is that we use functionality from `commander.js` that is not available in the version we specify in `package.json`. You can try yourself to update `commander.js` to at least 9.2.0 in your `yarn.lock` file.

[2022-07-05 10:12] jackiewmacharia commented on #4621
@McJoe21 that error pops up if there's an issue with the automated Deno installation due to various reasons including unsupported platforms by Deno like linux-arch64. What this fix does is to make sure that this doesn't break the rest of `netlify dev` if Edge Functions functionality wasn't available. Are you able to use continue using `netlify dev` with a [serveless function](https://docs.netlify.

[2022-07-06 12:11] Skn0tt opened #4775 "edge functions: supply context.site information to edge functions"
### Which problem is this feature request solving?

In https://github.com/netlify/pillar-runtime/issues/399, we tracked adding a `context.site` object that gives edge functions access to information like Site ID, URL or Name. We should also provide this information in local development.

### Describe the solution you'd like

In https://github.com/netlify/cli/blob/8248c355b3af1060a4a4995614a1e98bfc

[2022-07-06 13:59] #4747 closed, assigned to danez

[2022-07-07 08:55] arpit-agr commented on #4609
I've been gettting the same error.

[2022-07-07 17:54] maxcell opened #4777 "Show all valid templates for sites:create-template"
### Describe the bug

When using the Netlify CLI's command `ntl sites:create-template` we identified that we were not seeing all public repos within the list. We came to the conclusion that when we perform the fetch request, the returning repo list is limited to 30 repos, including those that are private, archived, etc. and then the CLI is filtering out the rest dependent on their status.

Here's

[2022-07-07 18:01] maxcell commented on #4777
Sorry for the tag but wasn't certain who PMs the work! (cc @danez @Skn0tt)

More than happy to help, just let us know!

[2022-07-08 08:39] Skn0tt commented on #4777
We can put this in our Compute Pod board and see when we get to it, but that could take a while. It looks like you already found how to fix this, though - if you submit a PR, I'm happy to review it!

[2022-07-08 14:04] #4583 closed

[2022-07-08 14:07] danez opened #4779 "Create test for `deploy --trigger` command"
Came up in #4759

[code]

[2022-07-08 19:27] McJoe21 commented on #4621
yes

[2022-07-08 19:48] JWhist commented on #4679
Removing the needs docs label, since this was a logical glitch and not anything that needs to updated for the customer facing docs.

[2022-07-08 20:13] mikeslattery commented on #399
I refined my workaround (see above) so I don't need to patch the plugin.  I put this in my project.  I run this instead of `netlify dev`.

[code]

The `.netlify/.env.live` file won't be updated until after compiling is complete.  You can modify the `then()` above if you want to do any post-processing with javascript APIs (e.g. auth0, stripe, etc)

Or here's a bash script you could use that does so

[2022-07-09 12:27] RossellaFer commented on #4609
Same error here, is it recommended to downgrade node or netlify-cli?

[2022-07-10 16:12] mklueh opened #4782 "Running `netlify login` in WSL2 produces Error: spawn /mnt/c/Windows/System32/WindowsPowerShell/v1.0/powershell.exe ENOENT"
### Describe the bug

I'm trying to use the Netlify CLI within WSL2, however the login fails all the time, because it tries to access PowerShell from Windows (why does it do that and how does it even know about it?) although the C drive is not mounted in WSL.

[code]

### Steps to reproduce

Maybe for reference, there was a similar issue with the NX tool https://github.com/nrwl/nx/issues/8409 and

[2022-07-10 16:20] mklueh commented on #4782
I've seen there is another related [issue ](https://github.com/netlify/cli/issues/2798) with a solution, so I'll close this one.

[2022-07-10 16:20] #4782 closed

[2022-07-11 07:01] RossellaFer commented on #4609
@johnloy @arpit-agr I downgraded node to 16.0.0 and it now works!

[2022-07-11 10:11] #4758 closed

[2022-07-11 14:16] #4679 closed

[2022-07-11 17:38] Jolg42 commented on #4747
@danez Thank you 💚
I can confirm that [netlify-cli to v10.8.0](https://github.com/prisma/ecosystem-tests/pull/2864) works now

[2022-07-12 22:43] mosesoak commented on #3617
Fails for us using nvm with the following:
[code]

[2022-07-12 23:57] danisztls commented on #4609
@RossellaFer Downgrading might work but isn't a solution.

[2022-07-18 09:17] #4621 closed

[2022-07-18 11:19] MarcL opened #4819 "Incorrect behaviour of "dev --country" command"
### Describe the bug

When using `ntl dev --country=<2-letter-iso-code>` it fails to set `geo=mock` as [suggested in the documentation](https://cli.netlify.com/commands/dev).

Instead it reads the cached or real version of the country code if it exists.

### Steps to reproduce

This was reproduced with the [Astro starter kit](https://github.com/sarahetter/astro-netlify-edge-starter).

1. Clone the

[2022-07-19 09:20] #3617 closed

[2022-07-19 10:21] khendrikse opened #4826 "Add Git LFS dependency to contribution guide"
### Which problem is this feature request solving?

I noticed while trying to run tests in `netlify/cli` there was an error telling me that I should have Git LFS installed on my system.

### Describe the solution you'd like

I think it could make sense to mention in `CONTRIBUTING.md` that in order to run all the test and not fail them, one needs to have git-lfs installed on their system. I know yo

[2022-07-19 15:25] tinfoil-knight commented on #4620
Wouldn't a command named `link` doing the same thing as `sites:create` or `sites:create-template` be a bit confusing to users?
I'd only expect the `link` command to "connect" existing things. What do you think?

[2022-07-19 16:16] #4826 closed

[2022-07-19 16:22] danez opened #4831 "Fix vale workflow, which is currently broken"
We updated the vale-action to v2, but it broke because it is not downloading the styles anymore automatically.

https://github.com/netlify/cli/blob/main/.github/workflows/vale.yml

So in order to fix this now we need to download and unpack the styles ourself in the workflow before running vale.

The download can be similar done as mentioned here: https://github.com/netlify/cli/blob/main/CONTRIBUTI

[2022-07-20 05:19] digitpain commented on #1442
Still affected by this bug via builders!

Seems like returning anything other than HTTP status code `200` from my builder results in receiving a JSON request body with the text: "Function is not an on-demand builder. See https://ntl.fyi/create-builder for how to convert a function to a builder."

[2022-07-20 13:13] #4819 closed

[2022-07-20 20:33] suethepooh opened #4837 "using env:list on mac sometimes does not list all variables"
### Describe the bug

I get a different number of results with env:list depending on the height of my terminal screen.

I have 33 environment variables for one project.  I was reviewing the values and env:list only showed 30.  I increased screen height & ran command again to receive all 33.  I made the height about half size, ran command again and only received 17.

It seems the number of variable

[2022-07-24 08:35] madsem opened #4845 "After upgrade to 10.11.1 netlify dev hangs on "waiting for port""
### Describe the bug

Upgraded to latest 10.11.1, running `netlify dev`
It just keeps hanging on "waiting for port forever"

⠋ Waiting for framework port 8080. This can be configured using the 'targetPort' property in the netlify.toml

No matter if I add the `targetPort` to netlify.toml or not, or also whhich port (tried 8080, 8888, 8081 etc)

[code]

My `package.json` scripts & deps:
[code]

###

[2022-07-25 14:53] jackiewmacharia commented on #4584
Closing this for now as per Slack follow up chat, issue to be reopened later if need be.

[2022-07-25 14:53] #4584 closed

[2022-07-26 05:06] MykalMachon commented on #4845
Hey all 👋
Thanks for submitting @madsem. I'm having the exact same issue on windows + WSL (Ubuntu), with an Astro site.
Let me know if there's anything I can do to help 😄

[2022-07-26 06:01] madsem commented on #4845
Not sure if it helps @MykalMachon, I removed webpack and babel and switched to esbuild.

Now everything is working again and my dev server starts :)

[2022-07-26 09:43] khendrikse opened #4862 "Running tests in vscode triggers the promptEditorHelper"
### Describe the bug

For local development of `netlify/cli` while running tests `npm run test` in the vscode terminal, the `promptEditorHelper` function is triggered. You can see `Would you like to configure VS Code to use Edge Functions? (Y/n)` in the test logs.

### Steps to reproduce

1. Run `npm run test` from a terminal in vscode
2. Check the logs

### Configuration

_No response_

### Envir

[2022-07-26 11:40] danez commented on #4845
A simple workaround is to use node 16 for now.

The problem lies in the name resolution for `localhost` which as of node 17 sometimes gets resolved to `::1` and sometimes to `127.0.0.1`.
We recently adapted our code to only use IPv4 (`127.0.0.1`), but if the framework uses `loclathost` it might end up registering the port on IPv6.

Ref: #4806
Ref: #4835
Ref: #3617

[2022-07-26 11:52] #4862 closed

[2022-07-26 14:40] tinfoil-knight commented on #4653
Related issue: https://github.com/netlify/cli/issues/4503

[2022-07-26 16:50] tinfoil-knight commented on #4273
@jackiewmacharia It seems like this was done intentionally to match old production behaviour.

See https://github.com/netlify/cli/issues/1605

Relevant code is here:
https://github.com/netlify/cli/blob/7b89caf121f77f2343c8057e68d97efbbe5689af/src/utils/proxy.js#L204-L216

[2022-07-27 09:19] Igloczek opened #4868 ""atob is not defined" while using dev command with graph param"
### Describe the bug

When running `netlify dev --graph` the process failing with error `atob is not defined`.

I've managed to pin down the source of this bug, it's `netlify-onegraph-internal` package, line 110 of `dist/oneGraphClient.js` inside of `getGraphJwtForSite` function.

[code]

while should be:

[code]

Unfortunately, there are more problems with accessing the `window` object in this fi

[2022-07-27 11:35] #4775 closed

[2022-07-27 13:57] madsem commented on #4845
@danez tried using Node 16 before I came here, it didn't change anything.

@MykalMachon scratch my previous reply, it just started happening again.

[2022-07-27 14:09] madsem commented on #4845
Here is the output on Node 16:

[code]

[2022-07-27 15:13] danez commented on #4845
It looks like that eleventy is running on port `8081` in your case, whereas `netlify/cli` is waiting for the default port `8080`.

[2022-07-27 15:22] madsem commented on #4845
@danez, you lifesaver! :)

Amazing, thank you very much!!

It's weird though, there was nothing anywhere that configured 8081, I tried changing the port via `--serve --port=8080`, browsersync was still running on 8081 though.

So I changed the package.json to include `npx @11ty/eleventy --serve --port=8081 --watch`, then changed the netlify.toml `targetPort` to 8081, and it started to work.

Thank

[2022-07-28 09:07] arpadgabor commented on #948
Do we have any update on this request? Maybe if there has been any progress on the backend side at least? Not sure who to ping, @erezrokah @khendrikse

[2022-07-28 11:23] danez commented on #4744
Thanks you for reporting this. We are aware of some smaller performance issues (#349) but not to that extend.
I tried to reproduce this, without success so far.

Is the repository you are talking about public or can be shared?
Are the 50k files source files of some kind (js, ts, go, ...) or static files (HTML, css) which get deployed directly?
Would you be able to create and share a CPU profile wi

[2022-07-28 15:12] kyllerss opened #4873 "SvelteKit (Vite) POST request resulting in "Function not found..." response message."
### Describe the bug

I am using SvelteKit in my project. My site seems to work well for all GET requests including those that leverage endpoints. However, I have one endpoint that has handlers for both GET and POST requests. The GET request works fine, however when I submit a POST request to that same endpoint, I get the text response message "Function not found...".

This is not a problem I run

[2022-07-29 17:25] rstavchansky opened #4876 "Update docs URLs for the Netlify docs site"
### Which problem is this feature request solving?

The URLs that point to Netlify's documentation site are being redirected because they are out of date. This issue tracks updates to point to the most up-to-date URLs to prevent the use of redirects.

### Describe the solution you'd like

Update docs URLs in the CLI docs and elsewhere in the repo, for completeness

### Pull request (optional)

- [

[2022-08-01 09:51] danez commented on #4868
// cc @sean-roberts @anmonteiro

[2022-08-01 09:53] danez commented on #4873
Would you be able to create a small reproduction example? So we can look at it?

[2022-08-01 10:43] #1604 closed

[2022-08-01 13:12] hughes-mann opened #4893 "Consider using proper indentation in your project"
### Which problem is this feature request solving?

Using improper indentation of blocks is one of the greatest sources of text obfuscation in this project.
Consider using ASCII tab characters for indentation as is standard practice, which are to be displayed as 8 empty cells. If you keep using spaces make it standard across the source tree to use 8 space characters rather than 2 (insanity). Such

[2022-08-01 15:51] danez commented on #4614
This does not work, because first of all we would need to remove `--allow-all`, because it overrides `--allow-env`. But the real problem is that DENO will through once you try to access an not allowed  environment variable. So doing `Deno.env.toObject()` throws `PermissionDenied: Requires env access to "DENO_DEPLOYMENT_ID", run again with the --allow-env flag`

I guess we have to explicitly set th

[2022-08-01 17:15] #4876 closed

[2022-08-01 21:41] #4868 closed

[2022-08-01 21:57] #4831 closed

[2022-08-02 13:31] minivan commented on #4638
Closing as stale

[2022-08-02 13:31] #4638 closed

[2022-08-02 13:32] minivan commented on #4636
Closing as stale

[2022-08-02 13:32] #4636 closed

[2022-08-02 13:32] #4635 closed

[2022-08-02 18:39] kyllerss commented on #4873
Hmm... I was unable to reproduce the issue with the latest release. All good now!

[2022-08-04 06:04] tinfoil-knight commented on #4837
Might be related to https://github.com/netlify/cli/issues/4656

[2022-08-05 14:46] tinfoil-knight commented on #1242
For static sites, the URL is re-written here:

https://github.com/netlify/cli/blob/73d9a6e9c00ba5b056ee27406b0f4e107c192622/src/utils/proxy.js#L243-L251

This doesn't happen when the `options.framework` value is present which might be causing the issue.

[2022-08-05 15:11] BenLune commented on #3480
Hi,
I'm trying to target 2 different toml files depending on build mode.
I'm working on Angular applications, with Scully for SSG.
SSG is only triggered for master branch and tags, otherwise it's a default Angular build.
When I'm building a default Angular App, I need Netlify to redirect every url to index.html.
When I'm on SSG mode, the urls targets some real SSG folders and I don't want the defa

[2022-08-05 16:10] BenLune commented on #3480
I hope this command will work soon :
`netlify deploy --config <path-to-toml>`
Meanwhile I had to deal with file rename while CI process (netlify-default.toml OR netlify-scully.toml depending on context to netlify.toml).

[2022-08-06 11:23] tinfoil-knight commented on #1442
@digitpain Do you have any public repository that can be shared so I can reproduce the issue?

[2022-08-06 11:47] tinfoil-knight commented on #4561
@fool I've not been able to reproduce the issue.

I created a directory with redirect as specified. I'm not getting the location header from curl.

[code]

Repo: https://github.com/KK-Learning-Gym/4561-redirect-200

CLI Version: `10.15.0`

[2022-08-06 12:03] tinfoil-knight commented on #4707
@deepto98 Are you still interested in working on the issue? If not, can I take it up?

[2022-08-06 12:56] tinfoil-knight commented on #3979
@logemann Can you update `netlify-cli` & check if this issue is still occurring? I haven't been able to reproduce it at my end.

If the issue is still occurring, could a share a public repository with the reproduction?

[2022-08-06 15:53] ercgrat commented on #1442
Yes this is the repo I was referencing in the original issue: https://github.com/ercgrat/creator.urbanbasic.de

[2022-08-07 10:32] tinfoil-knight commented on #1442
@ercgrat Thank you for providing the repo.

I tried this out locally with `netlify-cli/10.15.0` & this issue doesn't seem to be happening anymore. There aren't any additional requests to the same route with `.html`

<img width="815" alt="image" src="https://user-images.githubusercontent.com/51631122/183286520-a54e894e-6fcd-4c5a-bf6f-af8c4e1ab83d.png">

---

Note: I edited the code  [here](https://

[2022-08-08 14:46] #4752 closed, assigned to nobody

[2022-08-08 14:51] Hrishikesh-K commented on #4724
The way I got this to work in the past when using Astro was was by executing `npx netlify functions:serve` in a terminal window and running the Astro dev server in another terminal window. I obviously also had to hardcode the `fetch` URL to `localhost:9999` (I don't recall what the port number was), but at least that works.

[2022-08-08 14:53] Hrishikesh-K commented on #4558
I believe if you use:

[code]

it will fix the error and you can directly use `.js` files. To me, this doesn't appear to be a bug, as we need folks to use `esbuild` to import ESM modules.

[2022-08-08 15:06] Hrishikesh-K opened #4911 "CLI unable to resolve Node Modules in Functions"
### Describe the bug

I'm unable to run Netlify Functions using CLI. I keep getting messages of "Could not resolve" even though the modules are installed on my system. I tried creating a minimal reproduction of my setup and was able to reproduce it. Not sure what I'm missing.

### Steps to reproduce

Repo: https://github.com/Hrishikesh-K/cli-test

After cloning and running `npm i`, try running `np

[2022-08-08 15:43] whitep4nth3r commented on #4558
Agreed @Hrishikesh-K — I guess I didn't find good docs about this at the time. We have [a blog post](https://www.netlify.com/blog/how-to-make-a-fetch-request-using-node-fetch-v3/) out now — but just wanted to follow up with @klavavej as to whether this is now clearer on the docs?

[2022-08-08 17:38] danez commented on #4911
Unfortunately I am not able to reproduce this.

I did a fresh checkout:
- npm install
- npm build (which failed)
- npm exec netlify dev

![Capture](https://user-images.githubusercontent.com/231804/183479302-1c0a0eb6-cfb6-49b3-8e4d-257647d73005.png)

[2022-08-08 17:45] Hrishikesh-K commented on #4911
Thanks for checking! Unfortunately, this is still happening for me 🙁

The build error can be removed by moving `index.html` out of the `public` folder - I must have moved that there by mistake. I've also committed the change on the repo, so that should be good to clone.

I did a fresh clone myself, ran `npm i` and still the same. I tried running `netlify build -offline`, and that failed too:

[cod

[2022-08-08 17:50] danez commented on #4911
Hmmm, I now also tried on my mac and also works. Maybe your npm cache is broken, but very unlikely. Can try `npm cache clean --force && rm -rf ./node_modules && npm i`

Are you using the netlify-cli from the package? Or a global installed version and is this the latest version?

[2022-08-08 18:04] Hrishikesh-K commented on #4911
Interesting. I tried in an Ubuntu VM I had set up previously, but never really used. It works correctly as expected. I tried: `npm cache clean --force && rm -rf ./node_modules && npm i` on my macOS and it still fails with the exact problem. Not sure where to go from here, but at least it's a me problem at this point and not a CLI issue.

Thanks for looking into this.

[2022-08-08 18:04] #4911 closed

[2022-08-08 18:35] Hrishikesh-K commented on #4911
This is possibly related to: https://github.com/evanw/esbuild/issues/2261

[2022-08-08 18:40] Hrishikesh-K commented on #4911
I changed `node_bundler = "zisi"` in my `netlify.toml` and I was able to get this working. However, I was then presented with an error:

[code]

which is expected and also exactly why I was trying to use `esbuild`.

Not sure where to go from here because this doesn't appear to be:

1. Netlify CLI issue
2. Netlify Zip It and Ship It issue
3. esbuild issue

Especially because this will most likely w

[2022-08-08 19:10] danez commented on #4911
Maybe some folders are owned by root/different user? Or maybe disk access is limited for the shell you are running in?

[2022-08-08 20:51] Hrishikesh-K commented on #4911
I tried `chmod -R +rw ./` as well as added "Full Disk Access" to my shell in macOS preferences. This still fails. :(

Will try a reset tomorrow, I believe.

[2022-08-09 13:24] Hrishikesh-K commented on #4911
I can confirm, resetting the device worked. Now we'll never know what had happened, but glad it's sorted.

[2022-08-09 21:55] klavavej commented on #4558
@Hrishikesh-K @whitep4nth3r - support for ESM in the default `zisi` bundler was added in https://github.com/netlify/zip-it-and-ship-it/pull/1018

Since folks are now seeing that `node_bundler = "esbuild"` is required for `.js` functions using ESM, I suspect there's been a regression with the feature enhancement to support ESM regardless of the bundler.

https://github.com/netlify/pod-compute/issue

[2022-08-10 04:09] jlevy-io commented on #4569
Was struggling with this again this week and discovered that I'm using the LTS default for nvm.   Apparently 16.16.0 causes this issue as well, not just 17+.   Rolled back to 16.14.2 and everything works fine again (with netlify-cli @^9) on my gatsby project

[2022-08-10 11:56] tinfoil-knight commented on #1442
@danez I think this issue can be closed.

[2022-08-10 16:02] mikepianka opened #4921 "glob-parent, got, and node-fetch security vulnerabilities for netlify-cli@10.15.0"
### Describe the bug

npm flags security vulnerabilities for the packages glob-parent, got, and node-fetch after having installed the latest netlify-cli@10.15.0

[code]

### Steps to reproduce

1. npm i netlify-cli
2. npm audit

### Configuration

_No response_

### Environment

  System:
    OS: Windows 10 10.0.19044
    CPU: (16) x64 AMD Ryzen 7 1700X Eight-Core Processor
    Memory: 40.85 GB /

[2022-08-10 16:43] #4614 closed

[2022-08-10 17:39] danez commented on #4653
There is also a PR for this (or at least parts) already: https://github.com/netlify/cli/pull/4553

[2022-08-10 18:54] ascorbic commented on #4653
@danez that's related, but different. This issue is about auto-generated names, rather than user-specified ones

[2022-08-11 12:40] tinfoil-knight commented on #4160
@whitep4nth3r Are you still experiencing this issue?
I installed Brave & set it as my default browser. Then tried the `open:site` command.

Brave Browser opens the the url as expected.

P.S. : I'm using `netlify-cli/10.15.0`

[2022-08-11 13:40] whitep4nth3r commented on #4160
Not experiencing this issue anymore. Thanks for following up!

[2022-08-11 13:40] #4160 closed

[2022-08-12 09:22] gltovar commented on #4609
I was able to reproduce this issue by following the tutorial section of netlify: https://docs.netlify.com/get-started/  using node v18.  the function section would not work.

after downgrading to v16 the local dev would then work properly.

Agree with @danisztls  that fixing the issue with out the need to downgrade should be the right path forward

[2022-08-12 10:18] minivan commented on #4318
@khendrikse I'm assigning this issue because it would get you to explore the proxy implementation in the CLI. I suggest that you timebox the exploration because there are high chances that what we're trying to achieve here is too difficult to do in the CLI.

For now, let's focus on the limit in the response payload of a Function (as indicated in the Zendesk ticket). The CLI should forbid a > 6 MB

[2022-08-12 15:36] jansengunderson commented on #4569
Thanks for this info. Viewing our sites on port 8000 (rather than functions port 8888) and hot reload works. Of course functions will not.

[2022-08-13 03:07] moekitano opened #4942 "waiting for framework port 3000"
### Describe the bug

- Behavior
I can't run netlify dev because it says  it is waiting for framework port 3000.

 Waiting for framework port 3000. This can be configured using the 'targetPort' property in the netlify.toml◈ Command failed with exit code 1: npm run start. Shutting down Netlify Dev server

### Steps to reproduce

1. sudo npm install
2. sudo netlify dev

### Configuration

_No respon

[2022-08-13 05:04] jasiqli opened #4943 "`ntl dev` won't start without `index.html`"
### Describe the bug

Similar to #4845, Netlify CLI won't start on port 8888, gets stuck waiting for framework.

[code]

Through testing, this is due to the lack of an `index` file. If `page.md` (see [demo repository](https://github.com/jasiqli/11ty-test)) is renamed to `index.md` then `ntl dev` starts on port `8888`.

[code]

The only option *(that I have found if not wanting a root `index.html`)

[2022-08-14 09:17] tinfoil-knight commented on #4942
@moeitano Do you have a public repository where this bug can be re-produced?

If not,
Could you attach you `netlify.toml` configuration & tell what framework you're using (if any)?

[2022-08-14 11:25] tinfoil-knight commented on #4738
@stebogit I wasn't able to reproduce this.

I cloned https://github.com/stebogit/netlify_included_files_issue. Ran `npm install`. Then tried `build` command after linking. The extracted zip had the following files:

[code]

System Configuration
[code]

[2022-08-14 15:40] lukeocodes commented on #4845
Worth noting that this might be an issue with Node 17/18 in the latest version of the CLI.

Using Node 16 without issue. Here is the issue I raised on the community: https://answers.netlify.com/t/netlify-cli-waiting-for-framework-port/73329/3

[2022-08-15 09:01] danez commented on #4845
Yes hopefully, once this is merged and we update it should solve all this problems: https://github.com/dwmkerr/wait-port/pull/84

[2022-08-15 10:27] danez commented on #4921
Thanks for reporting.

[2022-08-15 10:27] #4273 closed

[2022-08-15 10:29] danez commented on #4942
Are you using node 18? If so try to use node 16 for now, this should fix it. We are working on this, see #4845.

[2022-08-15 11:14] #4503 closed

[2022-08-15 11:21] minivan commented on #4655
From [Slack](https://netlify.slack.com/archives/C023PC3D08J/p1660561133013079):

The easiest way to reproduce this is to have a repo that has an edge function with an error, deploy the site, and invoke the function.

On a live site, we should see an error page.

If locally, we run `netlify dev` and invoke the function, we don't see the Netlify branded error page.

[2022-08-15 11:32] khendrikse commented on #4655
I think I was a bit confused because @Skn0tt mentioned

But I guess the difference then is that this issue is not about those structured errors, but about uncaught exceptions?

[2022-08-15 13:16] Skn0tt commented on #4655
In the first implementation of these error pages, we had full stack traces included in the error page, including for uncaught exceptions inside of user code. These were visible to all visitors, and disclosed both that the site is hosted by Netlify, and potentially leaked some source code internals (stacktraces contain file names, function names etc). So we've changed it so that the page itself sho

[2022-08-15 13:18] Skn0tt commented on #4655
Here's some pointers towards what code we'd need to change:

In https://github.com/netlify/edge-functions-bootstrap/blob/2ca738749a57957640c9c8132f512810ebc79d88/src/bootstrap/handler.ts#L38-L43, we'd need to add a "local dev" mode that returns not only `String(error)`, but also `error.stack` and other metadata.

In the local-dev codebase, we'd need to check for the `x-nf-uncaught-error` error, an

[2022-08-15 14:57] ascorbic opened #4948 "Improved automatic framework support in `ntl build`"
### Which problem is this feature request solving?

Currently running `ntl dev` in an unliked project has a good experience: it detects the framework and runs the correct command. However this is not true for `ntl build`. First, it won't allow the site to build without `--offline`, and it doesn't do framework build command detection or build plugin installation. This means it's not possible to bui

[2022-08-15 15:56] #1442 closed

[2022-08-16 09:49] tinfoil-knight commented on #4320
@mirisuzanne @nekdolan
Is the repository you were working on public?
If yes, could you provide a link to it so I can reproduce this issue?

[2022-08-16 12:47] tinfoil-knight commented on #4707
@minivan

This issue is blocked until production also has the same behaviour because we don't want feature disparity b/w the CLI & the production environment.

[2022-08-16 19:21] mirisuzanne commented on #4320
The repo is public (https://github.com/mirisuzanne/grapefruitlab) but relies heavily on APIs with private access keys. Not sure if that will work for you or not.

[2022-08-17 15:55] WillowMT commented on #3870
Hello! I just wanted to share a solution I came up with in the permission error as well. So what I did was headed to the ~/Library/Preferences/netlify folder and opened the "get info" option. Then I manually added my user in the "Sharing and Permission" section, together with read & write beside my user. After that, reload the terminal and all's good to go!

[2022-08-17 19:06] nekdolan commented on #4320
@tinfoil-knight sorry no, but it was easy to reproduce.

[2022-08-18 09:26] aileen commented on #4749
I also ran into this bug. A workaround that worked for me was [scheduling it inline](https://docs.netlify.com/netlify-labs/experimental-features/scheduled-functions/#cron-expression-inline-in-function-code) instead of using the `netlify.toml` file.

[2022-08-18 12:42] teddybee commented on #4749
Unfortunately, that's not working for me eighter. Even if I build, deploy from linux(WSL), I still don`t see any scheduling information on the web admin page. Not firing events on its own.

[2022-08-19 09:05] eduardoboucas commented on #4948
@ascorbic I believe this can be closed now?

[2022-08-19 09:10] ascorbic commented on #4948
No, this still won't work, but it's less critical now that `dev` handles plugins. One for later. What I want is the `ntl build` experience to be just as good!

[2022-08-21 12:34] cymon1997 commented on #4942
Hi @danez , I'm using node `v16.6.1` and still get the same `Waiting for framework` issue. Please help. Thanks!

[2022-08-23 07:35] tinfoil-knight commented on #4609
Related: https://github.com/netlify/cli/issues/4625#issuecomment-1137701649

[2022-08-23 07:56] tinfoil-knight commented on #4608
NodeJS currently doesn't allow suppressing individual categories of warning. There are multiple feature requests to do this in NodeJS: https://github.com/nodejs/node/issues/40940, https://github.com/nodejs/node/issues/30810.

All warning can be disabled though by setting `NODE_NO_WARNINGS=1` or by passing the `--no-warnings` to the nodejs executable.

@minivan Do you think we should do this?

Ref:

[2022-08-23 15:53] ansidev opened #4997 "Netlify deploy command parameter --prod doesn't work properly"
### Describe the bug

I want to deploy the `dist/` folder as a prod/preview site based on an environment variable PROD:
- export PROD=true => Deploy to main site
- export PROD=false => Deploy to preview site

But if I run

[code]

Netlify will always deploy to the main site. The only way to deploy to the preview site is by removing -p from the command.

### Steps to reproduce

1. Install Netlify g

[2022-08-24 13:34] mecklundie commented on #1088
This should be added to the documentation...

Installing per project and not GLOBALLY:

Install:

[code]

Add to `package.json`:

[code]

Running Netlify commands (per project):

[code]

[2022-08-24 18:39] tinfoil-knight commented on #3287
Closing this issue since it has been resolved now.

---

Terminal output in various cases tested with `netlify-cli/11.0.0`

Without Logging In:
[code]

Logged In but directory is not linked to a site
[code]

Logged In and directory is linked to a site
[code]

[2022-08-24 18:39] #3287 closed

[2022-08-24 18:51] tinfoil-knight commented on #4610
Duplicate of https://github.com/netlify/cli/issues/4609

[2022-08-24 18:51] #4610 closed

[2022-08-24 23:36] lucasfontesgaspareto commented on #4942
Guys using ```netlify dev --targetPort 5173``` work great for me
![image](https://user-images.githubusercontent.com/8084651/186541676-9be1912f-c352-48b9-b36d-652798159214.png)

[2022-08-25 02:29] cymon1997 commented on #4942
Oh @lucasfontesgaspareto I found out that the issue is when you use `svelte` runner (when choose these options)
![image](https://user-images.githubusercontent.com/17194471/186560228-90071a41-72da-4d34-9809-3f269900977b.png)

Will not work if using Svelte
![image](https://user-images.githubusercontent.com/17194471/186560262-0eab66e5-98e6-4670-ba60-40066ec40347.png)

But, will work perfectly when us

[2022-08-26 11:59] danez commented on #4608
This is fixed with #4998

Once the next release is published it will go away.

[2022-08-26 11:59] #4608 closed

[2022-08-26 14:03] danez commented on #4997
This is the expected behavior for a boolean flag. I do not think we want to change this, because this is the same behaviour for all boolean flags.

[2022-08-26 14:03] #4997 closed

[2022-08-26 14:04] danez commented on #4609
This is already fixed on the main branch and the warning will disappear with the next version of the cli.

[2022-08-26 14:06] danez commented on #4625
Closing, it is a lot better now, and we should handle the ones that come up.

[2022-08-26 14:06] #4625 closed

[2022-08-26 16:16] danez commented on #2327
This is not the case anymore.

[2022-08-26 16:16] #2327 closed

[2022-08-26 16:18] danez commented on #4561
Also not able to reproduce this anymore.

[2022-08-26 16:18] #4561 closed

[2022-08-26 16:21] danez commented on #919
Is this still an issue? If so can you provide some more information which redirects you are trying to configure? Or can you share a repo to be able to reproduce?

[2022-08-27 17:15] tinfoil-knight commented on #4603
@kevinsamoei I created a private repository, configured it with the `https` URL provided by Github & then used the `init` command. Authorized Netlify CLI for Github access through the `Authorize with GitHub through app.netlify.com` choice that comes up & deployed the site. Everything works fine.

I'm having some trouble understanding this feature request. If Netlify CLI works both with `https` & t

[2022-08-27 20:13] saschwarz opened #5006 "Error upgrading to 11.5.0"
### Describe the bug

Using node 18.3.0 when upgrading from 10.5.1 to 11.5.0 I get this error:
[code]

### Steps to reproduce

Here is the content of the npm logfile:

[2022-08-27T20_05_14_255Z-debug-0.log](https://github.com/netlify/cli/files/9438615/2022-08-27T20_05_14_255Z-debug-0.log)

### Configuration

_No response_

### Environment

  System:
    OS: macOS 12.5.1
    CPU: (12) x64 Intel(R)

[2022-08-28 12:30] jasikpark commented on #919
i have no clue of whether it's still an issue, no longer have that original project i encountered the bug in

[2022-08-28 12:30] #919 closed

[2022-08-29 11:46] kevinsamoei commented on #4603
Hi @tinfoil-knight thanks for looking. I think Github might not be a good candidate for this since it uses Github App which doesn't care for ssh/https urls when checking if private. This is because for Github, we automatically add the deploy keys but other providers might not be so.

I would test this with other providers as well, Azure DevOps, Gitlab, Bitbucket to see if they handle it well. I am

[2022-08-29 14:32] logemann commented on #3979
updated CLI to
`netlify-cli/11.5.0 darwin-arm64 node-v16.14.2`

still get the same error.

My test function with netlify dev:

[code]

[2022-08-29 14:34] logemann commented on #3979
cant reproduce after CLI update.

[2022-08-29 14:34] #3979 closed

[2022-08-29 19:15] kaelig opened #5012 "Alert user when they're using edge functions + unsupported Node versions"
### Which problem is this feature request solving?

When my project was using new Node 18 APIs:

- edge functions would work locally using the CLI
- deploys would fail

This is because AWS doesn’t support Node 18 (at the moment of running the CLI).

Downgrading to Node 16 fixed it.

### Describe the solution you'd like

A great developer experience would have been to know about this version incomp

[2022-08-29 20:08] danez commented on #5006
This might be an issue with npm. (see https://stackoverflow.com/questions/69567381/getting-cannot-read-property-pickalgorithm-of-null-error-in-react-native) Can you try the suggestions there?

[2022-08-30 14:22] #2710 closed

[2022-08-30 14:22] #1242 closed

[2022-08-30 15:01] swiing opened #5015 "The netlify CLI attempts to access the network despite the --offline option"
### Describe the bug

[Documentation](https://cli.netlify.com/commands/dev/) for the dev command says that the option _'offline (boolean) - disables any features that require network access'_.

However, this seems inaccurate wrt edge function environment.

Running `netlify dev --offline` when the network connectivity is not available starts ok, but eventually throws.

### Steps to reproduce

1- cu

[2022-08-30 19:05] tinfoil-knight commented on #4320
Hey folks,
I followed up internally & fixing this is going to take a while.

Suggested Workaround for now:

Create a function as described in https://www.netlify.com/blog/2019/01/31/restrict-access-to-your-sites-with-role-based-redirects/ so that http cookies are set properly & role based redirects work on localhost too.

---
Note for Contributors:
The Netlify Identity service (specifically the id

[2022-08-31 00:41] jmsherry opened #5018 "ntl init error: TypeError: undefined is not iterable"
### Describe the bug

When running ntl init I get the error: `TypeError: undefined is not iterable (cannot read property Symbol(Symbol.iterator))`

This occurs particularly when trying to create the functions directory.

### Steps to reproduce

1. Run `ntl init` and accept the default options

`❯ node -v
v16.8.0
❯ ntl init
? What would you like to do? +  Create & configure a new site
? Team: James

[2022-09-01 23:32] benmccann commented on #3514
SvelteKit deploys ESM-only on all platforms except Netlify. The lack of ESM support on Netlify is a continual pain point because SvelteKit and Vite need to bundle to CJS just to support Netlify. Things are more likely to break for Netlify users than users of other platforms since Netlify is the odd-man out in this situation. We currently have a bug caused by where the latest version of SvelteKit i

[2022-09-03 08:56] ascorbic commented on #3514
Hi @benmccann
Thanks for the nudge on this. I don't think this is related to this issue (this about rewriting the CLI itself in ESM). However I am going to look into this for you further. I know it's soemthing that was being worked on, but I'm not sure of the current status.
The approach that Nuxt takes is to build to ESM, but have a cjs entrypoint which does a dynamic import for the real ESM bund

[2022-09-04 13:24] McJoe21 opened #5019 "npm install error on termux"
### Describe the bug

npm ERR! code FETCH_ERROR
npm ERR! errno FETCH_ERROR
npm ERR! invalid json response body at https://registry.npmjs.org/netlify-cli reason: Invalid response body while trying to fetch https://registry.npmjs.org/netlify-cli: EACCES: permission denied, link '/data/data/com.termux/files/home/.npm/_cacache/tmp/6abcf009' -> '/data/data/com.termux/files/home/.npm/_cacache/content-v2

[2022-09-05 13:42] whitep4nth3r opened #5026 "Prompt for creation of subdirectory on netlify functions:create"
### Which problem is this feature request solving?

Currently, when running `netlify functions:create`, the CLI creates a subdirectory for the new function file. Despite being a perfectly valid approach, this is an opinionated way to create a new function file.

To developers who prefer NOT to nest their function files in subdirectories, this unexpected outcome results in them needing to do extra

[2022-09-05 13:51] eduardoboucas commented on #5026
We could default to creating single function files unless the function has any supporting files (e.g. a `util.js` file that is imported from the main file). It should be very straightforward for the CLI to look at the files in the template and make this decision.

[2022-09-07 13:26] mclimb opened #5030 "Netlify Functions not receiving a body in local dev but works once deployed to Netlify"
### Describe the bug

When I submit a fetch in from my Next.js app in local development using netlify dev (local node version v17.4.0), the Netlify Function runs but the body in the event is always `undefined`. I expect it to be `{ url: "websiteUrl" }`. When I deployed the function to Netlify it correctly found and parsed the body.

I noticed this occur on both background and regular functions.

I

[2022-09-08 02:13] joshmedeski opened #5031 "Contextual environmental variables"
### Which problem is this feature request solving?

I'm using [PlanetScale](https://planetscale.com) for a project and I'd like to be able to branch the database and overwrite a database environmental variable with a new value on a branch or deploy preview context.

### Describe the solution you'd like

Additional flags on the CLI would be a helpful start.

[code]

It was unclear in the documentat

[2022-09-08 02:15] joshmedeski commented on #5031
After more research I've found https://www.netlify.com/blog/branch-specific-environment-variable-values-from-the-netlify-ui-cli-or-api/

[2022-09-08 02:15] #5031 closed

[2022-09-08 17:42] #4948 closed

[2022-09-09 02:57] bronze opened #5036 "Netlify deploy with build flag uses different directory"
### Describe the bug

`netlify deploy` and `netlify build` commands are working correctly
however, doing `netlify deploy --build` uses a wrong deploy path.

netlify deploy:
[code]

netlify deploy --build
[code]

Honestly i dont know ehere that `astro build` is coming from

### Steps to reproduce

Tried reverting to version `11.5.1` and everything worked.
Caught this discrepancy:
11.6.0
[code]
11.5

[2022-09-09 23:45] omniphx opened #5043 "Nextjs export step no longer working when build runs"
### Describe the bug

Export step no longer working when running `netlify build`

My build function is defined in my package.json as is suggested by [nextJS documentation](https://nextjs.org/docs/advanced-features/static-html-export):
[code]

It seems after version [v11.6.0](https://github.com/netlify/cli/releases/tag/v11.6.0), the export command is skipped.

### Steps to reproduce

Create a nextJ

[2022-09-11 11:34] PhilBookst commented on #5030
Getting the same error, also on a M1 Mac in dev mode.

Netlify-cli: `netlify-cli/11.7.1 darwin-x64 node-v16.13.2`

[2022-09-12 06:08] paulrudy commented on #4845
Looks like it was merged and released https://github.com/dwmkerr/wait-port/releases/tag/v1.0.0

[2022-09-13 11:01] ztroy commented on #5019
Same issue during install @vue/cli

i tried a suggestion, but still not work :
`npm clean cache --force`

[2022-09-13 13:23] AnadeB commented on #5019
Same here, package nodejs 18.7.0-1, (updated) npm 8.19.1.
I tried to downgrade npm:
`pkg reinstall nodejs`
`npm --version`
`8.15.0`
And it helped.

[2022-09-13 14:29] eduardoboucas commented on #4655
@khendrikse this marked as "In progress". Can you share an update?

[2022-09-14 18:57] robvanderleek opened #5049 "Update lambda-local dependency to 2.0.3"
In the console I'm seeing these two warning lines for every function invocation:

warning Using both auth systems: aws_access_key/id and secret_access_token !
warning Using both auth systems: aws_access_key/id and secret_access_token !

I've tracked down the origin of these warnings to [lambda-local](https://github.com/ashiina/lambda-local/), a library this repo depends on to locally run the serve

[2022-09-15 06:06] andremoreno opened #5050 "netlify cli 11.7.1"
### Describe the bug

Updating to 11.7.1 and when i try using 'netlify build' it asking

? Multiple possible start commands found (Use arrow keys or type to search)
❯ [Hugo] 'hugo server -w'
  [Zola] 'zola serve'

and after i choose the first choice, it prompts me:

Add 'framework = "hugo"' to the [dev] section of your netlify.toml to avoid this selection prompt next time.

I try to add the 'frame

[2022-09-15 20:30] hosainnet opened #5051 "Redirect rule with US country condition blocks every country"
### Describe the bug

When applying a redirect/rewrite rule that targets the US, the rule always triggers when even when accessing the site from outside the US locally.

This makes it difficult to locally when a site-wide rule is applied to block the US for example and the `--country` cli option does not override this behaviour.

### Steps to reproduce

1. Create a Netlify project from one of the

[2022-09-19 14:46] chocobuckle commented on #4569
Is there any update on this? Not being able to use netlify-cli v10 with Gatsby is quite a bummer.

[2022-09-20 08:54] minivan commented on #4318
update here. After reevaluating priorities on our side, I'd like to mark this as a WONTFIX for now.

[2022-09-20 09:04] minivan commented on #4749
@teddybee have you activated scheduled functions in the Netlify Labs section in your settings?

[2022-09-20 10:49] teddybee commented on #4749
@minivan No...
Thank you for your help. I hope it will work now.

[2022-09-20 17:52] sarahetter commented on #5030
Alright! Things I've tried to investigate if this has anything to do with next-runtime

1. Removed all code from next-runtime that we're running in `onPreDev` - error still occurs (no body sent)
2. Commented out the line in the cli that adds a plugin during dev (currently line 476 in `src/commands/dev/dev.js`:
[code]
which still gives the same error - the next-runtime isn't being run during dev, b

[2022-09-21 10:38] cetchells commented on #5030
I get the same body undefined when posting to function:
`netlify-cli/11.8.0 darwin-x64 node-v14.20.0`
Maybe a Mac OS issue, it works fine on windows

[2022-09-21 12:48] anantaw81 commented on #5019
i'm installing @vue/cli via npm. It worked when using node v16.17.0 (npm v8.15.0). My device is pop os.

[2022-09-21 13:06] tinfoil-knight commented on #5030
@mclimb Can you give me read access to the repository?

[2022-09-21 13:13] tinfoil-knight commented on #5036
@bronze Is the repository public? Otherwise, could you provide a minimal reproducible example?

[2022-09-21 13:52] tinfoil-knight commented on #4603
@kevinsamoei
Update on this:

I created & cloned a private repo from Gitlab using the https url. The CLI does throw an error (`The URL provided does not use the SSH protocol`) on passing https urls instead of ssh.

Output for the `init` command

[code]

Git Remote Config
[code]

P.S:
1. I got the error for both public & private repositories.
2. CLI Version: `netlify-cli/11.8.1 darwin-arm64 node-v1

[2022-09-21 15:48] bronze commented on #5036
Hi @tinfoil-knight
Just made a fresh new repo at https://github.com/bronze/netlify-cli-bug and i can confirm i still get this bug with the 11.8.2 version

It only happens when running build AND deploy. I think it may have something to do with the [framework detection ](https://github.com/netlify/cli/pull/5029)from 11.6
11.5.1
[code]
11.8.2
[code]

[2022-09-21 19:19] kevinsamoei commented on #4603
@tinfoil-knight oh that is interesting. when I was writing this issue it was not throwing an error and would actually go through. I am going to do some testing sometime this week to make sure we actually throw the error for all git providers.

Throwing an error is an acceptable solution as well

[2022-09-22 14:44] ascorbic commented on #3184
This was implemented!

[2022-09-22 14:44] #3184 closed

[2022-09-22 18:44] analiamokbb commented on #5030
Also encountering the same issue with the latest version of Netlify CLI:

`netlify-cli/11.8.2 darwin-x64 node-v16.8.0`

[2022-09-23 07:43] damiencornu opened #5080 "`build` does not respect `command` nor `publish` settings when using a framework"
### Describe the bug

I'm trying to run `netlify build` locally using netlify-cli on a project that was created with Create React App.
Now that the framework detection (#5029) is merged my custom settings are overwritten by the build.command and build.publish found by the `detectServerSettings` new method introduced.

I have a custom "Build command" defined in the Netlify UI (and now in a local `n

[2022-09-23 09:26] cetchells commented on #5030
It seems like its actually Content-Length that is undefined, the body is actually there in the request but you check content-length header. If I remove the check for content length it works.
https://github.com/netlify/cli/blob/fc2030468cab8a402c544a702e03e8629d542313/src/lib/functions/server.js#L71
I'm using axios to send the request

[2022-09-23 14:12] dariodevito commented on #5036
It came in on this commit https://github.com/netlify/cli/commit/c85efc45bd46ee4038fbe44f64fe99ce0b25eb7b

Hence 11.5.1 working for @bronze

[2022-09-23 14:12] tinfoil-knight commented on #5036
@dariodevito Thank you for finding out the potential cause. I debugged @bronze's site independently & found the issue occurring at the mentioned line.

@sarahetter This issue seems to be originating in this PR: https://github.com/netlify/cli/pull/5029

The `publish` variable (which originally had the location of the build directory) is being overwritten by the build command.

Could you please take

[2022-09-23 14:29] orinokai opened #5082 "`ntl deploy --build` fails without `netlify.toml` file"
### Describe the bug

Both `ntl dev` and `ntl build` now use framework detection to run correctly without a toml file.

However, while `ntl deploy --build` correctly detects the framework and runs the build successfully, it fails when trying to modify the `netlify.toml` when it doesn't exist:

`TypeError: The "path" argument must be of type string or an instance of Buffer or URL. Received undefine

[2022-09-23 14:36] tinfoil-knight commented on #5030
@analiamokbb Could you provide a repository with the reproduction of the issue? I was trying to reproduce this issue but wasn't able to with the http client (HTTPie) that I'm using.

---

@cetchells Could you provide me the exact axios request you're using?

[2022-09-23 18:55] tinfoil-knight commented on #5051
@hosainnet Is this happening only on Netlify CLI locally or are you getting the same behaviour on production deployments too?

[2022-09-23 18:57] hosainnet commented on #5051
This is only happening locally

[2022-09-23 19:20] Anhunghezo commented on #5019
I have the same problem when using npx create-react-app

[2022-09-24 10:22] tinfoil-knight commented on #5036
@bronze

Closing this as it has been resolved in https://github.com/netlify/cli/pull/5084.

Please update the Netlify CLI package to `v11.8.3`.

---

Thank you @sarahetter for the super-quick fix.

[2022-09-24 10:22] #5036 closed

[2022-09-24 10:31] tinfoil-knight commented on #5050
@andremoreno Is the repository you're working on public? If not, could you provide a minimal reproducible example?

[2022-09-24 10:38] tinfoil-knight commented on #5080
@damiencornu Can you update the Netlify CLI package to the latest release (`v11.8.3`) & confirm if the issue is still occurring or if it has been resolved?

[2022-09-24 11:55] tinfoil-knight commented on #5015
@swiing I'm not able to reproduce this. I've attached the output I'm getting below.

Is the repository you're working on public? (If yes, could you share it)

Do you have any specific configuration in `netlify.toml`? Also, could you share the CLI version you were using?

[code]

[2022-09-24 13:10] tinfoil-knight commented on #5030
@mclimb I made a simple reproduction similar to how you've described things in [why-arent-my-netlify-functions-finding-a-body](https://answers.netlify.com/t/why-arent-my-netlify-functions-finding-a-body/74661) here: https://github.com/KK-Learning-Gym/5030-no-body (haven't used Next.js though)

I'm able to get the request body. I've attached the terminal output here.

[code]

Could you add me to th

[2022-09-24 13:45] tinfoil-knight commented on #5018
@jmsherry Could you update the Netlify CLI package & try again once? I'm not able to reproduce this issue.

If the issue is still occurring, could you provide a repository in the original state (before running the `init` command)?

[2022-09-25 09:52] andremoreno commented on #5050
@tinfoil-knight yes.. its public..

my repo is https://github.com/andremoreno/www.andremoreno.com
When I try the 'netlify build' it only shows:
`
────────────────────────────────────────────────────────────────
  1. build.command from netlify.toml
────────────────────────────────────────────────────────────────
​
$ hugo
Start building sites …
hugo v0.103.0-DEV-bef31b58aa4c43a4d36fc22397d2344136953

[2022-09-25 09:52] #5050 closed

[2022-09-25 21:57] frederikheld opened #5085 "Broken SPA routing for assets"
### Describe the bug

This has nothing to do with the CLI, it is an issue that occurs when I deploy my app to production on the Netlify platform. I don't know where else to put this, so I put it here.

Your [docs about SPA routing](https://docs.netlify.com/routing/redirects/rewrites-proxies/#history-pushstate-and-single-page-apps) (and all the default answers in your forums and tons of blog posts)

[2022-09-25 22:21] frederikheld commented on #5085
I'm not sure how Netlify handles Vue builds behind the scenes, but all the docs mention `vue-cli` ([1], [2]), but vue-cli is not used in Vue3 anymore in favor of `create-vue` ([3]).

[1]: https://docs.netlify.com/integrations/frameworks/
[2]: https://docs.netlify.com/integrations/frameworks/vue-cli/
[3]: https://cli.vuejs.org/guide/

[2022-09-26 07:47] damiencornu commented on #5080
Yes, newer version did resolve my issue, closing the issue. Thank you for the quick fix @sarahetter!
Feel free to ping me if you need me to test the framework detection feature versus build workflow in the future.

[2022-09-26 07:47] #5080 closed

[2022-09-26 17:32] AndyTurnerNetlify commented on #4511
@lukasholzer @simonepelosi - any progress on this? Noticed this is a security issue, and we try to make sure those don't go dormant. Cheers

[2022-09-26 18:01] AndyTurnerNetlify commented on #4921
@danez - any update on when we might be able to get this resolved?

[2022-09-27 13:04] tinfoil-knight commented on #5082
Closing this as it has been fixed in the linked PR.

[2022-09-27 13:04] #5082 closed

[2022-09-27 18:22] tinfoil-knight commented on #5012
@danez [src/lib/edge-functions/proxy.js](https://github.com/netlify/cli/blob/138681d4709786b38cce632ca018c0a8607fbaf3/src/lib/edge-functions/proxy.js) seems like a good place for implementing this. Specifically, we could do this after the `hasEdgeFunctions` check.

https://github.com/netlify/cli/blob/138681d4709786b38cce632ca018c0a8607fbaf3/src/lib/edge-functions/proxy.js#L89-L96

---

The warning

[2022-09-27 19:19] tinfoil-knight commented on #5015
@jackiewmacharia Do you know how to reset the cache for the packages that the edge functions environment downloads? Would help me in reproducing the error faced by the user above.

I was looking here:

https://github.com/netlify/cli/blob/138681d4709786b38cce632ca018c0a8607fbaf3/src/lib/edge-functions/proxy.js#L163-L179

But couldn't pin-point what to do to clear the cache so that I can receive the

[2022-09-28 16:33] tinfoil-knight commented on #1610
Hey @oristian & @bradeneast, is there any public repository through which I can reproduce the issue?

[2022-09-28 16:51] tinfoil-knight commented on #1820
Hey @nonAlgebraic,

I cloned the reproduction that you linked & ran it. I'm not able to reproduce the issue with `v11.8.3`. The cookie was being set in both cases (with and without the `-e` flag) & I was being redirected to the canada page.

Can you update the `netlify-cli` package once & try this out again?

[2022-09-28 17:03] tinfoil-knight commented on #955
Hey @jbool24 & @ddrake, I was trying to debug this but couldn't reproduce the issue. I'm using `netlify-cli/11.8.3`. Can you update the cli package and let me know if you're still experienced the issue.

I'll close this otherwise.

[2022-09-28 19:57] #1820 closed

[2022-09-28 19:58] nonAlgebraic commented on #1820
@tinfoil-knight  my apologies, I failed to close this issue when we stopped being able to reproduce the problem. Closed now!

[2022-09-28 20:00] tinfoil-knight commented on #1820
@nonAlgebraic No worries. Thank you for reporting & closing the issue.

[2022-09-29 07:38] tinfoil-knight commented on #420
Closing this issue since it doesn't occur any longer. Tested using `gatsby/4.24.0`, `netlify-cms-app/2.15.72` & `netlify-cli/11.8.3` on `node-v16.15.1`.

[2022-09-29 07:38] #420 closed

[2022-09-29 07:40] #5051 closed

[2022-09-29 15:33] tinfoil-knight commented on #5051
@hosainnet Thank you for reporting the issue.

The `dev` command will now respect the `--country` flag so you can properly test out country based redirects.

Update the `netlify-cli` package to `v12.0.1` for the fix.

[2022-09-30 00:02] coelmay commented on #4744
Experience for me, while not as horrific as mentioned above, it still slow, given I have a single directory with a couple of HTML files, CSS, favicon, `_headers`, and `_redirects`, plus `netlify.toml` and `.netlify` directory.

[code]
Subsequent calls a much quicker
[code]

Compare this to Wrangler2
[code]

Running this command throws an error for me
[code]

[code]

Using [this repository](https:/

[2022-09-30 07:36] tinfoil-knight commented on #4603
@kevinsamoei Did you get a chance to check other git providers? If not, I could pick this up.

Do you have a list of git providers that you want me to check before this issue is closed?

[2022-09-30 07:59] kevinsamoei commented on #4603
Sorry haven't gotten a chance yet. These are the providers that Netlify supports:
- Github
- Bitbucket
- Gitlab
- Azure DevOps

While you are at it, could you check that it doesn't raise an error for public repos?
Thanks for looking into this!

[2022-09-30 07:59] kevinsamoei commented on #4603
Sorry haven't gotten a chance yet. These are the providers that Netlify supports:
- Github
- Bitbucket
- Gitlab
- Azure DevOps

While you are at it, could you check that it doesn't raise an error for public repos?
Thanks for looking into this!

[2022-09-30 08:45] eduardoboucas commented on #5015
This is an interesting one. On the one hand, it feels like we should respect `--offline` and not download the Deno CLI or any Deno modules, but that means not being able to run edge functions unless everything has been cached locally.

[2022-09-30 08:54] #4845 closed

[2022-09-30 09:08] danez commented on #4845
Could you try using version 12.0.2 and see if it works better?

[2022-09-30 09:10] danez commented on #3735
Some of these issues should be fixed now as of version 12.0.2. If it still appears please reopen with an example.

[2022-09-30 09:10] #3735 closed

[2022-09-30 09:11] danez commented on #4942
These issues should be fixed now as of version 12.0.2. If it still appears please reopen with an example.

[2022-09-30 09:11] #4942 closed

[2022-09-30 10:32] hosainnet commented on #5051
Awesome that works, thank you so much!

[2022-09-30 16:31] m-jovanovic commented on #5043
@omniphx Did you find any workaround? I'm also affected by this, my deploy pipeline is crashing.

It worked fine up to 5 days ago for me.

[2022-09-30 16:57] paulrudy commented on #4845
It works! Thanks!

[2022-10-01 13:43] m-jovanovic commented on #5043
@tinfoil-knight I'm installing it in my deploy pipeline with `netlify-cli@latest`. When deploying, it's using `@netlify/build 27.18.4`

The trouble is when it reads the build command from `netlify.toml`, instead of using `next build && next export` it defaults to `next build` and then tries to publish from the default output folder which isn't there.

[2022-10-03 11:58] #4655 closed

[2022-10-03 18:54] swiing commented on #5015
@tinfoil-knight , my repo is not public, but I believe it is pretty "standard".

My CLI version: netlify-cli/10.4.0 wsl-x64 node-v16.16.0

Ironically, I actually can't reproduce myself. I guess because I have everything in cache by now.

[2022-10-04 12:57] mikepianka commented on #4921
@danez @AndyTurnerNetlify any update? Thanks.

[2022-10-04 13:27] danez commented on #4921
I think we cannot solve this right now, because there are some dependencies that we cannot yet update because of either ESM compatibility or node version restrictions.

[2022-10-04 13:31] #5049 closed

[2022-10-04 13:35] #5006 closed

[2022-10-04 13:37] brittneypostma opened #5130 "SvelteKit ran with Netlify CLI prompts for duplicated commands"
### Describe the bug

When running `ntl dev` in a SvelteKit project, the CLI prompts for either SvelteKit or Vite commands which both run `npm run dev` which is `vite dev`. Those prompts are redundant and should just run Vite by default.

### Steps to reproduce

1. Run `git clone git@github.com:brittneypostma/sveltekit-cli-bug.git`
2. Navigate to repo
3. Run `ntl dev`
4. See prompts for SvelteKit

[2022-10-04 13:47] brittneypostma opened #5131 "SvelteKit ran with Netlify CLI fails to start"
### Describe the bug

When running `ntl dev` in a SvelteKit project, the server fails to start because it is looking for port `3000`. SvelteKit updated to run `vite dev` and is now running on port `5173` by default. This can be fixed by adding a `targetPort` to the netlify.toml file, but should run port 5173 by default.

### Steps to reproduce

1. Run git clone git@github.com:brittneypostma/svelte

[2022-10-05 13:23] mikepianka commented on #4921
OK thanks for the explanation.

[2022-10-05 13:42] logemann commented on #4942
still get this with:
netlify-cli/12.0.6 darwin-arm64 node-v16.14.2

[code]

only fix is: netlify dev --targetPort 5173

[2022-10-05 21:41] robvanderleek commented on #5049
I see, solves my issue, thanks @danez !

[2022-10-07 11:22] danez commented on #5131
This should work as of version 12.0.7

[2022-10-07 14:31] chinzou commented on #5019
I have the same issue when running:
```npx create-react-app my-app```

error message:

[2022-10-08 10:37] #4630 closed

[2022-10-08 10:37] #4653 closed

[2022-10-11 02:24] Dnmrk4 commented on #5019
I got the same problem creating a new react app today and used `sudo` and worked for me
`sudo create-react-app my-app`

[2022-10-11 21:13] CriticalRange commented on #5019
This fixed it. Thank you
(Imagine updating things without thinking it would break :) )

[2022-10-12 18:15] IoannisKarpasitis commented on #5019
Hi, I have the same issue, tried everything but nothing works. Note that I am in Windows and I try running the terminal as administrator but with no avail.

[2022-10-12 19:49] analiamokbb commented on #5030
Sorry for the late response. It may take awhile before I can setup an example repository, but the more exact environment conditions:

- Next.js 12.3.1
	- No middleware implementations
- Netlify CLI 12.0.8
- @netlify/plugin-nextjs 4.25.0
- axios 0.27.2
	- All axios requests to a netlify function manually configure 2 headers:  `Authorization: Bearer $token` and `Content-Type: application/json`
- Net

[2022-10-13 15:11] cfjedimaster opened #5166 "Systems without IPv6 support crash netlify dev"
### Describe the bug

For a very long time, I used the following to start my Eleventy site:

[code]

A week or so ago, it began throwing an error:

[code]

What's interesting is that the error would throw right away. It didn't wait for Eleventy to start. I confirmed localhost worked via ping, and I could still run eleventy in my directory just fine.

You can see my forum post here: https://answers

[2022-10-13 18:48] analiamokbb commented on #5030
The following repo contains a reproduction of the issue: https://github.com/analiamokbb/next-netlify-example

Axios request can be seen in the [Test](https://github.com/analiamokbb/next-netlify-example/blob/main/components/Test.tsx) component. Note: We do see the issue occurring for both GET and POST requests.

[2022-10-14 19:12] devidw commented on #4744
In devcontainer with pnpm monorepo `netlify` takes around 16 seconds for me:

[code]

***

No

[isolate-0x3c913fb0-94864-v8.log](https://github.com/netlify/cli/files/9789384/isolate-0x3c913fb0-94864-v8.log)

[code]

No

[2022-10-16 11:43] Kyrremann commented on #5030
This seems to be fixed in `v12.0.9`. At least the problem disappeared  when I upgraded from `v12.0.5`.

[2022-10-16 22:23] mordonez commented on #1984
Any updates in this feature? Branch deploys from netlify cli is very useful

[2022-10-17 18:14] brittneypostma commented on #5166
A temporary fix for this is
[code]

I had a similar issue with SvelteKit when it switched to Vite's `5173` port. The framework info needed to be updated in the json file.

[2022-10-17 18:22] #5131 closed

[2022-10-17 18:27] brittneypostma commented on #5166
Oh, that's odd. I think what happened and why it started working when you changed to static is that it stopped detecting the framework with [eleventy.json](https://github.com/netlify/framework-info/blob/main/src/frameworks/eleventy.json). I'm not familiar with Eleventy, do you notice anything wrong with the json file?

[2022-10-17 18:29] brittneypostma commented on #5130
Seems to be fixed on latest version.

[2022-10-17 18:29] #5130 closed

[2022-10-17 18:40] cfjedimaster commented on #5166
Well that's the thing - it *did* detect Eleventy. I saw that in the output, but it didn't fire it up like it used to.

[2022-10-17 20:29] danez commented on #5166
Can you please test with version 12.0.10? This new version should show the underlying error in this case, because if it instantly throws that means something went wrong before it even started to wait for the port.

[2022-10-17 21:30] cfjedimaster commented on #5166
Big paste coming in.

[code]
I really think the 'localhost cant be found thing' is a misfire, and this is the important bit:

[code]

Previously, the CLI would use my `-c` to fire up Eleventy.

[2022-10-18 08:57] danez commented on #5166
I was able to reproduce this on Ubuntu with IPv6 completely disabled. I will start creating a fix for this.

Can you confirm that IPv6 is disabled on your machine?

[2022-10-18 10:53] #5166 closed

[2022-10-18 11:33] danez commented on #5166
This should be solved with 12.0.11.

If the problem persists please reopen.

[2022-10-18 11:36] danez commented on #5019
Please report this to termux or npm. I don't think we can do anything about this in the netlify-cli here.

[2022-10-18 11:36] #5019 closed

[2022-10-18 13:05] cfjedimaster commented on #5166
I used the techniques here, https://www.golinuxcloud.com/linux-check-ipv6-enabled/, and from what I can tell, IPv6 is *not* disabled, but, I updated, and everything works now, so the problem is fixed. :) Thank you.

Oh, as an aside, `nslookup localhost` returned something weird:

[code]

Should I be concerned?

[2022-10-18 13:29] danez commented on #4601
We do not yet support pure ESM modules in netlify functions. Currently, it will all be compiled to commonjs.

Supporting this is on our roadmap though.
Ref: https://github.com/netlify/zip-it-and-ship-it/issues/750

[2022-10-19 05:41] jasoncarrillo0 commented on #5030
I upgraded to `v12.0.9` and it did not fix the problem for me.

[2022-10-19 06:45] jasoncarrillo0 commented on #5030
I upgraded to `v12.0.9` and it did not fix the problem for me, it definitely is a bug. I created a workaround that isn't "hacky": just use queryStringParameters instead of sending JSON. I verified it works on both local development and production environments.

Example:

    const json = { username: "me" };
    const searchParams = '?' + new URLSearchParams(json).toString();
    const response = a

[2022-10-20 09:29] hongchiong commented on #5030
This issue has been bothering me for weeks. I got it to work by downgrading netlify-cli to version 10.
`npm i -g netlify-cli@10`

[2022-10-21 08:07] danez opened #5181 "Better error message when deno is not supported on current system"
### Which problem is this feature request solving?

Currently it displays this:

<img width="1413" alt="screenshot_2022-10-18_at_11 31 13" src="https://user-images.githubusercontent.com/231804/197145712-4daca977-9083-4f34-acae-5deafbe0b53e.png">

### Describe the solution you'd like

Instead display just a warning that edge functions will not work on the current system.

Deno only works on
x64 on

[2022-10-21 08:21] danez commented on #4453
Does anyone of you two have a repo with a remix project where I can test this?

[2022-10-21 14:20] tinfoil-knight commented on #5030
@jasoncarrillo0 Was this only for `GET` requests or for `POST` requests too?

[2022-10-21 14:26] jasoncarrillo0 commented on #5030
@tinfoil-knight only used with `GET`, but netlify functions don't seem to care which REST method you use

[2022-10-21 14:28] tinfoil-knight commented on #5030
@jasoncarrillo0 This might not be related to Netlify CLI. Most client-side libraries (on the browser) just don't support sending a request body with `GET` requests. Could you update the Netlify CLI package & try again with a `POST` request using fetch?

[2022-10-21 15:18] bennofatius opened #5182 "Netlify dev stuck in Miro React app (using Vite)"
### Describe the bug

Trying to run `netlify dev` command with a Miro React app (which uses vite 3.0.3), it gets stuck at:

` vite preview

  ➜  Local:   http://localhost:4173/
  ➜  Network: use --host to expose
`

Based on researching this problem, I've already tried:
- using all kinds of different node versions (esp. 16, as suggested by many)
- using different targetPorts (such as 5173)

None of

[2022-10-21 16:42] tinfoil-knight commented on #5182
@bennofatius Could you try using `netlify dev --command "npm run start"` & see if that works for you.

The CLI seems to be auto-detecting `vite` as the framework & applying its settings which is causing the issue.

---
You can specify the command permanently in the `netlify.toml` configuration file like this:
[code]

See https://docs.netlify.com/configure-builds/file-based-configuration/ for more

[2022-10-21 18:12] yplaxma opened #5183 "Error upon serverless function trigger in netlify dev"
### Describe the bug

In a netlify dev environment, whenever one of the serverless functions is triggered I get:
`Request from ::1: GET /.netlify/functions/posts`

Followed by
`C:\Users\...\AppData\Roaming\npm\node_modules\netlify-cli\node_modules\netlify-redirector\lib\redirects.js:1`

Then a string of the file itself (redirects.js, no need to put the whole thing here I think)
Then:
[code]

### S

[2022-10-24 07:30] bennofatius commented on #5182
Hi, thanks for replying! This did not solve the issue – still stuck at:

  ➜  Local:   http://localhost:4173/
  ➜  Network: use --host to expose

 I can open the Vite preview at port 4173, but it's supposed to proceed to hosting on port 8888 with Netlify function injected, no?

[2022-10-24 07:50] tinfoil-knight commented on #5182
@bennofatius You shouldn't be getting the `vite preview` command in the logs.

[code]
^Creating the new miro app produce a `package.json` file with the `scripts` section as above.

The `vite preview` command doesn't really work for me (even without Netlify CLI) but the `vite` command works fine.

Using `netlify dev --command "npm run start"` should cause only the `vite` command to run & not `vite

[2022-10-24 08:15] bennofatius commented on #5182
It's working now, thank you! Oddly enough my "scripts" were defined like that already, but may have been unsaved?  So the combination of setting the "scripts" in package.jso as mentioned above, and using "netlify dev --command "npm run start", solves this issue.

[2022-10-24 08:15] #5182 closed

[2022-10-24 10:03] danez commented on #5183
I got it working by updating all dependencies (especially prisma)

[code]

And also running `npm exec prisma migrate deploy` before running netlify dev to initialize the database.

Let me know if that helps.

[2022-10-24 11:41] tinfoil-knight commented on #5182
@nickytonline

This issue was mainly occurring because framework detection was recognising it as `Vite` & suggesting `npm run serve` as the dev command due to the order here:

https://github.com/netlify/framework-info/blob/6e19105dbef40c75f55004376ee8baa56a071674/src/dev.js#L61-L64

Weekly downloads for [create-miro-app](https://www.npmjs.com/package/create-miro-app) seem very low so I'm letting t

[2022-10-24 22:47] relandboyle commented on #4845
@paulrudy FWIW - In my case the issue was that I had killed the app while there was a type error causing it to fail to compile. I forgot about this when I tried to fire it up the next morning. I finally realized my error after a couple of hours of installing every possible combination of Node version, Netlify version, and Angular CLI version.

It's embarrassing, but maybe it's worth posting if thi

[2022-10-25 18:29] MykalMachon commented on #4845
updating to the v12.0.2 of netlify-dev solved this for me as well. Very odd because it was only my astro sites that were experiencing issues. Thanks for all the hard work ♥

[2022-10-26 16:36] tinfoil-knight commented on #4603
@kevinsamoei

- Github is not relevant since it uses the Github App as stated by you. It was also tested earlier by me.
- On GitLab, error is thrown for both private & public repos. Log can be seen in the comment above. (https://github.com/netlify/cli/issues/4603#issuecomment-1253744800)
- On Bitbucket & Azure Devops, **no error** is thrown for private & public repos. CI/CD seems to be configured

[2022-10-26 16:54] McJoe21 commented on #5019
[code]

Latest version

[2022-10-26 19:13] brittneypostma opened #5190 "SvelteKit local development with CLI is not loading CSS"
### Describe the bug

When running `ntl dev` locally in a SvelteKit application, the CSS bundle 404s and does not apply any CSS to the application. (See screenshot)

![image](https://user-images.githubusercontent.com/45889730/198115308-9245fd70-33f5-4849-a54f-b3bb66a58103.png)

### Steps to reproduce

1. Have a SvelteKit app locally or create a new sveltekit app `npm create svelte` and follow prom

[2022-10-26 21:42] kyllerss commented on #4873
Sadly the issue seems to have returned. I have more information and a minimal reproduction of the issue. What I am observing is that a post request is being directed to the background job instead of the POST handler to which it was intended.

Here is the minimal reproduction: https://github.com/kyllerss/netlify-issue-4873

The [README.md](https://github.com/kyllerss/netlify-issue-4873/blob/main/RE

[2022-10-27 22:06] fostimus commented on #948
this would be great, we could also use this

[2022-10-28 10:27] SeytkhanB commented on #5131
Oh my god! You saved me. thanks a lot!

[2022-10-30 12:22] tinfoil-knight commented on #5043
@m-jovanovic Sorry for the delayed response.

I tried this out today with `netlify-cli/12.0.11` & `next/13.0.0`.

- Created the default app with `npx create-next-app@latest`
- Changed the `"build"` script in `package.json` to `next build && next export`
- Added a `netlify.toml` file with:

[code]

The static build is working for me. An `out` directory is created with all the files.
Can you update

[2022-10-30 12:27] m-jovanovic commented on #5043
Hey @tinfoil-knight, it sorted itself out after a few days. Once one of the packages was updated.

[2022-10-30 12:36] tinfoil-knight commented on #5043
@omniphx Could you add the build command config in `netlify.toml` and check? In case of missing configuration, Netlify CLI might be defaulting to the `next build` command.

[code]

[2022-10-31 20:47] tinfoil-knight commented on #4569
@eduardoboucas

Currently, hot-reload is not working for a lot of frameworks which is preventing people from upgrading beyond `netlify-cli/v9.16.7`.

Related Issue: https://github.com/netlify/cli/issues/4727

I'm not able to make further progress on the issue & thus tagging you here. I've narrowed the bug down to a single function.

---

The error is originating in this PR: https://github.com/netl

[2022-10-31 22:33] captainnurple commented on #4569
Can confirm this is an issue with Nuxt apps as well. netlify-cli v10+ fails to hot reload on functions port 8888 even when underlying nuxt dev server is hot reloading fine.

[2022-11-01 12:41] tinfoil-knight commented on #3947
Closing since this has been implemented.

[2022-11-01 12:41] #3947 closed

[2022-11-02 09:45] Skn0tt commented on #4569
I'll be looking into this. Thanks a lot @tinfoil-knight for looking into this so thoroughly, this helps tremendously! My suspicion is that the buffering happening in https://github.com/netlify/cli/blob/1ab07f090dffaab8a0c2fa47beee89bc685f6c27/src/utils/proxy.cjs#L383 breaks websockets / event streaming, which HMR relies on. I'll see how we can get this fixed.

[2022-11-03 14:06] sajanbasnet75 opened #5201 "Starting Netlify Dev with Hydrogen is stucked on Waiting for framework port 3000"
### Describe the bug

after running netlify dev for a hydrogen project it gets stuck

![Screenshot from 2022-11-03 19-40-14](https://user-images.githubusercontent.com/22407698/199740767-dd41c812-f872-4f03-a471-3e6e63946a41.png)

```netlify-cli/12.0.11 linux-x64 node-v16.17.1```

same problem if i do netlify dev --targetPort 3000

``` It works if I run , yarn run dev and netlify dev in parallel```

[2022-11-04 15:58] #5183 closed

[2022-11-04 17:47] tinfoil-knight commented on #4569
Verified that HMR is working using `netlify-cli/v12.1.0` with `gatsby/4.13.0` post the fix in https://github.com/netlify/cli/pull/5200

[2022-11-04 17:47] #4569 closed

[2022-11-04 17:55] tinfoil-knight commented on #4727
@mkummer225 Please update `netlify-cli` to `v12.1.0`. HMR should work for Nuxt now.

---
Note for maintainers: This issue was fixed in https://github.com/netlify/cli/pull/5200

[2022-11-04 17:55] #4727 closed

[2022-11-07 18:51] tinfoil-knight commented on #5201
Hey @sajanbasnet75, I tried using `netlify dev` with a hydrogen project & it was working fine for me.

Is the repository you're working on public? If not, could you create a minimal reproducible example to help me debug the issue you're facing?

[2022-11-08 00:41] nth-child commented on #3617
Fails for me using nvm to install node 16.16.0
[code]

[2022-11-08 00:49] nth-child commented on #3617
Fails for me using nvm to install node 16 (all releases)
[code]

[2022-11-08 00:50] nth-child commented on #3617
Fails for me using nvm to install node 16 (all releases)
[code]

[2022-11-09 04:22] jasiqli commented on #5085
The appropriate place is Netlify Forums: https://answers.netlify.com/

[2022-11-10 13:33] SteveALee opened #5221 "ntl dev fails in cli 12.1.1"
### Describe the bug

Any attempt to build `ntl dev` with 12.1.1 results in error. works fine ins 12.1.0

[code]

Here's an example [netlify.toml](https://github.com/w3c/wai-authoring-tools-list/blob/master/netlify.toml)

### Steps to reproduce

grab the repo linked above and run `ntl dev`

### Configuration

see above

### Environment

see above

[2022-11-11 12:19] #4724 closed

[2022-11-12 07:18] jasiqli commented on #4943
Closing as not important to me any more.

[2022-11-12 07:18] #4943 closed

[2022-11-13 22:48] xania opened #5225 "Breakpoints in VS Code fail after reload"
### Describe the bug

First time setting breakpoints in my typescript source file works well but after modifying the file then breakpoint are not hit anymore

### Steps to reproduce

Using VS Code, and running `npx netlify dev` in `JavaScript Debug Terminal`, I am able to hit breakpoints set in my handler functions, but after changing my typescript source file and the dev server is reloaded then t

[2022-11-13 23:08] xania opened #5226 "Reload page after save"
### Which problem is this feature request solving?

Everytime after changing my function I have to switch to browser and hit F5 to see my changes, there is no way I could find to trigger reload on client (tell vite to reload the page).
Eventually I tried this ugly solution to refresh automatically

`vite.config.ts`
[code]

### Describe the solution you'd like

in my solution above I `touch` a file

[2022-11-14 06:48] thedavidthomas commented on #5030
I ran into the same issue `netlify functions:serve` has a body for POST requests as expected
However when using`netlify dev` or `netlify dev --live` the event.body is undefined.

[2022-11-14 06:58] tinfoil-knight commented on #5030
@thedavidthomas Are the requests made by your website to the functions `GET` requests? If yes, could you change them to one of these HTTP request methods: `PUT`, `POST`, `DELETE`, and `PATCH` & see if you're still experiencing the issue?

[2022-11-14 07:06] thedavidthomas commented on #5030
Hi @tinfoil-knight

netlify-cli/12.1.1 darwin-x64 node-v16.17.0

I'm using the `POST` method

my simple function takes the body and returns it in the response
[code]

with `netlify dev`
<img width="957" alt="Screen Shot 2022-11-14 at 3 03 22 pm" src="https://user-images.githubusercontent.com/2648750/201596116-be79ac35-db5f-42c4-bb51-b09e6183f1ca.png">

with `netlify functions:serve`
<img width="95

[2022-11-14 14:25] lemusthelroy commented on #3906
To resolve this, I wonder if we could cache the mutations in the `.netlify` folder. Then when the `ntl dev` or `ntl deploy` command is run, we can include those mutations in the arguments that are passed to the build function that runs.

[2022-11-14 14:27] lemusthelroy commented on #3906
I agree with the suggested solution on this.

[2022-11-16 00:37] nickytonline opened #5232 "Add missing mock geo data"
## Description

There is work being done to resolve https://github.com/netlify/pod-ecosystem-frameworks/issues/305 but for local development, the mock geo data is missing for `longitude`, `latitude`, and `timezone`.

[2022-11-16 14:21] #5232 closed

[2022-11-16 16:55] maxmillionbeatz opened #5234 "7 severe vulnerabilities"
### Describe the bug

version 12.2.0 is giving me a bunch of severe vulnerabilities after adding the pack.

### Steps to reproduce

1.) npm install netlify-cli --save-dev

### Configuration

_No response_

### Environment

  System:
    OS: macOS 12.3.1
    CPU: (8) x64 Apple M1
    Memory: 34.59 MB / 8.00 GB
    Shell: 5.8 - /bin/zsh
  Binaries:
    Node: 18.4.0 - /usr/local/bin/node
    Yarn: 1.

[2022-11-17 19:00] sean-roberts opened #5544 "onPreDev and onDev not not applying netlifyConfig changes"
### Describe the bug

Modifying the netlify config during onDev/onPreDev are not being reflected on the dev output. So, if I update the headers during the event it will show that the headers are updated via the output, but the changes aren't reflecting.

When doing this process within onPreBuild, the functionality works as expected

### Steps to reproduce

`plugin.js`
[code]

### CLI command and f

[2022-11-18 18:19] tinfoil-knight commented on #5030
@thedavidthomas That's a bit strange. I wasn't able to replicate this on my end. Create a simple function to return the request body as you've suggested & I'm getting the expected response for both `dev` & `functions:serve`.

Could you share a repo with the reproduction of the issue?

[2022-11-18 21:17] marquez138 commented on #5030
any luck on getting this fixed? having the same issue - Thanks

[2022-11-18 23:12] danez commented on #5234
This is an issue we are aware of, see #4921

[2022-11-18 23:12] #5234 closed

[2022-11-19 11:29] tinfoil-knight commented on #5030
@marquez138 I'm having trouble reproducing this issue. If you could provide a public repo with a reproduction of the issue, that'd be great.

[2022-11-19 12:28] tinfoil-knight commented on #4489
@charliegroll I used a `preinstall` script to check for valid NodeJS version using the `engines` property present in the `package.json`. Works fine. I've attached the install log below.

Note: I changed the engines.node value to intentionally trigger the error.

See the `Netlify CLI requires node version >=17.0.0 ; Current version is v16.17.1` line.
[code]

Should I create a PR for this?

[2022-11-21 16:16] #5221 closed

[2022-11-21 17:09] jlengstorf opened #5255 "Unable to use `ntl init` — can't locate system files to do a full reset"
### Describe the bug

I've had a weird issue with the CLI where I can't use `ntl init`. Whenever I try to initialize a site from within my GitHub org (`learnwithjason`) I get the error:

[code]

I have logged out, logged in again, and made sure that my account has the right permissions. It's all there.

I have a suspicion that this is due to the files the CLI creates on my computer to track tokens

[2022-11-21 18:53] danez commented on #5221
This is fixed in 12.2.6

[2022-11-22 20:10] lemusthelroy commented on #5255
Unfortunately I'm not able to replicate. I will dig a little deeper into the error above and the `init` command to see if I can understand why it may fail.

[code]

[2022-11-22 20:18] lemusthelroy commented on #5255
One quick fire suggestion on this is to maybe create a new access token for your GitHub CLI. Once that's configured, go through the repro steps again and see if you get the same error. I'll have a further investigation to see if I can give more precise advice.

[2022-11-22 20:22] meera1002 opened #5260 "I have a Docker file and I get the following error when I run the install command"
### Describe the bug

I am using nvm manager for installing node. That is working fine and it also works with the other packages as well. But npm install netlify-cli giving me the following error. I am using Debian and node 18. I tried with node 16 too but its not working . But the same code working fine with node 14

[code]

### Steps to reproduce

`npm install -g netlify-cli`

### Configuration

[2022-11-22 22:59] jlengstorf commented on #5255
@lemusthelroy I just created a new token (`gh auth logout`, `gh auth login`) and verified that the token did indeed change.

Same error when using `ntl init`.

I also just validated that we don't remove all files when uninstalling. I ran `npm uninstall -g netlify-cli`, then reinstalled and I was still logged in — I'm pretty convinced the problem is related to me having multiple instances of these