[2020-02-03 12:10] hacknug commented on #689
I'm also getting the error on macOS after a successful build running `netlify dev -c "yarn build"`

[2020-02-03 14:29] amiroff commented on #667
Looks like netlify-cli@2.31.0 broke it again :/

[2020-02-03 17:03] andwilr commented on #331
I am having this same issue. Within Netlify the repo is a relative path, which is then not found.

stored as:
[code]
as opposed to the correct repo URL:
[code]

What can be done? Is there a manual way to set the repo url?

[2020-02-03 18:38] gr2m opened #694 "Following CONTRIBUTING.md instructions for testing results in test errors"
Hello there 👋

I'm the maintainer of [`@octokit/rest`](https://github.com/octokit/rest.js/). I'm looking to test [the upcoming v17 release](https://github.com/octokit/rest.js/issues/1546) with a few dependents to catch errors before you do 😉 I've tried setting up your respository using the instructions at https://github.com/netlify/cli/blob/master/CONTRIBUTING.md, but I see a lot of errors

<detai

[2020-02-03 19:45] miohtama opened #695 "Netlify dev server hangs if function returns 404"
This is a bug report.

Netlify dev server hangs when returning status code 404. This occurs when used with Eleventy dev server, though I am not sure if this is related.

I suspect this is somehow related to proxy behaviour - maybe there is some kind of conflict between servers handling 404.

1. Set up Elventy + Netlify dev as instructed here https://github.com/philhawksworth/eleventyone

2. Create

[2020-02-03 22:52] elijahseedarita commented on #689
I found a solution for Nuxt - with NPM, you need to have a dev script in package.json which runs "nuxt dev". I didn't have this script because I start my nuxt projects from scratch. Adding it fixed the issue

    {
        "scripts": {
            "dev": "nuxt dev"
        }
    }

It might be a good idea to have the nuxt detector work independently from user defined scripts.

[2020-02-04 08:18] alejo4373 commented on #667
Can confirm netlify-cli@2.31.0 hangs as described above. 👍 If you are encountering the same issue.

[2020-02-05 00:05] jarkin13 commented on #404
I tried using `netlify-lambda` and although this definitely does not crash as often and when it does I don't need to recompile my entire react project every time. However, there are a lot more items you need to reconfigure.

1.  I needed to move my functions
2. ENV variables from your netlify project are no longer available. I spent 30 minutes trying to figure it out and moved on
3. Then you need

[2020-02-05 06:49] zemse opened #696 "netlify: command not found"
From the docs I tried doing:
`npm i -g netlify-cli`

[code]
Environment versions:
[code]
I've tried restarting my macbook. I couldn't find a similar issue which means this might be very uncommon. Can someone tell me how can I add netlify to my PATH, so that it will work?

[2020-02-06 03:10] iamskok commented on #405
@trevorblades thanks for updating your answer! This should solve my problem.

[2020-02-06 08:35] maximilianschmid commented on #312
GREAT!

[2020-02-06 11:30] jackleslie commented on #521
I'm getting this same issue @samajammin

[2020-02-06 22:42] tr1s opened #698 "Depending on the Gatsby version, the Netlify CLI UI breaks (long standing issue)"
## Description

I've been having this UI issue for so long now, I posted this in [gatsby's issue list](https://github.com/gatsbyjs/gatsby/issues/21251) as well.

**Issue:** The Netlify CLI UI get's cut off by an "In Progress" bar that just sits there even though it's completed, cutting off the green "Server now ready on localhost:8888" section.

This issue doesn't happen when running the `gatsby d

[2020-02-07 02:40] jlengstorf commented on #698
this is happening on the repo I'm using for my Frontend Masters "Introduction to the JAMstack" course, which is scheduled to be released soon

if we could get this fixed before that goes live, that would probably help us avoid a lot of confusion for new folks trying Dev out

[2020-02-07 13:59] Eddie-CooRo commented on #431
Hey @sw-yx
Any updates about this?
We recently upgraded our account to be able to use the `shared environment variables` feature, included in the pro plan. But unfortunately, I found out that netlify-dev doesn't support this feature yet.
I was able to make it work by tweaking some parts of the `addEnvVariables` function. I'm going to open a PR for it today; it'll be great if you can find time to r

[2020-02-07 14:21] Eddie-CooRo opened #700 "`netlify api` Command doesn't work when you don't pass the data flag to it"
**- Do you want to request a _feature_ or report a _bug_?**
_bug_/_feature_

**- What is the current behavior?**
I don't know if it's intended or not (it seems like it is, but I can't find out why). but the `netlify api` command doesn't work at all when no data is passed to it. I've struggled with it a lot until I found that I need to pass a JSON even when the API endpoint doesn't need it (for exa

[2020-02-08 16:47] tr1s commented on #698
@jlengstorf I'd be curious to see if yours get's fixed when switching to the same Gatsby version `2.15.17` that fixed mine.  Either way it looks like this got handled 😌

[2020-02-08 17:54] erquhart commented on #698
Fixed in 2.32.0. Bit of a hack, though, we’re forcing Gatsby to use their backup logger. Should be able to stop doing that when https://github.com/gatsbyjs/gatsby/issues/21251 is resolved.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-02-08 17:54] #698 closed

[2020-02-09 02:00] LynnKirby opened #705 "Some rewrites shadow static files by default"
**- Do you want to request a _feature_ or report a _bug_?**

Bug.

**- What is the current behavior?**

Rewrites shadow static files (i.e. serve the rewrite rule instead of the file) without the `!` or force setting when rewriting to non-HTML files or to `/404.html`. For example:

[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**

Add `index.html` and `404.html

[2020-02-09 12:38] aimee-gm commented on #696
Hi have experienced the same, but if you install `netlify-cli` as a devDependency, you can then use `yarn` or `npx` to run `netlify`.

[2020-02-09 22:12] marcus13345 opened #706 "ESRCH on any command run from netlify dev (macos)"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**
[code]
## `netlify.toml`
[code]

## `package.json`
[code]

Then run
[code]

**- What is the expected behavior?**

netlify will list directories and serve nothing, but not break.

**- Local Environment Information

[2020-02-10 15:03] mrlubos opened #707 "Using ES syntax with Netlify Functions and Netlify Dev?"
**- Do you want to request a _feature_ or report a _bug_?**
Feature.

**- What is the current behavior?**
Unable to get the ES syntax working with Netlify Functions when deployed using Netlify Dev. Netlify will either complain about unsupported `import` statement, or when I change my functions to use the `.mjs` extension and add `type: "module"` to `package.json`, it will say the function cannot b

[2020-02-10 15:12] jgarber623 commented on #316
As of 2020-02-10, the observed behavior is slightly different, but not yet resolved:

[code]

netlify-cli: 2.32.0
macOS: 10.15.3
node: 13.8.0
npm: 6.13.7

[2020-02-10 22:30] fool commented on #667
We are still getting more reports in community of this with 2.31.0:  https://community.netlify.com/t/deploy-is-stuck-from-cli-web/8702

[2020-02-10 22:31] fool commented on #667
(Reopening this bug, since it appears to be affecting current version)

[2020-02-11 00:12] sw-yx commented on #694
hey @RaeesBhatti, @erquhart, @ehmicky, this might be a good one to keep on top of as it will probably be relevant for Netlify Build.

[2020-02-11 02:29] jlengstorf commented on #698
cc @1marc this should help avoid confusion with CLI output 🎉

[2020-02-11 22:56] trevorblades commented on #444
@sami616 I posted a comment in a different issue (https://github.com/netlify/cli/issues/405#issuecomment-563105485) about my solution for this problem. In short, I set `_DEV` and `_PROD` environment variables in the Netlify interface, and then conditionally use one over the other based on `process.env.NETLIFY_DEV`, which is `true` when you're running `netlify dev` and `false` when deploying for pr

[2020-02-11 23:06] trevorblades commented on #474
An alternative technique that I've been using recently is setting my `_DEV` and `_PROD` environment variables in the UI, and then switching on `process.env.NETLIFY_DEV` in my lambda function, which is `true` when I'm using `netlify dev`.

[code]

I don't know how well-documented this `NETLIFY_DEV` env variable is, but it's a life saver!

[2020-02-12 00:18] fjeddy commented on #444
@trevorblades This has already been mentioned, and it doesn't. It's just a workaround, a workaround that shouldn't have to be there.

[2020-02-12 12:38] zemse commented on #696
Thank you very much, I am now able to do it for now. But what causes this problem?

[2020-02-12 13:30] kaladivo commented on #580
What resolved this issue for me was to run `killall node`.

[2020-02-13 14:14] 0Ky commented on #667
Running _**'netlify-cli/2.32.0 linux-x64 node-v13.7.0'**_ and I can confirm that it hangs at _**'waiting for deploy to go live...'**_ after prompting the command `netlify deploy`.

[2020-02-14 03:12] jhull commented on #455
Wondering the update on this...it's February 2020...

[2020-02-14 12:34] likanzhan commented on #667
Could you let me know how can I roll back to version `2.21.0'?, Thanks

[2020-02-15 01:29] codex-zaydek commented on #667
`netlify-cli/2.32.0 darwin-x64 node-v13.8.0` same here. Will continue to use the web app for now.

[2020-02-15 01:58] codex-zaydek commented on #175
Hey @sw-yx, I’m not understanding the nuance of a trigger versus a deploy?

Is there a way I can have Netlify simply ship the `build` folder from my GitHub instead of having them download my yarn project and build it everytime? (This is slower than desired because I’m using playwright — large binary — for e2e testing)

[2020-02-15 02:00] codex-zaydek commented on #175
[This looks related](https://github.com/netlify/cli/issues/23) but I’m not sure the feature was added or not. 🤷‍♂️

[2020-02-15 03:40] sw-yx commented on #175
sorry, no I don't think so. just have to re trigger in UI.

[2020-02-16 19:50] fredjens commented on #537
Any updates on this?

[2020-02-16 22:40] whssports commented on #537
Sadly.. no. I gave up on it. It wasn't worth the hassle hoping someone would reply with how to do it, and I have since gone to just deploying a complete solution for my own stuff rather than rely on what may or may never be a solution from netlify.

[2020-02-17 06:33] attaboy opened #709 "Adding 775 redirects causes local development server to fail with memory error"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
I have a `netlify.toml` file with about 775 redirect rules in it. (I have a blog that used to be PHP and I want to redirect to .html — this is to work around the lack of support for filename wildcards.) I'm using jekyll to build the site.

This works fine in the production environment, but with the

[2020-02-17 07:20] christopheragnus commented on #404
Any updates on resolving this?

[2020-02-17 07:22] christopheragnus commented on #404
EDIT: tested this on Node 12, and it seems to only happen on Node 13.

[2020-02-17 07:59] mraerino commented on #709
It would be great if you could show an example of such a redirect.
Did you know that Netlify allows you to access any html file without its file extension?

[2020-02-17 10:04] whalesingswee commented on #667
`netlify-cli/2.32.0 darwin-x64 node-v12.14.0` having issues as well. Stucked in **Waiting for deploy to go live**.

[2020-02-17 15:14] attaboy commented on #709
The redirects all look like this:

[code]

If there was a way to write regular expressions or wildcards with extensions,  I’d do that, but AFAICT doing it one at a time is the only way to do what I want.

Ah so perhaps I should redirect to remove the extension! I did not know that. However the problem I’m solving here is that I’m migrating a PHP site where all the public URLs used to end in `.php`

[2020-02-18 04:14] drzax commented on #404
There's some chance this is a different problem, but I was running into similar issues.

[code]
and

[code]

The latter seemed to occur when I was too quick to refresh the function invocation after restarting `netlify dev`.

The error, in the end, looks like being that I was calling a callback function from an async handler. The line https://github.com/netlify/cli/blob/aea57cb0d06b7341cd72f4aaa361

[2020-02-18 11:18] fredjens commented on #537
I see... Think I am going to switch back to JS for my functions... To much hassle to run them locally (Docker++)...

[2020-02-18 22:19] kaganjd opened #711 "[Feature request] 4096-bit SSH key with manual deploy"
**- Do you want to request a _feature_ or report a _bug_?**
Request a feature- add a way for users to get a 4096-bit SSH key

**- What is the current behavior?**
Users who need 4096-bit SSH keys because of requirements from self-hosted GitLab instances cannot deploy with `netlify deploy --manual` because the API call ([here](https://github.com/netlify/cli/blob/e531e24e70276fc262e1de68163561b224685

[2020-02-18 22:25] kaganjd commented on #711
Moving this to the bitballoon repository

[2020-02-18 22:25] #711 closed

[2020-02-18 23:52] mraerino commented on #709
maybe you want to call your new files like `/archives/2012/12/000123.php.html` until we figured this out?

[2020-02-19 08:18] mbj36 opened #712 "Enable Git Gateway and Netlify Identity through API"
Is there a way to enable git gateway and Enable identity through netlify api ?

[2020-02-19 10:15] mraerino commented on #712
For git gateway it is possible:
`netlify addons:create git`

i'm not sure why exactly, but `netlify addons:create identity` **does not work** in the CLI.
If you need to know more, maybe head over to community.netlify.com

[2020-02-19 18:31] #405 closed

[2020-02-19 18:31] #444 closed

[2020-02-19 18:31] #457 closed

[2020-02-19 18:31] #474 closed

[2020-02-19 18:34] #559 closed

[2020-02-20 00:40] attaboy commented on #709
Heh, I did not consider that idea. Clever!

My production site is working just fine with all the redirects in place, so I'll leave it for now. I can probably just disable the redirects when I want to test the site locally.

[2020-02-20 06:27] michalhudecek opened #716 "Console.log no longer working in netlify-cli/2.35.0"
Console.log used to work in previous versions. After updating to 2.35.0, console.log statements no longer show.

[2020-02-20 06:31] michalhudecek opened #717 "MaxListenersExceededWarning shows every time I call a function"
```(node:12448) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 resize listeners added to [WriteStream]. Use emitter.setMaxListeners() to increase limit```

![image](https://user-images.githubusercontent.com/1215304/74907015-d4575a00-53b2-11ea-825e-48cca8879d87.png)

I am using netlify-cli/2.35.0 . It was showing in previous versions as well though.

[2020-02-20 12:35] RaeesBhatti commented on #700
Seems like the PR fixed this one. Thanks @Eddie-CooRo

[2020-02-20 12:35] #700 closed

[2020-02-20 12:36] RaeesBhatti commented on #716
Hey @michalhudecek, can you give an example of this! Do you mean the console.logs in Netlify Cli codebase or your site generator or Netlify Functions?

[2020-02-20 12:37] RaeesBhatti commented on #717
Hey @michalhudecek Can you fill out the following:

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Local Environment Information**
Paste the results of `netlify status --verbose` and `netlify version` here

[2020-02-20 12:40] lukasluecke opened #719 "Netlify Dev --live not working"
**- Do you want to request a _feature_ or report a _bug_?**
Report a Bug

**- What is the current behavior?**
Requests to the live url result in a blank page due to weird jumbled source-code:
[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**
- `yarn create react-app`
- `netlify init`
- `netlify dev --live`

**- What is the expected behavior?**
See the same page

[2020-02-20 12:43] michalhudecek commented on #716
Sorry, I mean in Netlify functions. When I run `netlify dev`  I used to get console.log output from netlify functions when they were called. Now I do not get anything. I tried various functions I have it is the same everywhere.

[2020-02-20 12:46] michalhudecek commented on #716
Here is a screenshot of the console. The function is successfully called but no console.logs show anymore.

![image](https://user-images.githubusercontent.com/1215304/74934788-40ec4c00-53e7-11ea-913a-87587bd0fe77.png)

[2020-02-20 12:51] lukasluecke commented on #719
After I removed all the comments and `%PUBLIC_URL%` stuff from the `index.html` (which was the default shipped with `create-react-app`!) I at least get a valid HTML page:

[code]

But now the JS files can't be loaded.

[2020-02-20 13:08] Philip-Owen commented on #716
Having the same issue here. Console logs from within exports.handler are not showing up in the terminal. I'm using netlify-cli/2.35.0 as well.

[2020-02-20 15:00] chs242 commented on #689
Hey I'm having the same issue on 2 templates that i deployed straight from netlify CMS. the awake-template which uses nuxt and the netlify-cms-template-for-gridsome which uses gridsome. For both these templates I cloned the github repo and tried to open a dev server using the netlify dev command. Both times the same issue mentioned above occurred. I hadn't fiddled with any code and I made sure I w

[2020-02-20 17:05] iChris opened #720 "Error installing Netlify CLI on macOS Catalina 10.5.3"
**- Do you want to request a _feature_ or report a _bug_?**

Report a bug

**- What is the current behavior?**

Trying to install Netlify CLI using `npm install netlify-cli -g`

Error code: https://d.pr/n/GakcpO

**- If the current behavior is a bug, please provide the steps to reproduce.**

Above is what I did in Terminal.

**- What is the expected behavior?**

Successful install of Netlify CLI (

[2020-02-20 17:12] fool commented on #720
Can you install other NPM packages successfully, @iChris ?  Looks like general npm permissions issues, rather than anything specific to our package.  For instance, can you `npm install chalk-cli -g` without similar installation errors?

[2020-02-20 17:38] iChris commented on #720
Oh dang I guess not. :( I had installed other things previously so not sure what changed. Alright. I guess I'll go back to the drawing board / Stackoverflow. :)

[2020-02-20 17:48] iChris commented on #720
I do get this error at the top of the install process - is that an issue with your installer or with NPM?

`
npm WARN deprecated core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version of core-js@3.
`

[2020-02-20 18:15] iChris commented on #720
I followed [these instructions](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally) and that seemed to fix whatever issues cropped up on my install. Netlfiy CLI now installed. Thanks for the time!

[2020-02-20 18:15] #720 closed

[2020-02-20 18:21] makadi88 commented on #667
I have this same issue with netlify-cli/2.35.0 here.
Can you guys help me how to roll back to a previous version?

[2020-02-20 21:06] michalhudecek commented on #716
If it helps, I am on Windows 10, node.js v12.16.0

[2020-02-20 21:47] MichalStaruch commented on #446
Honoring headers like CSP defined in _headers file would be a great feature to see in netlify dev. Without that development pipeline loses a lot of consistency. Site that looks good on localhost may be a total mess when deployed on production (strict CSP won't allow inline JS and CSS to run, for example).

[2020-02-20 22:41] RaeesBhatti commented on #716
Thanks for reporting this. We have a PR in the works for this one. Please hold on

[2020-02-20 22:42] RaeesBhatti commented on #716
If you can, please try out the changes from the PR (https://github.com/netlify/cli/pull/722) and provide feedback on if it is working as intended.

[2020-02-21 01:16] #716 closed

[2020-02-21 14:41] amiroff commented on #667
`npm i -g netlify-cli@2.21.0` would do it.

[2020-02-22 05:27] daihovey opened #723 "Netlify Dev doesnt load site and freezes computer"
Bug

Running `yarn netlify dev` opens `localhost:8888` it never loads and the fans spin up to max and eventually the computer freezes up and I have to restart.

Running `yarn start`
which runs:
[code]
works

**- What is the expected behavior?**
Load site properly
**- Local Environment Information**
[code]

[2020-02-23 16:26] spencewood opened #724 "Functions timeout after 3 seconds"
**- Do you want to request a _feature_ or report a _bug_?**
Feature request.

**- What is the current behavior?**
Netlify functions time out after three seconds using Netlify cli.

**- If the current behavior is a bug, please provide the steps to reproduce.**
While ideally functions _should_ take less than three seconds to run, I feel like the threshold is too low when running in a local environme

[2020-02-24 06:31] jeremyswann commented on #724
Had the same issue after upgrading to v2.35.0, rolled back to netlify-cli@2.27.0. `ntl- dev` works again

[2020-02-24 11:05] RaeesBhatti commented on #724
Thanks for reporting this issue. The cause has been identified and we have a PR in the works to fix this. If you would like to try it out, it is available here: https://github.com/netlify/cli/pull/725

[2020-02-24 18:05] cperault commented on #667
I am also having this issue (netlify-cli/2.35.0 darwin-x64 node-v13.8.0), so I've rolled back to 2.21.0 and the CLI seems to be successful on `netlify deploy --prod` once more, but hopefully this can get resolved as it's been a recurring break. 🤞

[2020-02-24 18:48] #724 closed

[2020-02-24 20:28] RaeesBhatti commented on #667
Thank you all for reporting this issue and hanging in there. We've identified the problem and confirmed a fix (https://github.com/netlify/cli/pull/726). The changes will be released soon. Thanks

[2020-02-24 23:51] djj0s3 opened #727 "CLI Updates Announcements"
**- Do you want to request a _feature_ or report a _bug_?**
Feature request

**- What is the current behavior?**
As a user I want to know that there's a new version of the CLI available when I'm using an older version.

[2020-02-24 23:51] erquhart commented on #404
For anyone watching this, it's now top priority 👍 Updates soon.

[2020-02-25 00:52] #667 closed

[2020-02-25 00:52] #676 closed

[2020-02-25 04:42] cco3 commented on #653
I just tried `2.35.0` and still have a problem when using `--dir`. No `--dir` flag works fine now.

@RaeesBhatti Can you confirm that the fix should work with `--dir`?

[2020-02-25 15:11] RaeesBhatti commented on #667
A few for this has been published recently. Please update to latest version of `netlify-cli` and let us know if it is still a problem.

[2020-02-25 23:47] PerrySetGo commented on #404
this thread in Community should also be updated when we have a fix. Thanks @erquhart .

https://community.netlify.com/t/error-socket-hang-up-is-there-a-cure-for-random-socket-errors/9586/2

[2020-02-26 09:17] 2color commented on #558
Any update or expected timeline on this?

[2020-02-26 15:27] mthit commented on #717
@RaeesBhatti I was able to get this error with the following setup:

[code]

I narrowed it down to having this as the only code inside netlify.toml:

[code]

When I got rid of the toml file and instead used a _redirects file with this content, the error was gone:
[code]

Also, the stack log of the error was as follows:
[code]

And line 31 of rules-proxy.js points to reading the toml file:
[code]
[

[2020-02-26 17:41] RaeesBhatti commented on #717
Thanks for providing this debug information @mthit. We've identified the cause of the problem and are working on a fix.

[2020-02-27 22:41] alvaroseparovich commented on #660
Thank you @dehghani-mehdi , It worked for me, I could try it by my self, but the 'netlify help' do not show logout command...
Maybe someone can do a PR to fix it, unfortunately I currently have no time, if there is someone to do it would be awesome.
Thank you man

[2020-02-28 22:15] nonissue commented on #695
I'm having the same problem. I have a function that I expect to return a 404 in certain cases, and if I send a request with postman, it hangs, and no response is returned. Any other statusCode resolves successfully without modifying any of the other code.

If I then cancel the request in Postman, `netlify dev` hits an exception and stops (Socket hang up or something similar).

Looks like it's easi

[2020-02-28 22:34] nonissue commented on #695
Actually, to provide an update, this only seems to be happen with nested functions (ie. functions inside subfolders within my functions directory). I copied the pattern implemented in the netlify workshop REST API example (with the API methods being called from a subfolder using a switch statement in a file in the root of the functions directory). When I return a 404 from the API method in the sub

[2020-02-29 14:06] jimmyandrade opened #731 "High severity vulnerability reported due to dependency on decompress"
It's a security vulnerability problem.

**- What is the current behavior?**
**Given** you installed `netlify-cli` as a dependency
**When** you run `npm audit`
**Then** you find the following:

[code]

**- What is the expected behavior?**
No severity vulnerabilities should be found.

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. Create a directory and run `npm i

[2020-02-29 21:14] erquhart commented on #731
@jimmyandrade can you update to the latest cli and check again? Latest release is 2.36.0.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-01 08:46] RaeesBhatti commented on #731
I can confirm this issue with the latest version. The root issue is being discussed here: https://github.com/kevva/decompress/issues/71
Maybe we can make some changes in [gh-release-fetch](https://github.com/netlify/gh-release-fetch) in the meantime.

[2020-03-02 04:14] mysteryihs commented on #404
Also getting this error frequently. Using https://github.com/netlify-templates/gatsby-starter-netlify-cms and it often corrupts the .cache directory. Have to manually run `gatsby clean` and kill node processes before I can run `netlify dev`

[2020-03-03 16:10] ianauxly commented on #180
remove the `.netlify` folder, and run `netlify link` in your local repository. You will be prompted to add your `site ID` which is your 'API ID' in **Settings** > **General** > **Site Details** of Netlify dashboard.

[2020-03-04 04:35] joallard commented on #175
Clarifying the use case on this:

Given I have the local repo of a statically-generated site, and I want to re-trigger a build on Netlify.

Currently I have no way to do this with the CLI, and I need to go on the admin interface to do it.

[2020-03-04 04:54] erquhart commented on #175
Fair to leave this open, even if we don’t yet have a path forward.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-04 19:59] RaeesBhatti commented on #404
We've discovered a cure-all [fix for this problem](https://github.com/netlify/cli/pull/733). And it is in the pipeline to be released soon. Please hold on.

[2020-03-04 21:10] RaeesBhatti commented on #404
We've just published a new version (2.37.0). Please update and let us know if it works for you.

[2020-03-04 21:16] devpatelwebdeveloper commented on #484
We are getting the same issue at 4000 files. Sometimes, it runs smooth with no issue and sometimes it keeps on failing whole day.

[code]

[2020-03-04 21:17] loic294 commented on #404
The fix seems to be working for me! Thanks!

[2020-03-04 21:24] RaeesBhatti opened #734 "Netlify Dev (Functions): Allow overriding env variables set in app.netlify.com with .env file"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
Env variables set in [app.netlify.com](https://app.netlify.com) override variables in `.env` files for functions when running with `netlify dev`.
**- If the current behavior is a bug, please provide the steps to reproduce.**
* Link your project to a Netlify site using `netlify link`
* Create an env

[2020-03-04 21:29] RaeesBhatti commented on #734
This was initially reported here: https://github.com/netlify/cli/pull/714#issuecomment-594832453

[2020-03-04 22:28] RaeesBhatti commented on #142
An app running in the terminal can't really manipulate terminal's env variables. You can just print them but the user will have to set them manually. Or they would need to do run `$(netlify env:sync)`, where `netlify env:sync` would just print `export SOMETHING=ELSE`.

[2020-03-04 22:31] RaeesBhatti commented on #142
We already have mechanisms for setting the remote env variables to Netlify Dev in both app server and functions server. Not sure what purpose this would serve.

[2020-03-04 22:32] RaeesBhatti commented on #558
We already have mechanisms for setting the remote env variables to Netlify Dev in both app server and functions server. Not sure what purpose this would serve.

[2020-03-05 16:29] sw-yx commented on #558
hehe ok

[2020-03-05 16:29] #558 closed

[2020-03-05 18:32] #431 closed

[2020-03-06 10:20] 2color commented on #558
This would allow for automation through CI/CD pipelines.

[2020-03-06 13:44] #734 closed

[2020-03-06 21:17] sneak opened #737 "Please support DO_NOT_TRACK env var in addition to `--telemetry-disable`"
Per https://consoledonottrack.com (hosted on Netlify, incidentially 😉):

I currently have to maintain an extra line in my build scripts to disable telemetry for Netlify's CLI.  Could you please support this standard variable to disable telemetry?

There is precedent: `NETLIFY_SITE_ID` is used instead of an arg to `netlify deploy`, and `NETLIFY_AUTH_TOKEN` is used instead of `netlify init`.  Presum

[2020-03-07 08:56] groninge01 opened #738 "TypeError [ERR_INVALID_ARG_TYPE] when accessing function locally"
**- Do you want to request a _feature_ or report a _bug_?**
Report a bug

**- What is the current behavior?**
Accessing a function (http://localhost:8888/.netlify/functions/hello) gives an error:

[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**
In an empty folder create a folder named "functions". In the folder "functions" create a hello.js file with your fun

[2020-03-07 15:26] sneak opened #739 "netlify still connects to telemetry server when user does not consent to telemetry!"
# Bug

**- What is the current behavior?**

I ran `netlify --telemetry-disable` on a fresh install (`rm -rf ~/.netlify`) and it connected to `cli.netlify.com`:

<img width="1568" alt="Screen Shot 2020-03-07 at 07 24 56" src="https://user-images.githubusercontent.com/408977/76146078-c5c0a200-6044-11ea-9710-4ebb7618afe4.png">

**- If the current behavior is a bug, please provide the steps to reprodu

[2020-03-07 16:23] Omeryl commented on #739
I get there's probably a bug here, but I'd say that the entire "Dear Netlify" section is just .. not required here.

[2020-03-07 16:58] Omeryl commented on #739
I tried doing the exact same thing, rm -rf'ing my netfify config folder and using Little Snitch 4 to monitor the process.

I replaced the API_URL in `src/utils/telemetry/request.json` with a requestbin. It looks like it sends the following data:

[code]

Presumably, this could be used to purge all previous analytical data. I haven't done any more validation past this, though.

[2020-03-07 17:06] erquhart commented on #739
The cli has to connect to Netlify to work, hence the call to cli.netlify.com. If you disable telemetry, we don’t use telemetry.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-07 17:07] sneak commented on #739
This is incorrect.  The connection to the telemetry server is not when doing any action, only disabling telemetry.  It's sending a telemetry event, saying the user has disabled telemetry, as shown above.

[2020-03-07 17:22] erquhart commented on #739
Going to look into that call to the server, it's either accidental or we're using it to disable some sort of server side telemetry. I'll update when I get more info - in the meantime, if you're concerned about the impact of this, please run a fork and disable that line until this is resolved. Apologies for the confusion here.

[2020-03-07 17:26] Omeryl commented on #739
Alternatively, in the meantime, it seems if you set `"telemetryDisabled": true,` in your config and don't run --disable-telemetry you'll be fine as well.

[2020-03-07 17:28] sneak commented on #739
Please consider #737 as then the application can know from the first line that the user wishes to not be spied on (via standard env var, see https://consoledonottrack.com).

[2020-03-07 17:37] erquhart commented on #739
@Omeryl good point - and since that approach is documented and does bypass this call, we'll go ahead and get a release out with the call excluded. @sneak thanks for raising this.

[2020-03-07 17:39] sneak commented on #739
Why not disable telemetry by default for all installs, and then when a user in an interactive session does a `netlify init` or `netlify login`, just ask them for their consent that you send their data away?

Doing so silently and without any sort of notification or time window in which a user can cancel and not transmit is unethical and presumptuous, and, in my personal opinion, super rude.

[2020-03-07 17:54] erquhart commented on #739
The CLI provides an alternative interface for interacting with the Netlify service. When signing up to the service, you agree to Netlify's terms of use and privacy policy as indicated in the [self serve subscription agreement](https://www.netlify.com/legal/self-serve-subscription-agreement/). Disabling the tracking call when disabling telemetry should be sufficient to close this issue - PR opened.

[2020-03-07 18:08] sneak commented on #739
Nothing quite like being told that I consent to something when I actually don’t.

[2020-03-07 18:20] #739 closed

[2020-03-07 18:23] cohunter commented on #739
That was seriously buried in the terms. It may legally excuse it, but certainly goes against reasonable expectations.

If this is how netlify operates, you can trust I’ll no longer be able to recommend your services.

It really isn’t that hard to ask the user for consent at first use.

[2020-03-07 18:33] sneak commented on #739
Why bother having an option to disable telemetry if you legitimately believe that every single person using the tool has already consented to such spying by having a Netlify account?

[2020-03-07 21:10] aDENTinTIME opened #741 "Broken redirects on https://cli.netlify.com"
On the page https://cli.netlify.com, when you click on one of the links under "Commands" you get redirected to a 404 page with a URL that ends with ".md" that has a list of the correct links. Take "addons" for example, you're directed to the following page https://cli.netlify.com/commands/addons.md, on this page if you click "addons" again you'll be directed to https://cli.netlify.com/commands/add

[2020-03-07 23:46] stronger108 commented on #739
Man, nothing like asking your users just to paint a picture of having control over it to literally not do anything.

[2020-03-08 08:11] Smit-tay commented on #739
I think I have the solution.
Stop using the product.
It does nothing that a few scp (or sftp) commands can't do for you

[2020-03-08 12:44] KamranMackey commented on #739
You sir, are an obnoxious human being. Learn to read agreements. And this whole issue is a case of tinfoil hatness. Grow up.

[2020-03-08 13:10] chrisjohnson commented on #739
But you did? You agreed to their terms. That you did not read those terms that you agreed to, wherein you gave consent, is on you. Why is it the world's responsibility to bend to your whim?

The tone here is not useful at all. You aren't correct in your assumptions and you are painting people in an unnecessarily bad light just because you didn't take the time to read what you were agreeing to

[2020-03-08 14:11] anskydev commented on #737
I'm commenting on this issue since the original one and the PR created has been already locked (why? I thought formal discussions were positive for both sides..., it is not like they are fixing something "shady" they did without making too much noise about it right?)

This issue goes beyond the "it is legal because you blindly agreed so", the issue is about Netlify destroying ALL of the trust buil

[2020-03-08 14:13] sneak commented on #737
GitHub's Atom text editor also does this, and AFAIK they did it before they became Microsoft:

https://github.com/atom/telemetry/issues/33

[2020-03-08 16:03] Avlyssna commented on #737
As was the case for other issues on this topic, this will likely be resolved and locked in a swift form of damage control. Although I have no stake in Netlify's interests, the situation that @sneak has stumbled upon is rather odd and concerning - especially considering the issues @anskydev raised. What I believe is more concerning would be the developer's blanket response initially in #739: blindl

[2020-03-08 16:53] erquhart commented on #737
Yeah locking was a tough call tbh. That issue was super incendiary, and gave zero benefit of the doubt, hence my initial dismissal. The user that opened it has opened similar issues on repos elsewhere and it’s clear they are never looking for a real conversation. I decided to lock the issue because it had gotten quite a bit off topic, and had been resolved.

I definitely don’t want to stamp out fo

[2020-03-08 23:39] sneak commented on #737
The fact that developing and distributing software that is violating user consent is unethical is not a rant, nor is it individual opinion.

[2020-03-09 05:01] anskydev commented on #737
The saddest thing is that you can track that this was set since one of the first releases: v2.0.0-beta.3 released 9 Sep 2018... How many data from how many users is that? Your policy says (this is a rephrase): "we _may_ share the data with third parties" so I assume you _do_ so. Now, I'm not saying this is one of the reasons but with all the lack of communication and this secrecy it just makes me

[2020-03-09 13:02] erquhart commented on #737
I’m not sure we’re talking about what actually happened - to clarify:
- A single call was being made at the time of passing the `—telemetry-disable` flag.
- No further telemetry calls were ever made again unless `—telemetry-enable` is called - that is to say, disabling telemetry was never broken.
- This PR removes the call in question.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-09 16:03] sneak commented on #737
Yes, that's *that* whole issue.  Doing telemetry to say the user doesn't want telemetry, when you, at the time of the telemetry call, *know* the user doesn't want telemetry, but you do it anyway: `force: true`.  It's fixed now, as you note, but it speaks to the attitudes of the company and implementors with regards to ethical behavior.

This entire discussion is off topic, though, so let's end tha

[2020-03-09 16:07] anskydev commented on #737
Yes, that's what happened regarding this situation in the last couple days, and I appreciate the quick and fast response to this issue. What I am discussing is what this issue showed us about the code.

More specific, I'm concerned about why that code was there in the first place, now you have worked on this project and you know more about the logic behind all, and maybe you can clarify the purpos

[2020-03-09 16:13] sneak commented on #737
Per https://github.com/netlify/cli/commit/5f1cf55bf65ebe16a648244c49606a8cf1866b4a , @DavidWells is the one who wrote that call, and was so proud of it he put on his CV: https://davidwells.io/resume/

@anskydev, perhaps you could ask him directly/privately and please stop spamming this thread (his contact info is available in the link above).  The issue you are describing is documented in #739 and

[2020-03-09 16:59] RaeesBhatti commented on #142
Closing this because a similar functionality already exists. (Read above 👆🏽). Feel free to reopen if not the case.

[2020-03-09 16:59] #142 closed

[2020-03-09 17:02] RaeesBhatti commented on #689
@zync09 Can you please update to the latest version and report back if this is still an issue!

[2020-03-09 17:02] erquhart commented on #737
@anskydev I definitely understand the confusion here! Happy to explain:

That “force” is _only_ in place when processing the `—telemetry-enable` and `—telemetry-disable` flags, as we were wanting to capture a user’s indication that they did not want to be tracked. So it worked like this:

1. User runs a cli command with `—telemetry-disable` flag
2. CLI sees the flag, and sends one telemetry reques

[2020-03-09 17:02] #737 closed

[2020-03-09 17:08] RaeesBhatti commented on #455
`http://localhost` is already treated as [Secure Context](https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts) by [major browsers](https://www.chromestatus.com/feature/6269417340010496), so, you don't really need an `https://` address.
Or are you using a custom hostname for local development? In which case I would suggest using `localhost` instead.
Please elaborate on your proble

[2020-03-09 17:35] borisschapira commented on #455
Use case: several web projects and each of them has its own context (cookies, service workers, local storage…). If you expose all of them on http://localhost, you mix the contexts. You'd rather want independant self-signed certs on development domains to be able to work on several contexts without interferences.

[2020-03-09 17:41] sneak commented on #737
Could you please let me know where I did that?  I'm confused.

[2020-03-09 18:10] RaeesBhatti commented on #298
Implemented in the latest release.

[2020-03-09 18:10] #298 closed

[2020-03-10 10:58] vijayhardaha opened #742 "Deploy Operation never ends when I use toml file."
![netlify error](https://user-images.githubusercontent.com/25227317/76305887-f7a76200-62eb-11ea-967c-1a4f35621d00.gif)

When I am using .toml config, deploy operation never ends. even .toml file is empty.

but without config file all works fine.

[2020-03-10 16:19] RaeesBhatti commented on #742
Hey @vijayhardaha , thank you for reporting this issue. Do you encounter this issue one your other projects as well? Is it consistent or happens only sometimes? Does it only happen when using `netlify.toml` or with `netlify.yml` file as well?

Please fill out the following as well:

**- Local Environment Information**
Paste the results of `netlify status --verbose` and `netlify version` here

[2020-03-10 22:09] vijayhardaha commented on #742
Hello @RaeesBhatti

I've set up a new project and did the test. I am having same issue in new project as well. I've been only using `netlify.toml` only. Here the project and system details.

**Netlify Version**
[code]
**Netlify Status**
[code]

![netlify error 2](https://user-images.githubusercontent.com/25227317/76363717-a201a280-6349-11ea-8325-ef3de0e110a7.gif)

[2020-03-11 00:53] #717 closed

[2020-03-11 01:35] RaeesBhatti commented on #742
Can you please update to the latest version `2.38.0` (`npm i -g netlify-cli@latest`) and see if that fixes the problem!

[2020-03-11 08:51] vijayhardaha commented on #742
OK, update fixed the issue. 👍

[2020-03-11 09:23] #742 closed

[2020-03-11 11:51] oles opened #743 "Am I missing something? Auto publish on deploy vs netlify deploy"
**- Do you want to request a *feature* or report a *bug*?**
Perhaps both.

**- What is the current behavior?**
Unexpected.
I have to do `netlify deploy --prod --functions functions` for it to work the same as it does locally.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Create some Netlify Functions locally with `netlify dev`, access them: it works.
Push a repo w

[2020-03-11 13:22] oles commented on #743
Right. Nice.

I first tried to add:
[code]

to my `netlify.toml`

and that didn't work.

Though now the build log did a bunch of other stuff, seemingly actually what I wanted it to do with my functions.

<br>

I then tried changing the config to
[code]

to no avail.

<br>

Then I remembered that I read somewhere that you could set the build command to #, for some reason.

Perhaps that reason was s

[2020-03-11 13:22] #743 closed

[2020-03-11 14:43] oles commented on #438
@sw-yx this still seems to be a lovely mess.

as far as I can tell, none of the port configs even work or do anything.

I wanted to change which port the "Server now ready on ..." uses.

Neither --port flag or lines in the netlify.toml [dev] block have seemingly any effect.

Frustrating.

[2020-03-11 14:51] oles commented on #564
What is the status of this madness?

No port config:
![Screenshot from 2020-03-11 15-48-54](https://user-images.githubusercontent.com/7634050/76429961-0b1c0100-63b0-11ea-88ce-49fbf62056a6.png)

Port config:
![Screenshot from 2020-03-11 15-49-09](https://user-images.githubusercontent.com/7634050/76429963-0c4d2e00-63b0-11ea-8d8d-e05eb66576e7.png)

The config does nothing?

[2020-03-11 18:44] RaeesBhatti commented on #741
Thank you for reporting this @aDENTinTIME 👍 . We found the problem and it will be fixed soon https://github.com/netlify/cli/pull/744

[2020-03-11 18:55] #741 closed

[2020-03-11 19:07] RaeesBhatti commented on #709
Thank you for reporting this @attaboy . We've identified the cause of this problem. A fix for it is in the works https://github.com/netlify/libredirect/pull/88

[2020-03-11 20:20] fool opened #745 "CLI seems to use only synchronous deploys even for sites that are over the "syncfileslimit" and this can lead to upload failures"
**- Do you want to request a _feature_ or report a _bug_?**

bug

**- What is the current behavior?**

currently, the CLI always attempts to deploy synchronously, which even for sites with only a few thousand files, can lead to 502 gateway errors during upload, and this causes deploys to fail.

**- If the current behavior is a bug, please provide the steps to reproduce.**

Try to deploy a site wit

[2020-03-11 20:21] fool commented on #745
This has affected at least one enterprise and one pro customer:

- https://netlify.zendesk.com/agent/tickets/18594 (enterprise)
- https://netlify.zendesk.com/agent/tickets/20209 (Pro)

[2020-03-11 20:45] RaeesBhatti commented on #695
I haven't been able to reproduce this while trying in both root functions directory and a subdirectory function. Could you please share a minimal reproducible example!

[2020-03-12 12:35] maxcell commented on #707
Hey @mrlubos I believe you cannot use import statements within Netlify functions without compile them with webpack! I learned however, you can do that using `netlify-lambda`! I am writing a blog post about this very thing but short synopsis:

1. Place your functions in a folder you can later find
2. In your build step, you need to do something like `netlify build <folder full of lambdas you want t

[2020-03-12 12:37] maxcell commented on #707
The reason I figured this out was through this documentation here on [When to use Netlify Dev, `netlify-lambda`, or both](https://github.com/netlify/netlify-lambda#when-to-use-netlify-dev-or-netlify-lambda-or-both)

[2020-03-12 13:02] maxcell commented on #723
Howdy @daihovey! I don't actually think you want the `start:lambda` to point to `src/lambda`. I believe I had a similar issue because `netlify dev` is going to be rebuilding as it sees changes and so you kinda have a circular dependency going on. Your functions are being built, the changes get noticed by netlify dev, and so they are being ran and then built again.

I believe you want your build st

[2020-03-12 13:51] mrlubos commented on #707
Hi @maxcell, you're right! That's why I am requesting this as a new feature, one of my requirements is to use Netlify Dev as opposed to Netlify Lambda.

[2020-03-12 14:16] maxcell commented on #707
My bad about that one 😅, I'm not reading enough!

[2020-03-12 14:29] maxcell commented on #723
Also is `netlify-cli` installed locally or globally for you?  You mention you're trying to run `yarn netlify dev`?

[2020-03-12 14:37] mrlubos commented on #707
Thanks for looking into this issue! Hopefully somebody from Netlify will respond to it soon 🤧

[2020-03-13 10:08] AronBe commented on #738
I faced the same issue - suggested solution with package.json solved it

[2020-03-13 15:08] 2color commented on #558
Any thoughts on this @sw-yx ?

[2020-03-13 17:56] cbetta opened #747 "Local environment variables not loaded in CLI 2.38.0+"
**- Do you want to request a _feature_ or report a _bug_?**

A bug

**- What is the current behavior?**

Environment variables in a local `.env` file should be loaded.

**- If the current behavior is a bug, please provide the steps to reproduce.**

Although the CLI detect the `.env` file and prints out all the variables being overriden, none actually are. This behaviour works fine in version 2.37.

[2020-03-13 18:08] RaeesBhatti commented on #747
Thank you for reporting this @cbetta. The issue has been identified and a fix will be released soon https://github.com/netlify/cli/pull/748

[2020-03-13 18:36] RaeesBhatti commented on #747
A fix for this has been released in `netlify-cli@2.39.0`

[2020-03-13 18:50] RaeesBhatti commented on #558
@2color I've added some basic docs around env var injection here: https://cli.netlify.com/netlify-dev#environment-variables
Variable injection is supported in `netlify dev` and `netlify dev:exec` right now if your project is linked and you're logged in.

Could you explain your use case a bit more please! Are you using a CI/CD other than Netlify? Even if we implement this, it will still require you

[2020-03-16 00:21] RaeesBhatti opened #751 "Netlify Dev runs into fatal error if no .netlify directory present"
**- Do you want to request a _feature_ or report a _bug_?**
Bug
**- What is the current behavior?**
If no `.netlify` directory is present, `netlify dev` dies with following error:
[code]
**- If the current behavior is a bug, please provide the steps to reproduce.**
* Create an empty project
* Run `netlify dev`

**- What is the expected behavior?**
`netlify dev` runs without .netlify directory.
**-

[2020-03-16 09:42] TigersWay commented on #668
+1
Would also love to see such a feature... Have been tinkering around that and while working it's still inefficient.

[2020-03-16 15:09] RaeesBhatti commented on #695
@miohtama @miohtama:

[2020-03-16 15:19] #751 closed

[2020-03-16 18:23] 2color commented on #558
Thanks for the info @RaeesBhatti.

My question was more about setting production env vars from the CLI for the actual production deployment on Netlify.

[2020-03-16 19:15] RaeesBhatti opened #756 "Setup CI/CD for netlify-cli npm package"
**- Do you want to request a _feature_ or report a _bug_?**
None, I think.

**- What is the current behavior?**
Maintainers have to publish deploys manually on their computers.

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**
A new released is published on npm automatically when a release is created in Github repo.

**- Local Env

[2020-03-16 19:29] web2033 opened #757 "Add favicon to docs."
Thanks.

[2020-03-17 06:55] overlordofmu opened #759 "Check site for asset optimization enabled and refuse to install Large Media if it is."
**Feature request**

Large Media and asset optimization cannot be used together on the same Netlify site.

The CLI tool should check for asset optimization being enabled for the site and refuse to enable Large Media it is.

**What is the current behavior?**

Large Media can always been enabled, even if asset optimization is active.

**Steps to reproduce**

1. Enable asset optimization in the site

[2020-03-17 10:03] mkrn commented on #484
This is happening consistently on a website with about 2450 files, 1200 pages.
Curious if there's a way to deploy zip file using netlify deploy?

Command:

netlify deploy $DEPLOYFLAG --auth $NETLIFY_TOKEN --site=$NETLIFY_SITE_ID --json

[code]

[2020-03-17 17:53] lukehsiao commented on #484
I am also seeing this issue on a site with just over 4100 pages. However, I'm also not able to deploy manually with the drag/drop upload, meaning we are currently stuck and unable to deploy our site.

[2020-03-18 07:24] nonissue commented on #695
Oops, missed your response. Will try and put one together tomorrow!

[2020-03-18 14:17] devpatelwebdeveloper commented on #484
Netlify has open the issue https://github.com/netlify/cli/issues/745 for this problem, but its medium priority

[2020-03-18 18:43] RaeesBhatti commented on #387
Working in the latest version!

[2020-03-18 18:43] #387 closed

[2020-03-18 19:56] RaeesBhatti commented on #634
@talves Is this still an issue with latest version?
cc @ryancharris

[2020-03-18 20:50] talves commented on #634
Just updated to version 2.40.0 and ran on Windows using Powershell and then using WSL (Ubuntu) and all is working as expected calling the functions. 🎉😃

I will close this and @ryancharris can request a re-open if it does not work on Mac.

Thanks for the hard work on this everyone!

[2020-03-18 20:50] #634 closed

[2020-03-18 20:55] talves commented on #634
Just a note. I've been running and testing some `netlify functions` heavily in Windows using `netlify dev` and they have been working well using WSL. I forgot about this issue, and apologize for not circling back earlier.

Thanks for the heads up @RaeesBhatti

[2020-03-19 19:11] RaeesBhatti commented on #634
Glad it worked for you! 🎉

[2020-03-19 19:34] gtirloni opened #763 "netlify watch: Error: Missing required path variable 'site_id'"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**- What is the expected behavior?**
Command watches for deploys.

**- Local Environment Information**
[code]

[2020-03-19 19:49] gtirloni commented on #763
I think what's happening is that the cli doesn't know which sites to watch.

If I link the project's directory with a specific website, then it works:

[code]

[2020-03-20 13:34] richard-flosi commented on #695
Running into the same issue. The issue doesn't exist for `GET` requests, but it does exist for `POST` requests and possibly other requests.

Here is a minimal project demo with example `curl` commands and output:
https://github.com/richard-flosi/netlify-dev-404

[2020-03-21 06:31] Nisfan commented on #689
I am still facing same issue with latest version (2.40.0)

[2020-03-23 06:22] cakasuma commented on #155
when i remove Add rich deploy details to git commits when deploy starts/succeeds/fails . the check is still going on in my github PR. and its loading forever

[2020-03-24 00:12] DarthOstrich commented on #747
This is still broken. Do you want me to open up a new issue?

[2020-03-24 00:13] RaeesBhatti commented on #747
@DarthOstrich Can you please explain the issue you're facing!

[2020-03-24 00:18] DarthOstrich commented on #747
Hi! When I use CLI v 2.37 my env vars from my local file show up in my react app. When I upgrade past that version (including 2.40) my env variables are the ones in the Netlify dashboard. They are not overwritten by my local file

[2020-03-24 00:21] RaeesBhatti commented on #747
Is the `.env` file in your project root directory or in your functions directory? The latest Netlify CLI only supports `.env` files in project root directory. We had added support for per-function `.env` files but it was removed recently because you can't set per-function env vars in production.

[2020-03-24 00:24] DarthOstrich commented on #747
Root directory.

[2020-03-24 00:29] RaeesBhatti commented on #747
Interesting. I tried this locally and it seems to be working fine. Can you please share a minimal reproducible example of this? Maybe create a repo or share the code here!

[2020-03-24 00:53] DarthOstrich commented on #747
Curious. I'll throw something together and let you know.

[2020-03-24 10:02] erezrokah commented on #694
Some tests are failing for me too:
1. Fork and clone the project.
2. `npm install`
3. `npm test`

Result:
[code]
I was able to fix it locally by removing the `--account-slug` argument here:
https://github.com/netlify/cli/blob/9b65d1ea8b22d840e40a49449ab044e62da6f573/src/tests/addons.test.js#L29

[2020-03-24 17:14] DarthOstrich commented on #747
Hi @RaeesBhatti . Please see this repo:
https://github.com/DarthOstrich/netlify-test

Running it with CLI version 2.37, the page renders "ImALocalVar", when I upgrade the CLI to 2.40, it renders "ImANetlifyVar"

[2020-03-24 18:28] #446 closed

[2020-03-24 20:04] RaeesBhatti commented on #747
Thank you for reporting this @DarthOstrich . This is definitely a problem. Most likely a quirk with NodeJS, we're setting the env variables but the changes are not being realized because they're accessed shortly after.
Fixed here: https://github.com/netlify/cli/pull/764

[2020-03-24 20:12] DarthOstrich commented on #747
Sweet, thanks for getting to this so fast! I spent like 4 hours trying to debug thinking I was doing something wrong haha

[2020-03-24 20:50] #175 closed

[2020-03-24 20:59] #69 closed

[2020-03-24 20:59] #70 closed

[2020-03-24 21:01] #438 closed

[2020-03-24 21:01] #563 closed

[2020-03-24 21:55] oles commented on #438
Great! Thank you, @RaeesBhatti 🎉

[2020-03-25 07:20] joallard commented on #175
Amazing reactivity guys! 🙏

[2020-03-25 07:47] RaeesBhatti commented on #757
Thank you for the suggestion!

[2020-03-25 11:31] #747 closed

[2020-03-25 13:58] erquhart opened #765 "Gatsby server continues running after CLI fails"
Context: https://github.com/netlify/cli/pull/754#issuecomment-603747623

**- Do you want to request a _feature_ or report a _bug_?**
bug

**- What is the current behavior?**
The CLI can fail without properly exiting the Gatsby development server.

**- If the current behavior is a bug, please provide the steps to reproduce.**
- Be sure to run the latest netlify-cli locally from source
- Clone the G

[2020-03-25 14:07] erquhart opened #766 "Headers files with TOML content allowed in CI but fail in CLI"
Context: https://github.com/netlify/cli/pull/754#issuecomment-603792668

**- Do you want to request a _feature_ or report a _bug_?**
bug

**- What is the current behavior?**
Netlify CI allows `_headers` files to have TOML content, but the CLI doesn't mirror this behavior.

**- If the current behavior is a bug, please provide the steps to reproduce.**
- Be sure to run the latest netlify-cli locally

[2020-03-25 14:09] erquhart commented on #766
@rybit can you confirm whether we're allowing `_headers` files to have TOML content intentionally, or loop in someone who can?

[2020-03-25 19:12] erquhart opened #767 "Revisit random port assignment"
**Context**
https://github.com/netlify/cli/pull/755#discussion_r396992876 by @erezrokah

I'm assuming users set a specific port since they want to use it later on in their code/logic, so assigning a random one might create issues.

**- Do you want to request a _feature_ or report a _bug_?**
_feature_

**- What is the current behavior?**
- A random port is assigned if specified port is unavailable

[2020-03-25 21:53] lupelius commented on #333
any news with this?

[2020-03-25 22:09] sw-yx commented on #333
no, sorry. i left the company. feel free to open up a new issue/pr

[2020-03-27 12:34] ehmicky opened #769 "Fails to install on Node `>=12` on Linux"
**- Do you want to request a _feature_ or report a _bug_?**

A bug.

**- What is the current behavior?**

When running `git clone` then `npm install`, it fails with:

[code]

This is due to #762 adding `firebase` which relies on a native module `grpc`. `grpc` fails to compile on my machine. This might be due to the [following bug](https://github.com/grpc/grpc/issues/18689) in grpc, which might be

[2020-03-27 12:37] ehmicky opened #770 "Can we avoid using a native module?"
**- Do you want to request a _feature_ or report a _bug_?**

A feature.

**- What is the current behavior?**

#762 required adding `firebase` which depends on `grpc`, a native module. Compiling native modules makes installing `netlify-cli` much slower. Also it creates more risk of crashes during installation (see #769).

Is there any way we could provide the feature described by #769 without requi

[2020-03-28 03:49] #709 closed

[2020-03-28 15:05] ehmicky opened #772 "Update `mkdirp` to avoid warnings on `npm install`"
On `npm install netlify-cli` the following warning is shown:

[code]

This is due to the following dependencies:

[code]

Fixing this problem would require:
  - [ ] Upgrading `mkdirp` to [latest version](https://github.com/isaacs/node-mkdirp/blob/master/package.json) in Netlify CLI
  - [ ] Upgrading `mkdirp` to [latest version](https://github.com/isaacs/node-mkdirp/blob/master/package.json) in [`n

[2020-03-28 19:30] heymartinadams commented on #723
I’m experiencing the same when running `netlify dev` in the console — a super high CPU load, freezes up the computer, and a crash of `localhost:8888` when running `netlify dev`. Using `netlify-cli@2.40.0` globally.

Error message: `error while proxying request: socket hang up`

Folder structure:
[code]

Here’s my `netlify.toml` file:
[code]

[2020-03-28 19:54] heymartinadams commented on #723
Solved it. @maxcell I think your intuition was spot on:

The issue is that `netlify dev` parses through the `package.json` file and looks for where there is a script that contains a `netlify-lambda` command, and then executes that script, even though I didn’t tell it to execute it (the audacity! that’s a significant issue, since I had a script reserved for deployment, not local development).

Once

[2020-03-28 19:56] heymartinadams commented on #723
## netlify.toml
[code]

## package.json
[code]

[2020-03-28 20:52] heymartinadams commented on #723
## Solution

What I discovered works is to take the `netlify-lambda` commands out of the `package.json` file and place them directly into the `netlify.toml` file:

### netlify.toml
[code]

### package.json
[code]

This way you can use `netlify dev` for local development and deploy without a hitch as well.

[2020-03-29 17:24] RaeesBhatti commented on #772
Thanks for reporting this issue @ehmicky.

[2020-03-29 17:31] RaeesBhatti commented on #770
It seems like `grpc-js` is an indirect dependency of `firebase`. And we require Firebase to stream the logs. I don't think it can be helped but I'll look into it further. Thanks for opening this ticket!

[2020-03-29 17:33] RaeesBhatti commented on #769
`firebase` is a dependency that we need to stream logs. It seems unavoidable at this time but I'll look into this further. Thanks for opening the issue!

[2020-03-29 18:41] RaeesBhatti commented on #767
Yes, I thought about this when implementing the last change but held off because it changes the existing behavior. Should be straight forward if we want to go this route.

[2020-03-29 18:47] RaeesBhatti commented on #763
Thanks for opening this issue @gtirloni. If there's not site linked to the project, it should prompt you to link one or create a new site. This seems like a bug, we'll look into this.

[2020-03-29 18:49] RaeesBhatti commented on #759
Thanks for opening this ticket @overlordofmu. We'll look into this

[2020-03-29 18:52] RaeesBhatti commented on #753
This has been fixed by ignoring `/*    /index.html    200` rule in `netlify dev`. If this pops up again, please open a new ticket.
Ref: https://github.com/netlify/cli/blob/fa86a6179419bf38022f4bcc36643b758d059736/src/utils/rules-proxy.js#L69

[2020-03-29 18:52] #753 closed

[2020-03-29 18:53] RaeesBhatti commented on #745
Thanks for reporting this @fool. It's in the backlog we'll take a look at this soon.

[2020-03-29 18:57] areknow opened #773 "Unable to invoke functions in Dev mode"
The `netlify functions:invoke` CLI commands always returns error:

[code]

Netlify dev is running, and I am able to reach the endpoint with postman. Am I missing a step to invoke the functions? This happens to me every time.

Thank you!

[2020-03-29 19:03] RaeesBhatti commented on #773
@areknow Thanks for opening this ticket. I was able to invoke my function successfully following the steps you mentioned. Can you provide more context around you problem. Maybe share a minimal repo where this is reproducible.
Also, please make sure that you're running the latest version of Netlify CLI (`npm i -g netlify-cli`).

[2020-03-29 19:05] RaeesBhatti commented on #723
Thank you for reporting this @daihovey. Is is possible for you to share a reproducible instance of this problem in a minimal repo?

[2020-03-29 19:06] RaeesBhatti commented on #723
@heymartinadams You can specify different `command`s for the production and dev in your `netlify.toml`. Like so:
[code]

Please try it out and let us know if that doesn't fix your problem.

[2020-03-29 19:09] RaeesBhatti commented on #719
Thanks for opening this issue @lukasluecke. This seems like a bug with the live tunnel. Maybe @Benaiah can shed some light!

[2020-03-29 19:13] RaeesBhatti commented on #696
@zemse Thanks for reporting this problem. Are you able to access the other globally installed packages on your computer? Please try installing something like `npm i -g eslint` and report if you can run `eslint` from any directory

[2020-03-29 23:12] areknow commented on #773
@RaeesBhatti thats so weird! I just made sure I am using the most up to date cli version. This repo is the one I am currently facing the issue in: https://github.com/areknow/covid-heroes

One thing to note that I noticed. When I start `netlify dev`, I see undefined in one of the outputs:
[code]

[2020-03-29 23:48] areknow commented on #773
@RaeesBhatti  I just tried this repo https://github.com/netlify/dev-demo-example and it worked as expected. I do not understand what I am doing differently in my project 😄

[2020-03-29 23:52] areknow commented on #773
@RaeesBhatti solved!

I had copied the entire `netlify.toml` from the example docs without reading what the properties were being used for. After deleting all the optional properties from my config file, I am able to invoke the functions correctly.

Cheers

[2020-03-29 23:52] #773 closed

[2020-03-29 23:54] RaeesBhatti commented on #773
Glad it worked out for you @areknow

[2020-03-29 23:54] areknow commented on #773
Thanks for your quick assistance!

[2020-03-30 08:09] zemse commented on #696
Just installed `eslint` globally and tried it with `eslint`:
[code]
Seems other packages are working, I never had such problem. Again tried doing:
[code]

[2020-03-30 16:56] RaeesBhatti commented on #705
This seems like a bug. Thank you for reporting this @LynnKirby .

[2020-03-30 17:28] RaeesBhatti commented on #769
It seems like the GRPC version used with `firebase` is not compatible with Node 12. Ref: https://github.com/grpc/grpc-node/issues/834

[2020-03-30 17:58] #705 closed

[2020-03-31 11:13] jamesgeorge007 commented on #727
[update-notifier](https://github.com/yeoman/update-notifier) would serve the purpose here.

[2020-03-31 11:27] jamesgeorge007 opened #778 "verbose flag doesn't serve the purpose"
**- Do you want to request a _feature_ or report a _bug_?**
bug report

**- What is the current behavior?**
We've the `--verbose` flag as part of `status` command which shows up local environment information useful while submitting bug reports. But it doesn't display the information as expected.

https://github.com/netlify/cli/blob/d54b500c548c0e45d9a496eec988726e23cb67da/src/commands/status/index

[2020-03-31 11:30] jamesgeorge007 commented on #778
I can shoot a PR 👍

[2020-03-31 13:22] csvn commented on #275
Nice, seems to be some movement on this issue. We're also coming from Gitlab, and would like to use similar functionality as branch deploy, but run from the Gitlab CI via the Netlify CLI. We have many other jobs we want to run (test/lint/e2e/etc), so it feels better to keep it in the same place.

[2020-03-31 16:42] RaeesBhatti commented on #778
A PR would be awesome @jamesgeorge007

[2020-03-31 16:45] RaeesBhatti commented on #275
This issue has been raised internally with the API team to implement an endpoint that would allow creating branch deploys. Please hold on.

[2020-03-31 17:28] jamietanna commented on #275
Thanks for the update! Is there any rough ETA - ie it'll be a matter of days/weeks/months?

[2020-03-31 17:50] RaeesBhatti commented on #275
We don't have an ETA at the moment but since this is a highly requested feature we'll prioritize it and report back when we have a plan.

[2020-03-31 19:53] casey commented on #192
This can probably be closed, since the CLI seems to have progress bars in spades. They're awesome, and I love the variety! Did you implement them yourself or use a library?

[2020-04-01 14:15] zobzn opened #783 "Running tests locally for not only netlify team"
**- Do you want to request a _feature_ or report a _bug_?**
feature

**- What is the current behavior?**
I can't run full test suite locally, for `--account-slug="netlify-services"` flag is hardcoded in `src/tests/addons.test.js`.

**- What is the expected behavior?**
at least load `account-slug` flag from process.env and use `netlify-services` if none

**- Local Environment Information**
master b

[2020-04-01 21:52] DavidWells opened #786 "Feature request: Re-use tab when starting `netlify dev`"
**Problem:** Every time `netlify dev` is run, a new browser tab is opened. This results in a LOTS of open tabs in your browser.

**Desired Solution:** Re-use open tab if one already exists.

**Possible Implementation:**

Create react app checks if there is already an open browser tab at localhost:3000 and reuses it if there is already one open. Otherwise it will open a new tab.

^ This is a smooth

[2020-04-02 11:38] zobzn commented on #769
Maybe an update for firebase from 5.11.1 to something more recent should do the trick?
I have tried 6.6.2 for example and `npm i` went just fine.

[2020-04-02 18:25] #767 closed

[2020-04-02 18:31] #783 closed

[2020-04-02 19:52] ehmicky commented on #769
`npm install` seems to be still failing on Linux in Node `>=13` (but not Node `12` anymore).

[2020-04-03 13:35] richtr commented on #440
Related issues running local custom Netlify Identity:

https://github.com/netlify/cli/issues/529
https://github.com/netlify/cli/issues/621

[2020-04-03 14:31] abtx commented on #404
Same problem, but only in deployment. It happens every now and then, and never in dev. I need to ship my app and this is a deal breaker atm. Help!

[2020-04-03 17:20] erquhart commented on #769
Any thoughts on this @RaeesBhatti?

[2020-04-03 17:24] RaeesBhatti commented on #769
Well, we're officially supporting Node 12. So, I'm not sure exactly what would be the right decision here. If we want to support all Node version, we'll have to revert the newly added logs feature because that requires `firebase` and `firebase` requires `grpc`.

[2020-04-03 17:28] erquhart commented on #769
A good first step is opening an issue in the upstream `firebase` repo and linking here.

[2020-04-03 17:36] ehmicky commented on #769
My understanding is that we are supporting [`>=8.12.0`](https://github.com/netlify/cli/blob/c9b49b054b58d1f617455b5e1ea71f2ca3c0e53d/package.json#L14) which includes Node `13` (and in 3 weeks Node `14`)?

[2020-04-03 18:05] RaeesBhatti commented on #769
Firebase JS SDK officially only supports [`10.15.0` or greater](https://github.com/firebase/firebase-js-sdk#nodejs).

[2020-04-04 05:23] casey opened #791 "Netlify CLI unexpectedly invokes hugo"
In the screenshot below, I'm trying to serve my blog locally, but the netlify CLI is unexpectedly invoking hugo:

![image](https://user-images.githubusercontent.com/1945/78419318-7b0d5800-75f9-11ea-97c4-5d04e046da76.png)

This is a bug report. The current behavior is that, upon `netlify dev`, it invokes hugo. My site is `rodarmor-blog`, and this behavior can be reproduced by typing `netlify dev`.

[2020-04-04 05:45] casey commented on #791
I had a file called `config.toml` in my site directory, which caused hugo to trigger.

Is there a way to turn off auto-detection of build types? `config.toml` is a pretty common filename, so it would be nice if it didn't trigger changes to the way netlify previews sites.

[2020-04-07 03:27] calavera commented on #766
I'm pretty sure that we do not parse `_header` files with any toml parser, however, deploys don't fail when there is a parsing error, we only log the errors and move on. That repository has probably just worked, but never actually injected any header.

[2020-04-07 04:11] RaeesBhatti commented on #791
Hey Casey, thanks for opening this ticket. You can disable framework detection and use the static server by invoking `netlify dev -d [Project root directory here]`. This will not run the Hugo server.

[2020-04-07 04:15] RaeesBhatti commented on #687
Hey @zbruhnke , thanks for opening this ticket. We don't have support for branch deploys in CLI right now but an issue has been raised with API team to implement an endpoint that will allow us to do that.
You can follow the latest updates on this topic here: https://github.com/netlify/cli/issues/275

[2020-04-07 04:17] RaeesBhatti commented on #688
Thanks for opening this issue @ehmicky. It seems like a fix has already been merged here: https://github.com/netlify/cli/pull/701

Please reopen if otherwise.

[2020-04-07 04:17] #688 closed

[2020-04-07 04:29] shakirovs opened #793 "--prod flag is not making any effect"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
I am building my frontend(react) in gitlab CI/CD and trying to deploy it using
`netlify deploy --dir build --site {API Id} --auth {Token} --prod` command

Output
[code]
It is working file for unique deploy URL.
But problem is that I have still have old version of my site in production (app.mydomaon

[2020-04-07 04:34] RaeesBhatti commented on #793
@shakirovs It seems like the deploy is happening on the prod context indeed. Can you please make sure that the `build` directory has the updated files. It could be that your site generator is not updating the files or updating them in a different directory. You can test this by building the site locally, making sure `build` directory has the latest changes and then deploying and seeing if the prod

[2020-04-07 04:50] shakirovs commented on #793
1. I installed cli-on my local machine
2. Removed build directory
3. Changed site title to "Test title"
4. Built my site bu running `yarn build`
5. Checked `build/index.html` title. It is "Test title" there
6. Deploy `netlify deploy --dir build --site {API Id} --auth {Token}--prod`

Result:
I have "Test title" here https://5e8c0581a99897046--site_name.netlify.com
and old title here https://app.dom

[2020-04-07 04:59] shakirovs commented on #793
Maybe I am missing something🤔

[2020-04-07 05:04] RaeesBhatti commented on #793
I see. I just tested this scenario on a dummy `create-react-app` website and it seems to be working. You can take a look at the deploy settings for your Netlify site to make sure everything is fine. Maybe double check the domain name?

[2020-04-07 05:04] RaeesBhatti commented on #793
Try hitting your site from a different browser or CURL. It could be a cache problem.

[2020-04-07 05:14] shakirovs commented on #793
Could you be more specific?

[2020-04-07 05:18] shakirovs commented on #793
I opened deploy logs page (app.netlify.com/sites/.../deploys/...) and published it manually by pressing the "Publish deploy" Now I can see changes in my production site!

Seems `--prod` flag is not working for me.
It is deploying project like draft.

[2020-04-07 05:19] RaeesBhatti commented on #793
Actually, I'm not sure exactly. It should work just fine. Maybe @fool can shed some light

[2020-04-07 05:41] shakirovs commented on #793
I found the issue.
I pressed "stop auto publishing" button on deploys page to avoid publishing when I push changes(or merge) to master. Because I have to check lint and run tests in CI before deploy.
When I unlocked publishing it worked. Unfortunately it is not gonna solve my issue, because now it is deploying my project every time when I push something to master.
I just want to trigger deploy man

[2020-04-07 05:48] shakirovs commented on #793
May I just create project without binding it to git repository and push my artifacts manually(by netlify-cli)? (like firebase)

[2020-04-07 05:50] RaeesBhatti commented on #793
Yes, that is possible if you want to go that route.

[2020-04-07 06:00] shakirovs commented on #793
How can I unlink my site from git repository? I can't find it in settings

[2020-04-07 06:03] RaeesBhatti commented on #793
I don't you can do this from Netlify dashboard. You can goto your git hosting provider and remove Netlify Deploy Keys and web hooks for that repository.

[2020-04-07 06:19] shakirovs commented on #793
Git it, Thank you!

[2020-04-07 06:19] #793 closed

[2020-04-07 08:06] casey commented on #791
Hi Raees, thanks for the info!

It might be nice to make it configurable in `netlify.toml`, I think I already have the project root as `build.publish`, and it would be nice to avoid duplicating the configuration in two places.

[2020-04-07 11:36] ehmicky commented on #688
Yes it works, thanks @RaeesBhatti!

[2020-04-07 14:07] chris-pardy opened #794 "Netlify Dev /* 200 redirect not working"
**- Do you want to request a _feature_ or report a _bug_?**
Report a Bug

**- What is the current behavior?**
200 redirects (rewrites) from `/*` are not working on netlify dev

**- If the current behavior is a bug, please provide the steps to reproduce.**
The following file structure:

[code]

_redirects file:
[code]

netlify.toml file
[code]

run `npx netlify-cli@latest dev`

navigate to [localho

[2020-04-07 15:32] williamjacksn commented on #756
I was waiting for https://www.npmjs.com/package/netlify-cli to update for 2.41.0 this morning.

[2020-04-07 17:43] RaeesBhatti commented on #756
@williamjacksn `2.41.0` has been published on npm. Please try again

[2020-04-07 19:36] RaeesBhatti commented on #794
Thank you for opening this issue @chris-pardy. This is indeed a bug. We have a fix that will be released soon. https://github.com/netlify/cli/pull/796

[2020-04-07 19:42] jasikpark opened #797 "netlify dev --live does not trigger a live link"
**- Do you want to request a _feature_ or report a _bug_?**
# Bug

**- What is the current behavior?**
No `live-tunnel` is spawned on macOS 10.15.3 when running `netlify dev --live` installed via `npm i -g netlify-cli`

**- If the current behavior is a bug, please provide the steps to reproduce.**
run `netlify dev --live` on macOS 10.15.3

`ps aux | grep live-tunnel` output:
[code]

**- What is th

[2020-04-07 20:46] zb2oby commented on #404
hello,
Same problem with faunadb request after deployment on src change
`request to https://db.fauna.com/ failed, reason: socket hang up`

[2020-04-07 21:04] chris-pardy commented on #794
@RaeesBhatti is there a reason this rule is getting filtered out for non-static servers. While I gave steps to reproduce here ultimately I'd rather use a non static server (webpack dev server)

[2020-04-07 22:49] RaeesBhatti commented on #794
@chris-pardy This rule says that if a URL is accessed that results in 404 or if it doesn't have a corresponding file, show the `/index.html` page instead.
This rule needs to be filtered out for non-static servers because the server will receive `/index.html` as pathname for every request, and this will mean that assets like CSS files and JS files won't load.
Imagine running a `create-react-app` se

[2020-04-07 23:00] RaeesBhatti commented on #766
I just tested and can confirm that TOML styles rules in `_headers` files don't work on production. I think it's a good idea to let people know that they have invalid syntax when they run `netlify dev`. This will help save some frustration about why the rules are not being applied.

[2020-04-07 23:00] #766 closed

[2020-04-08 00:14] chris-pardy commented on #794
@RaeesBhatti my understanding was that the netlify dev server would only use that redirect if the server it was proxying returned a 404 when requesting a resource? Why would the rule apply if the proxied server returned a 200 response?

If you want I can re-open this issue for custom servers too.

[2020-04-08 07:25] RaeesBhatti commented on #794
I think you're right. We're checking for static files instead of relying on the app server to return a 404. Which doesn't work in this case. I've changed the title and reopened the issue to track the problem.

[2020-04-08 08:33] chamerling commented on #769
Hello,

Looks like latest (2.40.1) does not work well on Node 12 (12.16.1). Got error on our CI since this morning while it was working yesterday on 2.40.0

[code]

[2020-04-08 09:06] #778 closed

[2020-04-08 09:35] Overdrivr opened #798 "2.41.0 release broke global installation in CI environment"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
Crash during global installation

**- If the current behavior is a bug, please provide the steps to reproduce.**

We're using the netlify-cli in a Gitlab CI environment, yesterday build was passing with 2.40, today it's crashing with 2.41. I had to force version 2.40 to restore build.

The failure

[2020-04-08 10:18] bradlocking commented on #798
Also managing to replicate. running same install script from CI environment `npm i -g netlify-cli` and locking to `v2.40.0` is patching it for the time being

[2020-04-08 10:34] mabhub commented on #798
Same here!
`node 12.16.1 / npm 6.13.4`

[2020-04-08 11:48] drewm commented on #798
Same problem (and solution) reproduced. `node 13.6.0` and `npm 6.13.4`.

[2020-04-08 17:28] simonfr commented on #798
Same problem : `node 13.11.0 / npm 6.13.7`

[2020-04-08 18:45] RaeesBhatti opened #800 "Cant run more than one instance of Netlify Dev static server"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
`netlify dev` in two static projects fails because of the following error:
[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**
Run `netlify dev` two static projects without any port config or flags

**- What is the expected behavior?**
`netlify dev` runs multiple

[2020-04-08 18:54] gucolin commented on #769
Got the same issue here.

[2020-04-08 19:13] #800 closed

[2020-04-08 19:45] RaeesBhatti opened #802 "Netlify Dev hangs if no functions dir detected"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
`netlify dev` in a static directory will hang, waiting for functions server if not functions directory is present.

**- If the current behavior is a bug, please provide the steps to reproduce.**
`netlify dev` in a static directory will hang if not functions directory is present.

**- What is the ex

[2020-04-08 19:59] #802 closed

[2020-04-08 20:02] RaeesBhatti commented on #798
We've reverted the changes related to logs tailing which require a native module, the cause of this problem.
https://github.com/netlify/cli/pull/799

[2020-04-08 21:19] RaeesBhatti commented on #794
Thank you for suggesting this @chris-pardy . This change will be published in latest release.

[2020-04-08 22:05] RaeesBhatti commented on #709
@attaboy A fix for this has been released in `netlify-cli@2.42.0`. Please update and let us know if it is still an issue.

[2020-04-08 22:12] RaeesBhatti commented on #798
The reversion/fix has been released in netlify-cli@2.42.0. Please update and let us know if it is still an issue.

[2020-04-08 22:12] #798 closed

[2020-04-08 23:14] andrepcg opened #809 "@netlify/build 2.42.0 breaks deploys"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
Crashes during deploy

**- If the current behavior is a bug, please provide the steps to reproduce.**
Netlify started failing my deploys since yesterday (8th of april), and I guess a new version of @netlify/build got released.

**Netlify deployment logs**

[code]

Running `netlify build` locally af

[2020-04-08 23:22] RaeesBhatti commented on #809
Thank you for reporting this issue @andrepcg. We'll get back to you with more information soon

[2020-04-08 23:29] andrepcg commented on #809
@RaeesBhatti Found out that I have specifically to set `base` in `netlify.toml` file. If I do not pass a base dir, it fails.

https://github.com/netlify/build/blob/master/packages/config/src/files.js#L31

`path` is not undefined bu null instead and thus never entering that path. But even if it could enter it would result in `TypeError [ERR_INVALID_ARG_TYPE]: The "path" argument must be of type str

[2020-04-09 01:11] hebibulla commented on #809
i just update netlify-cli version from 2.4.0 to 2.42.0 that i got same error in my terminal.

[2020-04-09 11:00] ehmicky commented on #809
Thanks for reporting this issue!
I have created a PR (https://github.com/netlify/build/pull/1120) to solve this problem, I will let you know as soon as this available.

[2020-04-09 11:36] atuttle commented on #802
The new version may or may not have fixed the issue at hand, but it definitely broke something for me.

![image](https://user-images.githubusercontent.com/46990/78891055-c037ec80-7a34-11ea-85d5-ca127ee793bd.png)

[2020-04-09 11:39] ehmicky commented on #802
@atuttle This issue was reported here: https://github.com/netlify/cli/issues/809

[2020-04-09 12:08] kirillgroshkov commented on #809
Please publish the fix to npm to unbreak everyone's builds, thanks:)

[2020-04-09 12:27] joyacv2 commented on #809
Hi,

Cannot make deploys until this is fixed

[2020-04-09 12:57] ehmicky commented on #809
There are two separate problems in this issue.

1. Deploys crash with Netlify CLI with the `Cannot read property 'replace' of null` error message. This should be fixed by #813. This PR might take few hours to publish to npm. In the meantime, you can do the following to get the fix right away:
  - remove your `package-lock.json` or `yarn.lock` and re-install `netlify-cli`
  - run `npm ls @netlify/c

[2020-04-09 13:17] ehmicky commented on #809
I have separated the second issue (with `aws-sign2`) to its own GitHub issue at https://github.com/netlify/build/issues/1121.

The first issue (`Cannot read property 'replace' of null`) is impacting more users. Note: it only impacts Netlify CLI not production builds.

[2020-04-09 13:45] chris-pardy commented on #794
@RaeesBhatti thanks for working through this. I'm super excited to be rolling out Netlify Dev across our stack with these changes.

[2020-04-09 13:48] haphut commented on #809
Thanks for working on this issue. Just a note on the priority of this issue: it is affecting the production of everyone building in GitHub Actions and deploying with [netlify/actions/cli](https://github.com/netlify/actions/tree/master/cli). The latter uses no version pinning and the Docker images are not uploaded anywhere.

[2020-04-09 13:56] ehmicky commented on #809
Thanks for the information @haphut!

If I am not mistaken, since that GitHub Action is [not using any version pinning](https://github.com/netlify/actions/blob/3e1877e3a4afe02687a10b7fa7f2456bf35d1925/cli/Dockerfile#L12) as you mentioned, it should [respect semver for `@netlify/config`](https://github.com/netlify/cli/blob/14b7ed7ddf257eed32a6abb3ca8f70f59039449a/package.json#L65) and install the la

[2020-04-09 13:57] siliconchild commented on #809
@ehmicky Thank You, Updating the netlify-config dependency to 0.9.1 fixed the issue.

[2020-04-09 14:07] haphut commented on #809
Fantastic @ehmicky! Thank you.

[2020-04-09 16:28] TravisKool commented on #809
Yessss!! Wow you guys are amazing!

It's fixed!

![image](https://user-images.githubusercontent.com/5742961/78917880-63443280-7a44-11ea-80ec-c6290556f9a3.png)

[2020-04-09 17:09] #794 closed

[2020-04-09 17:10] RaeesBhatti commented on #794
Thanks for opening this issue. It made Netlify CLI better for so many others.

[2020-04-09 17:34] RaeesBhatti commented on #809
A new version (`netlify-cli@2.43.0`) has just been published. Please update and let us know if it fixes this problem. We'll close this issue when we have confirmation.

[2020-04-09 18:15] joyacv2 commented on #809
Hi,

I want to thank you very much for your fast response to the issue! Thanks again!

[2020-04-10 02:57] RinMinase commented on #809
@RaeesBhatti I have confirmed it to be working on `netlify-cli@2.43.0`. Cheers! 🎉

[2020-04-10 03:01] RaeesBhatti commented on #809
Thank you all!

[2020-04-10 03:01] #809 closed

[2020-04-10 04:43] RaeesBhatti commented on #769
We've reverted the change that required `firebase` the cause of this problem.

[2020-04-10 04:43] #769 closed

[2020-04-11 21:38] SammyIsra commented on #689
Has there been any progress on this issue? I am still facing it on version 2.43.0.

[code]

This happens regardless of whether the console is in Admin mode or not

[2020-04-11 21:41] elijaharita commented on #689
Have you tried the solution I posted above? It works for me every time, but I haven't received any feedback from others.

[2020-04-11 21:55] RaeesBhatti commented on #689
`ESRCH` error means that the process that was supposed to be stopped couldn't be found. Unfortunately, I don't have a Windows device at hand to debug this but making sure dependencies are installed would be a good start. If you're using `nuxt`, making sure that you have a `scripts` entry in your `package.json` for `dev` or `start` that maps to `nuxt` would be a good idea too. Like so:
[code]

[2020-04-11 21:58] RaeesBhatti commented on #689
Having `nuxt` as a dependency is also a requirement to detect Nuxt as framework.

In @zync09's  case It seems like `yarn` is being detected as the framework, which is odd because we don't have a detector profile that maps to `yarn`. It would be helpful if you can share your `package.json`, specifically the `dependencies` and `scripts` part.

[2020-04-11 22:14] SammyIsra commented on #689
In my case, I am using Gatsby, not Nuxt. I did try the solution - in my `package.json` I have this script: `"dev": "gatsby develop"` but that doesn't fix the issue. It doesn't seem to change anything on my end.

Is there anything I can do on my end to figure out what was the process that was expected to be closed?

[2020-04-11 22:18] RaeesBhatti commented on #689
@SammyIsra Can you please post your `package.json` contents here! `dependencies`, `devDependencies` and `scripts` specifically.

Also, does `Gatsby develop` ever run when you run `netlify dev`, can you see the Gatsby related logs in the terminal?

[2020-04-12 03:11] SammyIsra commented on #689
@RaeesBhatti For your second question, I don't see any output from `gatsby develop`. This is the entire output from running `netlify-dev`:
![image](https://user-images.githubusercontent.com/8962228/79059558-30f72880-7c30-11ea-941c-bbda1060ebac.png)

For the contents of my `package.json`, I should note that this is almost identical than the Gatsby starter found here: https://www.netlifycms.org/docs

[2020-04-12 06:50] RaeesBhatti opened #815 "Handle unauthenticated dev users with grace"
**- Do you want to request a _feature_ or report a _bug_?**
Feature

**- What is the current behavior?**
`netlify dev` dies miserably if you're not logged in.
[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**
* `netlify logout`
* `netlify dev` in your project

**- What is the expected behavior?**
`netlify dev` runs without any errors and shows a warning for the

[2020-04-12 08:00] RaeesBhatti commented on #689
Thank you all for your patience. It sure took a while but I was able to hunt down the bug. It seems like Windows doesn't allow invoking binaries without full path.
We have a fix in PR, it will be released soon. In the mean time, you can checkout the branch to test it locally. https://github.com/netlify/cli/pull/816

[2020-04-12 08:02] RaeesBhatti commented on #689
Please note that Netlify Dev is beta software. I know that it is very frustrating when your tools don't work but we have very limited resources for this project. We're hoping that all of us as a community can improve and support it.

[2020-04-12 21:03] #689 closed

[2020-04-12 21:03] SammyIsra commented on #689
That's great to hear, thank you so much!

I have a follow up question. If this happened on all Windows machines, how come the solution mentioned above worked when using Nuxt?

[2020-04-12 21:06] RaeesBhatti commented on #689
It might be that the solution worked in WSL platform and not on Windows. I'm not sure exactly.

[2020-04-12 22:36] SammyIsra commented on #689
Understood. Is there a way for me to tell which version of the CLI will contain this change?

[2020-04-12 22:43] RaeesBhatti commented on #689
`netlify-cli@2.44.0` has just been released that contains this fix.

[2020-04-13 10:39] teachtyler opened #817 "netlify dev: 'C:\Program' is not recognized as an internal or external command"
**- Do you want to request a _feature_ or report a _bug_?**
report a bug

**- What is the current behavior?**
netlify dev fails on create-react-app

[code]

**- Local Environment Information**
────────────────────┐
 Environment Info   │
────────────────────┘

  System:
    OS: Windows 10 10.0.17763
    CPU: (8) x64 Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz
  Binaries:
    Node: 13.3.0 - C:\Program

[2020-04-13 10:47] teachtyler commented on #817
recreation steps:
[code]
as well as
https://github.com/teachtyler/create-react-app-lambda
https://github.com/teachtyler/deploy-create-react-app

[2020-04-13 10:51] RaeesBhatti commented on #817
Thank you for reporting this issue @teachtyler. The problem has been identified and fixed here https://github.com/netlify/cli/pull/818 and the fix will be released soon. In the mean time, you can try out the PR branch and provide feedback on if it fixes your problem.

[2020-04-13 12:36] RaeesBhatti opened #819 "netlify dev crashes on projects with no config file"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
`netlify dev` crashed if the project has not `netlify.*` config file.

**- If the current behavior is a bug, please provide the steps to reproduce.**
* Create new `create-react-app` project
* Run `netlify dev`

**- What is the expected behavior?**
`netlify dev` runs without any error

**- Local Env

[2020-04-13 12:59] #817 closed

[2020-04-13 13:02] #819 closed

[2020-04-13 14:43] RaeesBhatti commented on #765
Should've been fixed by https://github.com/netlify/cli/pull/818. Initial testing seems positive.

[2020-04-13 14:43] #765 closed

[2020-04-13 16:00] RaeesBhatti commented on #640
This is no longer a problem. In the latest version (`netlify-cli@2.45.0`), the requests will be routed correctly to the app server with original pathnames and app server will be left to decide on the redirects.
Please reopen this ticket if the issue persists.

[2020-04-13 16:00] #640 closed

[2020-04-13 16:04] RaeesBhatti commented on #653
No longer a problem. Please upgrade to latest version `netlify-cli@2.45.0` and let us know if the problem persists. =

[2020-04-13 16:04] #653 closed

[2020-04-13 16:22] RaeesBhatti commented on #624
@kripod Thank you for reporting this issue. Can you please update to `netlify-cli@2.45.0` and try again. See if that fixes it.

[2020-04-13 16:26] RaeesBhatti commented on #624
The `dist` directory comes from the framework configuration detector. It seems like in your case, it's defaulting to static server which runs in current directory.

[2020-04-13 17:00] sw-yx commented on #640
nice.

[2020-04-13 19:26] RaeesBhatti commented on #617
It seems like `command` was set to `react-scripts` and `netlify` wasn't able to find it in your PATH. This should no longer be an issue.

[2020-04-13 19:26] #617 closed

[2020-04-13 19:27] RaeesBhatti commented on #617
Thanks for reporting though

[2020-04-13 19:33] RaeesBhatti commented on #604
This is no longer an issue. You can link and deploy in same command in latest version without any issue. Thanks for reporting!

[2020-04-13 19:33] #604 closed

[2020-04-13 19:41] RaeesBhatti commented on #598
@jon301 It seems like you don't have a `package.json` file for your function. In general if you have function files directly under `functions` directory, you need to have a `package.json` along-side them that lists the `dependencies`. If you have functions in different directories, each of them needs a `package.json` with `dependencies` listed there as well.
Also, make sure to `npm install` or `ya

[2020-04-13 19:41] #598 closed

[2020-04-13 20:05] mrrosoff opened #827 "Redirects tag in netlify.toml causes bundle error"
**- Do you want to request a _feature_ or report a _bug_?**

Report a bug.

**- What is the current behavior?**

When using a redirects tag in netlify.toml (intended for React Router), netlify dev finds bundle.js from webpack-dev-server as index.html.

This is similar to this issue: https://github.com/netlify/cli/issues/443

**- If the current behavior is a bug, please provide the steps to reprodu

[2020-04-13 20:44] RaeesBhatti commented on #827
@mrrosoff Thanks for opening this ticket! Can you please update to `netlify-cli@2.46.0` and see if that fixes this problem.

[2020-04-13 23:35] RaeesBhatti commented on #610
The socket hangup has been fixed for quite some time now. Thank you for your patience and reporting this. Please update your `netlify-cli` to the latest version and let us know if it is still a problem.

[2020-04-13 23:35] #610 closed

[2020-04-13 23:40] RaeesBhatti commented on #564
This has been fixed recently. The order of preference for `port` is as follows (each overrides the previous):
1. Framework detector config
2. `netlify.toml` config
3 `netlify dev` flags

If `port` is specified in `netlify.toml` or in `netlify dev` flags and we're unable to acquire it, it will throw an error stating the fact.

Thank you all for your patience. Please make sure to update your `netlif

[2020-04-13 23:40] #564 closed

[2020-04-13 23:48] RaeesBhatti commented on #516
This has been fixed in the latest version. Now we hand off all requests to application server (`gridsome` in this case) that are not:
1. Redirects (301, 302)
2. External URL's

Please update to latest version of `netlify-cli@2.46.0` and let us know if the problem still persists.

[2020-04-13 23:48] #516 closed

[2020-04-13 23:52] RaeesBhatti commented on #511
@Palgie @ryan-gilb I think this should've been fixed in the latest version. Can you please update your `netlify-cli` to the latest version and let us know!

[2020-04-14 00:00] RaeesBhatti commented on #482
@lassiter Apologies for the delay. Is this still a problem? Can you please update to latest version of `netlify-cli@2.46.0` and try again! Let us know if the issue still persists.

[2020-04-14 00:05] RaeesBhatti commented on #456
Closing in favor of https://github.com/netlify/cli/issues/756

[2020-04-14 00:05] #456 closed

[2020-04-14 00:11] RaeesBhatti commented on #435
I think this is a bit too much to ask considering the other issues we have. Not planning to implement it for now. Will reconsider if more interest is presented. Thanks for opening this ticket!

[2020-04-14 00:11] #435 closed

[2020-04-14 00:27] RaeesBhatti commented on #414
This should work in the latest version. We're handing all request to app server (Gatsby in this case) without rewriting the URL when there's no other matching criteria.
Please update your `netlify-cli` to latest version `2.46.0` and let us know if it is still a problem.

[2020-04-14 00:27] #414 closed

[2020-04-14 00:30] RaeesBhatti commented on #416
This has been supported since some time now. If user requests `/something` and `/something.html` is available or `/something/index.html` is available, we will serve that for static websites.
Not possible with framework based app servers because they implement their own routing logic and don't return 404 on not found URL's.

[2020-04-14 00:30] #416 closed

[2020-04-14 00:41] RaeesBhatti commented on #401
You can use `/.netlify/functions/<functionName>` without `host` and it will work on both `netlify dev` and production including draft URL's. Like so:
[code]
If you have a need to use use `host`, you can use `window.location.host` and it will work on `netlify dev` and in production. Like so:
[code]

Thank you for opening this issue. Apologies for the long delay. You can ask usage questions on http:

[2020-04-14 00:41] #401 closed

[2020-04-14 00:49] RaeesBhatti opened #830 "11ty detector is broken"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
Following the getting [started guide for 11ty](https://www.11ty.dev/docs/getting-started/) and running `netlify dev` results in 11ty not being detected and a static server is used.

**- If the current behavior is a bug, please provide the steps to reproduce.**
* Follow the getting [started guide fo

[2020-04-14 01:00] RaeesBhatti commented on #386
This has been fixed for some time now. Please update to the latest version `netlify-cli@2.46.0` to get the solution. Keep in mind that current 11ty detector doesn't work when you don't have a `.eleventy.js` file, [there's a PR for that](https://github.com/netlify/cli/issues/830) and a fix will be released soon.

[2020-04-14 01:00] #386 closed

[2020-04-14 01:02] RaeesBhatti commented on #332
This has been fixed in the latest version. Please update to `netlify-cli@2.46.0` and let us know if the problem still persists.

[2020-04-14 01:02] #332 closed

[2020-04-14 01:06] RaeesBhatti commented on #309
Intent of then feature is unclear. Please reopen with more details.

[2020-04-14 01:06] #309 closed

[2020-04-14 01:15] RaeesBhatti commented on #221
Closing this since the usage and description is documented here: https://cli.netlify.com/commands/deploy/

[2020-04-14 01:15] #221 closed

[2020-04-14 01:19] RaeesBhatti commented on #214
This has been fixed. We have a [testing regex in place](https://github.com/netlify/cli/blob/fafc7fd1d4896cf616e580ad6d310ecb8e0ad295/src/commands/sites/create.js#L73) to make sure a valid site name is selected.

[2020-04-14 01:19] #214 closed

[2020-04-14 06:41] zync09 commented on #689
Thank you for this @RaeesBhatti ! Can confirm this is now working with my NUXT project.

[2020-04-14 16:30] oles opened #832 ""Forbidden" error with redirected function in folder since v2.42.0"
**- Do you want to request a _feature_ or report a _bug_?**
Bug.

**- What is the current behavior?**
Broken redirection of functions in folders with `netlify dev`, with this config:

[code]

`netlify-cli/2.42.0 linux-x64 node-v10.20.1`
(same with the newest release, `netlify-cli/2.46.0 linux-x64 node-v10.20.1`)
http://localhost:8888/.netlify/functions/example :heavy_check_mark:
http://localhost:8

[2020-04-14 16:50] rolodato commented on #652
I've run into a similar issue on a Hugo-based website, not using Angular or Angular CLI in my case. I think the root cause is Netlify CLI not using the calling shell's environment variables, including `PATH`. Calling `env` from a build script invoked by Netlify CLI returns this:

[code]

@mtopping's workaround works for me, but I prefer to use it this way:

* Avoid hardcoding your home directory b

[2020-04-14 19:53] RaeesBhatti commented on #832
Thank you @oles for making such a excellent bug report! The problem has been identified and fixed in https://github.com/netlify/cli/pull/834. The solution will be released soon.

[2020-04-14 20:12] oles commented on #832
Glad to help!
Awesome, looking forward to it - thank you!

[2020-04-14 20:59] #832 closed

[2020-04-14 21:15] ehmicky opened #835 "Add tests for `netlify build`"
We should have some tests for the `netlify build` command.

[2020-04-14 21:35] RaeesBhatti commented on #797
@jasikpark Thank you for opening this ticket. Can you please the output of `netlify dev --live` command!

[2020-04-15 00:45] jasikpark commented on #797
Well, this isn't what happened previously, but here:

[code]

[2020-04-15 13:31] Palgie commented on #511
Thanks @RaeesBhatti - will let you know if I get the chance to confirm this.

[2020-04-15 15:28] #666 closed

[2020-04-15 15:28] #579 closed

[2020-04-15 15:28] #590 closed

[2020-04-15 15:41] #509 closed

[2020-04-15 16:49] RaeesBhatti commented on #149
Closing in favor of https://github.com/netlify/cli/issues/231

[2020-04-15 16:49] #149 closed

[2020-04-15 16:56] ehmicky commented on #835
Done in #837.

[2020-04-15 18:16] #835 closed

[2020-04-15 21:45] jozsi commented on #766
New to Gatsby and Netlify, I've started with the recommended https://github.com/netlify-templates/gatsby-starter-netlify-cms starter, installed `netlify-cli`, ran `netlify dev` and got the `Error: path should come before headers` message. Took some time to find the culprit, downgrading to `v2.40.0` helped. I think the template should be updated.

[2020-04-15 21:51] #830 closed

[2020-04-15 23:52] cvan commented on #797
same behaviour for me.

it appears the breaking change occurred in [`v2.41.0`](https://github.com/netlify/cli/releases/tag/v2.41.0):
[code]

 [`v2.40.0`](https://github.com/netlify/cli/releases/tag/v2.41.0) works:
[code]

[2020-04-16 16:14] RaeesBhatti commented on #766
I opened a PR in the template repo to fix the syntax https://github.com/netlify-templates/gatsby-starter-netlify-cms/pull/546

[2020-04-16 17:27] RaeesBhatti commented on #797
Thank you all for providing this information. It was indeed a recently introduced bug. We have a fix at https://github.com/netlify/cli/pull/839, and it will be released soon.

[2020-04-16 18:46] jasikpark commented on #797
Glad to hear!

[2020-04-16 20:01] phaseOne commented on #275
@RaeesBhatti this feature would be a blessing for our team since our code is on Bitbucket and we don't have access to deploy previews as a result. We're really stuck at the moment. Just an API endpoint would unblock us.

[2020-04-17 14:24] #797 closed

[2020-04-17 16:08] wooleah opened #841 "Build from root fails with 403, unable to determine public folder"
**- Do you want to request a _feature_ or report a _bug_?**

Would like to report a bug

**- What is the current behavior?**

Shows forbidden (server responses with code 403) on main page(index.html on localhost:port) after running ```ntl dev``` on root dir.

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. specify publish dir in netlify.toml
- my folder structure

[2020-04-17 19:14] #469 closed

[2020-04-17 19:14] #706 closed

[2020-04-17 19:14] #841 closed

[2020-04-17 22:16] bradley commented on #564
I cant test if this was fixed because of [this other issue that asks me to roll back to 2.46.0](https://community.netlify.com/t/env-node-no-such-file-or-directory-when-using-netlify-cli/12391/2?u=bradleygriffith)

[2020-04-18 01:33] marcus13345 commented on #706
@RaeesBhatti would you mind elaborating on what was fixed here? Will this use case simply work now, should I be approaching it differently?

Thanks

[2020-04-18 01:52] RaeesBhatti commented on #706
@marcus13345 The problem was that when we didn't detect an application server, we didn't provide any environment variables to the "command" process, which meant that there was not $PATH and the OS couldn't find it. Which was a mistake that has been corrected and we've added tests to make sure environment variables are always passed.
This fix hasn't been released, I'll post an update here when we d

[2020-04-18 02:00] RaeesBhatti commented on #706
In the meantime, you can `git clone https://github.com/netlify/cli.git && cd cli && npm link` and try out `netlify dev` in your project to see if the upcoming update will fix your problem.

[2020-04-18 03:01] RaeesBhatti commented on #706
@marcus13345 `netlify-cli@2.47.0` has just been published. Please update and let us know if it fixes your issue!

[2020-04-18 03:20] RaeesBhatti commented on #791
@casey `netlify-cli@2.47.0` has just been released. In the latest version you can specify `framework = "#static"` property in `netlify.toml` `[dev]` section to avoid passing `-d` flag every time. Like so:
[code]

[2020-04-18 03:20] #791 closed

[2020-04-18 03:22] casey commented on #791
Sweet, this is great. Thank you!

[2020-04-18 16:02] RaeesBhatti commented on #745
@ingride Can you please elaborate on the `async` property in [`createSiteDeploy`](https://open-api.netlify.com/#operation/createSiteDeploy) API call. What does that mean exactly?

[2020-04-19 01:42] mrrosoff commented on #827
@RaeesBhatti No problem. Updated, two interesting behaviors now occur.

Netlify and Webpack port now both open, and the Netlify port has no data. Some communication link has been changed. This removes the core behavior of Netify-dev. This seems to occur with or without the redirect field in netlify.toml. As the core functionality has been removed, it is impossible to test the redirect functionalit

[2020-04-19 01:44] mrrosoff commented on #827
This was on netlify-cli@2.47.0

[2020-04-19 01:47] mrrosoff commented on #827
@RaeesBhatti Tested netlify@2.46.0, different issue than 2.47.0.

No discernible change between 2.46.0 and 2.45.0.

[2020-04-19 01:48] RaeesBhatti commented on #827
@mrrosoff I see. Can you share you `netlify.toml` please, also the output from `netlify dev` command!

[2020-04-19 01:49] mrrosoff commented on #827
Sure!

netlify.toml

`
[build]

  # Directory of Built Files

  publish = "dist/"

  # Production Build Command

  command = "npm run prod"

  # Directory with the Lambda functions to deploy to AWS

  functions = "Lambda/"

[dev]

  # Development Build Command

  command = "./netlify-dev.sh"

  # Webpack-Dev-Server Port

  targetPort = 3000

  publish = "./dist"
  autoLaunch = true

[[redirects]]

[2020-04-19 01:50] mrrosoff commented on #827
netlify-dev

[code]

[2020-04-19 01:51] RaeesBhatti commented on #827
Can you try out `raees/dev-config-improvements` branch, I think that will fix your problem. Just do `git clone https://github.com/netlify/cli.git && cd cli && git checkout raees/dev-config-improvements && npm i && npm link` outside of your current project.
And then run `netlify dev` in your project again

[2020-04-19 01:52] mrrosoff commented on #827
Perhaps this is due to the fact that I am using nvm?

[2020-04-19 01:52] mrrosoff commented on #827
Sure

[2020-04-19 02:00] RaeesBhatti commented on #827
Can you try changing the `command` to `npm run dev`? Also, please elaborate on what

Are you getting a 404 or is it just a blank page? After running `netlify dev`, can you try `curl -vvv http://localhost:8888` in your terminal and share the response.

[2020-04-19 02:02] RaeesBhatti commented on #827
Please use `raees/dev-config-improvements` branch for any new tries.

[2020-04-19 02:11] mrrosoff commented on #827
npm run dev is the command to run webpack-dev-server.

As for no data, I mean that it loads a blank html file. Attempting to save the page source results in black txt file through Chrome. Dev-tools show no sources.

Here is the output to curl

[code]

[2020-04-19 02:15] RaeesBhatti commented on #827
It seems like at least the HTML is being proxied correctly. Can you try share the results of `curl -vvv http://localhost:8888/bundle.js`!
Also, try [hard reloading](https://fabricdigital.co.nz/blog/how-to-hard-refresh-your-browser-and-clear-cache) http://localhost:8888 in your browser. This can very well be a cache problem.

[2020-04-19 02:26] mrrosoff commented on #827
That seemed to be the problem. To summarize:

With branch `raees/dev-config-improvements`, with `framework = "#custom"`, both `redirects` and `lambda functions` work properly.

Thank you for your help!

[2020-04-19 02:26] RaeesBhatti commented on #827
Ah, I'm so glad it worked out for you!

[2020-04-19 04:44] RaeesBhatti commented on #466
Seems like a user error. Please reopen if otherwise

[2020-04-19 04:44] #466 closed

[2020-04-19 04:45] RaeesBhatti commented on #463
We document every property and flag in Netlify Dev docs.

[2020-04-19 04:45] #463 closed

[2020-04-19 04:58] RaeesBhatti commented on #815
Closing in favor of https://github.com/netlify/cli/issues/174

[2020-04-19 04:58] #815 closed

[2020-04-20 01:48] thorsten-stripe commented on #841
@RaeesBhatti I just updated to version 2.47 and still see this issue persist:
![image](https://user-images.githubusercontent.com/23213994/79706303-500a5000-82eb-11ea-904f-fcc0a2bc247b.png)

Previously I was running version 2.36 where it was working fine.

Steps to reproduce:

1. clone https://github.com/stripe-samples/checkout-netlify-serverless
2. Run `ntl dev` in project root
3. See that it does

[2020-04-20 05:25] bradley commented on #827
It appears this also fixed my issue with `webpack-dev-server` and having to `cmd+shift+r` to get pages to load when ran through `netlify dev`. Is there a definite plan to include this branch in a release soon? Id like not to make my other devs do the symlink branch install flow nor document it. Thanks so much for the continued work @RaeesBhatti you've been helpful across issues.

[2020-04-20 18:12] dimavolo commented on #521
Any updates on this? When I run `netlify dev`, I'm getting `error while proxying request: socket hang up` (not randomly, on every call), and I wonder if it's related to this `--live` issue.

(with Vue CLI)

[2020-04-20 18:32] dimavolo opened #846 "netlify dev works but functions fail with "error while proxying request: socket hang up""
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
I reviewed the existing issues that are similar to this, but found no solutions.

`netlify dev` successfully starts a server, serving a `vue cli` app at `http://localhost:8888`, but all calls to functions result in `error while proxying request: socket hang up`

**- If the current behavior is a bug

[2020-04-21 10:55] pawel2105 opened #847 "Unsupported value provided for "framework" option in config"
**- Do you want to request a _feature_ or report a _bug_?**

Bug

**- What is the current behavior?**

Running `netlify dev` with a framework config added to `netlify.toml` results in the following error:

[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**

My `netlify.toml` file looks like:

[code]

**- What is the expected behavior?**

framework config should

[2020-04-21 11:42] pawel2105 commented on #847
The workaround fix for this is to change `framework = "next.js"` to `framework = "next.js.js"`

The solution is to change line of `src/utils/detect-server.js:58` from:

`const detectorName = detectorsFiles.find(dt => `${dt}.js` === devConfig.framework)`

to

`const detectorName = detectorsFiles.find(dt => dt === devConfig.framework || `${dt}.js` === devConfig.framework)`

The reason I haven't crea

[2020-04-21 22:20] moop-moop opened #848 "netlify dev: default 404 page handling, file/url shadowing not functioning"
**- Do you want to request a _feature_ or report a _bug_?**

bug

**- What is the current behavior?**

When using `netlify dev` the documented default 404 and file shadowing behavior does not work.

- https://docs.netlify.com/routing/redirects/redirect-options/#custom-404-page-handling

- https://docs.netlify.com/routing/redirects/rewrites-proxies/#shadowing

**- If the current behavior is a bug,

[2020-04-21 23:02] designbuedchen opened #849 "functionsPort in netlify.toml ignored?"
**- Do you want to request a _feature_ or report a _bug_?**

Bug and feature

**- What is the current behavior?**

functionsPort setting in the netlify.toml file is ignored and gives standard port output:

[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**- What is the expected behavior?**

Functions server port should be set to 4446

**- Local Envir

[2020-04-22 07:03] tibotiber commented on #624
fwiw, I had the same issue (also using `wsrun`) and updating fixed the issue. I'm guessing this is linked to #809.

[2020-04-22 15:24] wooleah commented on #841
This issue still remains, anything I'm missing here?

[2020-04-22 16:31] fjeddy opened #850 "v2.47 breaks `netlify dev` with vue-cli"
Hello,

On the new 2.47 version running `netlify dev` on a vue-cli project will result in the following

[code]

No errors, except a hint  saying a npm command that doesn't exist was used. Downgrading to version 2.46 will fix the problem, so something broke / changed in 2.47.

[2020-04-22 19:03] t2ca commented on #404
This issue still exists.
`GraphQL error: request to https://db.fauna.com/ failed, reason: socket hang up`

[2020-04-22 19:54] zemse commented on #696
Hi @aimee-gm @RaeesBhatti, I've figured this issue. This has nothing to do with netlify, it's an issue of `$PATH` variable. MacOS moved from bash to zsh and your existing npm installation is configured to add binaries to bash. You have to manually add it to zsh.

Steps to fix:
See where `npm i -g` installs the global dependencies.
[code]
Your binaries would be in `/Users/<yourusername>/.npm-global

[2020-04-22 19:54] #696 closed

[2020-04-22 21:32] marcorivm commented on #850
Setting the dev command manually on netlify.toml fixed it for me
[code]

[2020-04-23 02:54] overlordofmu opened #851 "200 redirect rules are treated as force=true (local file shadowing not working)"
**- Do you want to request a _feature_ or report a _bug_?**

This is a bug report for the `netlify dev` handling of 200 redirect rules.

**- What is the current behavior?**

When `netlify dev` processes a 200 redirect it will always redirect even if the local file/asset exists. This is particularly problematic for the [SPA rule](https://docs.netlify.com/routing/redirects/rewrites-proxies/#shadowin

[2020-04-23 02:55] overlordofmu commented on #851
First reported here:

https://community.netlify.com/t/create-react-app-netlify-toml-redirects-rule-redirects-all-static-js-files-to-index-html/11567/2

[2020-04-23 14:31] dalmo3 opened #852 "`netlify build` fails after upgrading to 2.47, works on 2.46 (Windows only, CLI only)"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**
Just `netlify build`.

The bug happens on multiple projects so I can't see it being due to any config files.

They all fail with that weird syntax error.

**- What is the expected behavior?**
I downgraded to `@2.

[2020-04-23 16:05] ehmicky opened #854 "CI tests are randomly failing"
The tests seem to work locally, but in CI they fail randomly.

[2020-04-23 16:26] ehmicky commented on #852
Hi @dalmo3!

Thanks for reaching out.
Could you please share the link to your repository? I will try to reproduce this issue. Thanks!

[2020-04-23 21:25] ehmicky commented on #854
They were actually canceled, not failing. Fixed by #855.

[2020-04-23 21:25] #854 closed

[2020-04-23 21:27] ehmicky commented on #852
The following PR #853 should fix your problem @dalmo3. We will release it soon.

[2020-04-24 19:09] ehmicky commented on #852
We have released `2.48.0`, could you please try now?

[2020-04-25 06:19] dalmo3 commented on #852
All good now. Thanks a lot!

[2020-04-25 07:16] chaudharykiran commented on #275
Any update on this issue.

[2020-04-25 11:16] #852 closed

[2020-04-25 18:13] ryan-gilb commented on #511
Hey @RaeesBhatti, I updated my `netlify-cli`. This is the output of `netlify --version`: `netlify-cli/2.48.0 darwin-x64 node-v10.16.3`. I'm still experiencing the original issue. I'm probably doing something funky in my lambda, but I'll just keep using `netlify-lambda` for now 🙂

[2020-04-25 18:38] forgetaboutme opened #858 "require() of ES modules is not supported - netlify-cli deploy"
**- Do you want to request a _feature_ or report a _bug_?**
bug

**- What is the current behavior?**
Error [ERR_REQUIRE_ESM]: Must use import to load ES Module: C:/Users/frozensoil/AppData/Roaming/npm/node_modules/netlify-cli/node_modules/is-promise/index.js
require() of ES modules is not supported.
require() of C:/Users/frozensoil/AppData/Roaming/npm/node_modules/netlify-cli/node_modules/is-promi

[2020-04-25 19:08] forgetaboutme commented on #858
Could fix by removing all node_modules from %AppData% and reinstalling netlify-cli.

[2020-04-25 19:08] #858 closed

[2020-04-26 22:24] DavidWells opened #859 "Bug: deploy command regression"
The `netlify deploy` command used to deploy one of my sites has stopped working in `netlify-cli@2.48.0`

The command `netlify deploy` fails with a "Base directory does not exist" error.

[code]

Was something changed recently with the `netlify deploy` command?

This is the site in question: https://github.com/DavidWells/analytics/tree/master/site/main and the previously working deploy script is he

[2020-04-26 22:29] DavidWells commented on #859
It looks like this is an error coming from netlify/config https://github.com/netlify/build/blob/b6006915061ecd890a7d4f8b857cddc22e778f1a/packages/config/src/files.js#L65 cc @ehmicky

[2020-04-27 03:46] DavidWells commented on #859
Reverting to `netlify-cli@2.40.0` fixes this error

[2020-04-27 04:25] macguirerintoul commented on #850
Seeing this as well, but with Gridsome and on CLI v2.48

[2020-04-27 14:20] ehmicky commented on #859
Just to confirm, I think the error message should be `
Base directory does not exist: /Users/davidwells/David/analytics-project/analytics/site/main/public`, not `
Base directory does not exist: /Users/davidwells/David/analytics-project/analytics/site/main/site` if you passed `--dir public`, please confirm if that's not the case.

It looks like the issue is that the `public` directory does not exis

[2020-04-27 14:32] cco3 opened #862 "--dir option regression"
Regression at 2.47.0
netlify dev --dir is attempting to build rather than just serve the built files

**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**

Attempts to build.

**- If the current behavior is a bug, please provide the steps to reproduce.**

    gridsome create myproject
    cd myproject
    gridsome build
    netlify dev --dir dist

**

[2020-04-27 15:11] TomPichaud opened #863 "[BUG] ERR_INVALID_PACKAGE_TARGET"
Hello,

I would like to report an issue preventing me from using Netlify-CLI.
Any help please ?

**Steps to reproduce:**
1. `brew install netlify-cli`
2. `netlify init`

I tried to uninstall and install few times. Without any success.
Works fine when using a package manager.

**Error:**
`Error [ERR_INVALID_PACKAGE_TARGET]: Invalid "exports" main target "index.js" defined in the package config /usr

[2020-04-27 17:07] DavidWells commented on #859
The build folder is there locally. This is a regression in how the CLI works. Possibly related to how this site uses yarn workspaces? IDK

`netlify deploy -p --dir public` should deploy my site, instead it results in "Base directory does not exist: /xyz/site" Error with latest versions of CLI

[2020-04-27 17:11] ehmicky commented on #859
I am having issues reproducing this problem. When I make sure `npm run build` has been run first, `npm run deploy` seems to work fine for me with the latest version of `netlify-cli`. @RaeesBhatti Do you manage to reproduce this issue?

[2020-04-27 23:16] RaeesBhatti commented on #537
It seems like Lambda is just [listening for RPC](https://github.com/aws/aws-lambda-go/blob/ba3152827fb20751d929ecbc5582af9616d688aa/lambda/entry.go#L50-L62) on a specific port. It should be doable to run Go functions directly without Docker if user has GoLang installed.

[2020-04-28 16:01] bettse commented on #863
`brew install -s netlify-cli` fixed it for me.  I think the issue is that the 'bottle' was built between the release of [is-promise 2.2.0 and 2.2.2](https://github.com/then/is-promise/releases)

[2020-04-28 17:08] DavidWells commented on #859
Related https://github.com/netlify/cli/issues/862

[2020-04-28 20:22] kaganjd opened #868 "Error [ERR_REQUIRE_ESM] with `netlify link`"
**- Do you want to request a _feature_ or report a _bug_?**
Bug

**- What is the current behavior?**
`netlify link` with a fresh CLI install returns `Error [ERR_REQUIRE_ESM]: Must use import to load ES Module: /usr/local/lib/node_modules/netlify-cli/node_modules/is-promise/index.js
require() of ES modules is not supported.`

**- If the current behavior is a bug, please provide the steps to reprodu

[2020-04-28 20:42] ehmicky commented on #868
Oh oh oh, that might be related to the great 2020 `is-promise` one-line-of-code disaster: https://medium.com/javascript-in-plain-english/is-promise-post-mortem-cab807f18dcc

[2020-04-29 00:01] RaeesBhatti commented on #859
@DavidWells Can you try the following branch! see if you can still reproduce this issue there: https://github.com/netlify/cli/pull/843

[2020-04-29 00:05] RaeesBhatti commented on #850
@fjeddy , @marcorivm , @macguirerintoul Thank for you reporting this. Can you please try out https://github.com/netlify/cli/pull/843 branch and see if you're still facing the issue!

[2020-04-29 04:37] austinh commented on #275
Yes! This would be a life saver for projects/companies that rely on netlify but have to, for whatever business/security reasons, have complete control of their deploy pipeline/git repository.

[2020-04-29 13:18] Sceat commented on #275
Right now i have to use one site per branch it kinda overflow my netlify dashboard, i'd be interested in this

[2020-04-29 14:23] AlexBHarley opened #869 "Consistent "JavaScript heap out of memory" errors"
**- Do you want to request a _feature_ or report a _bug_?** Bug

**- What is the current behavior?** Like clockwork my `yarn netlify dev` command errors out with

[code]

**- If the current behavior is a bug, please provide the steps to reproduce.** Unfortunately I can't open source my project yet. The only other library I'm using is [serverless-http](https://github.com/dougmoscrop/serverless-http

[2020-04-29 14:24] AlexBHarley commented on #869
As a side note this also causes the dev server (or whatever runs on port 9000) to not exit. So I always have to restart my dev env with `lsof -ti :9000 | xargs kill -9 && make dev`

[2020-04-29 21:08] AlexBHarley commented on #869
Closing in favour of https://github.com/dougmoscrop/serverless-http/issues/153

[2020-04-29 21:08] #869 closed

[2020-04-30 01:46] bodaso opened #870 "Function redirects works for netlify dev but not production"
**- What is the current behavior?**

In my Gatsby app, I have these rules for redirects in my `netlify.toml`

[code]

My app works fine when I do `netlify dev`, all functions redirect to /api like so

[code]

but when I deploy to prod, functions fetch result in 404 error

[code]

Although they still work on `https://xxx.netlify.app/.netlify/functions/get-items`

How can I keep the redirect behavio

[2020-04-30 03:24] timchambers commented on #859
I'm also hitting this now. Did not occur in 2.41.0, does occur in 2.42.0 and later. I'm also using yarn workspaces with this repository, in case that helps, since @DavidWells mentiojned he is as well.

[2020-04-30 14:16] #863 closed

[2020-04-30 14:18] TomPichaud commented on #868
https://github.com/netlify/cli/issues/863

[2020-04-30 16:35] carlmjohnson commented on #863
Reinstalling has not fixed the problem for me. Can you push a new version?

[2020-04-30 16:36] carlmjohnson commented on #868
I tried reinstalling as suggested in #863, but it's still caught up on the bad version.

[2020-04-30 16:44] carlmjohnson commented on #868
Okay, I got it to work by running:

[code]

I think there should still be a new version pushed to Homebrew so that this is not necessary.

[2020-04-30 22:28] nlevo commented on #870
I have exactly the same issue.

[2020-05-01 16:43] reverentgeek opened #872 "Warnings while parsing netlify.toml file"
**- Do you want to request a _feature_ or report a _bug_?**

Report a bug.

**- What is the current behavior?**

Running "netlify dev" with a local `netlify.toml` file that includes a [[redirects]] section results in a runtime error.

[code]

I've installed the `netlify-cli` into the project in an attempt to debug what is going on. When I step through the code, I'm seeing the error is starting wit

[2020-05-02 14:23] chiubaca commented on #850
Same issue on v2.48 rolling back using `npm install netlify-cli@2.45 -g` is my workaround at the moment.

Happy to test the fix if there are steps to follow. Please explain like i'm five.

[2020-05-03 17:46] macguirerintoul commented on #850
Hi @RaeesBhatti, I'm quite inexperienced with this kind of development but I cloned your branch, ran `npm link`, and tried using `netlify dev` again. However, I'm getting the same error. Is that the right process to follow?

[2020-05-03 17:48] RaeesBhatti commented on #850
@macguirerintoul Yes, that seems like the right process. Could you possibly show your `package.json`, specifically the `scripts` property!

[2020-05-03 17:54] macguirerintoul commented on #850
[code]

[2020-05-03 18:13] RaeesBhatti commented on #850
@macguirerintoul Thanks for providing this information. I've pushed some changes to the `raees/dev-config-improvements` branch, can you do a `git pull` in your local instance and try running `netlify dev` again!

[2020-05-03 19:32] aditya-67 commented on #841
@wooleah
@thorsten-stripe

I cloned the repo and found that, to get rid of that Forbidden message error, we need to add a dev block in netlify.toml file.

[code]

Try changing your .toml file to the above and run ```netlify dev```, it should work.

[2020-05-04 18:28] #441 closed

[2020-05-04 18:28] #827 closed

[2020-05-04 18:28] #847 closed

[2020-05-04 18:28] #850 closed

[2020-05-04 18:28] #862 closed

[2020-05-04 19:53] zacaytion commented on #859
I'm having this issue too on version `2.47.0`. I'm using yarn workspaces with two netlify projects and a wrapper bash script to handle the deploy logic.
I don't have the issue when I'm calling the cli directly from the shell, but when executing it via a bash script it appears to be interpreting the path wrong.
When calling the script from the `/web` directory in my workspace and passing the direct

[2020-05-05 04:20] Esacpe-beep commented on #522
？

[2020-05-05 05:31] RaeesBhatti commented on #872
@reverentgeek Thank you for reporting this issue. It seems like a bug. I'm wondering how the tests passed because we actually have that include these redirect rules.
This has been fixed in master branch. We're currently block on another issue and will try to release the fixes as soon as possible.
Thanks again!

[2020-05-05 05:48] RaeesBhatti commented on #870
It seems like the redirect rules from `netlify.toml` are not being picked up. I've raised this issue internally but in the meantime you can use a [`_redirects` file ](https://docs.netlify.com/routing/redirects/redirect-options/#splats) to manage your redirects.
The rule you have above would look like following in `_redirects` file.
[code]
Make sure to copy the `_redirects` file to your deployment

[2020-05-05 05:59] RaeesBhatti commented on #868
Is this still a problem? I haven't been able to reproduce it recently.

[2020-05-05 06:41] #182 closed

[2020-05-05 15:00] fonz24 commented on #756
![Screenshot_20200505-105710](https://user-images.githubusercontent.com/3180223/81081242-aa94d600-8ebf-11ea-9514-e6789123e175.png)

[2020-05-05 15:01] fonz24 commented on #756
I need location

[2020-05-05 15:39] wesbos opened #876 "Support .env.development or config of dotenv"
Gatsby uses .env.development out of the box, so if you use `netlify dev`, you have to manually configure gatsby to use a different file.

In the spirit of Netlify being easy to use, you should also check to `.env.development` or allow the user to configure what their file is named.

I believe the code is here?

https://github.com/netlify/cli/blob/master/src/commands/dev/index.js#L412

another note

[2020-05-05 17:27] RaeesBhatti commented on #870
@fool Can you please shed some light on this. I can reproduce this locally, even after I manually copied `netlify.toml` to publish directory and then make a deployment, the redirect rules don't get applied.

[2020-05-05 17:54] arpitbatra123 commented on #522
Hey @Esacpe-beep , Unfortunately, I am no longer working on this.

[2020-05-05 19:01] RaeesBhatti opened #877 "netlify functions:invoke is broken"
**- Do you want to request a _feature_ or report a _bug_?**
It's a bug

**- What is the current behavior?**
`netlify functions:invoke` result in an error because `serverSettings` function is being called with incorrect parameters.

**- If the current behavior is a bug, please provide the steps to reproduce.**
* Run `netlify functions:invoke name`
* It will result in error

**- What is the expected

[2020-05-06 04:16] #877 closed

[2020-05-06 08:20] thorsten-stripe commented on #841
Thanks @aditya-67 that did the trick for me. It still is strange, because as far as I understand `[dev]` is used to override `[build]` but it shouldn't be required. Anyway, will include it going forward.

[2020-05-06 14:37] jlengstorf commented on #841
we’re still working on fixing this — we’re short on engineering hours right now, but this is on our radar

[2020-05-06 15:36] RaeesBhatti commented on #841
@thorsten-stripe This has been fixed in the latest version. Can you please upgrade `npm i -g netlify-cli@latest` and let us know if the issue still persists.

[2020-05-06 17:11] wooleah commented on #841
@thorsten-stripe @RaeesBhatti @jlengstorf I've tested it both on checkout-netlify-serverless repo and the original project and it seems to work fine on both of them(netlify-cli@2.49.0). And it works without [dev]. Thank you so much for resolving this!

[2020-05-06 17:37] lassiter commented on #482
@RaeesBhatti I'm not sure, I used something else as a provider I think.

[2020-05-06 17:37] #482 closed

[2020-05-06 21:07] #872 closed

[2020-05-06 21:25] RaeesBhatti commented on #872
`netlify-cli@2.50.0` has just been released which contains a fix for this issue. Thank you all for your patience!

[2020-05-06 22:28] RaeesBhatti commented on #846
`socket hang up` only happens when the client backs off before a request is completed. e.g. refreshing the browser window before the request was complete.
Also note that this is only a warning, only affects the specific http request and will not crash the server.
It could be that Vue `fetch` request is being cancelled before completion. Can you try the same request using `curl` and report that has

[2020-05-06 22:30] RaeesBhatti commented on #849
We've recently removed `functionsPort` configurability to avoid confusion around different ports and their uses. You should not need to configure or access `functionPort` manually. `netlify dev` will automatically select a port, start the function and configure routing to it.

[2020-05-06 22:30] #849 closed

[2020-05-06 22:32] RaeesBhatti commented on #868
@kaganjd Can you please provide an update on whether this is still a problem!

[2020-05-06 23:03] kaganjd commented on #868
Hey @RaeesBhatti, I haven't heard anything in response from the person who wrote into Community

[2020-05-07 01:56] RaeesBhatti commented on #772
Fixed in the latest version

[2020-05-07 01:56] #772 closed

[2020-05-07 03:42] thorsten-stripe commented on #841
🎉 just tested with `netlify-cli/2.50.0 darwin-x64 node-v13.7.0` works as expected. Thank you!

[2020-05-07 10:33] cbetta opened #882 "Bug: The "port" option you specified conflicts with the port of your application"
When running `netlify dev` for my Gatsby app I suddenly get this error:

[code]
I have no idea how to resolve this, I've tried changing varying the target port and functions port, but to no change.

**- Version affected**

This only seems to affect version 2.47 and higher

**- Local Environment Information**

────────────────────┐
 Environment Info   │
────────────────────┘

  System:
    OS: macO

[2020-05-07 10:56] cbetta commented on #882
Found the issue, I had the following in my `netlify.toml`

[code]

Removing this resolved the issue.

[2020-05-07 10:57] #882 closed

[2020-05-07 10:58] cbetta opened #883 "Bug: netlify dev:exec does not pick up on local environment variables"
While `netlify dev` loads the app's environment variables and then allows for overriding with local variables, `netlify dev:exec` somehow doesn't allow for the same local variables to be loaded.

[code]

[2020-05-07 14:43] sunyamare commented on #863
Solved it with
1. `brew uninstall netlify-cli`
2. `brew install -s netlify-cli`

[2020-05-08 06:11] RaeesBhatti opened #884 "30x redirects are broken"
**- Do you want to request a _feature_ or report a _bug_?**
Bug
**- What is the current behavior?**
The following URL redirect doesn't work for project using a framework.
[code]
**- If the current behavior is a bug, please provide the steps to reproduce.**
Originally [posted on the community](https://community.netlify.com/t/netlify-dev-error/13735/22?u=raeesbhatti).
**- What is the expected behavi

[2020-05-08 07:27] RaeesBhatti commented on #848
Thank you for reporting this @moop-moop and providing references. There's a PR to fix this behavior https://github.com/netlify/cli/pull/885. If you can, please try it out and let us know there's anything missing or wrong!

[2020-05-08 07:31] RaeesBhatti commented on #687
Closing in favor of: https://github.com/netlify/cli/issues/275

[2020-05-08 07:31] #687 closed

[2020-05-08 07:49] RaeesBhatti opened #886 "Broken logs from frameworks when running netlify dev"
**- Do you want to request a _feature_ or report a _bug_?**
Bug and feature?
**- What is the current behavior?**
When running `netlify dev` in a CRA project
[code]
Is turned into
[code]
**- If the current behavior is a bug, please provide the steps to reproduce.**
* Run `netlify dev` in a CRA project
**- What is the expected behavior?**
* `netlify dev` preserves all of the output from frameworks a

[2020-05-08 08:00] RaeesBhatti commented on #655
We have robust support for Nuxt in recent versions. Running  `netlify dev` in your Nuxt project should automatically configure and run everything necessary or prompt you.
If the automatic configuration doesn't work, you can specify `command` in `netlify.toml` `[dev]` section to run Nuxt development server if the auto chosen command is problematic. And specify `targetPort` to connect to Nuxt develo

[2020-05-08 08:00] #655 closed

[2020-05-08 08:02] RaeesBhatti commented on #624
This has been fixed in latest version `netlify-cli@2.50.0`. Please let us know if you're still facing this problem!

[2020-05-08 08:02] #624 closed

[2020-05-08 08:06] RaeesBhatti commented on #573
Fixed in the latest version `netlify-cli@2.50.0`

[2020-05-08 08:06] #573 closed

[2020-05-08 08:57] RaeesBhatti commented on #197
Closing this since this will not be implemented. The required functionality can be obtained using `netlify link`. Please let us know if that is not the case

[2020-05-08 08:57] #197 closed

[2020-05-08 09:02] RaeesBhatti commented on #119
This functionality was initially implemented in https://github.com/netlify/cli/pull/762 but later reverted because of NodeJS compatibility issues. I'm think maybe we can precompile incompatible code and include that. Opening again to investigate further.

[2020-05-08 17:15] #886 closed

[2020-05-09 15:29] #846 closed

[2020-05-09 15:38] dimavolo opened #889 "error while proxying request: connect ECONNREFUSED 127.0.0.1:34567 with cue-cli"
**- Do you want to request a _feature_ or report a _bug_?**
bug

**- What is the current behavior?**
Starting `netlify dev` on a new vue-cli project doesn't seem to start the server on port `34567`. I get the error: `error while proxying request: connect ECONNREFUSED 127.0.0.1:34567`. Nevertheless, Vue starts as normal at `http://localhost:8888`(pointing to `localhost:8080` via `netlify dev`.

**-

[2020-05-09 15:43] dimavolo commented on #889
I think I solved it, and it was due to silliness.

in `netlify.toml`, elements like `command`, `functions`, etc should be lowercase, not capitalized.

[2020-05-09 15:43] #889 closed

[2020-05-09 18:15] bradgarropy opened #890 "function redirects are not working with netlify dev"
*Note: I'm still working on a minimal reproduction, but you can check on the [live site](https://master--dailytexascountry.netlify.app/store).*

---

### Do you want to request a _feature_ or report a _bug_?
🐛 bug

### What is the current behavior?
First, see this [Twitter discussion](https://twitter.com/bradgarropy/status/1258993787990409217) with @jlengstorf.

I defined the following redirect in

[2020-05-09 18:28] RaeesBhatti commented on #890
@bradgarropy there was a Gatsby build error when I tried to run `netlify dev`. But running a static server with `netlify dev --dir static`, I was able to invoke the function correctly at `http://localhost:8888/api/subscribe`.

After running `netlify dev` locally, can you please try `curl -vvv -d '{"something": true}' http://localhost:8888/api/subscribe` and share the output!

[2020-05-09 18:34] bradgarropy commented on #890
@RaeesBhatti yea, the build requires some environment variables to be successful during data sourcing.

Here is the result of the `curl` command. It's the same HTML as returned from the deployed site.
Additionally, I have a `console.log("SUBSCRIBE")` as the very first line of my handler, but I don't see that logged in the terminal.

[code]

[2020-05-09 18:35] bradgarropy commented on #890
However, when I hit the non-redirected URL, everything works as expected.

[code]

[2020-05-09 18:37] RaeesBhatti commented on #890
@bradgarropy While `netlify dev` is running, can you try changing `netlify.toml` (add a new line or something). Can you see the following in terminal where `netlify dev` is running?
[code]

[2020-05-09 18:39] bradgarropy commented on #890
@RaeesBhatti Yes, making *any* change to `netlify.toml` causes that log message.

[2020-05-09 18:41] RaeesBhatti commented on #890
Can you also make sure that no other instance of `netlify dev` is running. Just run `pkill node` and `netlify dev` and try the `curl` command again

[2020-05-09 18:45] bradgarropy commented on #890
Confirmed there is only version of `node` / `netlify dev` running. Same results with `curl`, redirect URL does not work, but `/.netlify/functions/subscribe` does.

[code]

[2020-05-09 18:53] bradgarropy commented on #890
Just did some more testing, looks like HTTP `POST` requests are not redirecting properly, but HTTP `GET` requests are.

[2020-05-09 19:02] RaeesBhatti commented on #890
I just tried this again on Window as well, and request rewrites and function invocation seem to be working fine for both `GET` and `POST` requests on `netlify-cli@2.50.0`.
Please share a reproduceable example of this, so that, I can track it down.

[2020-05-10 15:51] ChrisW-B opened #891 "Netlify Dev gets stuck in infinite build loop- possible to add ignore directory?"
I'm willing to bet this is just a configuration error, since I cannot find anyone else with this issue.

**- Do you want to request a _feature_ or report a _bug_?**
Feature- or config help

**- What is the current behavior?**
Right now, if I run `netlify dev`, everything work correctly- however, it also watches the directory that my build command builds into, so it continually triggers the build c

[2020-05-10 19:40] bradgarropy commented on #890
Okay, after further testing, seems as though Netlify's redirects are not working when using Gatsby!
They work fine if you are using plain ole' HTML.

Here is the [example repo](https://github.com/bradgarropy/netlify-functions-redirect-gatsby), and the [deployed site](https://netlify-functions-redirect-gatsby.netlify.app/).

You'll notice that it works once deployed, but not using `ntl dev`.

[2020-05-10 20:46] RaeesBhatti commented on #890
I can confirm this issue on `netlify-cli@2.50.0`. I've tested https://github.com/netlify/cli/pull/885 and it can't be reproduced on that branch. Thank you for providing the example. Please hold on until that PR is merged and released.

[2020-05-11 15:46] #763 closed

[2020-05-11 16:46] jamesqquick commented on #890
I'm having this same issue. Holding on for the new PR to be merged!!

[2020-05-11 18:40] JonasTaulienSolutions opened #893 "No "exports" main resolved in project/functions/my-function/node_modules/faunadb/package.json"
**- Do you want to request a _feature_ or report a _bug_?**
I want to report a behaviour that seems like a bug to me. If it is not, I really would appreciate help about what I did wrong.

**- What is the current behavior?**
My project has the following structure:
* `project/`
    * `netlify-functions/`
        * `my-function/`
            * `node_modules/`
            * `my-function.js`

[2020-05-11 18:59] JonasTaulienSolutions commented on #893
Ok, acccording to Ryan Harris of Fauna this is a bug in `"faunadb": "2.14.0"`. The temporarily fix is to downgrade to `"faunadb": "2.13.1"`

[2020-05-11 18:59] #893 closed

[2020-05-11 19:59] #876 closed

[2020-05-11 21:16] #883 closed

[2020-05-11 23:35] devuxer commented on #433
Just ran into this. It took a lot of tinkering, but I think I've got both Netlify Dev and CI deploys working.

My project directory looks something like this:

[code]

And here's my netlify.toml:

[code]

And here's the `scripts` section of my **root** package.json:

[code]

Hopefully this helps someone out, but it would be cleaner and a *lot* less confusing if this issue were addressed (i.e., "ba

[2020-05-12 15:26] JonasTaulienSolutions opened #896 "netlify dev --live returns 404 on function invocation"
**- Do you want to request a _feature_ or report a _bug_?**
_bug_

**- What is the current behavior?**
Netlify dev live returns `404` on function invocation.

**- If the current behavior is a bug, please provide the steps to reproduce.**

1. Start `netlify dev --live`
2. Open the page via `localhost` and execute call to `/.netlify/functions/my-function`
    It works!
3. Open the page via `*.netlif

[2020-05-12 16:17] RaeesBhatti commented on #745
Seems like partially blocked on https://github.com/netlify/bitballoon/issues/5624

[2020-05-12 17:27] #884 closed

[2020-05-12 17:27] #848 closed

[2020-05-12 17:45] bradgarropy commented on #890
Thanks for your hard work on this @RaeesBhatti! Any idea on when you will cut the release with the fix?

[2020-05-12 17:56] #896 closed

[2020-05-12 18:05] RaeesBhatti commented on #890
Thank you all for you patience. `netlify-cli@2.51.0` has just been released which contains a fix for this issue.

[2020-05-12 18:06] RaeesBhatti commented on #896
Thank you @JonasTaulienSolutions for reporting this issue. `netlify-cli@2.51.0` has just been released which contains a fix for this issue. Please try it out and let us know

[2020-05-12 18:13] fregante opened #898 "Error: Could not acquire required "port": 3000"
**- Do you want to request a _feature_ or report a _bug_?**

_bug_

**- What is the current behavior?**

I can't run `netlify dev` because it can't open ports, whatever port I specify. Both Jekyll and browser-sync can open the ports they need when run from the same command line, but netlify can't.

This is the first time I'm using netlify-cli

**- If the current behavior is a bug, please provide t

[2020-05-12 18:15] RaeesBhatti commented on #898
@fregante It seems like something else it running on port 3000 on your computer. Please change the `port` option in your `netlify.toml` `[dev]` section or just remove the option to default to either `8888` (or a random port if `8888` is not available).

[2020-05-12 18:17] bradgarropy commented on #890
Just updated and tested, everything works!

[2020-05-12 18:18] fregante commented on #898
👆

Then it outputs this and exits with non-0:
[code]

If I set `port = "34567"` I still get

[code]

[2020-05-12 18:29] RaeesBhatti commented on #898
You shouldn't see `port = "34567"`. Just to clarify `port` option specifies the port `netlify dev` server itself will run on. `targetPort` is the port of your framework server e.g. `create-react-app` server.
When `framework = "#custom"`, you must specify `command` and `targetPort`, so that, `netlify dev` can start your framework server using `command` and connect to it using `targetPort`.
I sugges

[2020-05-12 19:41] fregante commented on #898
I found the issue. If you  set a string to `targetPort` it's silently ignored:

[code]
[code]

---

Using numbers appears to work, **but**

[code]
[code]

This still instantly exits with 0 and `localhost:34567` isn't available.

Note: the server on localhost:3000 is running separately and it works.

[2020-05-12 20:17] fregante opened #901 "Netlify Dev exits right after outputting "Connected! Waiting for localhost:34567""
**- Do you want to request a _feature_ or report a _bug_?**

_bug_

**- What is the current behavior?**

`netlify dev` exits after `Connected! Waiting for localhost:34567`
[code]

This instantly exits with 0 and `localhost:34567` isn't available.

**- If the current behavior is a bug, please provide the steps to reproduce.**

[code]

Note: the server on localhost:3000 is running separately and it

[2020-05-12 20:23] fregante commented on #901
Found the problem here too: `netlify dev` automatically exits when `command` exits. Currently the command was `echo 1` so it exited instantly.

A solution to this one could be: being clear about what's happening, e.g.

[code]

[2020-05-12 20:26] fregante commented on #898
As an outsider/new entry, I have no idea what "port" and "targetPort" mean and the descriptions are confusing:

[code]

Ok, `yarn start` is my server, like `parcel watch`

[code]

"the dev server"… mine? So it will be 3000?

[code]

What target?

---

Now I know what they mean, but the docs or the names should be improved.

[2020-05-12 20:33] RaeesBhatti commented on #898
Yeah, sorry about that 😅 . We plan to depreciate `targetPort` soon. We're considering using `frameworkPort` instead. Please let us know if you think that is a good idea or suggest a different one.

[2020-05-12 20:33] #898 closed

[2020-05-12 20:39] fregante commented on #898
That implies I'm using a framework, which I'm not.

Could they be more generically named `inputPort` and `outputPort`? I don't think anything else makes it clear that the first one is proxied by netlify-dev **_to_** the second one.

[2020-05-13 06:00] #901 closed

[2020-05-13 12:35] JonasTaulienSolutions commented on #896
Works like a charm. Thank you really much!

[2020-05-13 12:53] snario commented on #494
As of 2.30.0 it seems to be 151.3M, the largest dependency in our project by a factor of 5. Any plans on shrinking it down?

[2020-05-13 13:03] XhmikosR commented on #494
v2.41.0 was 219MB 😛 https://packagephobia.now.sh/result?p=netlify-cli@2.41.0

TBH this is a very serious situation security-wise also. The more packages one depends on, the bigger the risk all people who use the netlify-cli package are put into.

[2020-05-13 13:40] xmflsct commented on #484
Same here with 4k files.

[2020-05-13 14:18] cbetta opened #903 "Add ability to turn off netlify dev progress bar"
The recently introduced progress bar (little dots) are obscuring the actual output from Gatsby. It would be great if we could turn this off instead.

[2020-05-13 17:31] RaeesBhatti commented on #903
@cbetta Can you please post a screenshot of the problem!

[2020-05-13 17:33] RaeesBhatti commented on #903
Also, please fillout the issue template. It helps save a lot of questioning/time and is good for documentation as well.

**- Do you want to request a _feature_ or report a _bug_?**

**- What is the current behavior?**

**- If the current behavior is a bug, please provide the steps to reproduce.**

**- What is the expected behavior?**

**- Local Environment Information**

[2020-05-13 18:17] RaeesBhatti commented on #494
We want to be minimal with dependencies and package size but compared to other issues this one is not a priority right now. We understand that this is not optimal. And since this is an open-source project, we would invite you (the community) to help us fix it. If you can create a PR to optimize dependencies or reduce package size in general. We would gladly accept it.

[2020-05-13 23:22] EmNudge opened #904 "netlify dev opens up node instances seemingly recursively until PC is shut down."
**- Do you want to request a _feature_ or report a _bug_?**
report a bug
**- What is the current behavior?**
`netlify dev` will open node instances every second or so until the computer is shut down. CPU is maxed out within seconds.
**- If the current behavior is a bug, please provide the steps to reproduce.**
I honestly do not know how to reproduce it as I have tried and failed, but it acts as su

[2020-05-14 09:31] cbetta commented on #903
@RaeesBhatti apologies, laziness got the best of me.

**Do you want to request a feature or report a bug?**

A feature, or maybe a feature change?

**What is the current/expected behavior?

So if I run `gatsby develop` directly my terminal output looks like this.

![Screenshot 2020-05-14 at 10 23 00](https://user-images.githubusercontent.com/7718/81917788-8cb92680-95cd-11ea-84b0-d68a3297f5bd.png)

[2020-05-14 19:20] RaeesBhatti commented on #536
This has been fixed in latest version

[2020-05-14 19:20] #536 closed

[2020-05-15 04:03] RaeesBhatti commented on #904
Thank you for opening this ticket @EmNudge. I tried to run your site locally but couldn't because there's a Webpack configuration problem with netlify-lambda. It could be that your Webpack configuration is not committed to Git.
[code]

[2020-05-15 04:09] RaeesBhatti commented on #891
Thank you for opening this ticket @ChrisW-B . Can you see `Function builder netlify-lambda detected: Running npm script <script>` in the log when you run `netlify dev`?

[2020-05-15 18:27] geoDavey opened #906 "Lambda function produces different behavior between `netlify dev --live` and a Netlify build"

[2020-05-17 08:07] #903 closed

[2020-05-17 15:51] cbetta commented on #903
Thank you for the fix @RaeesBhatti 👏

[2020-05-17 17:32] ChrisW-B commented on #891
@RaeesBhatti sure, here's all of the output from running netlify dev:
[code]

[2020-05-18 12:35] lucasconstantino opened #908 "`build` does not respect context"
https://github.com/netlify/cli/blob/d9756720205413ae771223098eb78cee71853338/src/commands/build/index.js#L31

[2020-05-18 12:48] ehmicky commented on #908
Thanks @lucasconstantino for reporting this.

Don't hesitate to add more information when filing bugs, it helps us understand the problem.

For reference, the problem here is that the `--context` CLI flag is not passed from the CLI to `@netlify/build` due to the line of code referenced in the initial post.

[2020-05-18 12:54] ehmicky commented on #908
Actually, the `--context` CLI flag does work properly. It is set inside [`cachedConfig`](https://github.com/netlify/cli/blob/d9756720205413ae771223098eb78cee71853338/src/commands/build/index.js#L26) at the [following line](https://github.com/netlify/cli/blob/d9756720205413ae771223098eb78cee71853338/src/utils/command.js#L80). We also have a [unit test](https://github.com/netlify/cli/blob/d975672020

[2020-05-18 13:05] lucasconstantino commented on #908
Sorry for the noise. I'm just walking through the code debugging something related to local plugins. I'll share a better description if I can simulate the bug I have properly.

Thanks

[2020-05-18 13:05] #908 closed

[2020-05-18 23:47] RaeesBhatti commented on #891
@ChrisW-B I think you might be trying to build the wrong directory. `netlify dev` looks for the `npm` script to build your functions and infers the functions "source" directory from the script.
If you have an entry something like:
[code]
This will cause the problem where the source directory and functions directory, both are `build`. Please make sure that your `netlify-lambda` `npm` script is poin

[2020-05-19 13:51] oles opened #909 "Support reloading/watching of source files outside the functions folder with "netlify dev""
**- Do you want to request a _feature_ or report a _bug_?**
Feature, though could be interpreted as a bug.

It is maybe not smart to watch the whole root folder by default.
Perhaps not many people have the same usecase of shared utilities for their functions.

Therefore perhaps it is better to add a `--watch` flag to your `netlify dev` command?
For example, `netlify dev --port 9000 --watch <file o

[2020-05-19 13:56] ChrisW-B commented on #891
unfortunately that doesn't seem to be it, unless I'm misreading something-- my build script is `netlify-lambda build src/functions --config webpack.functions.js`

here's the full thing:
[code]

[2020-05-20 04:06] RaeesBhatti opened #911 "port and targetPort options are confusing"
**- Do you want to request a _feature_ or report a _bug_?**
Enhancement?
**- What is the current behavior?**
People often get confused about `port` and `targetPort` options because they sound similar and don't convey enough obvious meaning to new users.
We should rename either `targetPort` or both of them to something more obviously meaningful.

**- If the current behavior is a bug, please provide

[2020-05-20 05:35] han-so1omon commented on #537
What is the current recommended method to test Go functions before deployment?

[2020-05-20 10:39] erezrokah opened #912 "Test: CRA test fails when developing locally"
To reproduce:
1. Clone the repo.
2. Run `npm install`
3. Run `npm test`

See that the CRA test fails.

Underlying issue is the CRA app setup is done only in the GitHub action https://github.com/netlify/cli/blob/d9756720205413ae771223098eb78cee71853338/.github/workflows/main.yml#L26, so when developing locally one has to install it manually.

[2020-05-20 13:35] erezrokah opened #914 "chore: format style is not enforced"
We currently run prettier in CI via:
https://github.com/netlify/cli/blob/d9756720205413ae771223098eb78cee71853338/package.json#L50

But that updates the files and doesn't fail the build. Running `npm test` will actually update a bunch of files.

[2020-05-20 18:01] #914 closed

[2020-05-21 03:59] DavidSabine opened #916 "Please improve this sentence in the Readme"
You said, in the Readme:

That is a terrible sentence. I consider myself an intelligent, logical person. But that sentence wouldn't survive scrutiny of ANY of my English teachers. Starting with what does SSG mean?

Notice: your users are duly confused by port behaviour and configuration. Perhaps their (my) confusion is the result of the docs.

[2020-05-21 04:20] RaeesBhatti commented on #916
@DavidSabine thank you for opening this issue. We understand that port configuration is confusing right now and that documentation doesn't help either in this matter. We're planning to rename `port` and `targetPort` options them with more self-explanatory options. Please provide your suggestions here: https://github.com/netlify/cli/issues/911

[2020-05-21 06:53] #912 closed

[2020-05-21 07:21] #916 closed

[2020-05-21 14:46] thandaanda commented on #484
We are having issues with 1000 files. Also, is there any way to check which particular file is failing?

[2020-05-21 22:08] DavidSabine commented on #911
"target" can be interpreted too many ways, so causes confusion. I suggest the variables be named as follows:

`port` to be renamed:

and `targetPort` be renamed:

Those names are descriptive, hard to misinterpret, and therefore good. So what if they are sentences if it eliminates confusion and makes the code easier to read.

Thank you for creating this issue. The port stuff has been confusing sinc

[2020-05-21 22:42] jasikpark opened #919 "Redirects setting causes a fatal exceptions"
**- Do you want to request a _feature_ or report a _bug_?**
Bug
**- What is the current behavior?**

[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**
[code]
**- What is the expected behavior?**
Netlify Dev uses redirect rules to let me test them before sending them live.

**- Local Environment Information**
[code]

[2020-05-21 22:43] jasikpark commented on #919
Tied up in this is my confusion about what exact HTTP code I should use, but I wouldn't think that matters for this bug.

[2020-05-22 03:11] DavidWells commented on #859
Any updates on this one?

I am having to uninstall the latest CLI and install the old version to successfully deploy my site. 😢

[2020-05-22 03:18] DavidWells commented on #859
Hardcoding `netlify-cli@2.41.0` into my project for right now and using the local dependency is how I'm "solving this" currently.

[code]

^ for anyone else experiencing this issue

[2020-05-22 03:19] RaeesBhatti commented on #859
Not yet. I haven't been able to reproduce it locally. It seems like a problem specific with yarn workspaces setup. @DavidWells If you can write down step-by-step instructions to reproduce this, that will be greatly appreciated!

[2020-05-22 03:25] DavidWells commented on #859
1. Clone down https://github.com/DavidWells/analytics
2. Cd into https://github.com/DavidWells/analytics/tree/master/site
3. Run yarn to install deps
4. `npm install netlify-cli -g`
5. Build the site `npm run build`
6. Attempt to deploy site `npm run deploy`
7. This fails unless on `netlify-cli@2.41.0` or lower

[2020-05-22 03:28] DavidWells commented on #859
Using

[code]

[2020-05-22 03:38] RaeesBhatti commented on #859
Not sure what's going on but I was able to deploy the site successfully following your instructions exactly!
<img width="697" alt="Screen Shot 2020-05-21 at 8 36 52 PM" src="https://user-images.githubusercontent.com/10067728/82628876-ec519c00-9ba2-11ea-80e9-8a52d0234c48.png">

[code]

[2020-05-22 19:34] pixelprogrammer opened #920 "Does netlify dev --live support redirect shadowing?"
We have a rule in the redirects that catches pages that don't exist and redirects them to a 404 page. However, it seems to be catching all pages and static assets that do exist and redirecting. This same redirect file works when live but when using the `netlify dev --live` command the redirect rules don't work.

---------------------------------------------------
BUG REPORT INFORMATION
-----------

[2020-05-22 19:38] RaeesBhatti commented on #920
@pixelprogrammer Thank you for opening this issue. `netlify dev` looks for static files in your `publish` directory, and falls back to redirect if no file exists.
Can you please share the `build` and `dev` sections of your `netlify.toml` and your project's directory structure!

[2020-05-23 09:09] kidonng opened #921 "`netlify dev` proxy doesn't forward search parameters"
**- Do you want to request a _feature_ or report a _bug_?**

Bug

**- What is the current behavior?**

`netlify dev` proxy won't forward search parameters in URL, thus returning the same content for actually different resources.

![image](https://user-images.githubusercontent.com/44045911/82726503-3cea0600-9d17-11ea-9d47-f6714194f255.png)
![image](https://user-images.githubusercontent.com/44045911

[2020-05-23 11:11] abetoots commented on #409
Any updates on this?

[2020-05-24 02:30] Bulletninja opened #922 "netlify addons:create fauna Internal Server Error"
**- Do you want to request a _feature_ or report a _bug_?**
_bug_

**- What is the current behavior?**
I run `netlify addons:create fauna` in a new project and it shows an error wit the following output:
[code]
I looked into addons.js:
[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**
Just run netlify addons:create fauna

**- What is the expected behavior?**
Th

[2020-05-24 19:45] FinnWoelm opened #923 "Netlify does not support multiValueHeaders in Functions, but netlify dev does"
Hey Netlify team,

Y'all rock! :heart: I ran into an issue with multi-value headers in Netlify Functions and wanted to hear your thoughts.

**- Do you want to request a _feature_ or report a _bug_?**
Report a bug.

**- What is the current behavior?**
`netlify dev` supports responding with `multiValueHeaders` in Netlify Functions. Deployed on Netlify, responding with `multiValueHeaders` is not supp

[2020-05-25 16:57] donavon commented on #891
The same thing happens to me. Wait long enough and it works, but I see that it build my 3 lambda functions about6 times each (sometimes more). I assume that it's compiling them all at the same time.

[2020-05-26 14:34] gerrywastaken commented on #155
@kitop  Ah "rich deploy details"! :raised_eyebrow:

I looked at that section before searching Google and had no clue what removing any of those settings would do. Perhaps above that section there could be a link to your comment here?

[2020-05-26 15:34] kremenhero commented on #404
@abtx @zb2oby @t2ca not sure about your case, but maybe this link can help you - https://github.com/netlify/netlify-faunadb-example/issues/15.

[2020-05-26 16:46] t2ca commented on #404
Thank you @kremenhero

[2020-05-27 06:17] moop-moop opened #928 "netlify-cli 2.52.0 and @netlify/build 1.0.5 Error: This plugin is missing a "manifest.yml""
**- Do you want to request a _feature_ or report a _bug_?**
bug

**- What is the current behavior?**
[code]

**- If the current behavior is a bug, please provide the steps to reproduce.**
Trying to continue using a local path to develop a netlify build plugin that **does have a manifest.yml file.**

**manifest.yml**
[code]

**netlify.toml of referencing build**
[code]

**- What is the expected beh

[2020-05-27 15:32] ehmicky commented on #928
This is reported as well here: https://github.com/netlify/build/issues/1373
I am looking into this problem.

[2020-05-27 19:08] ehmicky commented on #928
Ongoing PR to fix this bug at https://github.com/netlify/build/pull/1377

[2020-05-27 21:15] #928 closed

[2020-05-28 19:35] pixelprogrammer commented on #920
Sure thing:

**netlify.toml**

[code]

**Directory Structure**
[code]

So in that example, if I go to `https://website.com/some-image.png` I get a redirect loop for that image. Same with assets within the `_nuxt` folder.

[2020-05-29 03:35] mjswensen commented on #433
Running into this, too. Unfortunately I wasn't able to get @devuxer 's magical incantation to work for my particular repository setup (though it was helpful during investigation, thank you!).

Current workaround is to temporarily move files around for dev, use a couple of commands to get everything up and running, and be careful what I commit and push. Then use preview deploys to validate manually

[2020-05-29 07:29] devuxer commented on #433
@mjswensen , Sorry to mislead you. I was wrong. I believe my solution above only works in production. To use with netlify dev, I'm finding I need to have an extra copy of my built functions at web/netlify-functions/build. Note: I'm gitignoring that folder.

[2020-05-29 12:09] mjswensen commented on #433
@devuxer No worries at all. I’ve been poking at this thing off and on for a few days and just can’t quite find a combination that works well for both dev and production. Looks like you’re in the same boat.

[2020-05-29 18:12] cfjedimaster opened #930 "netlify dev is not "downloading" env variables"
**- Do you want to request a _feature_ or report a _bug_?**
Report a bug.

**- What is the current behavior?**
When running netlify dev, and site has a few ENV variables set at Netlify, I do not see the variables available locally.

**- If the current behavior is a bug, please provide the steps to reproduce.**
Based on my repo: https://github.com/cfjedimaster/raymondcamden2020

**- What is the exp

[2020-05-29 21:58] stephencweiss commented on #484
I'm on the low end of site size here (~4200 pages), and noticed this just started happening:
[code]

I got around it eventually by manually setting a 10 minute timeout: `netlify deploy --timeout 6000`

[code]

Not an ideal solution... but hopefully it helps others!
/shrug

[2020-05-29 23:00] RaeesBhatti commented on #930
@cfjedimaster Can you try `netlify link` and try `netlify dev` after linking the project to your existing Netlify site!

[2020-05-29 23:25] devuxer commented on #433
@mjswensen, Another workaround appears to be just commenting out `base = "web"` from netlify.toml when testing in development. The downside of this is of course the risk of forgetting to uncomment it when pushing to production.

[2020-05-30 00:54] RaeesBhatti commented on #433
@devuxer Can you please share your `netlify.toml` that works in production!

[2020-05-30 01:09] RaeesBhatti commented on #921
@kidonng Can you please confirm that this works on Netlify production!

[2020-05-30 03:53] kidonng commented on #921
Yes, the bug only happens when using `netlify dev`.

[2020-05-30 04:32] RaeesBhatti commented on #921
Thank you for reporting this. It should be fixed in https://github.com/netlify/cli/pull/931. If you can please try out `raees/pass-search-query` branch locally and let us know if it fixes your issue.

[2020-05-30 17:09] cfjedimaster commented on #930
I can confirm that fixed the issue. And it looks like it _is_ documented (https://docs.netlify.com/cli/get-started/#link-and-unlink-sites). Thank you.

[2020-05-30 17:38] cco3 opened #932 "netlify dev --dir not working with dev command configured"
[code]

netlify-cli: 2.52.0

[2020-05-30 18:29] RaeesBhatti commented on #930
Glad it worked out for you!

[2020-05-30 18:29] #930 closed

[2020-05-30 22:55] stephencweiss commented on #745
@RaeesBhatti - is #5624 supposed to be publicly viewable? If so, it might be a broken link (or it is for me at a minimum :)).

Thanks!

[2020-05-30 23:46] RaeesBhatti commented on #745
@stephencweiss That is an internal issue with out API engine. Please hold on this problem is on our priority list.

[2020-05-31 00:22] kidonng commented on #921
It works ♥ thank you!
![image](https://user-images.githubusercontent.com/44045911/83341608-ce5d0780-a317-11ea-9caf-6c208c0a2e8d.png)

[2020-05-31 03:01] goldcoders opened #933 "netlify dev --live"
I have this error
[code]
Here is my Netlify.toml file , IM developing a Hugo Theme and It would be convenient  If i can Easily Check the Live Version , but im stuck at that error.
[code]

[2020-05-31 17:32] justinwaite commented on #421
@bricksroo I removed the `netlify-lambda build` from my normal `build` script, and I still get this error. Any other thoughts? Using gatsby + netlify + functions

[2020-05-31 17:40] justinwaite commented on #933
Also get this error using Gatsby

[2020-05-31 18:35] #921 closed

[2020-05-31 20:07] stephencweiss commented on #745
@RaeesBhatti No problem! As I noted in a related ticket -- I've got a workaround by setting a longer timeout... https://github.com/netlify/cli/issues/484#issuecomment-636211718

[2020-05-31 23:41] devuxer commented on #433
Okay, I think I've gotten to a "good enough" solution for now. Still in the process of testing various aspects of this, but it at least appears that both my Gatsby site and functions are now building and showing up in both https://app.netlify.com/sites/[my-app]/functions as well as Netlify Dev.

Here's my current netlify.toml file:

[code]

Here's what the production command does:

1. Installs shx

[2020-06-01 13:30] mjswensen commented on #433
Thanks for looking into this, @devuxer . I didn't know about npm's `--prefix` flag before—very handy for this situation.

[2020-06-01 15:43] RaeesBhatti commented on #932
@cco3 Can you please explain what you think correct behavior should be. It would be helpful if you can fillout the issue template, it helps reduce the back-and-forth questioning.
`--dir` **flag** is used to run a static server while the purpose of `command` option is to run an app server.
If you want to run `netlify dev` in a specific directory with a command, you can specify `publish` and `comman

[2020-06-01 17:46] FinnWoelm commented on #923
Cross-referencing this thread: https://community.netlify.com/t/go-lambdas-differences-with-aws-lambdas-prevents-me-from-using-algnhsa/1249/7

[Post by futuregerald](https://community.netlify.com/t/go-lambdas-differences-with-aws-lambdas-prevents-me-from-using-algnhsa/1249/5):

[2020-06-01 18:21] calavera commented on #923
Thanks for opening this issue @FinnWoelm ! I think this issue is caused because we've not upgraded our internal type definitions for Lambda responses in a while. I'm going to transfer this issue to a private repository later today so we can triage it. I don't think it should be hard to fix. Since there is a thread in community, we'll send updates there.

[2020-06-01 19:46] cco3 commented on #932
**- Do you want to request a _feature_ or report a _bug_?**

Bug

**- What is the current behavior?**

--dir option does not work if a dev build command is configured.

**- If the current behavior is a bug, please provide the steps to reproduce.**

Steps provided above.

**- What is the expected behavior?**

I can use the --dir option even if my project is configured to build when running dev with

[2020-06-01 19:56] FinnWoelm commented on #923
@calavera, thank you for the reply and context! That's super helpful and great to hear.

You may have already seen it, but there's another issue related to the internal API gateway regarding cookies in the function response header: [Multiple `Set-Cookie` headers cause netlify lambda to throw an error](https://community.netlify.com/t/multiple-set-cookie-headers-cause-netlify-lambda-to-throw-an-erro

[2020-06-02 00:36] goldcoders commented on #933
I can confirm that this error is only present when you are developing a non standard hugo site...
since I am using the theme itself as the site  , this produce this error.
but if i do use a standard Hugo site and the theme is on the theme folder i dont get it.
I think it would be useful if even in theme site we can use  --live

[2020-06-02 00:41] goldcoders opened #935 "Netlify template.environment vs build.environment vs .env file vs config.toml"
I know this question is very trivial,
I just wanna know the sequence how ENV VAR is injected
let say i have this
[code]
When i deploy this to netlify i dont have .env
and the template.environment will prompt me for the value
Question that it overrides the build.environment variable for example the HUGO_BASEURL
this kind of variable has multiple areas where it is define
for example in the config.to

[2020-06-02 00:56] goldcoders commented on #933
I dont know how i fixed this error but , i can use netlify dev --live now without any problem...

[2020-06-02 00:59] goldcoders commented on #933
things ive change on my netlify.toml
[code]
also update my hugo version to latest 0.72.0
and added template.environment
[code]
but now everything i working ok

[2020-06-02 00:59] #933 closed

[2020-06-02 01:25] RaeesBhatti commented on #933
Glad it worked out for you @goldcoders

[2020-06-02 12:42] cadbox1 commented on #859
I had a similar issue with `netlify dev` `>2.41.0` and fixed it by adding the following to my `netlify.toml`:

[code]
reference: https://docs.netlify.com/configure-builds/file-based-configuration/#sample-file

[2020-06-03 16:15] traianrdev6 commented on #404
I am still seeing this issue constantly and I am on netlify cli version 2.52.0. It makes netlify dev basically unusable for me. My node version is 12.18.0

netlify -v
netlify-cli/2.52.0 darwin-x64 node-v12.18.0

error while proxying request: socket hang up
/Users/user/.config/yarn/global/node_modules/netlify-redirector/lib/redirects.js:116
      throw ex;
      ^

Error: read ECONNRESET
    at TCP

[2020-06-03 17:36] #275 closed

[2020-06-03 17:49] jamietanna commented on #275
Thank you 🎉

[2020-06-03 18:20] cco3 commented on #932
@RaeesBhatti I've offered a justification above for classifying this as a bug.  Would you be willing to give this a second consideration?

[2020-06-03 18:23] RaeesBhatti commented on #932
@cco3 I see the problem. It is indeed a bug. Thank you!

[2020-06-03 18:41] RaeesBhatti commented on #932
@cco3 Can you please try out https://github.com/netlify/cli/pull/936 and let me know if that works for you!

[2020-06-03 18:51] phaseOne commented on #275
Thanks for the other PR as well! https://github.com/netlify/js-client/pull/105

Param also added to API docs here: https://open-api.netlify.com/#operation/createSiteDeploy

[2020-06-03 22:36] donavon opened #937 "event.queryStringParameters Netlify dev differs from Netlify."
**- Do you want to request a _feature_ or report a _bug_?**
🐛

**- What is the current behavior?**

Netlify dev differs from Netlify with `event.queryStringParameters`

**- If the current behavior is a bug, please provide the steps to reproduce.**

In any lamdba function, inspect `event.queryStringParameters`.

**- What is the expected behavior?**

I expect running netlify dev  to be the same as w

[2020-06-04 03:30] fpagnoux commented on #695
Same issue here.

[2020-06-04 06:51] rajington commented on #275
Exciting update! Now we can have nice aliases for our deploys.

I did some testing and noticed it doesn't seem to work with `--trigger` to trigger a branch deploy, or split-testing (when deploying to the `branch` in the split test).

Is that accurate? Or am I doing something wrong?

[2020-06-04 08:36] RaeesBhatti commented on #275
@rajington Yes `--trigger` hits a different API endpoint and works differently that normal deploy. That endpoint doesn't yet have a `branch` parameter. I will look into this

[2020-06-04 14:35] Sceat commented on #275
seems we can't yet link a domain ?

![image](https://user-images.githubusercontent.com/11330271/83770429-5711d580-a681-11ea-800d-b3f584b30c91.png)

[2020-06-04 17:08] rajington commented on #275
Thanks, not supporting trigger is not a huge problem or anything.

I was guessing split-testing is a whole other can of worms and not really part of this "alias" stuff, is that accurate? Or is it just not a priority? which is also understandable, probably not many people are using that with CLI deploys.

[2020-06-04 18:36] RaeesBhatti opened #939 "Shadowing behavior breaks when request URL has query params"
**- Do you want to request a _feature_ or report a _bug_?**
Bug
**- What is the current behavior?**
If request URL is `/something?ping=pong`, `netlify dev` will look for variants of files name `something?ping=pong`.

**- If the current behavior is a bug, please provide the steps to reproduce.**
* Run `netlify dev`
* Have a file at `/something.html`
* Visit `/something?ping=pong`

**- What is the e

[2020-06-05 07:18] cjinghong commented on #695
I'm having the same exact issue.

[2020-06-05 22:30] RaeesBhatti commented on #275
We're considering renaming the recently introduced `--branch` flag to `--alias` since people might expect `--branch` to be similar in functionality to the Git branches. It isn't similar to Git branches and is only useful to pretty URL's.
Please provide your feedback via up or down votes to this comment. Should `--branch` be renamed to `--alias`?

[2020-06-06 00:15] beamercola opened #941 "error while proxying request: connect ECONNREFUSED 127.0.0.1:57885"
**- If the current behavior is a bug, please provide the steps to reproduce.**
Using latest Gatsby
run `netlify dev`, all requests to `localhost:8888` show the above error

**- Local Environment Information**

[code]

[2020-06-06 00:55] cco3 commented on #932
It works, thanks!

[2020-06-06 00:55] #932 closed

[2020-06-06 01:20] rajington commented on #275
The author is considering the same thing for the GitHub Action! https://github.com/nwtgck/actions-netlify/pull/178#issuecomment-638777483

[2020-06-06 05:10] jhull commented on #655
@RaeesBhatti

Upgraded to the latest, and everything stopped working 🙁

(latest version of nuxt and netlify-cli)

I have this in `netlify.toml`:
[code]

And used to be able to run everything off of `http://frontend.localhost:8888` but now that doesn't work, and only `http://frontend.localhost:3000` works (which means all my CORS setup no longer works locally anymore) - and then I have the endless

[2020-06-06 05:52] RaeesBhatti commented on #655
@jhull Can you please elaborate! What is the error you're receiving? Or how is it not working?

[2020-06-06 06:24] jhull commented on #655
Nuxt frontend, Laravel API backend, Netlify Functions to bridge the two. Held back updating CLI until I saw this latest...but now I’m getting CORS issues when all I changed was update Netlify CLI (worked great for past 5 months)

Things I need to know:

a) are the endless dots a signal that ntl dev is working right? (Older version didn’t do this)

b) with the above `toml` settings, I access my loc

[2020-06-07 12:29] malcolm-kee commented on #275
I'm not sure if I understand the `--branch` flag correctly.

Currently I have a custom domain, `shopit.space`, in which the `redux` branch will be deployed to `redux.shopit.space`. When I execute `netlify deploy -b redux`, what I get is the following logs:

[code]

I was under the impression that it will deploy to `redux.shopit.space` but apparently it does not. It this behavior expected?

[2020-06-07 18:04] #939 closed

[2020-06-08 11:11] reaktivo commented on #745
Is there any update to this issue? It seems the switching the timeout doesn't always work as a workaround

[2020-06-08 20:20] fool commented on #275
We don't "deploy to" hostnames like that;  we can show deploys at hostnames
like that, once configured.  You seem to have it configured correctly, here:

https://app.netlify.com/sites/react-ecomm/settings/domain#branch-subdomains

Does https://redux.shopit.space not work as you're intending?  I can see it
serves that site, but can't tell if it's the content you're expecting or
not.

TL;DR that not

[2020-06-08 20:59] Sceat commented on #275
@fool the ui don't allow me to have a subdomain without linking the site to a git repository :/

[2020-06-08 21:02] fool commented on #275
Not entirely surprising.  Shall I try unlinking the git repo to see if it
still works (won't show up in the UI, but that is not the purpose of this
feature request - it's to get it working :))

On Mon, Jun 8, 2020 at 1:59 PM Sceat <notifications@github.com> wrote:

[2020-06-08 21:41] RaeesBhatti commented on #941
@beamercola Thank you for opening this ticket! Are you sure that `netlify dev` server is running on port 8888? Can you please share your terminal output after running `netlify dev`!

[2020-06-09 04:47] seawatts commented on #511
I'm seeing a similar issue

[2020-06-10 05:12] likanzhan opened #945 "`connect ETIMEDOUT` when running `netlify deploy`"
When I run

[code]

I got the following error:

[code]

Any suggestions?

The environment of my computer is as follows:

[code]

[2020-06-11 00:32] fool commented on #275
You're saying that function output from the branch you deploy this way is
not showing in the UI, Raj?  That is likely related and not sure it's
intended to work, but I know who to ask once you can confirm (and if
possible give me the function name and the site's API ID from the settings
page to track it down internally to confirm, since I have no functions
deployable via CLI right now to test with

[2020-06-11 03:43] DavidWells commented on #859
I thought this was a mono repo issue but it appears its happening on other sites as well 😢

Here is another example. https://github.com/DavidWells/awesome-stoicism/blob/master/site/package.json#L11

With any CLI version above `netlify-cli@2.41.0` the `deploy` script fails with the same message: `Base directory does not exist: /Users/davidwells/David/repos/stoic-quotes/site/site`. `site/site` is in

[2020-06-11 04:13] verythorough commented on #859
Based on the clues from @cadbox1's comment, I suspect the repro attempts might not be working because the sites they're creating differ from @DavidWells's original failing sites in one of two ways:

- The failing sites might have a base directory set in the UI.
- The failing sites might have been created before October 2019, when the introduction of monorepo support changed how base and publish di

[2020-06-11 13:27] erquhart commented on #404
@RaeesBhatti seems this needs another look.

[2020-06-11 15:19] moop-moop opened #947 "Have `netlify build` use `.env` files like `netlify dev` to override local ENV variables"
**- Do you want to request a _feature_ or report a _bug_?**

feature

**- What is the current behavior?**

- `netlify build` only honors ENV variables in the Netlify linked site, `netlify.toml` file as far as project level based environment variables.
- `netlify dev` can use a `.env` file to override the linked Netlify site environment variables.

**- If the current behavior is a bug, please provi

[2020-06-11 17:20] j-o-sh commented on #851
Unfortunately this seems to still be not solved. I'm still getting the same behaviour (redirects when the real site exists) with `framework='#static"` and a publish folder set.

[2020-06-11 18:38] RaeesBhatti commented on #851
@j-o-sh Can you elaborate please! Can you please show us your `netlify.toml` and your directory structure!

[2020-06-12 14:07] j-o-sh commented on #851
Hi @RaeesBhatti
Thx for looking into this.

So after a bit of digging around I think it has something to do specificallyt with redirects to functions.

In the redirect in the `netlify.toml` below you see two different `to=`  values. One of them commented out. When I am redirecting to the commented out route (which is a normal static route) everything seems to work fine. As soon as I redirect to th

[2020-06-12 15:11] Sceat commented on #275
When will `alias` be deployed to npm ? https://github.com/netlify/actions/issues/32

[2020-06-12 15:30] Sceat opened #948 "Branch domain support"
### Feature request

Now that we can branch deploy through the cli #275 , how can we add a domain on the generated `https://<branch>--<app name>.netlify.app/` ?

[2020-06-12 17:46] j-o-sh commented on #851
I did manage to isolate the problem in a very simple repo.

Check out [this repo](https://github.com/j-o-sh/netlify-dev-redirect-problem). The problem is reproduced there.

[2020-06-15 15:38] j-o-sh commented on #851
Hi there,

Would it be helpful to create a new ticket with those findings? Or would you rather like to reopen this ticket?

Do you already have an idea what could cause this?

Sorry if I'm being intrusive.

[2020-06-15 18:54] lkundesu commented on #404
Any solution for this?

[2020-06-15 23:14] esquaredly commented on #911
For someone who ended up on this issue due to being confused, I believe:
`port` and `netlifyDevPort`
would been enough of a hint.

[2020-06-16 01:12] #447 closed

[2020-06-16 01:15] DavidSabine commented on #911
Sooo... `port` would be the port of my app? And `netlifyDevPort` would be the port I visit after running `netlify dev` command?

[2020-06-16 01:17] RaeesBhatti commented on #911
`port` currently means the port of Netlify Dev server. I think changing the meaning of that will lead to things breaking and confusion. We should move away from `port` and `targetPort` entirely

[2020-06-16 01:18] RaeesBhatti commented on #275
@Sceat `netlify-cli/2.54.0` has been published recently that includes `--alias` flag for `netlify deploy` command.

[2020-06-16 20:45] #937 closed

[2020-06-16 20:46] #851 closed

[2020-06-17 14:36] j-o-sh commented on #851
Hi, Sorry for the delay.

I see you already closed the issue again, which is fine I guess. ;)

...I am a bit puzzled however as to how I can try out that branch as you suggested? Can I somehow `npm install` from there? or is there another way? ...sorry if that seems like a stupid question.

[2020-06-17 16:31] j-o-sh commented on #851
Ok, I  kinda hacked it to get it to work...

But yay the fix holds 👍 👯

thx so much.

[2020-06-17 23:07] HugoDF commented on #537
@han-so1omon I think you can use https://github.com/lambci/docker-lambda#run-examples

[2020-06-18 06:16] han-so1omon commented on #537
@HugoDF I have been successfully using localstack to simulate the lambda environment. However there are still some necessary adaptations to make once I integrate into the localstack environment, for instance the lambda endpoint changes.

[2020-06-18 10:39] marketerly commented on #798
Hi, I'm beginner, and I tried the following commands to install netlify-cli with no success yet:

npm i -g netlify-cli@2.40.0

npm i -g netlify-cli@2.42.0

This is what I got:

npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm ERR! Unexpected end of JSON input while parsin

[2020-06-18 15:38] fireattack commented on #541
Hi, today I run into a similar problem on one of my computer. I can't run `ntl dev`.

The error is as below:

[code]

After some testing, I found that it is caused by the fact I put my repo in a folder starting with "!".

Actually, `yarn duild` will reveal this issue:

[code]

But `ntl dev` doesn't.

After moving the repo to a different folder, everything works.

I'm not sure if it's related to OP

[2020-06-19 01:40] ricvillagrana commented on #849
How can I know which port will be responding to my requests?

[2020-06-19 01:43] RaeesBhatti commented on #849
@ricvillagrana You should send your functions requests to the `port` for `netlify dev`. For example, if your `netlify dev` server is running on `8888`. Your request URL will look something like `http://localhost:8888/.netlify/functions/hello`

[2020-06-19 01:45] ricvillagrana commented on #849
So, I need to change the port on my code/env variables each time I re-run `netlify dev`? 🤔

[2020-06-19 01:47] RaeesBhatti commented on #849
No, your `netlify dev` server should be running on `8888` by default if that port is available. If you want to force it to run on a certain port you can specify `--port` as flag or `port` option in `netlify.toml` `[dev]` section:
[code]

[2020-06-19 17:08] ricvillagrana commented on #404
Same issue here.
Details:
[code]

[2020-06-20 06:52] KieranO547 commented on #945
@likanzhan I think this is a bug introduced in v2.53, I experienced it upgrading from 2.52->2.54, so give downgrading a try!

[2020-06-20 22:50] alfredrafael commented on #696
How do I use "yarn" with "netlify"? because "yarn deploy --prod" is not working :(

[2020-06-21 12:27] zemse commented on #696
@alfredrafael add a `netlify-cli` script to your scripts in `package.json` and install `netlify-cli` as a dev dependency.

[code]

Then you can `yarn custom-script-name` or `npm run custom-script-name`. Does this solve your problem? Also looks like you already have a script `deploy` which is giving you error, what's the script in it and error?

[2020-06-22 19:38] skyfly200 commented on #891
This may be what happening for me, I run netlify dev and my computer freezes. First time I was able to CTRL + C quit but this time I tried it actually crashed my PC with a BSOD about a watchdog timout

[2020-06-22 19:57] skyfly200 commented on #723
This fixed my issues! thanks!

my npm scripts are like so

[code]

and my netlify.toml file is

[code]

[2020-06-22 22:39] donavon commented on #695
The same thing is happening to me. I'm POSTing data to a lambda and when it returns a 404, it hangs. I'm using Postman to hit the API. I'm not sure if it hands in the browser or not (I haven't gotten that far yet).

[2020-06-23 04:03] msaharan opened #951 "Error while installing netlify with npm install netlify-cli -g"
I get the following error when I run the install command.
[code]
System information:
OS: Manjaro Linux
npm version: 6.14.5
node.js version: v14.4.0

A [similar issue](https://github.com/netlify/cli/issues/769#issuecomment-610827651) has been raised earlier.

[2020-06-23 15:52] erquhart commented on #951
There's a page on solving this issue in the npm docs, I would recommend trying that first: https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally

[2020-06-23 16:49] msaharan commented on #951
That worked. Thanks. This is the first time I am working with node.js so I couldn't have found that page myself.

For anyone else who might face this issue. Following is what I did.

- [This page](https://docs.npmjs.com/resolving-eacces-permissions-errors-when-installing-packages-globally) says that we do not need to remove the current version of npm and node.js but I still removed it.
- [This pag

[2020-06-23 16:49] #951 closed

[2020-06-23 17:23] #868 closed

[2020-06-23 18:06] donavon commented on #891
We "fixed" this by scrapping `netlify-lambda` altogether and writing our own custom build script. In doing so, our lambda functions have dropped in size dramatically – from 5.25 MiB when built with `netlify-lambda` to 18.5 KiB with our custom solution. I suspect that `netlify-lambda` is somehow including all of the client app (i.e. react, app, etc) in with the lambda function.

Note that they do s

[2020-06-24 14:12] erezrokah commented on #859
I was able to reproduce this issue based on https://github.com/netlify/cli/issues/859#issuecomment-642387765 and https://github.com/netlify/cli/issues/859#issuecomment-642394874

Looks like this reproduces if you set a base directory in the UI:
![image](https://user-images.githubusercontent.com/26760571/85569101-ebe17080-b63a-11ea-8673-1e3b34fd09fa.png)

Netlify build tries to resolve the configur

[2020-06-24 16:23] lukehsiao opened #952 "Installation of 2.54 fails on linux"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**- Do you want to request a _feature_ or report a _bug_?**
Bug.

**- What is the current behavior?**
I'm unable to install the latest netlify-cli via npm.

**- If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**- What is the expected beh

[2020-06-24 16:26] ehmicky commented on #952
Hi @lukehsiao,

Can you try again?
According to `npm`, `@netlify/cache-utils@1.0.0` does exist: https://www.npmjs.com/package/@netlify/cache-utils

[2020-06-24 16:29] lukehsiao commented on #952
I see, looks like it was just released ~30mins ago, even those v2.54 was release 9 days ago? Is there a way for netlify to make sure things are release in sync, so that the cli isn't pointing to non-existant dependencies for several days?

I can confirm that it installs correctly now that v1.0.0 of cache-utils exists.

[2020-06-24 16:29] #952 closed

[2020-06-24 16:31] ehmicky commented on #952
This problem was not due to the release being 9 days ago, but a few-seconds-long lag from npmjs.com when running `npm publish`. We are looking into how to prevent this in the future.

[2020-06-24 21:22] ehmicky commented on #859
`@netlify/config` needs to know the `repositoryRoot` for several reasons inside the configuration resolution logic.

There are some mismatches between how `@netlify/config` and `@netlify/cli` compute the repository root.

The default value for `repositoryRoot` in `@netlify/config`:
  - Looks for the nearest `.git`, from `cwd` up
  - Or defaults to `cwd`.
  - `@netlify/cli` has a `--cwd` CLI flag t

[2020-06-25 09:27] erezrokah commented on #859
@ehmicky that's is a great analysis and there is some work to be done on consolidation.
We would first need to map out different use cases and make sure they are covered by tests.

To be more focused on this issue with the `base` directory - I would expect that when running from the CLI we would always ignore the UI/config settings for `base` and resolve the build directory using the current worki

[2020-06-25 13:59] ehmicky commented on #859
We just discussed with @erezrokah and went with the following solution, which should solve this bug:
  - In `@netlify/config`, if `cwd` is a subdirectory of `repositoryRoot`, tries to find if any directory (that is `>= cwd && < repositoryRoot` in the tree structure) that has a `.netlify` or `netlify.toml`. If one exists, this is used as build.base, regardless of what base is set in `netlify.toml`

[2020-06-25 14:48] jbool24 opened #955 "Functions 404 with Netlify Dev and a linked project"
**- Do you want to request a _feature_ or report a _bug_?**
BUG

**- What is the current behavior?**
All functions return 404 not found running netlify dev when netlify link is initialized. Meaning the directory `.netlify` exists in the project root allong with state.json in that directory filled with its proper site id.
[code]
**- If the current behavior is a bug, please provide the steps to repr

[2020-06-25 15:29] erquhart commented on #859
Thanks to both of you for digging into this!

[2020-06-25 15:52] ehmicky commented on #859
First part (`@netlify/config` `base` behavior) done in https://github.com/netlify/build/pull/1581

[2020-06-25 18:42] ehmicky commented on #859
The `buildDir` returned by `@netlify/config` cannot be used to find `.netlify/state.json`. This is because there is a cycle:
  - `.netlify/state.json` is located at `buildDir`
  - `buildDir` is computed from `base`
  - `base` is partially computed from the UI build setting "Base directory"
  - That build setting is retrieved using the `getSite` endpoint
  - The `getSite` endpoint needs the `siteId

[2020-06-25 19:24] ehmicky commented on #859
https://github.com/netlify/build/pull/1581 is merged and released to npm.

@erezrokah Would it be possible to test https://github.com/netlify/cli/pull/953 and see if the problem that you managed to reproduce is now fixed?

[2020-06-25 20:10] ehmicky opened #958 "Avoid calling `getSite` twice"
When the configuration is being resolved, `@netlify/config` is receiving the `siteId` from `@netlify/cli`. It retrieves the site information (such as UI build settings) [using a `getSite` API call](https://github.com/netlify/build/blob/a5d09eac3b3e81063c34fa1ba9ba59cea499b0f0/packages/config/src/api/site_info.js#L6). This is returned as a `siteInfo` object (which is only `{}` if neither the `siteI

[2020-06-25 20:15] ehmicky opened #959 "Pass the `--site` CLI flag to `@netlify/config`"
The `deploy` and `open` commands use a `--site` CLI flag.

When defined, its value (instead of the `siteId` inside `.netlify/state.json`) should be [passed to `@netlify/config`](https://github.com/netlify/cli/blob/93840689c0e7dadbd441fb4a7729fd8da25b1ddb/src/utils/command.js#L81).

[2020-06-25 20:22] ehmicky opened #960 "Pass the `--functions` CLI flag to `@netlify/config`"
The `deploy` and `dev` commands use a `--functions` CLI flag.

This flag should be passed to `@netlify/config --inlineConfig.functions {functionsDir}`

Those CLI commands should then use the returned `config.build.functions` value instead of the `--functions` CLI flag. This is because `@netlify/config` does more logic to retrieve the functions directory.

[2020-06-25 20:23] ehmicky opened #961 "Pass the `--dir` CLI flag to `@netlify/config`"
The `deploy` and `dev` commands use a `--dir` CLI flag, representing the `build.publish` directory.

This flag should be passed to `@netlify/config --inlineConfig.publish {dir}`

Those CLI commands should then use the returned `config.build.publish` value instead of the `--dir` CLI flag. This is because `@netlify/config` does more logic to retrieve the publish directory.

[2020-06-25 20:26] ehmicky opened #962 "Rename `alias` to context?"
It seems that the `--alias` CLI flag of the `deploy` command corresponds to what we document as "deploy context" in [our Netlify documentation](https://docs.netlify.com/configure-builds/file-based-configuration/#deploy-contexts) and `context` in the `netlify.toml` (which is either a context alias or a branch name)? Is that the case?

If that's the case, shouldn't this flag be renamed to `--context