[2021-06-06 15:09] erezrokah commented on #4
Hi @axecopfire, do you mind updating `npm` to the latest version, then trying again?
You can do it by running `npm install -g npm@latest`, then running `npm install -g netlify-cli@latest`.

If that doesn't work, can you try `npm uninstall -g netlify-cli`, then `npm install -g netlify-cli`?

[2021-06-06 15:42] axecopfire commented on #4
Ahh thank you. I've been troubleshooting a different issue and didn't realize I was still on an older version.

[2021-06-06 17:29] sw-yx opened #2557 "Unhelpful error: TypeError: Cannot read property '0' of undefined"
**Describe the bug**

typing in `ntl deploy --prod` gets this:

[code]

I've never seen this error before as a heavy netlify user. netlify console displayed this

![CleanShot 2021-06-07 at 01 30 07](https://user-images.githubusercontent.com/6764957/120934195-ebe55e00-c72f-11eb-9e73-dc60d99ea92c.png)

When I reran `ntl deploy`, it worked again. I think there is some bad error handling inside of the

[2021-06-06 17:36] erezrokah commented on #2557
Thanks for opening the issue @sw-yx ❤️
I believe this is somehow a duplicate of #2086.
In #2086 the error was coming from our `js-client`, but since then https://github.com/netlify/js-client/issues/157 was resolved, so now the offending code is part of the CLI.

Moving the code to the CLI **_should_** allow us to better debug this once we follow up on #2086 with some more refactoring.

Keeping the

[2021-06-07 12:28] MentalGear opened #2571 "Deploy previews not using context"
**Describe the bug**

Pull request previews don't trigger a context (branch)'s command.

**To Reproduce**

Auto pull request deploy-previews are activated on the 'stage' branch.

Given the following netlify file:

[code]

**Expected behavior**

Normally, when running the 'yarn stage' command generates a static site in the `/dist` folder.
However, that command is not executed when deploy-previews f

[2021-06-07 12:40] erezrokah commented on #2571
Hi @MentalGear, since this issue seems to be related to our build system and not the CLI, I recommend opening it in https://github.com/netlify/build or posting it on the forums https://answers.netlify.com/.

Regardless I believe `[context.branch-name]` works for branch deploys, and for deploy previews you should use `[context.deploy-preview]`

[2021-06-07 13:58] eduardoboucas commented on #2557
@ascorbic is this the error you were seeing?

[2021-06-07 14:05] ascorbic commented on #2557
@eduardoboucas  Yes, it is. It's intermittent, when I was running `ntl deploy --build`

[2021-06-07 15:27] sw-yx commented on #2557
interesting. i think itd be good to identify the part of the CLI that is throwing this error and showing the rest of the stack trace. in general ive started to dislike swallowing stack traces... it reduces our ability to debug or even report issues. perhaps worth scanning thru the codebase for `console.error` and making sure things are thrown properly instead of swallowed

[2021-06-07 15:36] erezrokah commented on #2557
💯  to not swallowing stack traces. I believe we are mostly using the `oclif` `this.error` utility to report errors and exit so I have a feeling that's the culprit but I'll need to investigate more.

[2021-06-07 15:43] jfrancos commented on #2509
In case it helps, sometimes I see this message in the js console:
[code]

[2021-06-07 16:23] #2086 closed

[2021-06-07 16:23] #2557 closed

[2021-06-07 16:59] erezrokah commented on #2557
This should be fixed in the next release.
As for swallowing errors, that is coming from `oclif` here:
https://github.com/oclif/errors/blob/4aa3941839812523bec265c93333e166ce71bbed/src/handle.ts#L18
https://github.com/oclif/errors/blob/4aa3941839812523bec265c93333e166ce71bbed/src/errors/pretty-print.ts#L55
and can be overridden  via ` DEBUG='*' ntl deploy`.

We can also enable `debug` in [`oclif` c

[2021-06-08 04:06] TylerAPfledderer opened #2581 "Netlify dev --live not producing link (NuxtJS)"
**Describe the bug**

On run of ```netlify dev --live``` only the behavior of ```netlify dev``` is executed, and not live link is provided.

**To Reproduce**

Steps to reproduce the behavior:

1. netlify link
2. netlify dev --live

**Configuration**
[code]

**Expected behavior**

Provide the live link along with the normal behavior of ```netlify dev```

**CLI Output**

[code]

**Additional context

[2021-06-08 09:49] erezrokah commented on #2581
Hi @TylerAPfledderer, does it work without the `live` flag?
It seems your `Nuxt` server is configured to run on port `8000` while the CLI expects the default one `3000`:
https://github.com/netlify/cli/blob/8f8a54b07d3431f06a51bcdb3a8fec851b131b25/src/detectors/nuxt.js#L3

You can fix this by running `netlify dev --live --targetPort 8000`

[2021-06-08 12:04] redmagic commented on #399
For what it's worth, you can create a development page in your site and have that call a function with the current domain in it. That function could do the webhooks updating part by calling the appropriate api's.

`Dev page:`
[code]

`update-webhooks.ts:`
[code]

[2021-06-08 12:33] TylerAPfledderer commented on #2581
Hi @erezrokah!

Without the flag, the output is the same as what I showed above.

Your suggestion worked, and I missed the section in the [Netlify Dev Docs](https://github.com/netlify/cli/blob/main/docs/netlify-dev.md#explanation-of-ports-in-netlify-dev) that discusses this.

Thank you!

[2021-06-08 15:00] benlavalley opened #2591 "Serverless functions timing out when "Expect:100-continue" header recieved"
**Describe the bug**

Upon receiving a POST request from a third party webhook (Snipcart) with an "Expect: 100-continue" header, my serverless functions on my development environment would time out with the following error:

[code]

Steps to reproduce the behavior:

[code]
**Expected behavior**

I would expect this function to at least receive the event / context values, but it is instead not thro

[2021-06-09 05:33] EvanJo commented on #2086
exact same error. Site runs fine locally, or when netlify builds it directly from github.

Adding --build fixed it. Thanks for the answer above.

[2021-06-09 08:45] eduardoboucas opened #2596 "Avoid re-bundling functions when running `netlify deploy --build`"
**Is your feature request related to a problem? Please describe.**

When running `netlify deploy --build`, function bundling is happening twice.

**Describe the solution you'd like**

The `deploy` should bypass its call to `zip-it-and-ship-it` when the `--build` flag is present, since we'll already have bundled the functions.

**Can you submit a pull request?**

Yes

[2021-06-09 11:11] erezrokah commented on #2591
This is due to https://github.com/http-party/node-http-proxy/issues/1219.

There is a suggested workaround in that issue.

[2021-06-09 11:13] erezrokah commented on #2591
Hi @benlavalley, I opened https://github.com/netlify/cli/pull/2599 to fix this issue.
Thanks for pointing us in the right direction.

I'm also good with merging your fix if you modify it per https://github.com/http-party/node-http-proxy/issues/1219#issuecomment-511110375

[2021-06-09 11:15] #2501 closed

[2021-06-09 14:45] erezrokah opened #2604 "chore(docs-site): fix Algolia search"
The CLI reference docs site has some non working Algolia search code:
https://github.com/netlify/cli/blob/8ab8018c8280c35472f626858ff6c15ebb9f87c0/site/src/_layout.js#L395

We can either:
1. Remove that code
2. Make it work

Some work to on option 2 has been done in https://github.com/netlify/cli/tree/chore/fix_algolia
See https://chore-fix-algolia--cli.netlify.app/

A greater effort is to make th

[2021-06-09 14:50] erezrokah commented on #2604
Also related to https://github.com/netlify/cli/issues/304

[2021-06-10 07:42] romain130492 commented on #1147
any fix ?...

[2021-06-10 12:40] #2591 closed

[2021-06-10 22:52] kaganjd commented on #1984
Wanted to share a small update:

We had an enterprise customer who was hoping for this behavior but found something different: he first had `develop--` as a branch deploy, then disabled the branch deploy so he could use `develop--` as an alias, and found:

so it seems like you cannot use an alias to overwrite a branch deploy, even if you don't want to use the branch deploy anymore.

[2021-06-11 03:19] matt-tingen opened #2640 "Redirector errors on encoded paths"
**Describe the bug**

When requesting resources with encoded paths, an error is thrown by `netlify-redirector`.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `git clone git@github.com:matt-tingen/netlify-request-repro.git`
2. Navigate to the cloned repository
3. Run `netlify dev`
4. Click the "Fetch" button
5. See that the CLI exits with an error

**Configuration**

[code]

**Expecte

[2021-06-11 03:56] amerkay opened #2641 "`netlify dev` reload causes error: "Module did not self-register" with node-canvas"
**Describe the bug**

Any time I **change any file** inside my netlify/functions/ folder, the [node-canvas](https://github.com/Automattic/node-canvas) module fails to load on the next request. I have to stop `netlify dev` and rerun it.

**To Reproduce**

Simple code to reproduce **uploaded here**:
**https://github.com/amerkay/netlify-cli-dev-bug**

Steps to reproduce the behavior:

1. Run locally

[2021-06-13 09:22] #2604 closed

[2021-06-13 12:54] erezrokah commented on #1984
Hi @kaganjd, can you share the full command the customer is using?
| would like to verify we're not hitting [this issue](https://github.com/netlify/cli/issues/969).

[2021-06-14 16:17] #2640 closed

[2021-06-14 21:41] kaganjd commented on #1984
Hey @erezrokah, the command in his case was `netlify deploy --dir=dist --alias=develop`, zendesk ticket is https://netlify.zendesk.com/agent/tickets/58139 (internal only)

[2021-06-15 13:16] erhanyasar commented on #1870
husky > Setting up git hooks
Can't find package.json in /Users/erhanyasar/Documents/Computational/reference/www/erhanyasar.com.tr/express-graphql-portfolio-website-api directory or parents
Please check that your project has a package.json or create one and reinstall husky.
husky > Failed to install

Trying to install "esbuild-darwin-64" using npm
Failed to install "esbuild-darwin-64" using npm: EA

[2021-06-15 18:16] compwright opened #2697 "Support for Background Functions"
When testing via `netlify dev`, [events](https://docs.netlify.com/functions/trigger-on-events/#available-triggers) do not trigger [background functions](https://docs.netlify.com/functions/background-functions/).

For instance, given the `submission-created` event, only `submission-created.js` is invoked, and `submission-created-background.js` is not invoked (if present).

**Describe alternatives y

[2021-06-16 09:40] #2641 closed

[2021-06-16 12:10] erezrokah commented on #2697
Hi @compwright, thank you for reporting this issue. I changed the classification to a bug.

To confirm - you're running `netlify dev` and then `netlify functions:invoke submission-created-background`?

[2021-06-16 13:02] NAllred91 opened #2703 "Netlify-dev not stopping previous functions"
**Describe the bug**

I'm using netlify-dev to work on my Netlify Functions locally.  When I make a change to my functions, they are automatically rebuilt and when I call the function I can tell it picked up my changes.

However, it seems that the previous function versions remain alive.  I would expect that when netlify-dev rebuilds my functions, the old ones are terminated.  Alternatively, I'd e

[2021-06-16 13:21] NAllred91 commented on #2703
Just to clarify, I'm putting the `setInterval` outside of my handler function.

[2021-06-16 14:05] erezrokah commented on #2697
Another possible issue `curl -i -d '{"somefield":"somevalue"}' -H 'Content-Type: application/x-www-form-urlencoded' http://localhost:8888/some-form` should trigger either `submission-created` or `submission-created-background`, which at the moment it only triggers `submission-created`.

[2021-06-16 15:05] #2697 closed

[2021-06-16 17:05] erezrokah commented on #1984
Hi @kaganjd, I was able to reproduce the same issue.
Once you have a branch deploy that was created from our build system, `netlify deploy` with the same alias as that branch doesn't update the branch URL.

To clarify the reproduction:
1. Enabled all branch deploys in the Netlify UI
2. Create a branch named `develop` and push it
3. See that the branch deploy was created - for example https://devel

[2021-06-17 07:00] codefromthecrypt opened #2708 "Absolute redirects not working"
**Describe the bug**

redirects like below redirect to a relative path, not the full URL

**To Reproduce**

Setup a redirect and run `netlify dev`. execute `curl -v http://localhost:8888/FROM_PATH_HERE`

**Configuration**

[code]

**Expected behavior**

I'd expect `curl -v http://localhost:8888/download/v1.12` to result in a Location: https://github.com/tetratelabs/archive-envoy/releases/download/

[2021-06-17 14:17] whaaaley opened #2710 "Unnecessary url escaping breaks request paths"
**Describe the bug**

I wanted to test out netlify functions using netlify-cli. It seems there's an extra `/` character getting added then escaped.

This project works fine when deployed on netlify and when running without netlify-dev. I'm sure it's a simple fix I need to make in my config but I can't seem to find any information in docs or any threads online.

**Configuration**

[code]

**CLI Out

[2021-06-17 14:39] whaaaley commented on #2710
Removing the redirect fixed this issue for me during dev, however, not having this will 100% break my site in production. Perhaps I need to adjust my own server to handle the forwarding that netlify-dev does?

[code]

[2021-06-21 19:48] compwright commented on #2697
@erezrokah that was fast! Thank you for addressing this.

[2021-06-22 13:31] erezrokah opened #2728 "chore: refactor logging"
At the moment we need to pass down the `oclif` logging utilities down to each function.
That makes it very hard to refactor existing functions and uglifies the code.

We could create a global logging utility/object and initialize it during command initialization.
Then we could expose it to be used from any function simply by requiring it.

Somehow related to https://github.com/netlify/cli/issues/1

[2021-06-22 15:29] erezrokah opened #2730 "test: improve init command tests to verify framework specific build directories are used"
Related to https://github.com/netlify/cli/pull/2709

Our `ntl init` command tests are missing a test case for verifying the correct framework specific directory is used (as we [always customize](https://github.com/netlify/cli/blob/7d1af9fc85083cb51fef2d41b49d425c8ed12626/tests/command.init.test.js#L214) it by inputing a directory).

[2021-06-22 18:24] #2310 closed

[2021-06-22 21:19] HugoGranstrom commented on #969
I've hit this issue now as well but regarding upper-case letters. `--alias nicename` works while `--alias niceName` doesn't. What are your suggested method to deal with this at the moment? I want to use aliases based on branch names, is there any certain transform I can apply to them to make them work? Slugify?

[2021-06-22 22:30] hfournier opened #2744 "Angular project generates moderate and high vulnerabilities"
**Describe the bug**

Angular 11.2.14 project generates moderate and high vulnerabilities after upgrading to netlify-cli 3.38.7

**To Reproduce**

Steps to reproduce the behavior:

1. Updated from netlify-cli 3.31.16 to 3.38.7

**Configuration**

- If possible, please copy/paste below your `netlify.toml`.
[code]
- Please enter the following command in a terminal and copy/paste its output:

[code]

[2021-06-23 01:33] overlordofmu commented on #969
@HugoGranstrom, "slugify" meaning "to take a string and make it suitable to be used as a slug".

The definition of "slug" itself can be found here: https://en.wikipedia.org/wiki/Clean_URL#Slug

Our slugs (which is also true of most but not all slugs) are always lowercase. It won't be possible to use mixed case slugs. We could request a feature request for this but I'm 100% certain that our service

[2021-06-23 08:12] HugoGranstrom commented on #969
@overlordofmu Thank you sincerely for your answer :D

If this is the case, why isn't this limitation documented anywhere? I expected Netlify CLI to at least *tell me* that something was wrong about my `alias` if it doesn't fit the template instead of just giving me a broken link, don't you agree? *Some* solution is to be expected to this at least, for example fixing the bug this issue was opened f

[2021-06-23 08:57] erezrokah commented on #2744
Related to https://github.com/kevva/download/pull/212#issuecomment-859738070

[2021-06-24 13:09] ascorbic opened #2754 "Add offline mode for `build`"
**Is your feature request related to a problem? Please describe.**

Currently `netlify build` does not work unless the site has been already linked. If you want to build without linking to a site (e.g. if you're testing somebody else's repo, or building a site in CI), you need to include the `.netlify/state.json` file, either with a real siteId or a fake one, then use that alongside a fake `NETLIF

[2021-06-24 15:20] ehmicky commented on #2754
Good idea. :+1:
Note: `@netlify/build` and `@netlify/config` both [already have an `--offline` CLI flag](https://github.com/netlify/build/blob/27b0988ecce1b0122b9fb76a00e6a5058eb1c863/packages/build/src/core/flags.js#L162). We just need to pass it from Netlify CLI and ensure [the following checks](https://github.com/netlify/cli/blob/4d62dd4afb88c3a73105dc2016175370c4bfb866/src/commands/build/index

[2021-06-25 14:07] samajammin opened #2762 "Error running `install` to update"
**Describe the bug**

Running the install command throws an error:

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Configuration**

- If possible, please copy/paste below your `netlify.toml`.
- Please enter the following command in a terminal and copy/paste its output:

[code]

**Expected behavior**

Updating via this command has always worked for me previously.

**CLI Output**

See

[2021-06-25 14:27] eduardoboucas commented on #2762
Hi @samajammin. That's strange! You can try uninstalling and installing again:

[code]

[2021-06-27 12:14] #2754 closed

[2021-06-29 09:39] varna opened #2785 "Redirect converts POST request to a GET request without body"
**Describe the bug**

Redirect converts POST request to a GET request without body

**To Reproduce**

Steps to reproduce the behavior:

1. Create a POST function i.e. `/.netlify/functions/create-ticket`
2. Redirect `/create-ticket` to `/.netlify/functions/create-ticket` via `_redirects` or `netlify.toml`
3. POST `/create-ticket` redirects to GET `/.netlify/functions/create-ticket` without body

Sa

[2021-06-29 13:20] surjithctly opened #2793 "Netlify Rewrites does not work in Netlify App but works when using `netlify dev`"
**Describe the bug**

I have a simple Next.js App with a  [slug].js and I have no index.js file. Instead I have added an option to rewrite `/` to `/home` using rewrites. It worked perfectly on `netlify dev` but when I updated in netlify app, It doesn't work.

This is what I written on `_redirects`

[code]

The rewrites works as expected in dev cli, but in netlify app, its not working.  This has al

[2021-06-29 13:33] erezrokah commented on #2793
Hi @surjithctly, thanks for reporting this issue.

Can you share a public repo as a reproduction?

If not can you answer the following questions:
1. Are you using the [Next.js plugin](https://github.com/netlify/netlify-plugin-nextjs)? If so, which version?
2. What are your build command, publish directory and functions directory as configured in Netlify?
3. Can you share your `netlify.toml` file i

[2021-06-29 13:57] surjithctly commented on #2793
Hello,

1. Yes, Next plugin is added automatically, so It should be latest 3.5.0
2. Build command is also default. No changes made. All set by netlify
3. file does not exists but I have `_redirects` with above code
4. Not sure how to run this command on netlify dashboard, And I think I don't need to run it in my system since there is no issue here. The issue is on the Netlify Server. Local machine

[2021-06-30 06:29] simon-carter-tm opened #2798 "Can't run netlify dev on wsl2."
**Describe the bug**

I'm unable to run any commands with netlify on wsl2, getting an error saying it is unable to spawn powershell.exe.

**To Reproduce**

Steps to reproduce the behavior:

1. `netlify dev`
2. or `.node_modules/.bin/netlify dev`

**Configuration**

- node v12 installed via nvm on wsl2.
- have tried with node v14 also
- have tried local and global installs of netlify-cli

current /

[2021-06-30 06:47] simon-carter-tm commented on #2798
Was able to do a temp fix by doing `export BROWSER=none`, from https://github.com/facebook/create-react-app/issues/7251#issuecomment-827602712.

[2021-06-30 06:47] #2798 closed

[2021-06-30 11:56] eduardoboucas opened #2804 "Send CLI version in function upload requests"
When uploading functions as part of a deploy, CLI should send its version as part of the request. This information should then be logged by the backend and used for debugging purposes.

Internal Slack thread: https://netlify.slack.com/archives/C012GT6MYKU/p1624997421272400

[2021-06-30 14:00] eduardoboucas opened #2806 "Structure functions serving logic to accommodate different runtimes"
This is a cover issue for restructuring the functions serving logic in the CLI so that it better supports different runtimes.

[2021-07-02 19:43] tinfoil-knight commented on #1891
@erezrokah Can I pick up the first one?

[2021-07-02 19:50] ehmicky commented on #1891
@tinfoil-knight Please feel free to pick any of these, including `class-methods-use-this`. Thanks a lot for your help! :heart:

[2021-07-05 15:15] tinfoil-knight commented on #1891
I'm picking up `fp/no-loops` while `class-methods-use-this` is in process.

[2021-07-06 04:34] overlordofmu commented on #1984
I have this (internal only) feature request filed as well for the API to offer support for full branch deploys with CLI manual deploys:

https://github.com/netlify/bitballoon/issues/6619

[2021-07-06 14:59] tinfoil-knight commented on #2541
To clarify, does running the integration tests consume any Netlify credits?

[2021-07-06 16:02] erezrokah commented on #2541
Hi @tinfoil-knight, do you mean build minuets?

If so the answer it that they don't cost build minuets. The only tests that create a live site are the [deploy command tests](https://github.com/netlify/cli/blob/c883b6e76aca955b3c4d04475ec96c61993827c9/tests/command.deploy.test.js#L42).
Those deploy directly and don't use our build system.
Also, you can disable those by setting the the `IS_FORK` env

[2021-07-06 16:07] tinfoil-knight commented on #2541
@erezrokah Netlify charges for building the sites on basis of how much time a build runs.

I was confused if the integration tests consumes those. Thanks for clarifying.

[2021-07-07 08:40] tinfoil-knight commented on #2541
Current:
**NOTE**: we run some integration tests against an active Netlify account. For these tests to pass you'll need to provide a Netlify auth token (using the NETLIFY_AUTH_TOKEN environment variable) or login via `./bin/run login` before running the tests.

---

Proposed (Building on your comment):

Running `npm test` will require an active Netlify account because we run some integration tests

[2021-07-07 08:53] erezrokah commented on #2541
Thanks @tinfoil-knight how about we also improve the following:
1. Rename `IS_FORK` to `NETLIFY_TEST_DISABLE_LIVE`
2. When running the tests - detect if we're running in CI:
    - If running in CI and no authentication information was provided - fail the tests
    - If running in CI and authentication information was provided - run the tests
    - If not running in CI and no authentication informa

[2021-07-07 09:32] tinfoil-knight commented on #2541
Sounds great. Some things to clarify before a PR:

- `IS_FORK` env variable is available through `process.env` and will be `false` in the CI
- `CI` env variable would be `true` while tests are running in CI
- `listAccounts()` in `create-live-test-site` can be used to check if any authenticated accounts are available.

[2021-07-07 09:51] erezrokah commented on #2541
We run our CI in GitHub actions and they set it to `true`. Regardless [we use `ci-info` for that](https://github.com/netlify/cli/blob/9434040b3247ddebf6cadfeee7e42c8726dfa237/package.json#L103).

[2021-07-07 10:01] tinfoil-knight commented on #2541
Alright. Can you assign me the issue?

[2021-07-07 18:14] knoxjeffrey commented on #2710
Just to add that I have seen the double slash with my Middleman server. I did multiple installs of netlify-cli to see at which version this started happening and it was on [this release](https://github.com/netlify/cli/releases/tag/v3.37.22). With version `3.37.21` a request to the homepage on my local server logs out as

[code]

and on version `3.37.22` it logs out as

[code]

which causes it to e

[2021-07-07 21:13] rstavchansky commented on #1984
Re: suggestions from @verythorough:

We got more feedback in the Support Forums that it would be useful to see these types of warnings in the CLI: https://answers.netlify.com/t/headers-not-read-for-alias-deploy-from-netlify-cli/40264

[2021-07-07 22:12] coelmay opened #2873 "Mistyped command recognition cause silent exit"
**Describe the bug**

Netlify CLI very handily recognises that commands are incorrect and offers a command that is correct. This is good 😄  But it doesn't always work out great.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `ntl deve`
2. Netlify CLI says
[code]
3. Respond with `y`
4. You project starts up, then `netlify-cli` silently exits

**Configuration**

[code]
**Note:** This al

[2021-07-08 07:24] coelmay commented on #2873
As an extra note I have found that when `netlify dev` exits in this fashion, the app (e.g. React) is still available on port 3000 as the node instance running it is not terminated.

*(Took me a while to figure out what I continually received a message saying something what already running on port 3000.)*

[2021-07-08 12:23] erezrokah commented on #2762
Closing this as stale

[2021-07-08 12:23] #2762 closed

[2021-07-08 12:24] erezrokah commented on #2571
Closing this per my previous comment

[2021-07-08 12:24] #2571 closed

[2021-07-08 12:27] erezrokah commented on #2146
Closing this as stale. If still relevant please comment with the additional information requested

[2021-07-08 12:27] #2146 closed

[2021-07-08 12:40] erezrokah opened #2874 "docs(contributing): document how to contribute to our docs"
**Describe the solution you'd like**

Our documentation is mostly automatically generated from the CLI commands source code.

Contributors should update the code and not the markdown files directly.
After updating the code they should run `npm run site:build` to sync the docs.

We should document this.

**Describe alternatives you've considered**

Let contributors find this for themselves

**Addit

[2021-07-08 12:52] erezrokah opened #2876 "Tests(command-functions): Investigate flaky functions tests on CI"
We have 2 `functions:serve` tests which are flaky in our CI.

Those are currently [skipped](https://github.com/netlify/cli/pull/2875).

We should investigate why they fail and re-enable them.

[2021-07-08 14:05] erezrokah opened #2879 "chore: verify the need to strip control characters when launching framework servers"
Related to https://github.com/netlify/cli/pull/2857#discussion_r666199050

See also https://github.com/netlify/cli/pull/828

We should verify the fix in #828 - if it's not required we can use `execa` `inherit` option instead of piping output to different streams.

[2021-07-08 14:17] Hrishikesh-K opened #2882 "Netlify Dev server doesn't start with Vite"
**Describe the bug**

Netlify Dev server never starts when using Vite.

**To Reproduce**

Steps to reproduce the behavior:

1. Setup a basic Vite app as mentioned here: https://vitejs.dev/guide/#scaffolding-your-first-vite-project.
1. Run `netlify dev`.
1. See that the Vite dev server starts, but Netlify Dev server never starts.

**Configuration**

No extra configuration needed.

**Expected behavi

[2021-07-09 08:59] tinfoil-knight commented on #2541
I read ava's docs and browsed through their issues, there isn't a way to skip tests. (We could disable them like we do for the `IS_FORK` variable but this might confuse people more when their tests pass locally and fail on the CI. Since the tests run for about 20mins, people might miss the warning.)

[2021-07-10 09:43] Pieparker commented on #440
Hey team! Adding a comment on behalf of a customer in the Helpdesk (see https://netlify.zendesk.com/agent/tickets/61073).

- https://jolly-nightingale-a24b11.netlify.app for repro (source is available in Zendesk)

Works in prod:
- Visit https://jolly-nightingale-a24b11.netlify.app, redirected to https://jolly-nightingale-a24b11.netlify.app/login
- Log in as a user with Role "admin"
- Visit https:/

[2021-07-11 08:22] timroes opened #2896 "Remove license incompatible safe-join dependency"
`netlify-cli` is currently using the [`safe-join`](https://www.npmjs.com/package/safe-join) package as a dependency. This package is unlicensed (i.e. has full propietary protection) and thus is incompatible with the MIT license `netlify-cli` uses. I think given that the code in that package is super small, it would make more sense just inlining a utility function that does the same. Despite the le

[2021-07-11 08:58] erezrokah commented on #2896
Thanks @timroes, would https://github.com/jfromaniello/url-join serve as a good replacement?
I actually favor super small utility libraries as they usually do one thing very well, they have tests to cover edge cases we won't think about.

`url-join` hasn't been updated in a while, but seems to be [very highly used](https://www.npmjs.com/package/url-join).

[2021-07-11 09:11] timroes commented on #2896
Since my concern is mainly around licensing, I'd say `url-join` would be a viable replacement, given it's licensed under MIT :-)

And without going into too much discussion into wether small utility libraries are a good thing or a bad thing, I'd just saw, that very highly used is unfortunately not an indicator for whether it will not break your code your ecosystem at some point (just thinking back

[2021-07-11 09:25] erezrokah commented on #2896
True, we're trying to minimize such issues by pinning dependencies using a [shrinkwrap](https://docs.npmjs.com/cli/v7/commands/npm-shrinkwrap) file and relying on [this policy](https://www.npmjs.com/policies/unpublish) being enforced.

[2021-07-11 09:26] erezrokah commented on #2896
To the issue at hand, we'd be happy to accept a PR for this change.

[2021-07-11 10:36] radiantly commented on #2896
Hi, I'd be happy to work on this. Taking a look at the [url-join repository](https://github.com/jfromaniello/url-join), it seems to have fallen out of maintenance and only has tests running up to Node v10. Since the currently used safe-join [source code](https://www.npmjs.com/package/safe-join#entire-source-code) is quite short, I'm in favor of inlining the function.

[2021-07-11 10:48] erezrokah commented on #2896
Inlining the code doesn't solve the licensing issue unless you significantly change the implementation.

How about we make sure `parseRepoURL` returns `ownerAndRepo` and `contentsPath` without leading and trailing `/`. Then we won't need any dependency.

Please let me know what you think?

[2021-07-11 10:56] radiantly commented on #2896
Alright, that sounds good

[2021-07-11 14:43] #2896 closed

[2021-07-12 11:09] erezrokah commented on #1300
Resolved via https://github.com/netlify/cli/pull/2818

[2021-07-12 11:09] #1300 closed

[2021-07-12 11:55] redmagic opened #2912 "Is it possible to pass esbuild options to the builder?"
I would like to pass options to the esbuild command.

For example, the ability to indicate that the text loader should be used for html files.

https://esbuild.github.io/api/#loader

Or the ability to mark modules as external e.g. fsevents

https://esbuild.github.io/api/#external

[2021-07-12 12:18] erezrokah commented on #2912
Hi @redmagic, you can configure externals via `netlify.toml`, e.g.
[code]

See more [here](https://www.netlify.com/blog/2021/04/02/modern-faster-netlify-functions/).

As for additional loaders you might want to comment on https://github.com/netlify/zip-it-and-ship-it/pull/553.

[2021-07-12 14:07] erezrokah commented on #440
Hi @Pieparker, this is a tricky one and there are several issues preventing from this scenario to work.
In order for Role based redirects to work the browser needs to send the `nt_jwt` cookie with the request (the cookie value is basically the user access token).
This doesn't work locally because:

1. The Netlify Identity widget needs to pass the [`x-use-cookie`](https://github.com/netlify/gotrue-

[2021-07-12 15:15] TrentonAdams commented on #1945
Is this not entirely about the content-type header?  e.g. `text/html;charset=utf-8`.  One is properly setting it and the other is not.

[2021-07-12 15:40] jbrains commented on #1945
@TrentonAdams Confirmed.

`netlify dev` sets the `content-type` header to `content-type: text/html; charset=ISO-8859-1` instead of UTF-8.

[2021-07-12 16:04] jbrains commented on #1945
If someone could point me in the general direction of where to set this response header, I would try to submit a pull request for this problem.

[2021-07-12 17:00] Morendil commented on #1945
Same as #979, it seems…

[2021-07-12 17:15] Morendil commented on #1945
It looks as if this might be a Jekyll issue, based on jekyll/jekyll#8005 - the difference in behavior between the two might be due to headers being rewritten (perhaps in a different order) or some such.

[2021-07-13 01:27] TrentonAdams commented on #1945
Tweet successful! hehe.  I've run into that a few times working at a University people put in all sorts of characters we need to support.

[2021-07-13 09:18] erezrokah opened #2922 "bug(functions-serve): the functions:serve command doesn't inject site environment variables"
**Describe the bug**

Reported here https://twitter.com/CarolSaysThings/status/1414623368947568647

![image](https://user-images.githubusercontent.com/26760571/125425842-e6ce9a0b-ae6c-4740-a0f5-72f415760bd8.png)

**To Reproduce**

Steps to reproduce the behavior:

1. Run `netlify functions:serve` on a site that has environment variables
2. Try to use the variables in the function
3. See that those

[2021-07-13 09:35] chrismetzmudbath commented on #1984
I came across the exact same issue a couple of days ago. Is there any known work around for this?

[2021-07-13 12:27] tinfoil-knight commented on #2400
@erezrokah
I ran both `./bin/run dev -o` and `./bin/run dev --offline` on a machine with no network. They just opened up a static page with Not Found. (The same thing happened with a network connection.)

Is there something else I'm supposed to do to reproduce the bug?

[code]

[2021-07-13 12:33] erezrokah commented on #2400
Oh sorry I should have been more specific - try setting an env variable in the UI, link the site, and see if those env variables are injected

[2021-07-13 14:06] #1252 closed

[2021-07-13 14:06] #1495 closed

[2021-07-13 14:11] jbrains commented on #1945
I noticed this difference in behavior, when running a site in `netlify dev`:

- Visit the 404 page directly (URI `/404' with status OK) => `content-type` header set to UTF-8 and the page renders correctly
- Visit the 404 page indirectly (request with status "Not Found") => `content-type` header set to ASCII and the page renders incorrectly

When running a site in `jekyll serve`, in both cases, the

[2021-07-13 15:01] jbrains commented on #1945
The `jekyll serve` command adds its own `content-type` header, starting with https://github.com/jekyll/jekyll/commit/3af22f12bf177de440e7aba40751e7878a8d5a1c which purported to fix issue https://github.com/jekyll/jekyll/issues/2289

The problem now seems that while this patch helps when we serve with `jekyll serve`, for this to work in general, each method of serving the custom 404 page would need

[2021-07-13 15:44] jbrains commented on #1945
I am quite sure now that this is a WEBrick problem. The `content-type` header seems to be set differently in at least three situations:

- OK/200 when serving a file from the document root => `Content-Type: text/html` with no charset specified
- OK/200 when serving the built-in index page => `Content-Type: text/html; charset="UTF-8"`
- Not Found/404 => `Content-Type: text/html; charset=ISO-8859-1`

[2021-07-13 16:14] jbrains commented on #1945
Oh, but wait... something strange is still happening with Netlify Dev. The `content-type` header I get depends on whether I explicitly go through `jekyll serve`. I have the default ports set up: 4000 for `jekyll serve` and 8888 for `netlify dev`.

- http://localhost:8888 => only the `content-type` header with ASCII, presumably going directly to WEBrick
- http://localhost:4000 => also the extra `co

[2021-07-13 20:41] zoexx opened #2932 "How to get the source map files of function with esbuild"
**It's not a feature or a bug,  but I am really frustrated to use it with esbuild.**

I used to build the functions with `netlify-lambda` and upload the source map files to sentry with a custom webpack configration.
Since switched to esbuild plugin, did not find a good way to do so.

I found `@sentry/netlify-build-plugin` works for the client side map files in `public` folder, how about the functi

[2021-07-14 08:07] eduardoboucas commented on #2932
Hi @zoexx! Thanks for opening this.

There's currently no way of including the sourcemap with the function payload, but I agree that's something we should allow people to do. All the functionality is there, we just need a new configuration property that allows it to be enabled by users.

I'll work on this and update the issue as soon as I have any updates.

[2021-07-14 08:56] madsem opened #2934 "Fish shell freezing, spawning new processes at 100% CPU even when terminal closed"
**Describe the bug**

I have signed up for Netlify recently and a couple of days ago I've installed netlify-cli.
Shortly after I noticed my terminal becoming slower and slower, until yesterday it was so bad that I couldn't use it anymore.

The terminal window was freezing, extreme lag when entering commands.
Today I used the Mac activity monitor, and saw that there were random fish processes spawn

[2021-07-14 10:04] erezrokah commented on #1984
Hi @chrismetzmudbath, the only workaround is using a different branch name for branch deploys and aliases.
We do have an issue filed for our backend team to make branch deploys and aliases more alike, but we don't have an estimate yet.

[2021-07-14 13:33] #2541 closed

[2021-07-16 08:14] overlordofmu commented on #2934
@madsem, would you be willing to share some more details about the processes being spawned? Also, what version of the Fish shell is being used?

The logical and operator using the double ampersand (`&&`) wasn't supported until version 3.0.0 of Fish is it seems and I'm wondering if the test is command is being backgrounded because the shell version doesn't like the double ampersand:

https://superu

[2021-07-16 08:34] tinfoil-knight commented on #2400
The initialization of the `BaseCommand` in `utils/command.js` calls the method `getConfig` which seems to be setting the `offline` variable instead of the oclif parse being used on the `DevCommand` class. I couldn't find a way to use the oclif parser due to the current order of config initialization. Should I just use `argv.offline || argv.o` for a temporary fix here or is there a way to re-struct

[2021-07-16 08:55] madsem commented on #2934
Hey @overlordofmu

sure!

Version is already part of the original post above, but it is `3.2.2`. So pretty much the latest.
I never have problems using the double ampersand when manually entering commands.

There's really not much more info I could share, when opening the Activity Monitor on mac, you saw 1-2 processes called `fish` being spawned with new PIDs every few seconds. The processes most

[2021-07-16 08:59] madsem commented on #2934
Here are two screen recordings.

Without the config line in question:

https://user-images.githubusercontent.com/3166991/125921850-d410934b-989c-4d64-b982-9e67b3971f49.mov

And here after I added it to my config, and restarted my terminal:

https://user-images.githubusercontent.com/3166991/125921951-8e45f3ed-cfee-4837-b617-4cf2dbb32472.mov

[2021-07-16 09:03] madsem commented on #2934
What I can't really show is how these processes affect my terminal. But it really lags so badly that after a while you type, wait 2-5 seconds until your command appears letter by letter.

[2021-07-16 09:08] madsem commented on #2934
PSPS: Feel free to check out my dotfiles, with the entire fish config:
https://github.com/madsem/dotfiles/tree/master/.config/fish

[2021-07-16 14:13] #2806 closed

[2021-07-17 17:24] Hrishikesh-K opened #2958 "Unable to start dev server in boilerplate"
**Describe the bug**

The dev server doesn't start at all, throws the error: `◈ Cannot read property 'map' of undefined`. The error is thrown by the CLI and not the build tool as there's no building taking place. It's almost a blank website.

The problem occurs after updating to 4.3.0 and exists in 4.4.2 too. The last version where this worked fine was 4.2.3.

**To Reproduce**

Steps to reproduce

[2021-07-17 22:26] coelmay commented on #2958
Just to add to this, if `"gulp": "^4.0.2"`is removed from `devDependencies` dev will start.

[2021-07-18 15:35] tinfoil-knight commented on #2728
The changes made in https://github.com/netlify/cli/pull/2827 to extract the utilities from the base `Command` class would fix this issue too.

[2021-07-19 09:46] ascorbic opened #2964 "Add a `netlify clean` command"
**Is your feature request related to a problem? Please describe.**

In development I often need to clean the cache, and it's annoying having to do this manually.

**Describe the solution you'd like**

A `netlify clean` command that clears the Nelify cache, as well as (possibly optionally) the publish directory. Better still would be a way for frameworks to declare their own clean commands too in `

[2021-07-20 08:00] erezrokah commented on #2400
Yes, I think we can go for the fast fix in this case

[2021-07-20 10:34] erezrokah commented on #2964
Thanks @ascorbic, what do you mean by Netlify cache?
Is it everything under `<project-dir>/.netlify` except the `state.json` file?

For the publish directory, since it's a valid use case to have versioned controlled files (e.g. `_redirects`), we either need to detect when it's safe to clean it, or provide an opt-in flag.

Also, do you think we need the following:
1. `ntl clean`
2. `ntl build --cle

[2021-07-20 12:44] erezrokah commented on #2958
Hi 👋 Sorry for the trouble.
I explained the cause in https://github.com/netlify/cli/pull/2970 which fixes this issue.

Removing the `gulp` dependency serves as a workaround as the CLI won't detect and try to use it.

[2021-07-20 13:32] #2400 closed

[2021-07-21 10:47] #2958 closed

[2021-07-21 11:48] JGAntunes commented on #2934
Hey @madsem 👋

Thanks for the thorough report. If I could bother you for just a couple more things to help us debug this.

Could you share your `$PATH` output (i.e. `echo $PATH`) after sourcing the script?

Also, mind sharing the contents of the helper directory - `ls -la /Users/madsem/Library/Preferences/netlify/helper` - and the content of the `path.fish.inc` file - `cat /Users/madsem/Library/Pr

[2021-07-21 11:56] madsem commented on #2934
Hey @JGAntunes

Here's my $PATH without:
[code]

Here after I added the line in question
[code]

[code]

[code]

And again, as soon as I added
[code]
to the end of my fish.config, the input lag starts...

[2021-07-21 12:16] JGAntunes commented on #2934
Great, thanks for the details 👍 I'll try to reproduce this on my end and report back.

[2021-07-21 12:51] erezrokah commented on #2958
Hello again, a fix for this has been released in [v5.0.1](https://github.com/netlify/cli/releases/tag/v5.0.1).
`v5` is a breaking change only if you are using Edge Handlers. See [here](https://github.com/netlify/cli/releases/tag/v5.0.0).

You can update via `npm install -g netlify-cli`

[2021-07-21 12:56] coelmay commented on #2958
Excellent.

[2021-07-21 16:33] ascorbic opened #2980 "Function bundling should warn not fail if functions dir is missing"
**Is your feature request related to a problem? Please describe.**

If a functions dir is specified in a site config, but that dir is not found then function bundling does not happen. This was fine previously (as there were no functions to bundle). However now that internal functions are also bundled, then this means that internal function bundling is skipped.

**Describe the solution you'd like**

[2021-07-21 16:41] eduardoboucas commented on #2980
@erezrokah do you see any problems with changing this behaviour?

[2021-07-21 16:42] ascorbic commented on #2964
@erezrokah Yes, exactly that.

I think it's simplest to just have 1. Clears .netlify cache by default, and runs framework-specific clean commands if implemented, and/or a command in the toml

[2021-07-21 17:29] erquhart commented on #2302
Updated title to prioritize human readability for tracking across GitHub

[2021-07-22 06:34] michalhudecek commented on #1701
It was actually a bug in netlify-cli after all. Got fixed by upgrading to https://github.com/netlify/cli/releases/tag/v5.2.0

[2021-07-22 14:14] ascorbic opened #2986 "Set `process.env.NETLIFY` to true when running build command"
**Is your feature request related to a problem? Please describe.**

Some frameworks detect when they are being compiled by Netlify to enable Netlify-specific configuration. This can be done by looking for the `NETLIFY` env var for builds, but this is not set locally, meaning local builds and deploys may miss these.

**Describe the solution you'd like**

Set `NETLIFY` to `"true"` when running `buil

[2021-07-22 15:54] zoexx commented on #2932
Hi @eduardoboucas , how's going? is there anything I can help?

[2021-07-23 11:53] ascorbic opened #2990 "Rewrites do not work in `dev` when characters are urlencoded"
**Describe the bug**

When a wildcard rewrite is added, files are not found if there are urlencoded characters in the requested URL.

**To Reproduce**

1. Add the following redirect:
[code]
2. Create a file in `/static/` that needs URL-encoding. e.g. `static/special[test].txt`
3. Run `ntl dev`
4. Add a link to `/_next/static/special[test].txt` and it will load fine.
5. Add a link to `/_next/static

[2021-07-23 22:12] eduardoboucas opened #2992 "Exclude compiled Go functions from `ntl dev`"
**Describe the bug**

When running `ntl dev` with `NETLIFY_EXPERIMENTAL_BUILD_GO_SOURCE`, the function registry loads Go functions that exist as compiled binaries. These should be excluded and only functions built from source should be considered.

[2021-07-25 11:47] clawfire commented on #404
Hey there, reopening since I have the error here.
Using https://github.com/clawfire/covid19-passbook-generator/ , I launch a `netlify dev` command and ... it crash with a `error while proxying request: socket hang up` even when the page isn't loaded in the browser. Meanwhile, the started server from parcel works just well.

[2021-07-25 11:58] erezrokah commented on #404
Hi @clawfire do you mind opening a new issue for that? This might be specific to `https` or you setup.

We can link this issue for context

[2021-07-25 15:16] tinfoil-knight commented on #2728
@erezrokah Should I take this one up after #2827 is merged?

[2021-07-25 15:21] erezrokah commented on #2728
Yes please, that would be great!

💯

[2021-07-26 07:12] clawfire commented on #404
Sure 😃

[2021-07-26 07:15] clawfire opened #3001 "netlify dev fails to start on parcel framework"
**Describe the bug**

Using https://github.com/clawfire/covid19-passbook-generator/ , I launch a `netlify dev` command, and ... it crashes with an `error while proxying request: socket hang up` even when the page isn't loaded in the browser. Meanwhile, the started server from parcel works just well.

The command executed is npx parcel serve src/index.html --https && cp node_modules/qr-scanner/qr-s

[2021-07-26 09:58] ascorbic opened #3004 "Functions are not deployed from internal functions dir if base is in subdirectory"
**Describe the bug**

If the site is deployed from a subdirectory of the repo, any functions in the internal functions dir are not deployed from the CLI. When running in CI they deploy correctly.

**To Reproduce**

Steps to reproduce the behavior:

1. Clone `git@github.com:ascorbic/functions-dir.git`
2. Link the site
3. Run `ntl deploy --build`
4. Observe that a function is created in `subdirector

[2021-07-26 13:00] lindsaylevine commented on #3004
sorry just happened to see this and curious -- doesn't the CLI not even deploy funcs from .netlify (but rather the actual unbundled functions src)? i recall eduardo saying this when jason and i were trying to update the zip files for asana. or maybe this has changed or i'm missing something. jw!

[2021-07-26 13:13] ascorbic commented on #3004
It bundles them (again) at deploy time.

[2021-07-26 13:19] #3004 closed

[2021-07-26 13:33] lindsaylevine opened #3008 "Mutating netlifyConfig.included_files via plugin onBuild seems to not work"
**Describe the bug**

for the angular universal plugin, we need to include files on behalf of the user, from their dist, to be bundled with our plugin's generated builder function. when setting this config in the onBuild stage of the plugin, i can see the change is recognized in the build output:

<img width="729" alt="Screen Shot 2021-07-26 at 5 20 29 AM" src="https://user-images.githubuserconten

[2021-07-26 16:47] eduardoboucas commented on #3004
This should be fixed as of CLI v5.2.6.

[2021-07-26 17:06] #2992 closed

[2021-07-27 14:40] JGAntunes commented on #2934
Hey @madsem 👋 apologies for the delay looking into this. #3017 holds a fix for what I believe is the problem here.

Our utility script is constantly appending the lm binary to the user `$fish_user_paths`. For example, on my end I got the following:

[code]

Depending on your particular fish config this clutter might be more or less "impactful" if you happen to have scripts or utilities that depend

[2021-07-27 16:18] #3008 closed

[2021-07-27 16:59] eduardoboucas opened #3020 "Improve DX for `ntl build` + `ntl deploy` command sequence"
## Problem

Some users will run the `build` command followed by `deploy` with the expectation of it being a two-step process, in which the first command creates a set of artefacts that the second command deploys. Unfortunately, this isn't always the case.

For example, imagine a site with a plugin that modifies certain configuration properties related to functions, via a `onPreBuild` hook. When ru

[2021-07-27 17:03] AdrianLuk opened #3021 "Netlify Status shows TypeError"
**Describe the bug**

Running `netlify status` returns `TypeError: (intermediate value) is not iterable`

**To Reproduce**

Steps to reproduce the behavior:

1. Run `netlify status`

**Configuration**

- If possible, please copy/paste below your `netlify.toml`.
- Please enter the following command in a terminal and copy/paste its output:

Binaries:
    Node: 14.15.4 - C:\Program Files\nodejs\node.

[2021-07-27 17:19] eduardoboucas commented on #3021
Thanks @AdrianLuk! We have a fix in #3022. We'll have a new version out shortly.

[2021-07-27 17:19] #3021 closed

[2021-07-27 17:42] erezrokah commented on #3021
Thanks @AdrianLuk, a fix for this is released in [v5.2.10](https://github.com/netlify/cli/releases/tag/v5.2.10).

You can update via `npm install -g netlify-cli`

[2021-07-27 18:21] JGAntunes commented on #2934
The fix landed in v5.2.9 via - https://github.com/netlify/cli/pull/3018. Could you try it and report back? You might need to force the helper re-install via `netlify lm:install --force`.

Meanwhile if your `$fish_user_paths` is cluttered I've put together a quick function that should be able to clear it out for you:

[code]
You can set it up for your current session only or put it under `.config/f

[2021-07-27 18:28] lindsaylevine commented on #3020
i think these are all great scenarios!

in scenario 1, does `ntl deploy` run the plugins in place of `ntl build`? right now i expect that from `ntl build` or `ntl deploy --build`

scenario 2 i probably find the most "confusing" out of the three. i've always found it a bit weird that the deploy command has a --build flag when `ntl build` exists, but that could just be me!

scenario 3 we discussed o

[2021-07-27 19:01] erezrokah commented on #3020
Linking some issues for context, https://github.com/netlify/cli/issues/179, https://github.com/netlify/cli/issues/1671 and https://github.com/netlify/cli/issues/1591

Some users were/are expecting `ntl deploy` to run a build. As Build Plugins role in the build increases, this expectation becomes stronger.

For the specific use case of function bundling I think we can always deploy from `.netlify/f

[2021-07-27 19:59] eduardoboucas commented on #3020
Before anything else, I should clarify that the goal of the three scenarios above isn't to pick one flow in favour of the others. I was just trying to capture ways in which people might use the CLI today, and how well the proposed solution stacks up against people's expectations.

Now to @lindsaylevine's points:

No. Plugins would continue to run only on `ntl build` and `ntl deploy --build`.

I th

[2021-07-27 20:16] KyleBlankRollins opened #3025 "Expand description of `netlify init`"
**Describe the bug**

The [current description for `netlify init`](https://cli.netlify.com/commands/init) makes it seem as if continuous integration and git are required. This can be confusing if people want to create a site that's not tied to those things.

Conversation started in the [Netlify forums](https://answers.netlify.com/t/how-to-creat-a-site-so-can-use-local-dev-but-no-git/41243).

Possi

[2021-07-28 12:17] erezrokah commented on #3025
Hi @KyleBlankRollins, the `ntl init` command can also configure continuous deployment for a new site.

The `ntl init` command falls black to creating a new site in case the project is not a git repo (so we can't complete continuous deployment).

How about we point to the `sites:create` command instead? For example:
`Configure continuous deployment for a new or existing site. To create a site witho

[2021-07-28 17:07] jamesplease opened #3033 "Support deploying by site name"
**Is your feature request related to a problem? Please describe.**

I often need to deploy one project (the term “project” here refers to a git repository that contains the source code for a webapp) to more than one Netlify site.

The current CLI is great for deploying to one Netlify site, but the experience could be improved when needing to deploy to more than one site. I believe that adding supp

[2021-07-28 20:49] KyleBlankRollins commented on #3025
@erezrokah, that makes a lot of sense. :) I can open a PR if that's the preferred docs workflow for this repo.

[2021-07-29 09:06] erezrokah commented on #3025
That would be great @KyleBlankRollins, thank you!

Please note the CLI docs are autogenerated from the code so you'll need to update the following line:
https://github.com/netlify/cli/blob/44122805e6a9d2faecf6c0efffa835c0f7d9571d/src/commands/init.js#L203

and run `npm run site:build` locally to sync the docs.

[2021-07-29 09:38] erezrokah commented on #3033
Hi @jamesplease!
Thank you for opening the issue.

Linking https://github.com/netlify/cli/issues/157 for context - we used to support `ntl deploy --site <site-name>` so it makes sense to bring that back.
That is, for the following command `ntl deploy --site <site>`:
1. If `<site>` is an id the CLI will deploy to that site.
2. If `<site>` is a name, the CLI will look up that site id and deploy to i

[2021-07-29 20:25] awacode21 commented on #511
I think i could have the same problem. But maybe it's wrong usage on my side.
When using netlify-dev and opening the browser to test within my application the netlify function is called again and again. I aborted it after 2225 times.
When i test my netlify function using netlify functions:invoke everything ist totally fine!! But as soon as i use it in my application with axios there is an endless

[2021-07-29 20:57] yanneves opened #3045 "Error handling regression with create-react-app results in endless loop"
**Describe the bug**

With netlify-cli version > 3 we lose a descriptive error message when going a bit off piste with the create-react-app setup.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `npx create-react-app my-app`
2. Then `cd my-app`
2. `yarn add netlify-cli --dev` or `npm install netlify-cli --save-dev`
3. Replace `scripts.start` in `package.json` with `"netlify dev"`
4. Ex

[2021-07-30 16:11] jamesplease commented on #3033
That sounds dreamy, to be honest!

One thing I want to mention is that that for our current use case my team wouldn't need `--force`. The current behavior of `netlify deploy` where it asks the series of prompts when `.netlify/state.json` doesn't exist would be sufficient. But there may be other use cases where `--force` is useful so I'm not opposed to if y'all think it's worth adding!

Great point

[2021-07-30 16:18] Javarome commented on #891
I'm having such an infinite loop when using `netlify build`, while other commands like:
- `netlify-lambda build functions_dir` and
- `netlify dev`
work fine

[2021-08-01 06:31] eddyoc opened #3050 "Cannot read property 'join' of undefined"
Run netllfy project locally using `netlify dev` on `netlify-cli@5.4.1` installed globally.

The (relevant) output is as follows

◈ Loaded function test.
◈ Functions server is listening on 56559
◈ Starting Netlify Dev with Create React App

However when I hit this function using postman or some other HTTP client the instance crashes with the following error

[code]

This function works perfectly wh

[2021-08-02 09:44] erezrokah commented on #2934
Closing this per https://github.com/netlify/cli/issues/2934#issuecomment-887730974
Please comment if still an issue

[2021-08-02 09:44] #2934 closed

[2021-08-02 10:34] madsem commented on #2934
Hey @JGAntunes sorry for late reply, I have been swamped over here.

Thanks a lot for the function, that was extremely helpful! :)
The user paths were indeed completely cluttered, so many entries in fact that my terminal cut off the output after running `echo $fish_user_paths`.

I have uninstalled Large Media in the meantime and we went with Cloudinary's Netlify CMS integration. But I'm sure your

[2021-08-02 12:07] erezrokah commented on #891
Hi @Javarome, do you mind opening a new issue with a reproduction scenario?
This issue is quite old, so we'd like to verify your use case.

[2021-08-02 12:09] erezrokah commented on #511
Hi @awacode21, do you mind opening a new issue for that? Please include a reproduction scenario if possibly as it we'll help us identity the root cause much faster.

[2021-08-02 12:14] erezrokah commented on #3050
Hi @eddyoc, do you mind sharing a reproduction scenario/the code of your function?

Looks like the offending code is here:
https://github.com/netlify/cli/blob/67c98a2355d11ef37179f8cb87bfb55c79038700/src/lib/functions/synchronous.js#L36

so it'd be great to know why we don't receive an error instance as expected.

[2021-08-02 13:09] awacode21 commented on #511
i found a way to fix my loop problem. When using axios in my store action but node-fetch within the netlify functions and also adding a baseUrl for the axios config in nuxt.config.js it fixed the infinite loop. I guess somehow an axios call within an axios call with missin base url was causing the issue. I don't exactly understand why, but it fixes it for my case. No loops anymore!

[2021-08-02 13:43] #3045 closed

[2021-08-02 14:11] ascorbic opened #3064 "Functions server does not start if functions directory is not set"
**Describe the bug**

If the user has not set a functions directory, then the functions server is not started in `ntl dev`. This means that any functions in the internal directory are not served. This is because of [this check](https://github.com/netlify/cli/blob/60167575efbb0aa26d6ea5dbd14882509fe31275/src/lib/functions/server.js#L152)

[2021-08-02 23:21] aldy97 opened #3076 "Having trouble integrating Netlify cli into Continous Deployment"
**Describe the bug**

![image](https://user-images.githubusercontent.com/40585236/127934822-29ac0a7a-8808-4ad3-8293-bdf62db60a18.png)
I am required to mannually click on the link in order to authorize this operation of deployment.

**To Reproduce**

Push or merge to master branch

**Configuration**
- On Netlify UI, stopped auto deploy:
![image](https://user-images.githubusercontent.com/40585236/12

[2021-08-03 08:57] #3064 closed

[2021-08-03 09:43] coelmay commented on #3001
For what it's worth, I used parcel regularly and don't have any issue with a `package.json` that reads
[code]
and setting `command = "yarn start"` or `command = "yarn build"` in my `netlify.toml` both `parcel` and `netlify dev` run properly (currently using `"parcel": "2.0.0-beta.2"`.)

[2021-08-03 10:21] clawfire commented on #3001
Yep, the issue was indeed with the `--https` I was using when only using parcel for local dev and not `netlify dev` 😃
Removing the `--https` of my yarn/npm script invocation make it works like a charm.

[2021-08-03 10:21] #3001 closed

[2021-08-03 11:33] erezrokah commented on #3076
Hi @aldy97, we are using the same approach in this repo tests:
https://github.com/netlify/cli/blob/7dd82a3355b2fe2ece01234cbbbd93c193b308ed/.github/workflows/main.yml#L62
https://github.com/netlify/cli/blob/7dd82a3355b2fe2ece01234cbbbd93c193b308ed/tests/command.deploy.test.js#L86

So it should work.

Can you try replacing `run: netlify deploy --dir=public --prod` with an `echo` command to print th

[2021-08-04 10:30] #2596 closed

[2021-08-04 13:51] eddyoc commented on #3050
I have `directory = "functions"` in my `netlify.toml`
I have a file` functions/test.js` having the contents
[code]
I have installed several different versions of `netlify-cli` using `yarn`
I run locally using `yarn netlify dev`
The app starts up without error containing output line
`◈ Loaded function test.`
The app loads successfully on port 8888
I then perform a `GET` on endpoint `localhost:8888/

[2021-08-04 13:58] erezrokah commented on #3050
Hi @eddyoc, it seems you're using an `async` function, but with a callback pattern.
Can you try:
[code]

or:
[code]

[2021-08-05 09:33] eduardoboucas opened #3104 "Add `--template` flag to `functions:create` command"
**Describe the solution you'd like**

When creating a new function via the `functions:create` command, I'd like the ability to supply the name of the template to use via a `--template` flag, skipping the selection prompt.

**Can you submit a pull request?**

Yes.

[2021-08-05 13:12] #2990 closed

[2021-08-07 01:34] aldy97 commented on #3076
@erezrokah
Thanks for helping!
I am not sure if I am doing right:
![image](https://user-images.githubusercontent.com/40585236/128583849-ad204d40-96bb-4e60-b149-d6b8f7cf2bb2.png)
![image](https://user-images.githubusercontent.com/40585236/128583858-e02fdc7c-0788-4152-8416-f4e0c79e9326.png)

[2021-08-07 16:24] Renfrew commented on #1327
We need documentations about making a POST request with data.

This is not a bug. The correct way to make the request using the current release is:
`netlifyDev api createDnsRecord --data '{"zone_id":"f234tgsfsgrhdhgdf","body":{"type":"NS","hostname":"example.com","ttl":3600,"value":"ns1.google.com"}}'`

Everything need to be in the body of the POST request should be in `body`. that is
[code]

[2021-08-07 19:08] zmwangx opened #3115 "Proxy support is broken"
**Describe the bug**

Proxy support was introduced in #1215, but it is currently broken.

**To Reproduce**

Steps to reproduce the behavior:

1. Somehow make api.netlify.com unavailable, e.g. by being on a closed network where a proxy is required. For reproduction purposes, one can force this by modifying `/etc/hosts` and pointing api.netlify.com to a local container / VM where we spin up a trivia

[2021-08-09 09:38] erezrokah commented on #3076
Based on the debug logs, it seems the secrets are evaluated to `null`.
One reason I can think that's happening - if the PR is invoked on from a forked repo, then the secrets are not available.
I suggest contacting [GitHub support](https://support.github.com/) to better understand why the secrets are not available to the action.

[2021-08-09 15:37] aldy97 commented on #3076
@erezrokah Thank you for helping out! Appreciate it!

[2021-08-10 19:42] KyleBlankRollins commented on #1265
We got some customer feedback on the [file-based configuration docs page](https://docs.netlify.com/configure-builds/file-based-configuration/) about [context.dev.environment] not being documented.

They're correct that we don't have it in the official docs, but it is in the [support forums](https://answers.netlify.com/t/context-name-for-netlify-dev/533/5). Is this something we want to document in

[2021-08-10 19:53] whaaaley commented on #2710
Hello. Just an update. This is still happening with 6.0.9. If I'm not mistaken, this seems to be more of an issue with escaping characters in the URL to be "safe" rather than an extra slash being prepended to the request. I think I should have named this issue "Unnecessary url escaping breaks request paths". Perhaps a flag could disable this feature for the time being? It's quite a nuisance to use

[2021-08-11 09:24] eduardoboucas opened #3132 "`functions:create` creates functions with incorrect name"
**Describe the bug**

The `functions:create` command allows the user to choose the name of the function to be created, which dictates the name of the sub-directory where the templates will be copied to.

However, the original name of the files will be kept, so if the template is called `foo` and I choose `bar` as the name of the function, the function file will be placed as `[functions directory]/

[2021-08-11 10:03] erezrokah commented on #1265
Thanks @KyleBlankRollins, I think it makes sense to document `context.dev.environment` per [this issue](https://github.com/netlify/cli/issues/1873) as that's the expected behavior.

I'm not sure, as some gaps might be related to CLI bugs and could be considered as features unintentionally. So I would take this one case as a time.

[2021-08-11 10:55] erezrokah commented on #1093
Closing per https://github.com/netlify/cli/pull/1704

[2021-08-11 10:55] #1093 closed

[2021-08-11 12:18] erezrokah commented on #2209
Closing this as we've done several improvements related to this:
1. Use a mock API in all relevant tests except deploy tests
2. We don't re-run the tests on release PRs
3. We don't re-run the tests before publishing

If we can think of more actions items on this, we can open individual tasks

[2021-08-11 12:51] erezrokah commented on #707
We now have built-in support for this using our `esbuild` bundler, see more [here](https://www.netlify.com/blog/2021/04/02/modern-faster-netlify-functions/).

If the new bundler doesn't satisfy your use cases, please open a new issue on this repo.

[2021-08-11 12:51] #707 closed

[2021-08-11 13:02] #3132 closed

[2021-08-11 15:58] erezrokah commented on #1838
Looks like we can close this issue. If I'm mistaken please comment and I'll re-open.

Thanks everyone for the information and @eduardoboucas for being on top of this 🚀

[2021-08-11 15:58] #1838 closed

[2021-08-11 16:18] mrlubos commented on #707
Nice, thank you @erezrokah

[2021-08-12 06:20] LudwigK9 opened #3143 "netlify.toml : included_files not able to reference files outside base_dir but still in repo"
**Describe the bug**

In a (mono)repo with a configured base directory in build settings, it is not possible to include files in another folder than the base directory (such as a sibling folder).

**To Reproduce**

Set up a site in Netlify, set a base directory, try setting `included_files = ['../shared/locales/**', ]` in `netlify.toml` and you will get an error: `Configuration property functions.

[2021-08-12 13:58] erezrokah commented on #3115
Thanks @zmwangx, I believe this is a duplicate of https://github.com/netlify/cli/issues/2399, but I'm closing #2399 in favor of this one since due to the more detailed description here

[2021-08-12 13:58] erezrokah commented on #2399
Closing in favor of https://github.com/netlify/cli/issues/3115

[2021-08-12 13:58] #2399 closed

[2021-08-12 15:26] erezrokah commented on #2710
Hi all 👋 And sorry for the delayed response on this.

Can someone post a reproduction scenario/public repo with this issue?

I tried with a sample middleman project, but couldn't reproduce

[2021-08-12 17:12] erezrokah opened #3154 "How to surface headers parsing errors in the CLI"
**Is your feature request related to a problem? Please describe.**

In Production we ignore headers parsing errors, however for the CLI we might want to error/warn about those so users can fix them.

**Describe the solution you'd like**

Not sure yet, I would say error to make it visible, but open to discussion (warning as a first step might be safer)

**Describe alternatives you've considered**

[2021-08-12 17:22] ehmicky commented on #3154
Thanks for opening this @erezrokah!
I think this discussion applies to redirects as well, and fits within our "Local development" big bet.

In production, we actually do surface almost all parsing errors for both headers and redirects in the Deploy summary, under the collapsible menu. From that perspective, surfacing those errors makes sense and would be helpful to users.

When it comes to warning

[2021-08-13 08:06] eddyoc commented on #3050
I have tried both options outlined above. Using callback without async. And using async with a normal return statement. Examples exactly as per previous post.

The result is always the same ```TypeError: Cannot read property 'join' of undefined```

[2021-08-13 10:28] erezrokah commented on #3050
Hi @eddyoc, do you mind sharing a public repo reproducing this issue? Those exact functions worked for me so I'm probably missing something here.

Also, can you make sure to update to the latest CLI version via `npm install -g netlify-cli` and share the output of `npx envinfo --system --binaries --npmPackages netlify-cli --npmGlobalPackages netlify-cli`?

[2021-08-13 21:10] simplenotsimpler commented on #1528
npm install netlify-cli --save-dev

Still an issue with version 6.3.5:

npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated rollup-plugin-inject@3.0.2: This package has been deprecated and is no longer maintained. Please use @rollup/plugin-inject.
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN de

[2021-08-13 21:18] simplenotsimpler commented on #2744
npm install netlify-cli --save-dev

Still an issue in 6.3.5. According to the npm audit, this has been an issue since 2.38.0.

glob-parent  <5.1.2
Severity: moderate
Regular expression denial of service - https://npmjs.com/advisories/1751
fix available via `npm audit fix --force`
Will install netlify-cli@2.37.0, which is a breaking change
node_modules/netlify-cli/node_modules/cpy/node_modules/glob

[2021-08-16 09:15] erezrokah commented on #1528
I believe [this](https://github.com/netlify/cli/issues/1528#issuecomment-898721991) is coming from our Edge Handlers plugin and should be solved by https://github.com/netlify/netlify-plugin-edge-handlers/pull/456

[2021-08-16 12:13] ascorbic opened #3184 "Add `onPreDev` build plugin hook"
**Is your feature request related to a problem? Please describe.**

Build plugins are now able to mutate the config at build time. However these changes are not persisted when running `ntl dev`.

**Describe the solution you'd like**

Add a new build plugin hook, e.g. `onPreDev`, which is called when running `ntl dev` and before spawning the site's develop command. This could be used to update the

[2021-08-16 15:00] erezrokah commented on #3184
For Essential Next.js, some work has been done to support a [`watch` mode](https://github.com/netlify/next-on-netlify/pull/162).

The idea was for the CLI to detect the plugin, and run it in watch mode per https://github.com/netlify/next-on-netlify#preview-locally.

The `onPreDev` also works.

[2021-08-16 15:41] ehmicky commented on #3184
I think this might tie to a bigger problem: builds (production or local) and `netlify dev` are currently completely separate. For example, `netlify dev` does not call `@netlify/build` nor Build plugins at all.

Extending Build plugins to support `netlify dev` might not be straightforward because Build plugins currently assume they are spawned within `@netlify/build`. The process and environment in

[2021-08-17 21:26] olearycrew commented on #1242
I'm having this same issue with Svelte and [svelte-navigator](https://github.com/mefechoel/svelte-navigator).

[code]

[code]

[2021-08-18 17:21] ehmicky commented on #1198
Great news! This is being fixed at #3215.

[2021-08-18 17:39] ehmicky commented on #3154
Since `netlify build` and `netlify deploy --build` can be used in a CI settings, I would personally lean towards this behavior for invalid headers/redirects:
  - With `netlify dev`, fail (new behavior)
  - In production and with `netlify build` and `netlify deploy --build`, print warning messages (current behavior)

If anyone has concerns over implementing this, please let me know.

[2021-08-18 17:51] #1198 closed

[2021-08-18 17:57] erezrokah commented on #3154
I think we could investigate how the CLI operates in CI environments (e.g. detects it and have different defaults), but that's out of scope for this issue.

[2021-08-19 10:30] erezrokah opened #3217 "Bug(command-dev): form submission fails when using `netlify dev`"
**Describe the bug**

The trying to submit a form results in the following error:
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Run `git clone git@github.com:dayhaysoos/smashing-mag-workshop.git`
2. Navigate to the cloned repository
3. Run `npm ci`
4. Run `netlify dev`
5. Go to `http://localhost:8888/test`
6. Click submit
7. See that nothing happens and there's an error message in

[2021-08-19 11:13] #3217 closed

[2021-08-19 13:01] ehmicky commented on #3154
From discussing with @erezrokah, we decided that headers/redirects errors in `netlify dev` should print an error message, but not stop the command.

[2021-08-19 13:55] erezrokah opened #3224 "feat(command-init): base configuration improvements"
**Is your feature request related to a problem? Please describe.**

In https://github.com/netlify/cli/issues/2380 we prompted the user to set a `base` directory when running `ntl init` if we detect that `cwd` is not the repository root.

That works well if the user runs `ntl init` from the base directory, but not from the repository root of a monorepo.
We would like to detect the latter use case a

[2021-08-19 13:56] erezrokah commented on #2302
Closing if favor of https://github.com/netlify/cli/issues/3224

[2021-08-19 13:56] #2302 closed

[2021-08-19 13:57] ehmicky commented on #3154
Fixed by #3225.

[2021-08-19 14:46] #3154 closed

[2021-08-23 20:26] ehmicky opened #3241 "Support ODB in local builds and `netlify dev`"
ODB should work in `netlify build` (local builds) and in `netlify dev`.

This is a cover issue. More details should come as we implement the production behavior.

See also: https://github.com/netlify/buildbot/issues/1645, https://github.com/netlify/buildbot/issues/1646, https://github.com/netlify/build/issues/3547, https://github.com/netlify/build/issues/3548, https://github.com/netlify/build/issu

[2021-08-24 08:08] subhamBharadwaz opened #3242 "```ntl dev``` should start the dev server"
```ntl dev``` should open the dev server on port 8888.

![Netlify CLI](https://user-images.githubusercontent.com/72348711/130580645-5331d2fa-b885-4ee6-aec3-20102a0ad60e.png)

How to solve this issue?

[2021-08-24 11:51] subhamBharadwaz commented on #3242
After deleting the ```.eleventy.js``` file, it's working correctly. Any solution?
My ```.eleventy.js``` files looks like this

[code]

[2021-08-25 02:38] sumodirjo commented on #1809
I face this issue today. I did local build and deploy for my gohugo-based site. My `public` directory was symlink to directory in tmpfs.

When running deploy, deploy only detect one file, `public` as symbolic link and not following the symbolic link.

After moving the file to the disk in `public` directory. The deployment start successfully.

This actually causing problem since the deployment proc

[2021-08-25 08:10] whaaaley commented on #2710
@erezrokah Hello 👋 ... I don't have a public project I can share atm however I can reproduce this easily in vanilla node with `http.createServer` just by logging `req.path`.

server.js
[code]

netlify.toml
[code]

Start project
[code]

Finally... Go to browser and paste `localhost:3001/main.css`
In terminal you'll see `>>> /%2Fmain.css`

[2021-08-25 09:26] erezrokah opened #3248 "feat(docs-vs-debugging): add information on debugging with `esbuild`"
**Is your feature request related to a problem? Please describe.**

Related to https://github.com/netlify/cli/blob/f5743f02bf3bb091b243862a3ff49e2481c817b9/docs/vscode.md#add-vscode-launch-configurations

Per @eduardoboucas

**Describe the solution you'd like**

Update the docs with a note about `esbuild` debugging

**Describe alternatives you've considered**

Keeping the docs as they are and poin

[2021-08-25 15:10] Patil2099 commented on #3248
I would love to take this up

[2021-08-25 19:01] kamsar opened #3251 "netlify dev leaves behind zombie processes on Windows"
**Describe the bug**

`netlify dev` leaves behind zombie processes **on windows** after ctrl-c. This leaves copies of dev tools like tsc, esbuild, nextjs, etc in watch mode running after the dev session is terminated.

**To Reproduce**

Steps to reproduce the behavior:

https://github.com/kamsar/nfcli-sigint-zombies#readme

**Configuration**

See repro repository above for steps and reproducible s

[2021-08-26 08:49] ascorbic opened #3252 "Functions server does not recognize `.mjs` functions as using esbuild"
**Describe the bug**

Functions with `.mjs` entrypoints are correctly compiled using esbuild by default. However, when running `ntl dev`, the functions server serves them as if they used zisi, i.e. without using `functions-serve`. This causes an error as it tries to directly `require()` an ES module. Manually setting `node_bundler = "esbuild"` fixes the issue.

**To Reproduce**
- Create a function

[2021-08-26 12:39] #3252 closed, assigned to eduardoboucas

[2021-08-26 17:15] kaganjd opened #3255 "Local functions dev: function event shows path: '/.netlify/non-existent-path' in several different cases"
**Is your feature request related to a problem? Please describe.**

An enterprise customer noticed when testing role-based access locally that `req.url` gets overwritten with a placeholder path at the beginning of the process to check whether a JWT should allow access to a certain path: https://github.com/netlify/cli/blob/cc84d2ab4da62c8fc523b30362d243c044d71c57/src/utils/proxy.js#L144

The placeh

[2021-08-28 06:10] abereghici opened #3261 "Next & Prisma: Query engine binary for current platform "rhel-openssl-1.0.x" could not be found."
**Describe the bug**

I'm using next@11.1.0 with prisma@2.30.0 and I'm trying to deploy it on Netlify (serverless). Locally is working okay, but when I'm deploying it I have the following error:

[code]

**To Reproduce**

Steps to reproduce the behavior:

Create a simple serverless NextJS app with Prisma

**Configuration**

netlify.toml
[code]

[code]

**Expected behavior**

Prisma client should w

[2021-08-29 11:37] N0K0 opened #3262 "Add function like env:export to make .env files from site config"
**Is your feature request related to a problem? Please describe.**

When moving from one dev machine to an other i want to be able to quickly setup my .env file with secrets.

**Describe the solution you'd like**
I'm already using the env:import command to move all the .env content into netlify, that same system could be reversed to setup the new dev environment

**Describe alternatives you've con

[2021-08-30 12:18] erezrokah commented on #3251
Thanks @kaganjd, if you feel like messing with this a bit more, maybe using `kill-tree` can help. We use it in our tests
https://github.com/netlify/cli/blob/5026e02c8987837189b57a2043f78af325d15724/tests/utils/process.js#L5

[2021-08-31 13:25] Xenonym commented on #3251
The issue is that `execa` defaults to `windowsHide: true`, which seems to interfere with terminating child processes: sindresorhus/execa#433. Setting `windowsHide: false` would fix the issue.

Other projects have also encountered this issue with `execa`'s defaults and Windows: snowpackjs/snowpack#1022, lerna/lerna#2946.

[2021-08-31 16:45] #3251 closed

[2021-08-31 16:45] ehmicky commented on #3251
Thanks @Xenonym for fixing this in #3278 :tada:

[2021-08-31 16:51] ehmicky opened #3280 "Our CI linting logic is broken"
`eslint` both in CI and sometimes locally seems to be linting `node_modules/**`. This makes the CI fails (for example [here](https://github.com/netlify/cli/pull/3273/checks?check_run_id=3473176972)).

[2021-08-31 17:04] kamsar commented on #3251
Can confirm 6.8.1 works for me. Much appreciated! :)

[2021-08-31 17:29] ehmicky commented on #3241
Closed by https://github.com/netlify/build/issues/3580

[2021-08-31 17:29] #3241 closed

[2021-08-31 17:57] ehmicky opened #3281 "Support serving ODB with `netlify dev`"
ODB should be supported locally, i.e. the runtime logic serving those should work with `netlify dev` like we currently do with regular functions.

[2021-08-31 21:33] kaganjd commented on #3255
Another enterprise customer running into this today: https://netlify.zendesk.com/agent/tickets/66121 (internal only)

[2021-09-01 05:38] verythorough commented on #3242
@subhamBharadwaz When you run `ntl dev` with your `.eleventy.js` file, and it displays the lines you screenshotted above, what happens when you visit the first listed URL at `https://localhost:8088`? What's being served at that address?

[2021-09-01 05:50] verythorough commented on #3262
Hi @N0K0! I agree there are times when this can be useful. Do you ever use `netlify dev` to run your site with env vars automatically included?

[2021-09-01 06:47] N0K0 commented on #3262
Hi! Personally i've been using an alternative to the netlify dev command, since from what i can see running `nuxt` makes the rest of the netlify dev command hang while waiting for it to finish! And the default command, `nuxt build` removes all the nice dev features like Hot Module Reload from Nuxt.

Been using the following instead:

[code]

The `full` command gives me HMR for both functions and N

[2021-09-01 09:41] erezrokah commented on #3242
By default `ntl dev` will try to connect to port `8080` for an 11ty site:
https://github.com/netlify/framework-info/blob/043520db19c06ed9fe4b562c264dafe5487fb7d2/src/frameworks/eleventy.json#L12

@subhamBharadwaz, looks like your site is configured to run on `8088`, so you'll need to configure it via `ntl dev --targetPort 8088` or via the `netlify.toml` [dev block](https://cli.netlify.com/netlify-

[2021-09-01 13:14] ehmicky commented on #3280
Fixed by https://github.com/netlify/eslint-config-node/pull/292

[2021-09-01 14:05] #3280 closed

[2021-09-02 07:11] tbassetto opened #3287 "netlify status fails because of undefined full_name"
**Describe the bug**

I am a paying customer and I believe my profile on the website is complete. It does have my name in the settings. But this is the result of `netlify status`:
![2021-09-02 09_04_30-PowerShell](https://user-images.githubusercontent.com/211630/131798643-990175c5-b7d8-4088-bc37-90d75e02d78a.png)

**To Reproduce**

Steps to reproduce the behavior:

1. For me it's just about `netli

[2021-09-02 07:14] subhamBharadwaz commented on #3242
eleventy site was served at 8088 and netlify functions was at a different port. But after upgrading to ```netlify cli```, it's working correctly today. Thank you!

![Untitled](https://user-images.githubusercontent.com/72348711/131799198-00a1f2a5-a25d-4a8b-87a1-ad7786ffaab3.png)

[2021-09-02 07:15] subhamBharadwaz commented on #3242
It is working correctly after upgrading ```ntlify cli```. Thank you!!

[2021-09-02 07:15] #3242 closed

[2021-09-02 09:51] erezrokah commented on #3287
This is probably coming from https://github.com/netlify/cli/blob/d6929baf62796f3594e7a6a71361650395d03262/src/commands/status/index.js#L45

@tbassetto do you mind running with `DEBUG=* netlify status` so we can get additional information?

Also, can you try `netlify logout` and then `netlify login`? That should refresh the authentication token.

[2021-09-02 09:59] erezrokah opened #3288 "feat: show progress while waiting for framework server to start"
**Is your feature request related to a problem? Please describe.**

Related to https://github.com/netlify/cli/issues/3242#issuecomment-910116127

When we start a framework server (e.g. Gatsby) we try to connect to the default port of that framework.
However, if a user configures a custom port they should tell `netlify dev` about it.

The problem is that `netlify dev` times out after 10 minutes and

[2021-09-02 10:35] tbassetto commented on #3287
![2021-09-02 12_22_07-PowerShell](https://user-images.githubusercontent.com/211630/131829023-9c11ccd2-ca9e-4da4-9927-77309fff5ff2.png)

Logging out and in again solved it!

[2021-09-02 10:41] erezrokah commented on #3287
Thanks @tbassetto! I'm keeping the issue open as I believe the error handling here:
https://github.com/netlify/cli/blob/d6929baf62796f3594e7a6a71361650395d03262/src/commands/status/index.js#L36

is missing some use cases, and at the very least we should exit with a generic error if we have an error but are unable to classify it.

[2021-09-02 15:30] #3025 closed

[2021-09-04 22:46] jdsteinbach opened #3290 "Function in `submission-created` doesn't have `payload.form_name`"
Netlify provides a `form_name` value in the `payload` for `submission-created.js` functions. This is necessary for handling multiple forms in a single Netlify site. `netlify-cli` doesn't provide that key/value in `payload` for `submission-created.js`.

**Configuration**

* Install `netlify-cli`
* Create `submission-created.js` in your functions folder.
* Have 2 forms in your site.
* Try to use `pa

[2021-09-06 14:35] iChenLei commented on #1275
This issue looks like solved, why still opened ?

[2021-09-06 14:57] ehmicky commented on #1275
Yes, this is solved, thanks for raising this @iChenLei :+1:

[2021-09-06 14:57] #1275 closed

[2021-09-07 03:06] Petermhen commented on #409
Same here, breakpoints not working for me.

[2021-09-07 03:33] iChenLei opened #3302 "chore: netlify-cli package install-size analysis"
### TL;DR
Too many big-size binary npm package in dependencies list, so `netlify-cli`'s install size is very huge.

### List all  netlify-cli(v6.8.6) deps
| package | install-size | semver |
| :------- | :------- | :----: |
| @netlify/build | [![install size](https://packagephobia.com/badge?p=@netlify/build)](https://packagephobia.com/result?p=@netlify/build) | ^18.7.4 |
| @netlify/config | [![ins

[2021-09-07 11:18] Hrishikesh-K opened #3303 "updateSite API method not working"
**Describe the bug**

The updateSite API method doesn't seem to work. It works perfectly when calling the API directly, but doesn't seem to make the required changes when making the change through CLI.

Tested in cases:

https://netlify.zendesk.com/agent/tickets/64498 (INTERNAL-ONLY LINK)
https://answers.netlify.com/t/updating-a-sites-custom-domain-from-the-cli-does-not-work/43578

**To Reproduce*

[2021-09-07 12:18] ehmicky commented on #3302
Hi @iChenLei,

Thanks for reporting this issue.

Netlify CLI has lots of features and therefore lots of dependencies. I do agree though that we should strive for a smaller package size. I also agree that 330MB is a lot.

However, the developer experience is mostly only impacted by how long it takes to run `npm install netlify-cli`, which is rather minor IMHO.

Also, this is not an easy fix. As you

[2021-09-07 12:21] ehmicky commented on #3303
Hi @Hrishikesh-K,

The correct syntax is `netlify api updateSite --data '{ "site_id": "id-from-above", "body:" { "name": "footer" } }'`. Does this work for you?

[2021-09-07 12:41] iChenLei commented on #3302
Thanks for reply, `@netlify/plugin-edge-handlers` | `@netlify/routing-local-proxy` | `@netlify/zip-it-and-ship-it` | `@netlify/build` ,  I'm curious why these package install-size is so huge. It looks like same with esbuild(writen in golang, and compile different platform-specific binary artifacts ?).

[2021-09-07 12:44] iChenLei commented on #3302
Anyway, I'm just making a fuss .  Skip it , and continue your great work for netlify-cli. Thanks

[2021-09-07 12:57] #3302 closed

[2021-09-07 13:53] Hrishikesh-K commented on #3303
Thank you for suggesting that. That's it, it works!

[2021-09-07 13:53] #3303 closed

[2021-09-07 16:23] paulsutherland commented on #1417
Hi, @rameezk

I had the same issue with updating a site's custom domain and the CLI team got back via the support forum to confirm that custom domain should be nested in body, so I would try:

netlify api createSite -d '{ "body": { "custom_domain": "my-site.my-domain.com", "name": "my-site.my-domain.com" } }'

[2021-09-08 19:51] ehmicky commented on #3255
Thanks for raising this up @kaganjd.
I will investigate this problem. :+1:

[2021-09-08 20:26] goldcoders opened #3311 "netlify api updateSite , not changing any data"
Good Day  Im using netlify cli api
and i wanna change name site

the only required path variable mentioned was site_id
and i wanna change the name of the site so i passed the name also with the new value

old name : combo-1234
new-name: combo-4321
[code]

the request wont failed, i dont see it failing but it just return the old value
same old name, url, default_domain etc...

is there an easy apo

[2021-09-09 10:49] erezrokah opened #3312 "feat: Support rawUrl and rawQuery in local lambda executions"
**Is your feature request related to a problem? Please describe.**

The `rawUrl` and `rawQuery` are missing from the functions event object when using `netlify dev`

**Describe the solution you'd like**

`rawUrl` and `rawQuery` should be available to functions via the `event` object

**Describe alternatives you've considered**

N/A

**Additional context**

Work in progress https://github.com/netli

[2021-09-09 11:31] #3311 closed

[2021-09-09 17:16] Hrishikesh-K opened #3315 "Functions event.isbase64Encoded discrepancy in CLI vs Production"
**Describe the bug:**

The production server encodes the function's `event.body` to `base64` except for a few content-types as mentioned here: https://answers.netlify.com/t/changed-behavior-in-function-body-encoding/19000.

When submitting a file using a (non-Netlify) form to a Netlify Function, we have to use `multipart/form-data` content-type which is encoded according to the above post. Thus, w

[2021-09-09 19:24] ehmicky commented on #3255
Minimal steps to reproduce:

`netlify.toml`:

[code]

`/netlify/functions/auth.js`:

[code]

When requesting `http://localhost:8888/test`, `/.netlify/non-existent-path` is returned, while it should be `/netlify/functions/auth.js`.

[2021-09-09 19:57] ehmicky commented on #3255
PR to fix this: https://github.com/netlify/cli/pull/3316

[2021-09-10 11:44] ehmicky commented on #3255
This should be fixed now! :tada:

[2021-09-10 11:44] #3255 closed

[2021-09-10 16:43] #3248 closed

[2021-09-13 08:55] eduardoboucas commented on #409
For anyone still experiencing issues with debugging functions in VS Code, can you try to follow the steps in https://cli.netlify.com/vscode/? If that doesn't work, please add a comment here and we'll reopen the issue.

Thanks!

[2021-09-13 11:43] MentalGear commented on #409
Thanks for merging @eduardoboucas

[2021-09-13 15:02] #3312 closed

[2021-09-14 05:39] rameezk commented on #1417
@paulsutherland That works! :)

Thanks for responding here.

[2021-09-14 05:39] #1417 closed

[2021-09-15 12:00] xmedeko commented on #3302
I just need to deploy a small static site (a few kB). If would be nice to have some lite version of netlify-cli for netlify API calls like init, deploy, etc. (i.e. without dev server and others).

[2021-09-16 08:46] bramus opened #3344 "[DX] Improve command and argument suggestions"
It's been a while since I did a manual deploy, so I forgot the command _(of course)_ to do so. I tried guessing it from memory, and while I was happy to see that `netlify-cli` tried to help me out, the suggestions felt really weird:

[code]

I expected `netlify-cli` to suggest `deploy` _(the correct command)_ here, instead of the dangerous `unlink`

[code]

I also expected `netlify-cli` to suggest

[2021-09-16 10:57] jonlambert opened #3345 "Error thrown when adding a TypeScript function, with basic `netlify.toml` + Nuxt"
**Describe the bug**

When attempting to add a simple TypeScript function and running `netlify dev`, the function fails to build with the following error:

[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Run `git clone git@github.com:jonlambert/netlify-typescript-issue.git`
2. Navigate to the cloned repository
3. Run `npm install && netlify dev`
4. See that the CLI emits an error

*

[2021-09-16 13:23] charliegroll commented on #1913
Food for thought: I know I've seen an issue floating around in the past with regards to privacy/network calls the cli makes. Just want to make sure we're cognizant of this and get our thoughts on paper. Do we disable LD in such cases and only use defaults?

[2021-09-17 02:55] BenJackGill commented on #2331
FYI - I just got the same error when trying to install Netlify CLI (globally) for the first time. Upgrading to `npm7` using the command `npm install -g npm` fixed the problem.

[2021-09-17 14:41] eduardoboucas commented on #3345
Hi @jonlambert, thanks for filing this. We found a problem with the path resolution logic in the CLI, which we're in the process of fixing.

In the meantime, and to get you unblocked, can you try removing the `functions` property from the `[dev]` block? This property shouldn't be necessary, as it has the same value as `functions` in `[build]`.

If you do need a different path for the local environ

[2021-09-18 16:19] jthawme opened #3351 "Environment variables seem to get unset when running netlify dev"
**Describe the bug**

I have a gatsby site and running `netlify dev` fails for one of the source plugins (gatsby-source-sanity) claiming that the environment variable for the sanity auth token is not set, however not using `netlify dev` and directly interacting with gatsby by using `yarn develop` (alias of `gatsby develop`) works fine

**To Reproduce**

I will try make a minimal repro but because

[2021-09-18 16:25] jthawme commented on #3351
Sorry I just did some more investigating. In fact `netlify dev` was correct and was running the plugin with the token in the `.env` file where as running `yarn develop` wasn't actually taking the env file variables, so presumably working through some sanity cli cached token usage.

NETLIFY DEV was the more honourable one, I had to update my local token

[2021-09-18 16:25] #3351 closed

[2021-09-21 15:13] mcansh opened #3374 "`netlify dev` function not updating"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `git clone git@github.com:owner/repo-with-cli-bug.git`
2. Navigate to the cloned repository
3. Run `netlify dev` and `./build.cjs --watch`
4. make a change to `./src/index.js`
4. notice that the dist file (`netlify/functions/server/dist/index.cjs`) is updated and wh

[2021-09-21 18:37] kgpingle commented on #409
@eduardoboucas still struggling for yarn workspaces.   I see below in console.  However my server (toml file) is under
`src/project/packages/client/`

[code]

[2021-09-22 10:21] netlify-team-account-1 commented on #3290
Hi @jdsteinbach! Due to the mechanics behind the form submission system, it's not trivial for us to add that behaviour to the CLI (at the moment). That could chance in the future. As a workaround for you, you could embed a hidden form field into your forms:

[code]

[2021-09-23 14:07] ehmicky commented on #2728
Fixed thanks to @tinfoil-knight! :tada:

[2021-09-23 14:07] #2728 closed

[2021-09-23 20:59] aaronransley opened #3393 "Allow `.env` files to be ignored by `netlify dev` command"
**Is your feature request related to a problem? Please describe.**

There is no way to opt-out of the reading of environment variables from `.env` files in the root of my project directory when running `netlify dev`.

**Describe the solution you'd like**

I'd like the ability to use `netlify dev` without `.env` files in my project directory being read / considered.

**Describe alternatives you've

[2021-09-23 22:35] dockleryxk commented on #318
It just took 27 minutes to upload 12k files. Is that considered fast? It's not fast in my opinion

[2021-09-24 03:15] srobertson421 opened #3394 "Netlify Dev functions 500 error with package.json type="module""
**Describe the bug**

When running `netlify dev` with `svelte@next` (sveltekit), local lambda functions respond with 500 error. Would appear that `netlify-cli/src/lib/functions/netlify-function.js` is using `lambda-local/build/lambdalocal.js` to issue a CommonJS require of the function file but fails when `"type"="module"` exists in the root level `package.json` file as this tells Node to treat al

[2021-09-24 04:36] kotAPI commented on #580
Any fix for this yet? Still an issue on Windows 10. Everytime there is a 500 error on one of the functions the whole netlify dev instance shuts down and I have to restart the server again just to get an error that something else is running on the port

is there any config to stop server from crashing?

[2021-09-25 18:50] tinfoil-knight commented on #3104
@eduardoboucas Can I pick this one up?

[2021-09-27 09:00] eduardoboucas commented on #3104
I'm actually not sure we still need this. I have assigned it to myself so I can do some planning and investigation, so I'd suggest not starting any work on it for now.

Thanks for checking!

[2021-09-27 09:24] tinfoil-knight commented on #3104
Providing the template flag would allow using `functions:create` without answering any prompt since the flag for other required parameters (eg: `name`) are already there.

Not gonna start any work on it now but do tell if you decide that we need this.

[2021-09-27 14:27] #3076 closed

[2021-09-28 17:19] MiKr13 commented on #1194
Thanks @ehmicky this helped

Thanks @ehmicky this helped a lot!

[2021-09-29 13:36] erezrokah commented on #3344
To add more context - I believe we're using an `oclif` plugin for that, see https://github.com/oclif/plugin-not-found.
It seems to use Levenshtein distance for guessing the correct command:
https://github.com/oclif/plugin-not-found/blob/d7f5ae83c7f2241e9a8b010f6fe13ece26046663/src/index.ts#L15

There might be a better approach to do it, but I can't think of one without doing more research

[2021-09-29 16:49] erezrokah commented on #3393
Thanks @aaronransley, this is somehow related to https://github.com/netlify/cli/issues/1303.

However, I think you should be able to use `.env.development` for local overrides per https://github.com/netlify/cli/blob/4fa5d077789b77984457d6b7adb51a6bc3da099b/src/utils/dot-env.js#L21 until we decide on the flow we want to support.

[2021-09-29 17:08] jlengstorf opened #3427 "Redirects for functions result in a 404"
**Describe the bug**

When using a `_redirects` file, proxy redirects for Netlify Functions

**To Reproduce**

Steps to reproduce the behavior:

1. Clone https://github.com/jlengstorf/feature-tour-sep29-2
2. Install the latest Netlify CLI
3. Run `netlify dev`
4. Visit `http://localhost:8888/api/hello-world`

**Configuration**

see repo

**Expected behavior**

redirect should work

**CLI Output**

[2021-09-30 09:38] erezrokah commented on #580
Hi @kotAPI do you mind opening a new issue for the crash? A 500 error in a function should not crash the entire `netlify dev` process

[2021-09-30 21:52] dmmulroy commented on #3345
We're also running into this problem even running `netlify functions:serve` and pointing it directly at our functions directly still causes the issue.

[2021-10-01 08:29] Jolg42 commented on #119
@RaeesBhatti That would be an amazing feature (that competition already has implemented), would be nice to give it a second shot I think 😃

[2021-10-01 16:57] ehmicky commented on #3427
Hi @jlengstorf,

Thanks for the report.
I am not able to reproduce using the repository:

[code]

![world](https://user-images.githubusercontent.com/8136211/135658535-6ea5af94-d7e4-488c-b118-1cccb6ae582d.png)

I am using Netlify CLI `6.9.28`. Could you try again using the reproduction repository with that Netlify CLI version and confirm this is still not working for you?

[2021-10-02 18:43] ShaCP commented on #409
Has anyone successfully gotten breakpoints to work in vscode when using esbuild as the bundler? esbuild is creating the source map but breakpoints are not working for me. If I set the breakpoints on the transformed file, it works fine. But I want to be able to set them on the original file.

[2021-10-02 21:55] ShaCP commented on #409
I tried that exact config and it did not work for me. I got this error:
[code]

 I had to go back to the config I used with netlify-lambda:
[code]
I'm having the problem I mentioned in the above post though.

[2021-10-04 11:46] erezrokah commented on #1487
Fixed by https://github.com/netlify/renovate-config/pull/42

[2021-10-05 08:15] #2494 closed

[2021-10-05 12:45] netlify-team-account-1 commented on #3374
Hi @mcansh, thank you for reporting this error! I was able to reproduce it locally. I'll circle around internally to find what we'll do about it.

To unblock yourself, you can use the `esbuild` bundler. That solved the issue for me:

[code]

[2021-10-07 22:43] jdsteinbach commented on #3290
@netlify-team-account-1 Thanks for the reply! I'll use the hidden field workaround for now.

[2021-10-10 17:48] AndreasDeveloper commented on #580
Thought to join the conversation now. I've been playing with netlify functions for few months now. Experiencing same issue as @therobinkim mentioned.

Also, @kotAPI , yeah, same here, whenever I get 500 error, everything crashes. Running on latest netlify-cli version. Is there any update coming up for this?

[2021-10-11 13:36] netlify-team-account-1 opened #3474 "chore: re-introduce test disabled via #3473"
In #3473, we disabled a flaky test. We should find out why it's flaky, and re-enable it.

[2021-10-11 20:35] dan003400 opened #3480 "netlify deploy --toml <path-to-toml> is missing"
I find it very very odd that simply supplying a path to the toml file is not something that is included in this cli, this blows my mind actually.

We are not using netlify builders and want to simply deploy from circleci but we are in a subdirectory of a monorepo.

All issues would be removed if you could simply supply a path to the config toml, I am not sure I have ever used a cli where this is n

[2021-10-11 20:48] ehmicky opened #3481 "Document the `--config` CLI flag"
All CLI commands can use the `--config` CLI flag, I believe.
However, this is currently missing from the documentation. This should be fixed.

[2021-10-11 20:50] #3481 closed, assigned to nobody

[2021-10-11 21:27] ehmicky commented on #3480
Yes, exactly. The `--site` flag can be provided without having to perform `netlify link`. Based on the above, it appears this might solve your problem. :+1:

[2021-10-11 21:29] dan003400 commented on #3480
Well that is frustrating, seems we should have used this to begin with rather than supplying the toml file path. The hanging user supplied inputs make it seem as if the toml file could not be found, as it "can" include the ID under `[Settings]` but that seems to be ignored completely, which is VERY odd.

[2021-10-11 21:31] ehmicky commented on #3480
Yes, you're correct.
Did this solve your problem?

[2021-10-11 22:04] dan003400 commented on #3480
Yes, --site is all that was needed. Seems the docs do not make this clear, nor does it make it clear that the [Settings] ID from toml is completely ignored...

[2021-10-12 02:26] verythorough commented on #3480
Hi @dan003400, I'm glad to hear you've got things working. To better understand potential docs improvements, could you help me understand the following?

- What caused you to try adding `[Settings] ID` to your `netlify.toml` file? We don't support this configuration option, so I'm hoping to figure out if there's a place where we need to remove an errant reference to it.
- The `--site` flag is docu

[2021-10-12 09:57] erezrokah commented on #2209
Re-opening as we need another integration on this. We should first benchmark the tests, but possible improvements:
1. Move to CircleCI and use stronger machines (GitHub actions Windows machines are especially slow).
2. Run the deploy tests in parallel (create multiple sites, instead [just one site](https://github.com/netlify/cli/blob/68fd36200899595180d3a29a24dc7550cfe56e2f/tests/command.deploy.te

[2021-10-12 16:48] leemartin opened #3488 "Github credentials have expired. CLI throwing error but not prompting for updated credentials."
**Describe the bug**

When I try and init a new project using the netlify-cli, everything works as planned until the cli attempts to link the netlify project to the associated git repository. At that point it throws the following error:

**Error: Failed retrieving GitHub repository information with error: Bad credentials**

I've looked through the CLI docs but I'm not sure how to reset my Github c

[2021-10-13 10:51] erezrokah commented on #3488
Hi @leemartin, thank you for opening this issue.

GitHub credentials are stored in a `config.json` file under the user [shared preferences directory](https://docs.netlify.com/cli/get-started/#config-json-location), so at the moment the best way to reset them is to edit that file.

A better way to handle this in the code will be to improve this function:
https://github.com/netlify/cli/blob/6d6022ec

[2021-10-14 08:19] #3394 closed

[2021-10-15 14:01] ehmicky opened #3512 "Upgrade minimal Node.js version to Node 12"
See background at https://github.com/netlify/team-dev/issues/34

We should upgrade the minimal Node.js version to Node `>=12.20.0` and make a major release.

Since we can make a major release, upgrading would require a user action and no sites would be broken.

[2021-10-15 14:05] byteshiva opened #3513 "Error: Stream body too big"
I'm getting the below error while running the netlify functions on the local machine.

Am I missing something here?

[code]

[2021-10-15 14:46] ehmicky opened #3514 "Use pure ES modules"
See background at https://github.com/netlify/team-dev/issues/36

Once https://github.com/netlify/cli/issues/3512 is done and released, we should use pure ES modules and make a major release.

This is more than just switching from CommonJS to `import`/`export`. See [this list](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c) for other changes which might be involved. This shou

[2021-10-21 15:09] RyKilleen opened #3520 "netlify dev not finding Rust functions"
**Describe the bug**

In attempting to run https://github.com/netlify/rust-functions-example locally, `netlify dev` does not detect Rust functions. Visiting http://localhost:8888/.netlify/functions/hello returns `Function not found...`

Acknowledging here that it's experimental and may not be supported yet, in that case my apologies!

Also noting I've attempted this with the latest Netlify CLI ver

[2021-10-21 15:14] RyKilleen commented on #3520
Closing as this was likely a compilation step error on my end.

[2021-10-21 15:14] #3520 closed

[2021-10-22 11:30] tools-netlify opened #3522 "[security] Enforce Branch Protections"
This is an issue generated by (for-internal-use-only)[github-tools](https://github.com/netlify/github-tools/)
### Description
This repository has exceeded the development grace period, and the repo owner must decide if branch protections should be enforced.
If this repository houses code used in production in any capacity, branch protections must be enforced. Read (for-internal-use-only)[here](htt

[2021-10-22 12:06] #3522 closed, assigned to nobody

[2021-10-23 03:39] Natetronn opened #3523 "Does cli deploy --message work with --trigger?"
Can anyone confirm Netlify CLI deploy message flag works when run alongside the trigger flag, please? It doesn’t seem to be working on my end.

The following variations trigger the build from main@HEAD on my repo but, I don’t get a deploy message. It just says, “No deploy message” on the Netlify Deploys listing page. And I’m not seeing a message in the logs, either, but that’s just an aside, as I

[2021-10-23 05:10] #3523 closed, assigned to nobody

[2021-10-23 05:26] Natetronn opened #3524 "message flag and its value should work along side trigger flag"
**Is your feature request related to a problem? Please describe.**

When running `neflity deploy --trigger`, along with `--message "Some String"` there is no deploy message registered in the dashboard.

**Describe the solution you'd like**

I'd like the --message flag to be available when using the --trigger flag and for the message to show up on the Deploy list page of the Netlify Dashboard (and

[2021-10-28 08:55] RobinV760 opened #3540 "What to do when Netlify is unstable?"
**Describe the bug**

I am using Netlify in a website that allows users to upload a video and sends it to AWS. For some users, this step is not working which is due to instability of Netfliy. Interestingly, these are users from the region of Egypt (I am based in Europe).

**To Reproduce**

When uploading is tried, the error message is:
http failure response for www.xxxx.netlify.app/.netlify/functi

[2021-10-28 10:31] #3540 closed, assigned to nobody

[2021-10-29 21:14] theFlexOne opened #3561 ""netlify dev --live" error"
This is what happens when I run "netlify dev --live".

      flexone@penguin:~/code/flatiron/projects/project-1-weather-app$ netlify dev --live
      ◈ Netlify Dev ◈
      ◈ Ignored general context env var: LANG (defined in process)
      ◈ No app server detected. Using simple static server
      ◈ Running static server from "project-1-weather-app"
      ◈ Functions server is listening on 46415

[2021-11-01 11:51] tinfoil-knight opened #3562 "chore: remove deprecated querystring package with URLSearchParams"
**Describe the bug**

The [querystring](https://www.npmjs.com/package/querystring) package has been deprecated now and should be replaced by URLSearchParams API as recommended in its documentation.

It's used in 3 files: `functions-templates/javascript/google-analytics/{{name}}.js`, `functions/form-submissions-handler` and `utils/gh-auth`.

[2021-11-01 11:52] tinfoil-knight commented on #3562
@ehmicky Should I pick this one up?

[2021-11-01 13:27] tinfoil-knight commented on #3513
@byteshiva Regarding the first issue, could you check how large was the data payload?

Netlify Functions will throw errors on data sizes larger than 6MB since AWS Lambda Functions (which Netlify Functions is based on top of) has this limit for function invocation payloads as mentioned in this page: https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html

[2021-11-01 14:21] byteshiva commented on #3513
@tinfoil-knight  - Why limit the upload size when one could use [localstack](https://github.com/localstack/localstack) to run Lambda functions locally without connecting to AWS.

It threw an error when I tried to upload file size of 3.9MB.

[2021-11-01 14:43] tinfoil-knight commented on #3513
I looked a bit more, I'm probably wrong about my previous assumption. Apologies.

If possible could you provide a public repo with the function you were running?

[2021-11-01 15:27] tinfoil-knight commented on #3562
The URLSearchParams API isn't supported Node.js 12.0.0. Since there's ongoing work to upgrade the repo Node version to that in https://github.com/netlify/cli/issues/3512, I'm just leaving this open for now.

[2021-11-01 16:06] tinfoil-knight commented on #3513
@byteshiva
I took a simple function that takes in file from the request body and just writes it to the local system.

`functions/hello-world.js`

[code]

On file sizes below 6MB encoded with base64, I'm able to receive and write the file successfully but post that I get the error: `PayloadTooLargeError: request entity too large`

I was using the `functions:serve` command to run the functions serve

[2021-11-01 16:23] tinfoil-knight commented on #3513
@byteshiva
I wrote a small function to just write the uploaded file to the local filesystem.

[code]

I tried files ranging smaller and larger than 6MB. Files below 6MB were uploaded successfully and written to my filesystem. For files above 6MB, I got the `Error: Stream body too big` as expected.

I'm not able to reproduce the error on files of sizes smaller than 6MB.

[2021-11-01 16:29] tinfoil-knight commented on #3513
@byteshiva It'd be inconsistent if your functions ran locally but failed when you deployed and tried them on a production environment. IMO the production and local environment should behave as similar as possible to avoid errors in production.

[2021-11-01 17:24] tinfoil-knight commented on #3513
@erezrokah Sidenote:
Here:
https://github.com/netlify/cli/blob/9b293defb06545ae5f825f6121732d9e92c29d9e/src/utils/proxy.js#L364

The author intends to pass the `BYTES_LIMIT` constant for the `bytesLimit` parameter. But due to the ordering of the parameters, either the constant: `BYTES_LIMIT` is named incorrectly or the argument is being passed wrongly.
See:
https://github.com/netlify/cli/blob/9b29

[2021-11-01 18:40] Hrishikesh-K commented on #2882
Hey team,

I believe this is happening again in Netlify CLI `6.14.7` with Vite `2.6.13` and Node `17.0.1`.

[2021-11-02 15:14] ehmicky commented on #3562
I believe `URLSearchParams` was added in Node `6.13.0` and made [a global object in Node `10.0.0`](https://nodejs.org/api/url.html#class-urlsearchparams)?

[2021-11-02 15:30] tinfoil-knight commented on #3562
Just checked again. What you're saying is correct but the lint extension was reporting this:
![image](https://user-images.githubusercontent.com/51631122/139876530-6dc95256-c087-4b54-8a6c-96070efca46f.png)

I probably mixed up the version from another lint error which can be fixed with a polyfill:
![image](https://user-images.githubusercontent.com/51631122/139878038-51e6650d-0b4a-48ee-937e-a2ca9fa5

[2021-11-03 08:39] martinjagodic opened #3572 "Let netlify dev output an error if you are not logged in with the right account"
**Is your feature request related to a problem? Please describe.**

I switch between Netlify accounts in my CLI and today it took me a long time to realize that I'm on the wrong account. `netlify dev` would just stop after injecting environment vars and it didn't tell me why.

**Describe the solution you'd like**

the CLI should show an error/warning if you're trying to run `netlify dev` on a site

[2021-11-03 09:25] lukasholzer opened #3573 "The CLI tests are not running when the source path is longer in `netlfiy lm:install`"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behaviour:

have a longer source path on the `netlify lm:install` command:

![CleanShot 2021-11-03 at 10 18 40](https://user-images.githubusercontent.com/11156362/140035096-82d083b6-a2c4-4411-b178-78b57d6ffba2.png)

1. Run `https://github.com/netlify/cli.git`
2. Navigate to the clone

[2021-11-03 10:43] erezrokah opened #3575 "feature: add env:transfer CLI command"
**Is your feature request related to a problem? Please describe.**

I would like to transfer UI environment variables from one site to another

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

Manually transferring variables via copy/paste

**Additional context**

https://github.com/netlify/product/issues/836 (internal link)

[2021-11-03 11:12] ashalfarhan commented on #3575
Hi @erezrokah , can i grab this up?

[2021-11-03 11:13] erezrokah commented on #3575
Thanks @ashalfarhan, I've assigned you to the issue. The relevant code is here https://github.com/netlify/cli/tree/main/src/commands/env

[2021-11-03 13:59] #3573 closed

[2021-11-03 14:20] #3562 closed

[2021-11-03 17:14] tinfoil-knight commented on #3262
@erezrokah
We currently output environment variables as easy to read ASCII tables:
[code]

Obviously, putting these in an `.env` file and then cleaning them up is tedious. So I do see the need of something like `env:export`.

But, since the code for `env:export` will almost be exactly the same as `env:list`, it doesn't make sense create a separate command for it.

Instead, we could provide a flag

[2021-11-03 17:21] N0K0 commented on #3262
Just as good if not an better alternative in my eyes!

If its easy to add the flag i might be able to do it :sweat_smile:
Not familiar with the codebase really :)

[2021-11-03 17:42] erezrokah commented on #3262
👍 to this

[2021-11-03 17:57] tinfoil-knight commented on #3262
@erezrokah Should I take this one up since @N0K0 is unfamiliar with the codebase?

[2021-11-03 17:59] erezrokah commented on #3262
@tinfoil-knight, looks like this is a good opportunity to get @N0K0 involved.

@N0K0 would you like to take this on with @tinfoil-knight guiding you?

[2021-11-03 17:59] tinfoil-knight commented on #3262
@erezrokah Should I take this one up since @N0K0 is a bit unfamiliar with the codebase?

[2021-11-03 18:01] erezrokah commented on #3262
https://github.com/netlify/cli/issues/3262#issuecomment-959785013 is a response to ⬆️

[2021-11-03 18:36] erezrokah opened #3579 "feature: `env:list` should hide environment variables values by default, and prompt to show them"
**Is your feature request related to a problem? Please describe.**

The default view of `env:list` shows the value of environment variables.
This can unintentionally expose secrets like API tokens, database credentials, etc.

**Describe the solution you'd like**

Hide values by default (in the default view, keep showing them in `--json`).
Add confirmation prompt to show them.

**Describe alternati

[2021-11-03 18:36] N0K0 commented on #3262
Just noticed that the --json flag is not exposed in the relevant help output, not directly related, but a hint would be nice :+1:

[code]

[2021-11-03 18:38] tinfoil-knight commented on #3262
Yup. I saw that too while going through the codebase. We could document the `--json` flag in a separate PR. Nice catch nonetheless.

[2021-11-03 18:48] N0K0 commented on #3262
Looking at https://github.com/netlify/cli/pull/371 for hints :)
Hopefully I'll have some time to fix it soon. Need to read up on contrib and such too :+1:

[2021-11-04 03:38] bettse commented on #3315
I just ran into this myself recently.
I haven't found where the base64 encoding is happening for production, but I believe the discrepancy in the CLI is in this regex: https://github.com/netlify/cli/blob/main/src/lib/functions/utils.js#L6

I suspect adding `multipart/form-data` would align the experience.

[2021-11-04 09:44] lukasholzer commented on #3572
@martinjagodic  would this be sufficient?

<img width="1079" alt="CleanShot 2021-11-04 at 10 44 03@2x" src="https://user-images.githubusercontent.com/11156362/140292161-62c8f389-43a6-4470-b82f-a7b508141ceb.png">

[2021-11-04 09:55] martinjagodic commented on #3572
This is great @lukasholzer, thank you!

[2021-11-04 13:07] #3572 closed

[2021-11-04 15:30] lukasholzer opened #3588 "Github authentication for `netlify init` is not working due to a regression."
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. remove the global `~/Library/Preferences/netlify/config.json`
2. run `netlify init` in a new project
3. Select Authentication via netlify app
4. Use Github as the authentication method.
5. It will fail with `401 Bad Credentials`

Regression was introduced with this chan

[2021-11-04 17:02] tinfoil-knight commented on #3588
@lukasholzer Can I take up this one?

[2021-11-04 17:13] lukasholzer commented on #3588
Already fixed it just need to write a test for it 👍

[2021-11-05 00:06] ngonsoto commented on #2038
Hi @erezrokah, I would like to work on this issue.

[2021-11-05 10:07] tinfoil-knight commented on #3513
@erezrokah I think the variable is named incorrectly in the above lines. Should I rename it to `REQUEST_TIMEOUT`?

[2021-11-05 10:08] lukasholzer opened #3593 "Move parts of the build to CircleCI"
**Is your feature request related to a problem? Please describe.**

As outlined in the team internal issue we should move the build from GitHub actions to CircleCI as the machines we are running on are a little bit on the lower side from a resource perspective.

https://github.com/netlify/team-dev/issues/35

Furthermore, there is a company-wide transition to unify the CI, tracked on this internal

[2021-11-05 10:12] erezrokah commented on #3593
This is great, thanks @lukasholzer 🎉
Considering the [GitHub Actions incident history](https://www.githubstatus.com/history) I believe this is the right move.

[2021-11-05 12:16] lukasholzer commented on #3593
@erezrokah do we want to have multiple node versions on each operating system for the tests or do we want to run only on one?

[2021-11-05 12:22] erezrokah commented on #3593
We test the latest Node.js version on all operating systems, and the minimal supported on (Node.js 10) only on Linux

[2021-11-05 16:43] bettse commented on #3315
I tracked down what causes this in production, I'll drop the details in slack

[2021-11-05 22:58] LuskeyNoah commented on #2882
I also am having issues getting netlify dev to start on the latest Netlify CLI + node `17.0.1` on macOS Monterey. I am not using vite (using create react app) but the behavior is similar:

[code]

The `Server now ready` never appears.

[2021-11-06 00:38] erquhart commented on #2544
Came back to this running 6.14.16 - not sure what changed but Netlify Dev can now run in a docker container like a champ! 🎉

[2021-11-06 00:38] #2544 closed

[2021-11-08 10:40] ascorbic opened #3609 "When invoking function, `event.rawUrl` value is different from production deploy"
**Describe the bug**

When using a function via a 200 rewrite, the value of `event.rawUrl` is the function URL. In production, the value is the original request URL.

**To Reproduce**

- Create a function that logs `event.rawUrl`
- Add a rewrite that points to that function URL
- Run with `ntl dev`, observing URL value
- Deploy to production and observe URL value

**Expected behavior**

The CLI an

[2021-11-08 16:07] #3588 closed

[2021-11-09 17:40] mariyambukhari commented on #1088
i fixed it by adding
 "netlify": "netlify", in my package.json file under the "scripts" clause.

[2021-11-09 21:11] rodneycoyer commented on #3579
Hi! I was reading through the thread and would like to contribute to this feature.

To confirm:
1. Only display key variable names from `env:list` table.
2. add a prompt asking the user if they want to see the full `key: value` table.

I was wondering if, instead of a prompt, we only update the docs referring devs to the `--json`  flag if they want to see the full `key: value` table. RN the docs d

[2021-11-10 09:53] erezrokah commented on #3579
That's a good point. We missed this in the initial implementation. We'll need to add a `json` flag to the `env:list` command to show it in the docs, similar to https://github.com/netlify/cli/blob/51e7b69dd8065b18081c564aeb6d1e225d83380a/src/commands/sites/list.js#L78

Our docs are autogenerated from those, so that's the reason it's missing from the docs. It still works because of the following cod

[2021-11-10 13:07] Hrishikesh-K opened #3617 "Netlify Dev Server doesn't start on Node 17.x/18.x"
**Describe the bug**

Similar to this: https://github.com/netlify/cli/issues/2882#issue-939909811

Netlify Dev tries to start a server, it injects the environment variables, parses the configuration files and starts the local server of the framework, however it never starts the Netlify CLI's server.

Till now, the behaviour has been observed with Vite and Create React App (but more frameworks coul

[2021-11-10 13:08] Hrishikesh-K commented on #2882
Closing this in favour of #3617

As discussed with the team, it was better to open a new issue as it's affecting more than just Vite.

@LuskeyNoah, feel free to watch the new issue.

[2021-11-10 13:08] #2882 closed

[2021-11-10 13:34] erezrokah commented on #3617
In case someone would like to pick this up, the line we wait for the framework server (e.g. Vite) is here:
https://github.com/netlify/cli/blob/51e7b69dd8065b18081c564aeb6d1e225d83380a/src/commands/dev/index.js#L104

[2021-11-10 14:20] tinfoil-knight commented on #3617
@erezrokah Is this related to https://github.com/vitejs/vite/issues/5365?
As per the organisation member:

[2021-11-10 16:30] lukasholzer commented on #3593
After investing several hours and a continuous effort I came to the conclusion that moving to CircleCI won't make us happy in the short and long term.

I hit major roadblocks and the overall quality compared to GitHub actions seems in my option worse than the current setup:

The following points should outline my decision:

* The VMs are taking extremely long to start up **(> 1min)** – does not ma

[2021-11-10 16:48] lukasholzer opened #3618 "As a new user I don't know how to invoke my functions when served with `ntl dev`"
**Is your feature request related to a problem? Please describe.**

As a new user I don't know how I can invoke my functions when running with the `ntl dev` command

**Describe the solution you'd like**

I would expect something like this on startup by running: `ntl dev`

[code]

**Additional context**

Furthermore it is hard to find this information somewhere, needed some while to stumble over: h

[2021-11-10 16:54] erezrokah commented on #3617
@tinfoil-knight woo - great find.

This was also reported for `create-react-app` on the [related issue](https://github.com/netlify/cli/issues/2882#issuecomment-962267640).

@LuskeyNoah does reverting to Node.js < 17 work for you?
This will help us confirm if this is a Vite specific issue or not.

[2021-11-11 03:54] AidenFaulconer opened #3619 "Please replace with a clear and descriptive title"
**Describe the bug**

I'm running an express server with netlify functions, using serverless-HTTP to wrap the express app into a format netlify wants, however, every time I try to run /api/test i get 'function not found...'

**Configuration**
`
[build]
  # Directory to change to before starting a build.
  # This is where we will look for package.json/.nvmrc/etc.
  # If not set, defaults to the roo

[2021-11-11 17:34] joeyaiello commented on #3618
Ack and good with this, seems like a reasonable thing to do to drive clarity, hopefully fairly cheap to implement as well.

[2021-11-12 14:49] #3609 closed

[2021-11-12 16:37] ryansburgoyne commented on #3617
I have encountered this as well with a Hugo site: https://answers.netlify.com/t/netlify-dev-server-not-starting-for-hugo-site/47222

One interesting bit is that it works the first time I try after rebooting my machine (I have to navigate to the Hugo-launched page first, and that will trigger it to launch the Netlify server on port 8888), but after killing the server I can't get it back up again wi

[2021-11-12 20:27] lsnow99 commented on #1147
Hey I'm running into the same issue- any known workarounds?

[2021-11-15 11:12] #3488 closed

[2021-11-15 12:48] lukasholzer commented on #3561
@theFlexOne can you please provide more details on your netlify version by running: `netlify --version`.

It would be great to get a step by step list on how to reproduce this issue otherwise we cannot fix it.

Thank you already in advance for your help 🎉

[2021-11-15 15:17] #2430 closed

[2021-11-15 15:46] #3315 closed

[2021-11-17 04:41] charliegerard commented on #671
I just came across the same issue so I'm leaving a comment in case someone else comes across it.

I have 2 different accounts on Netlify, a personal one and a work one. I didn't realise I was logged in with my personal account in the Netlify CLI while trying to link a site that was under my work account. Using `netlify switch` to switch to my work account fixed it 🙂

[2021-11-17 10:16] erezrokah opened #3649 "feature(forms-submission): re-consider current implementation"
**Is your feature request related to a problem? Please describe.**

Form supports was implemented a while back in https://github.com/netlify/cli/pull/780.
The current implementation looks at requests sent by the browser and tries to detect if they are form submissions (by looking at the request [method](https://github.com/netlify/cli/blob/68517ed3420ee16a5f491afbc59a723ec2f48947/src/lib/functions/

[2021-11-17 10:44] erezrokah opened #3650 "Our contributing docs are missing information on the Netlify account we use for CI tests"
**Describe the bug**

Our contributing docs are missing information on the Netlify account we use for CI tests

[2021-11-17 11:03] #3650 closed

[2021-11-18 08:24] lukasholzer commented on #410
I've tried to reproduce this issue but it seems that over time the framework detection enhanced significantly so that it works like expected.

Therefore I will close this issue. If there should be anything similar please open up a new issue with a detailed steps to reproduce guide.

[2021-11-18 08:24] #410 closed

[2021-11-18 10:05] minivan commented on #3649
Adding #1610 as another place where our CLI handling of forms is different from what we use on netlify.com

When we discussed it with the team, the solution we saw was redesigning the way we handle form submissions.

[2021-11-18 10:20] ascorbic opened #3654 "Support arbitrary dev commands alongside static server"
**Is your feature request related to a problem? Please describe.**

Some frameworks don't use a dev server, but do have a command to watch source files and compile them to static files and/or functions. These watch commands can't be specified as the `dev` command because they don't open a port, and because specifying a command disables the static server.

**Describe the solution you'd like**

A wa

[2021-11-18 10:26] ascorbic opened #3655 "Auto-detected frameworks cannot use the static server"
**Describe the bug**

If a framework has an entry in framework-info it disables the static server, meaning that any framework that needs this cannot use auto-detection, so misses out on the other benefits of auto-detection, such as build command.

**To Reproduce**
Cannot be reproduced because it would require adding a framework to framework-info, but the code is here:
https://github.com/netlify/cl

[2021-11-18 10:55] erezrokah commented on #3654
cc @lukasholzer, we just talked about it yesterday in the context of https://github.com/netlify/cli/issues/410.

This is a valid use case we can support.

@ascorbic can you share a framework that needs this support?
Would we want to make this behavior default for this frameworks or only custom via the CLI.

If some frameworks needs this as a default, we would need to make the [`port` configuration

[2021-11-18 10:57] erezrokah commented on #3655
My comment [here](https://github.com/netlify/cli/issues/3654#issuecomment-972756052) is relevant for this issue to

[2021-11-18 11:00] ascorbic commented on #3654
@erezrokah The imemdiate example is Remix. They don't have public docs for this, but should do after they launch on Monday. They currently don't have a default buiild command, and generate this toml:

[code]

The instructions currently say this:

<details>
<summary>Remix on Netlify README</summary>

# Development

You will be running two processes during development when using Netlify as your serv

[2021-11-18 11:05] erezrokah commented on #3654
Should `framework-info` have `command = npm run dev` and `port = 3000` in this case?

Then the user will open `localhost:8888` and the CLI would redirect relevant requests to `localhost:3000`

[2021-11-18 11:07] ascorbic commented on #3654
The port in this case is the netlify dev port, not the Remix port. They're setting it to 3000 rather than 8888 so it's standard in their docs for all targets

[2021-11-18 11:07] lukasholzer commented on #3654
is remix using static file serving?

[2021-11-18 11:08] ascorbic commented on #3654
Yes. A root level rewrite, with redirect shadowing for static files

[2021-11-18 11:09] ascorbic commented on #3654
This is the output:

[code]

[2021-11-18 11:13] lukasholzer commented on #3654
Can you maybe share a stackblitz with web containers where this is set up – I guess it would make it easier to see exactly what you want to achieve – sorry I guess I don't have the full understanding of how it should work until now.

[2021-11-18 11:28] ascorbic commented on #3654
It's hard because Remix currently uses a private npm registry with user keys. I'll try and explain how it should work:

Currently when building for Netlify, `remix build` puts static files in `public` and also generates a Netlify Function in `netlify/functions/server` with a root-level rewrite pointing to it. When you run `ntl dev` it uses the default static server to serve the static files in `pu

[2021-11-18 11:40] lukasholzer commented on #3654
Thx now I'm on track :D – very good explanation 💡 Sounds reasonable to me!

[2021-11-18 12:41] #2804 closed

[2021-11-18 14:29] #3512 closed

[2021-11-18 17:09] lukasholzer opened #3659 "Local test execution is failing for `tests/telemetry.test.js`"
**Describe the bug**

Currently, on the `main` branch, the test execution is failing

**To Reproduce**

Steps to reproduce the behaviour:

1. checkout `main` branch
2. run `npx ava tests/telemetry.test.js`

Seems like a faulty test that was introduced in https://github.com/netlify/cli/pull/3647 (only locally failing)

[2021-11-18 18:19] MelanieCrissey opened #3661 "Evaluate any features that have been in Beta that should be marked in GA"
**Is your feature request related to a problem? Please describe.**

We have multiple commands and subcommands in Beta that should be moved out of it, as they are stable enough.
Search `beta` in https://cli.netlify.com/ to find them.

We can move everything out except `addons`.

**Describe the solution you'd like**

Remove `Beta` from the description of those commands.

**Describe alternatives you'

[2021-11-18 18:22] erezrokah commented on #3661
Thanks @MelanieCrissey, I updated the issue to match our issue template

[2021-11-19 08:25] ascorbic commented on #3654
@lukasholzer shall I take from this that you are working on this then? Great, if so! Thinking about the Remix launch next week, should I expect it would be ready soon-ish, or should I work on the assumption that they'll need the two-terminal approach for at least the short term?

[2021-11-19 08:33] #3659 closed

[2021-11-19 08:41] lukasholzer commented on #3654
@ascorbic I'm currently working on this – cannot give promises when it is ready but I hope no two-terminal approach would be needed.

For testing, it would be helpful though to have remix somewhere to test out (or will there be an official netlify example with remix?)

[2021-11-22 15:14] ehmicky commented on #3514
This was discussed in our guild sync and @lukasholzer decided to start moving on this item.

[2021-11-23 12:40] minivan commented on #1385
Hi @cfjedimaster, thanks for opening this. Feel free to add a PR for the template! I'm closing the issue for now since the original question is answered.

[2021-11-23 12:40] #1385 closed

[2021-11-23 14:48] ehmicky commented on #3514
After discussing with @lukasholzer and @eduardoboucas, we decided on the following plan:
 1. Adding `.ts` file extensions to all files and `import/export`. Without types yet, nor additional tooling (except for `tsc`) or re-architecturing.
 2. Move to pure ES modules.
 3. Complete the TypeScript migration, by adding types, etc.

[2021-11-23 16:09] #3654 closed

[2021-11-23 16:42] #1487 closed

[2021-11-25 08:38] jtojnar commented on #3302
Switching to https://gitlab.com/lepovirta/netlify-deployer made the deploys by CI significantly faster for me.

[2021-11-26 11:40] lukasholzer opened #3716 "Remove oclif and replace with commander"
The full problem and discussion about which tool can be found on our internal issue: https://github.com/netlify/pod-workflow/issues/343

[2021-11-26 22:26] TheDarkTurtle commented on #2710
I ran into a similar issue, it actually breaks if the `force` option is set to `true`:
[code]
Running `netlify dev` will lead to:
[code]

The encoding mismatch between the proxy config and the request will cause the [shouldProxy](https://github.com/chimurai/http-proxy-middleware/blob/master/src/http-proxy-middleware.ts#L51) of the `http-proxy-middleware` to be `false` and the `next` function to be

[2021-11-30 12:21] robations opened #3735 "netlify dev could not connect to target server after long time out"
**Describe the bug**

The `netlify dev` command correctly starts the gatsby server on port 8000, which is then running correctly.

The most common scenario is there is a long pause (>10 minutes) then dev server says it can't connect to port 8000 and exits with an error code of 1. On one occasion it connected correctly (after the same long wait).

At some point a few months ago this was working fin

[2021-12-01 17:50] Hrishikesh-K opened #3745 "Allow setting custom JWT secret through a flag or environment variable"
**Is your feature request related to a problem? Please describe:**

Based on [this PR](https://github.com/netlify/cli/pull/1545), users can now set custom JWT secret to get RBAC working locally. The problem is that, if users wish to keep the same JWT secret in their production and CLI environment, they don't have a good way to do this safely. If they add the secret to their `netlify.toml`, there's

[2021-12-01 21:06] LuskeyNoah commented on #3617
Yes, reverting to node 16 LTS fixes the issue for me.

[2021-12-03 13:22] netlify-team-account-1 commented on #3619
Hi @AidenFaulconer! I tried reproducing this locally, and found a couple of things:

- the shared instructions expect routes under the `/api` baseurl, but Netlify defaults to `/.netlify/functions` as the baseurl
You can change this by adding the following [rewrite](https://docs.netlify.com/routing/redirects/rewrites-proxies/) to your `netlify.toml`:

[code]

- `functions.js`, while using the `serv

[2021-12-05 13:55] Hrishikesh-K opened #3770 "External redirects don't work without 200 status"
**Describe the bug:**

A [user reported on the forums](https://answers.netlify.com/t/redirects-netlify-dev-works-only-with-200-status-code/48049/) that they were not able to get the external redirects to work with Netlify CLI. The redirect syntax is valid.

Upon further investigation, it looks like CLI is adding the redirect correctly, but the `location` header is incorrect. For example, with the

[2021-12-05 17:42] Hrishikesh-K opened #3771 "GitLab repo URL not being parsed correctly"
**Describe the bug:**

A user [reported this on the forums](https://answers.netlify.com/t/deploy-from-manual-with-netlify-init/48056/).

Some context (internal only):
https://netlify.slack.com/archives/CTCRT6VB6/p1638378975004800 and
https://netlify.slack.com/archives/C012GT6MYKU/p1638380300316300

When connecting a repo using CLI, the repo URL is probably not parsed correctly. I was able to repro

[2021-12-05 21:28] coelmay opened #3772 "CLI not working with Vue.js projects"
**Describe the bug**

When running `netlify dev` on a Vue.js project, `http://localhost:8888` is never available while `http://localhost:8080` is. There are no issues with other frameworks (e.g. Astro, NuxtJS).

**To Reproduce**

Steps to reproduce the behavior:

1. Run `git clone git@github.com:coelmay/vue-netlify-basic.git`
2. Run `netlify dev` or `netlify dev -o`
3. Wait for `webpack.Progress`

[2021-12-06 09:19] rohan-paul opened #3776 "SyntaxError: The requested module 'micro-api-client' is expected to be of type CommonJSPlease replace with a clear and descriptive title"
**Describe the bug**

I installed the CLI and the simple command `netlify` is showing me all the available options. But then when I ran `netlify login` it throws error.

`SyntaxError: The requested module 'micro-api-client' is expected to be of type CommonJS`

**To Reproduce**

Steps to reproduce the behavior:
1. Installed the CLI with `npm install netlify-cli -g`
2. Run command `netlify login`

*

[2021-12-06 10:47] erezrokah commented on #3772
Thanks @coelmay, lets track this under https://github.com/netlify/cli/issues/3617 as it was reported for Vite and some other frameworks too.

[2021-12-06 10:47] #3772 closed

[2021-12-06 10:47] erezrokah commented on #3617
Reported for Vue too in https://github.com/netlify/cli/issues/3772

[2021-12-06 10:50] coelmay commented on #3772
Thanks @erezrokah. That'll teach me for not doing a more thorough search before posting!

[2021-12-06 10:57] erezrokah commented on #3772
No worries, I don't think we've had Vue reported yet so useful to have it documented

[2021-12-06 11:37] erezrokah commented on #3776
Hi @rohan-paul, thank you for opening this issue.

Do you mind trying with the latest version of `npm`:
1. `npm uninstall -g netlify-cli`
2. `npm install -g npm`
3. `npm install -g netlify-cli`

[2021-12-06 13:41] alessiopremoli commented on #3776
Got the same issue using Node 13.x in a Github Actions, this should be a clean install of npm. In my case the issue started five days ago downloading **netlify-cli@8.0.6**.

[2021-12-06 13:55] erezrokah commented on #3776
Thanks @alessiopremoli.

@rohan-paul and @alessiopremoli can you please update your Node.js version? We dropped support for Node.js 13 and some versions of Node.js 12 in v8, see https://github.com/netlify/cli/releases/tag/v8.0.0 and https://github.com/netlify/cli/blob/e4c2308e88864c5207fd1b0c0474e7794334053d/package.json#L14

[2021-12-06 13:56] rohan-paul commented on #3776
Thanks @erezrokah - after I upgraded node to the latest LTS version 16 - and then freshly reinstalled netlify cli, and then all works just fine. Thanks again.

[2021-12-06 13:57] #3776 closed

[2021-12-06 14:05] alessiopremoli commented on #3776
Thanks @rohan-paul, upgrading node in the Action fixed the issue!

[2021-12-08 12:31] csvn commented on #1572
This feature would be really nice to get branch subdomains working out of the box when using Netlify DNS. We are running `netlify deploy --alias=$CI_COMMIT_REF_SLUG` for branches via Gitlab CI to get review apps/URL's for merge requests.

Are there any plans to update this API to allow this, or this just in the backlog? I'm wondering in case we want to replace Netlify DNS with our own logic to mak

[2021-12-10 04:10] coelmay opened #3788 "yarn add netlify-cli fails with "JavaScript heap out of memory""
**Describe the bug**

**FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory** occurs when adding `netlify-cli` with yarn.

Originally identified on the forums [https://answers.netlify.com/t/error-adding-netlify-cli-with-yarn/48579](https://answers.netlify.com/t/error-adding-netlify-cli-with-yarn/48579)

**To Reproduce**

Steps to reproduce the b

[2021-12-10 05:37] zmwangx opened #3789 "yarn add netlify-cli fails with "JavaScript heap out of memory""
**Describe the bug**

Starting from some time within the past 24 hours, `yarn add netlify-cli@latest` started failing with "JavaScript heap out of memory". This happens on ubuntu 20.04 on GitHub Actions (see my simple repro repo: https://github.com/zmwangx/netlify-cli-ghactions/runs/4479854634), as well as on local macOS dev machine with ample RAM.

`npm install netlify-cli` doesn't seem to suffer

[2021-12-10 05:42] zmwangx commented on #3789
Oh this is a dupe of the confusingly titled #3788...

[2021-12-10 06:29] overlordofmu commented on #3788
This is currently being escalated as it is causing deployment failures for builds which require `netlify-cli` in many CI/CD pipelines (including GitHub Actions and Netlify itself). We will an update about this very soon.

[2021-12-10 07:44] overlordofmu commented on #3788
It turns out that this is an issue in `yarn` itself:

https://github.com/yarnpkg/yarn/issues/8734

I have tested in an Ubuntu VM with 4 GiB of memory and I can consistently reproduce this error with `yarn install`. I used the same package JSON for both `yarn` and `npm` and all tests used the node version in this report - `16.13.1`.

Yarn always returns the `JavaScript heap out of memory` error whi

[2021-12-10 07:59] overlordofmu commented on #3788
I tried rolling back to older yarn version like `1.22.5` and I still get the `JavaScript heap out of memory` error. Meanwhile `npm install` is working for the same `netlify-cli` and node versions. This looks like a regression in some `yarn` dependency and not in `yarn` itself based on that behavior.

The only workaround I can find is to use `npm` and not `yarn`.

[2021-12-10 08:32] knupska commented on #3788
@overlordofmu I found the same as you when I investigated. Even using version of `netlify-cli` and `yarn` up to one year old still resulted in the same error. The version of node used `12, 14, 16` also had no impact.

Installing `@netlify/build` directly with `yarn` doesn't encounter the same issue.

[2021-12-10 10:41] kirillgroshkov commented on #3789
Yup, we see it too since yesterday night!

[2021-12-10 10:51] kirillgroshkov commented on #3788
I wonder if we can trace and find the exact change/sub-dependency of `netlify-cli` that is causing yarn to fail now?

[2021-12-10 10:59] erezrokah commented on #3788
Hello all 👋 We're actively looking into this. The current workaround is using `npm`, and if you're using a global install this shouldn't be a big change.

@kirillgroshkov this is happening on very old yarn + CLI versions too, and with other packages (see https://github.com/yarnpkg/yarn/issues/8734), so not sure this was caused by a CLI change.

[2021-12-10 11:23] erezrokah commented on #3788
You can also track this via our status page https://www.netlifystatus.com/

[2021-12-10 11:31] erezrokah commented on #3789
Thank you @zmwangx and @kirillgroshkov, closing in favor of https://github.com/netlify/cli/issues/3788 (update the title for that issue)

[2021-12-10 11:31] #3789 closed

[2021-12-10 12:02] erezrokah commented on #3788
Hi all 👋 For those who are installing the CLI locally, can you try adding the following to your package.json:
[code]

This will pin one of the CLI's dependencies when installing with `yarn` and should work around the issue.
We're working on publishing a new version of `netlify-cli` with this fix as well.

[2021-12-10 12:14] knupska commented on #3788
@erezrokah I've tested locally with an empty folder and fresh package.json.

I confirm that the install completes successfully with the provided resolution, (and that it still fails if I remove it).

[2021-12-10 12:22] erezrokah commented on #3788
Thank you for confirming @knupska ❤️

[2021-12-10 13:26] erezrokah commented on #3788
The timeline for this is next week, as we're already very close to removing `oclif` from the codebase, see https://github.com/netlify/cli/pull/3717

[2021-12-10 16:05] RodEsp commented on #3788
FYI we are tracking this at the oclif level here: oclif/oclif#758

[2021-12-10 17:32] RodEsp commented on #3788
There is a temporary fix out there for this now, please see https://github.com/oclif/oclif/issues/758#issue-1076987354 for more details.

[2021-12-10 17:36] erezrokah commented on #3788
Thanks for the follow up @RodEsp! I can confirm the installation goes through now with `yarn add netlify-cli`.

Closing this issue. Please comment if this issue has not been resolved for you.

[2021-12-10 17:36] #3788 closed

[2021-12-10 19:19] stevepepple commented on #3788
I can also confirm that this fixes the issue for our site on Netlify. It's odd because we've been using the same Yarn version for months without hitting this issue.

[2021-12-12 07:18] ascorbic opened #3792 "Warn when running `deploy` without build if using build plugin that modifies config"
**Is your feature request related to a problem? Please describe.**

Currently, if a use runs `netlify build` and then `netlify deploy`, any config changes made by a build plugin are lost because they are not persisted. This can be confusing. e.g. https://github.com/netlify/netlify-plugin-nextjs/issues/953

**Describe the solution you'd like**

The ideal would be if the config were persisted, so if

[2021-12-13 10:39] #2038 closed

[2021-12-13 11:31] erezrokah commented on #3788
The underlying problem is with `yarn` not handling circular dependencies well, see [issue](https://github.com/yarnpkg/yarn/issues/8734).
This doesn't seem to be a new issue with `yarn`, however a change in `oclif` triggered the `yarn` bug.
Since Node.js packages usually use a range to reference other dependencies, e.g. `^1.0.0` this means that `yarn` tries to install the latest minor/patch version

[2021-12-14 04:41] j4k0xb opened #3818 "Multiple dev servers use wrong vite port"
**Describe the bug**

When starting multiple dev servers, vite switches to another port but the netlify cli keeps using the old one.

**To Reproduce**

Steps to reproduce the behavior:

1. Start 2 terminals (all steps below for both `app-a` and `app-b`)
2. Run `npm init vite@latest app-a --template vanilla`
3. Navigate to the folder and `npm install`
4. Add some unique html (e.g. `<p>App A</p>`) t

[2021-12-14 10:38] erezrokah commented on #1123
Since a user can revoke the CLI access token in the UI, we should look into doing the same thing when a user logs out:
![image](https://user-images.githubusercontent.com/26760571/145982556-6b2566b4-541a-4c6e-b0ee-63f312de6c61.png)

[2021-12-14 11:25] erezrokah commented on #3818
Hi @j4k0xb and thank you for opening the issue.

I would classify this as a feature request to support multiple instances of `netlify dev` (this is not only `vite` specific).

The CLI will always use the default port from https://github.com/netlify/framework-info/blob/1f732c3953fed518b0fbda365294e86c133e8201/src/frameworks/vite.json#L12 unless specified otherwise.

To solve your specific issue you

[2021-12-14 13:14] j4k0xb commented on #3818
Ah yes, I tested it only with vite before but it happens every time the default port is already used (even with a single dev server)

Regex works ig but doesn't seem like a reliable way, regarding future updates of the frameworks/tools.
Maybe its possible to check that the default port is used and wait for another one to open (looked through the source a bit, similar to `wait-port`)?

[2021-12-14 14:16] erezrokah commented on #3818
Agree this can be hard to maintain and fragile.

We'd have to see how most frameworks handle fallback - if most/all just enumerate the default port, maybe we can do the same?

Perhaps that's what you meant by:

[2021-12-14 15:15] j4k0xb commented on #3818
Ideally waiting for a random port to open, but idk how/if that's possible without knowing the port before
Did some testing and most frameworks are enumerating:

| Name     | Fallback      |
| -------- | ------------- |
| Angular  | prompt/random |
| Astro    | +1            |
| Expo     | +1            |
| Next     | +1            |
| Svelte   | random        |
| Vite     | +1            |
| VuePr

[2021-12-14 18:14] erezrokah opened #3827 "Automatically link a site post creation via CLI"
Moved here from a private repo, cc @joelcloralt

When running the command `netlify site:create` the CLI returns a success message with Admin URL, URL, and Site ID. However running a command like `netlify build` right after fails with the error "Could not find the site ID. Please run netlify link".

We should automatically link the site post creation.

<img width="1250" alt="Screen Shot 2021-12-10

[2021-12-15 11:35] #3716 closed

[2021-12-15 11:56] lukasholzer commented on #3818
@erezrokah maybe this plays together with this issue: https://github.com/netlify/cli/issues/3655 that we merge the config from the frameworks presets with the local config instead of replacing it. Therefore it would be possible to override the port inside the `netlify.toml`

[2021-12-15 16:13] ximenasandoval commented on #3827
Hi! I'd like to work on this issue

[2021-12-16 10:38] vsaarinen opened #3840 "Unable to install netlify-cli 8.1.4 with Yarn Plug'n'Play enabled"
**Describe the bug**

When trying to upgrade to netlify-cli 8.1.4 in a project that uses Yarn Plug'n'Play, the build step fails with the following log:

[code]

Installing version 8.1.3 of netlify-cli works fine.

**To Reproduce**

Steps to reproduce the behavior:

1. In a project that uses Yarn PnP, run `yarn up netlify-cli@8.1.4`
2. See that Yarn fails with an error

**Configuration**

N/A

**Ex

[2021-12-16 11:34] lukasholzer commented on #3840
@vsaarinen `yarn up` does not seem to be a regular command: `error Command "up" not found.`

using yarn version: `1.22.17`

can you maybe specify it a little bit clearer or do you have an example repo we can clone to try to reproduce it?

[2021-12-16 14:55] lukasholzer commented on #3840
@vsaarinen can you try our rc release out if it works for you? `netlify-cli@8.1.5-rc.1`

[2021-12-16 15:12] vsaarinen commented on #3840
Yep, this issue seems to be fixed in the RC.

I started running into more Yarn PnP -related issues when running the CLI command, however, but I'll make a separate issue about them. It seems that `netlify` version 10 and/or `@netlify/build` version 20 are not compatible with Yarn PnP.

[2021-12-16 15:16] lukasholzer commented on #3840
Yea I assume this is due to the lack of ESM support inside yarn pnp and we are now switching our packages to ESModules as we need to, to updated some of our dependencies that are already ESM for security fixes

[2021-12-16 15:31] vsaarinen commented on #3840
Should a switch to ESM be a major version change since it seems like a breaking change? At least for us it may mean that we can't upgrade to that version since we're using Yarn PnP.

[2021-12-16 15:47] #3474 closed

[2021-12-17 09:40] lukasholzer commented on #3840
@vsaarinen we actually did that on the config. https://github.com/netlify/build/releases/tag/config-v17.0.0

But as commonjs can import ESModules through dynamic imports there it should not be a breaking thing on the CLI. https://github.com/netlify/cli/commit/ede351485bffe8d2e1d0a8a5374cd435a77fe685

I'm only wondering what yarn pnp does differently to have some issues (especially in a postinstall

[2021-12-17 09:45] vsaarinen commented on #3840
It seems the build is still broken on versions `8.1.5` to `8.1.7`.

[2021-12-17 09:53] lukasholzer commented on #3840
@vsaarinen yea the PR is not merged yet had to wait for a new review: https://github.com/netlify/cli/pull/3841

[2021-12-17 09:54] lukasholzer commented on #3840
The fix is currently only inside an rc version

[2021-12-17 09:59] #3840 closed

[2021-12-17 10:00] lukasholzer commented on #3840
Going to release it now ;)

[2021-12-17 10:21] lukasholzer commented on #3840
Is released now under https://github.com/netlify/cli/releases/tag/v8.1.8

[2021-12-17 10:39] vsaarinen commented on #3840
Thanks, that version fixes the build issue. But now I'm running into further issues due to Yarn PnP, even after enabling experimental ESM support and adding `netlify`:

[code]

The only way I can get netlify-cli to work is to pin `netlify-cli` to `8.0.5` and add the following to `packages.json`:

[code]

Should I create a separate issue for this?

[2021-12-17 10:43] vsaarinen commented on #3840
I guess one way to solve this problem is to not have `netlify-cli` be a dependency of our project and install it globally (using npm) as a separate build step in our CI/CD system...

[2021-12-17 10:48] lukasholzer commented on #3840
Please yes If you would create a seperate issue it would be super awesome! :).

And yes having the CLI globally installed I guess would solve the issue 👍

[2021-12-17 11:00] vsaarinen opened #3848 "netlify-cli cannot be run with Yarn Plug'n'Play"
**Describe the bug**

After trying to upgrade `netlify-cli` from `8.0.5` in our project that uses Yarn PnP (aka. Yarn Berry, version 3.1.1), running `netlify` via Yarn is no longer possible, likely due to introducing ESM. Even after enabling experimental ESM support in Yarn (by adding `pnpEnableEsmLoader: true` to `.yarnrc.yml`) and adding `netlify` as a direct dependency to our project, I get the

[2021-12-19 15:00] AleksandrHovhannisyan opened #3853 "CLI attempts to resolve a package.json script to a Node module when using npm-run-all ("cannot find module script")"
**Describe the bug**

Repo: https://github.com/AleksandrHovhannisyan/aleksandrhovhannisyan.com

I'm invoking `npx netlify dev`, with the following `package.json` scripts (modified to only show the relevant scripts):

[code]

I get the following output:

[code]

It seems the CLI is attempting to treat the `clean` script as a package, and it cannot find it in `node_modules`, so it's aborting.

This

[2021-12-19 23:02] jlengstorf opened #3854 "Presence of a [dev] block in Netlify TOML causes local dev to fail for functions"
**Describe the bug**

The presence of a `[dev]` block in `netlify.toml` causes functions to fail with what looks like a zisi error:
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. Create an empty folder
2. Add a "hello world" TypeScript function
[code]
3. Add a netlify.toml with a `[dev]` block
[code]
4. Run `ntl dev`
5. Try to execute the function

Removing the `[dev]` block solves

[2021-12-20 08:49] lukasholzer opened #3862 "Enhance log on `site:create` if it is not linked to the directory"
**Is your feature request related to a problem? Please describe.**

When running `ntl site:create` in a new folder it will create a site but not link it.
This is ok but I expected that it got linked

We could enhance the existing log output:

[code]

This would not break any behaviour for users that want to bulk create sites but would highlight the next steps needed for new users.

**Describe alte

[2021-12-20 10:00] letoast commented on #1599
+1  - having a different workflow for build and dev is not desirable. Other services already have the option of referencing outside environment variables in their build configuration files.

[2021-12-20 10:17] lukasholzer opened #3864 "Project graph test execution behaves differently on Windows"
**Describe the bug**

Project graph execution behaves differently on windows: [Slack Thread](https://netlify.slack.com/archives/C012GT6MYKU/p1639749590133600)

Windows: https://github.com/netlify/cli/runs/4560551479?check_suite_focus=true#step:11:15
Ubuntu: https://github.com/netlify/cli/runs/4560551305?check_suite_focus=true#step:11:15

[2021-12-20 11:02] minivan commented on #3619
Hi @AidenFaulconer, I hope the comment pointed you in the right direction. I'll close the issue for now, feel free to comment here if the problem persists, and we'll reopen it.

[2021-12-20 11:07] erezrokah commented on #3862
Hi @lukasholzer, I think this is a duplicate of https://github.com/netlify/cli/issues/3827.

I'll let you decide which one to keep. We already have someone wanting to work on https://github.com/netlify/cli/issues/3827#issuecomment-994940898

[2021-12-20 11:29] lukasholzer commented on #3862
Oh cool! Have not seen this just realized this behaviour previously and found it odd I will close it then in favor of the existing one!

[2021-12-20 11:29] #3862 closed

[2021-12-20 11:34] lukasholzer commented on #3827
@erezrokah should we run the linking as a post step or is the command used in bulk operations as well? (thinking about larger customers)

IMO there are multiple ways to achieve a good UX

1) automatic link the site - needs a flag to disable it `--disable-linking` would be a breaking change IMO
2) Add a prompt that asks if it should link the directory - needs a flag for CI to skip the prompt (Not I

[2021-12-20 11:42] #3864 closed

[2021-12-20 11:53] erezrokah commented on #3827
@lukasholzer That's a good point about this being a breaking change.

We could do this, and detect if running in CI and not link the site, unless a `--force` flag is passed (we use `--force` in other places in the repo, but not consistently. This is similar to `-y` (yes) in other CLIs).

Same behavior as above - if the user replied with `yes` to linking the site, and we detect the folder is alread

[2021-12-20 12:48] bdefore commented on #1599
I still use the above workaround, but inverted. A base configuration needed for Netlify Dev constitutes my netlify.toml. When running in Netlify's CI my first step is to append supplemental configuration required for a deployed environment, such as redirects. These live in a netlify.ci.toml. I changed to this way primarily because netlify.toml is committed to source and I didn't want to inadverten

[2021-12-20 14:18] ehmicky opened #3869 "Cannot install `netlify-cli` with `npm@6`"
**Describe the bug**

Running `npm install netlify-cli` with `npm@6` produces the following error:

[code]

**To Reproduce**

  - Use `npm@6`.
  - Run `npm install netlify-cli`

**Configuration**

[code]

**Expected behavior**

Users of `npm@6` should be able to install `netlify-cli`.
`netlify-cli` supports Node 12 and 14 which come both with `npm@6`, so we need to support it.

**Additional contex

[2021-12-20 14:26] lukasholzer commented on #3869
Something https://github.com/netlify/pod-workflow/issues/339 would have covered. I guess no one tried the rc versions on npm 6

Would It work to just ship the files in the package under `tools/eslint-rules/**` @ehmicky?

[2021-12-20 14:33] ehmicky commented on #3869
I am not sure, but this is a good idea worth trying out IMHO.
If that does not work, then maybe we could explore whether there is another way to use those rules without the `file:` scheme?

[2021-12-20 14:48] maxcell opened #3870 "Issue installing `netlify-cli` with resulting EACCES permission denied error"
**Describe the bug**

For some reason, when installing the `netlify-cli` we ran into an EACCES denied error to the `autocompletion.json` file. It seems to pass through when we use `sudo` in front of installing but this is even from a fresh install of `nvm`. And invoking the cli with `sudo` seems to work fine, but any other way fails.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `npm

[2021-12-20 15:03] lukasholzer commented on #3870
@ehmicky any ideas why writing in the same directory as netlify config has issues? I have used the same method as the config to get the file and write it there on startup.

[2021-12-20 16:40] ehmicky commented on #3870
Not that I can think of. However, I am wondering if this might be related to https://github.com/netlify/cli/pull/3841?

[2021-12-20 17:58] ehmicky commented on #3869
This can be reproduced in [the following PR](https://github.com/netlify/build-plugin-template/pull/244) ([Deploy logs](https://app.netlify.com/sites/build-plugin-template/deploys/61c0be9ce86e680007d9f154)).

Some other sites seem to have experienced in production as well: Humio logs [here](https://cloud.us.humio.com/netlify-us-production/search?query=%22npm%20ERR%21%20enoent%20ENOENT%3A%20no%20suc

[2021-12-21 04:01] ximenasandoval commented on #3827
Hi! I had been working on this issue but considering only the first option *(automatic link the site - needs a flag to disable it)*

But I can work on adding the prompt that asks to link the current directory for option 2 🙌🏽

and also update the tests to make sure they are considering this change too!

[2021-12-21 08:41] #3618 closed

[2021-12-21 15:11] #3869 closed

[2021-12-21 16:47] joelcloralt commented on #3827
Hi all. The linking doesn't override if there is a linked site already so it wouldn't be a breaking change. The step would also be skipped if the user has a flag or environment variable set as they take precedence over the commands.

So I would only go with option 1. Not sure we need the other two options.

[2021-12-22 14:38] gavinhenderson opened #3897 "Cannot set build context when using `netlify deploy --build`"
**Describe the bug**

You cannot set the build context when you are building via the deploy command.

Due to [this issue](https://github.com/netlify/cli/issues/3792) I must use `netlify deploy --build` rather than `netlify build` followed by `netlify deploy`.

**To Reproduce**

Steps to reproduce the behavior:

When you run `netlify build --context deploy-preview` in any repo you will see the outp

[2021-12-22 15:50] gavinhenderson commented on #3897
@erezrokah Would you accept a PR to add the context flag to the `deploy` command?

[2021-12-22 15:55] erezrokah commented on #3897
@gavinhenderson, yes please! We'd be happy to

[2021-12-22 16:15] erezrokah commented on #3897
I'm also wondering if `context` should implicitly set `alias`, see https://github.com/netlify/cli/issues/1984#issuecomment-797120748

[2021-12-22 16:24] gavinhenderson commented on #3897
Not sure that would make sense. I set my `context` to `deploy-preview` but then I use `alias` to set the name of the specific branch so I get a URL with the branch name.

Here is an example (with a github action variable):

[code]

We could add some logic to default to only set `alias` if there is no explicit `alias` passed, but that seems like complexity that would cause confusion

[2021-12-23 11:26] ascorbic opened #3905 "Add `netlify serve` command"
**Is your feature request related to a problem? Please describe.**

Currently the `dev` command is used to run the framework's dev command, but this is usually not the same as the production site.

**Describe the solution you'd like**

A `serve` command that does the following:

- By default, runs the build command and uses the config modified by the build plugins. This can be disabled with `--no-

[2021-12-23 11:35] erezrokah commented on #3905
Thanks @ascorbic, to add to it, we'll probably want to re-run `build` on changes to source files.

[2021-12-23 11:40] ascorbic opened #3906 "Persist mutated config after build"
**Is your feature request related to a problem? Please describe.**

Currently any config mutations in build plugins are lost once the build has completed. This means that if the user then runs `ntl dev` or `ntl deploy` the site is deployed without the expected config changes. This is particularly problematic with redirects, which are hard to reproduce. This also means the framework plugins/runtime

[2021-12-23 14:33] smoreau-tj opened #3907 "Unable to upgrade"
**Describe the bug**

Unable to upgrade netlify-cli  8.1.8 to 8.4.2
it seems eslint-plugin-local-rules was pointing to file:tools/eslint-rules

__attempted ways to fix:__
 - reinstall netlify-cli: failed same error
 - installing eslint-plugin-local-rules: failed would continued to look for eslint-plugin-local-rules
 - removing netlify-cli manually and reinstalling: worked

**To Reproduce**

Steps

[2021-12-26 15:51] vmohir commented on #660
The problem is that the login request is blocked in Iran. Use a VPN @dehghani-mehdi

In my case, strangely my VPN wasn't working only for netlify! So I just switched to another VPN

[2021-12-28 14:31] #3579 closed

[2021-12-28 23:36] AleksandrHovhannisyan commented on #3853
Seems like this may be a regression with yarn specifically? `npm run serve` works.

[2021-12-29 10:24] #3575 closed

[2021-12-29 15:53] Fran-A-Dev commented on #3870
I tried to install it again into a local project and it did the same error.  I tired to use a different version of node which did not work as well.

[2021-12-29 16:21] Fran-A-Dev commented on #3870
Now sudo is not working either when trying to install it.`sudo npm install netlify-cli --g`

[2021-12-29 16:22] XhmikosR commented on #3302
@ehmicky Like I mentioned in #494, this is NOT only an issue of package size.

It's a fundamental security issue: you make all of the people who install your package trust 1300+ packages!

* https://npm.anvaka.com/#/view/2d/netlify-cli

The security chain attacks are real, and the only solution is to reduce the packages you depend on. If you do that, then size and install time will also improve.

[2021-12-30 13:59] erezrokah commented on #3907
Hi @smoreau-tj, I believe this is a duplicate of https://github.com/netlify/cli/issues/3869 and was resolved in https://github.com/netlify/cli/pull/3872.

We no longer reference `eslint-plugin-local-rules` in our `package.json`.

Do you mind verifying the issue still exists? Another possible solution is to update `npm` to the latest version via `npm install -g npm`.

[2021-12-30 15:40] erezrokah commented on #3302
Thanks for the additional context @XhmikosR.

I agree the security aspect is more important than the package size.

We've recently dropped `oclif` from the codebase [which helped](https://github.com/netlify/cli/pull/3717#issuecomment-979922158) and are also in the process of converting the codebase to [ES Modules](https://github.com/netlify/cli/pull/3697) so we can upgrade our dependencies to late

[2021-12-30 23:10] smoreau-tj commented on #3907
@erezrokah I had been able to remove by manually deleting netlify-cli from my npm global packages

[2022-01-03 10:05] #3907 closed

[2022-01-03 14:43] lukasholzer commented on #3870
@Fran-A-Dev hey can you provide more details on the npm install? which operating system and npm version is used?

thx already in advance :)

[2022-01-03 15:02] Fran-A-Dev commented on #3870
Hi Lukas!  Thanks so much for looking into this.  The npm version I am using is 8.3.0

The OS I am on is macOS Monterey version 12.1

Thank you!

[2022-01-04 08:56] XhmikosR commented on #3716
@lukasholzer would it make sense to use commander instead of minimist too?

[2022-01-04 09:39] XhmikosR opened #3941 "Dependencies to remove/replace"
**Is your feature request related to a problem? Please describe.**

In an attempt to reduce the number of dependencies, I've made a couple of PRs (#3933, #3939, #3940).

**Describe the solution you'd like**

I think the following could be implemented to reduce the number of dependencies a little more:

1. replace `minimist` with `commander` in builders/netlify-lambda.js; commander is [bigger](http

[2022-01-04 10:52] erezrokah commented on #3716
Yes it will. We were trying to scope down this big refactoring as much as possible.
This especially makes sense since `netlify-lambda` uses `commander` too https://github.com/netlify/netlify-lambda/blob/1645b4aff5914eff4c4952dfa26ad57b78599188/bin/cmd.js#L7

[2022-01-04 11:01] XhmikosR commented on #3716
Cool, I have already included this suggestion in #3941, feel free to add more there :)

[2022-01-04 16:00] XhmikosR opened #3945 "docs: add a favicon"
**Is your feature request related to a problem? Please describe.**

Currently there's no favicon. Would be nice if there was one set.

**Describe the solution you'd like**

--

**Describe alternatives you've considered**

--

**Additional context**

--

**Can you submit a pull request?**

No.

[2022-01-04 16:03] XhmikosR opened #3946 "docs: search is broken"
**Describe the bug**

Search doesn't work on http://cli.netlify.com/

**To Reproduce**

Steps to reproduce the behavior:

1. Go to http://cli.netlify.com/
2. try to search something.
3. nothing happens apart from 403 errors in the browser console

[2022-01-04 21:27] fool commented on #3946
Thanks!  We're aware and working on it with our search service provider.  Not sure exactly when we'll get it fixed but I am pretty sure "within the next 48 hours" will be true based on some internal conversations about it.

Sorry for the hassle!

[2022-01-04 21:37] fool commented on #3946
well, I am glad I didn't commit to a timeline since I heard we just got it fixed 10 minutes later.  @XhmikosR do you see it working better for you now, too?

[2022-01-04 21:37] #3946 closed

[2022-01-04 22:56] charliegerard opened #3947 "Implement the "start with template" feature"
**Is your feature request related to a problem? Please describe.**

We have a new feature available in the UI to start a new site from template that I think should also be available in the CLI.

**Describe the solution you'd like**

Implement a new command to start a site from template.

**Describe alternatives you've considered**

Not do that but then we don't have feature parity.

**Can you subm

[2022-01-05 07:37] XhmikosR commented on #3946
Confirmed, cheers!

[2022-01-05 09:43] erezrokah opened #3950 "chore(site-build): use Node.js 16 to build the CLI site"
See https://github.com/netlify/cli/pull/3944#issuecomment-1004929969

We currently use Node.js 12 to build the CLI site. We should update to Node.js 16.

[2022-01-05 15:47] eduardoboucas opened #3954 "Infer default value for Identity headers in `functions:invoke` command"
**Is your feature request related to a problem? Please describe.**

When using the `functions:invoke` command, I'm always asked for input about whether or not to have emulated Identity headers:

[code]

It would be great if we could use a default option, requiring no additional input from the user, and offer overrides via the existing flags.

**Describe the solution you'd like**

The default shoul

[2022-01-06 12:20] #3950 closed

[2022-01-07 02:23] karagulamos commented on #3954
We can safely eliminate the check that invokes the prompt and reduce the if-else to this single line:

    `const isAuthenticated = options.identity || false`

This works since passing an **--identity** flag yields a **true** value while a `--no-identity` (or when omitted) yields a **false**.  Also, I doubt we need to do anything more for identity trigger functions as the existing code seems to co

[2022-01-07 11:02] erezrokah opened #3972 "chore(deps): find a replacement to the `tabtab` dependency, so we can upgrade `inquirer`"
We would like to upgrade `inquirer` to the latest version.

However doing so will increase our package size significantly since `tabtab` still references an old `inquirer` version, so by upgrading `inquirer` it will no longer get de-duped by `npm`.

See https://github.com/netlify/cli/pull/3960#issuecomment-1006826925

I opened a [PR](https://github.com/mklabs/tabtab/pull/77) in `tabtab` to address

[2022-01-07 12:53] XhmikosR opened #3973 "`npm run docs` doesn't work on Windows"
[code]

I suspect it's due to the backslashes.

[2022-01-07 14:45] XhmikosR commented on #3972
I also opened a patch https://github.com/mklabs/tabtab/pull/75 to reduce the package size since right now it's including its coverage folder.

[2022-01-07 15:05] #3854 closed

[2022-01-07 17:02] erezrokah opened #3978 "feat: support exclusive/conflicting options"
**Is your feature request related to a problem? Please describe.**

Before the switch from `oclif` to `commander` we could configure `exclusive` options, see https://github.com/netlify/cli/blob/f3dc4ed1eb5d5e9abcc5dea8c85b7c8acd67555e/src/commands/deploy.js#L622

That is, we could configure to report an error when a user tries to use options that won't make sense together.

`commander` doesn't see

[2022-01-07 18:31] erezrokah commented on #3655
@ascorbic I opened https://github.com/netlify/framework-info/issues/657.

Once we have that I think this issue will be about adding `useStaticServer: true` here https://github.com/netlify/cli/blob/f5323c45fec92c3a1e4604f472ea6ee9e468b67b/src/utils/detect-server-settings.js#L295 when a command/port is missing.

[2022-01-08 02:16] logemann opened #3979 "isBase64Encoded = true in "netlify dev" even though it shouldnt"
**Describe the bug**

This bug looks a lot like https://github.com/netlify/cli/pull/398. I experienced a strange bug when doing a JSON post to a Netlify function. isBase64Encoded is true, even though the JSON payload is not base64. This broke a middy middleware (jsonBodyParser) in my function.

**To Reproduce**

1. Create a function
2. do a POST on a function with Content-Type: application/json; c

[2022-01-08 15:22] jiri-matejka opened #3980 "Allow specifying functions server port for `netlify dev` via flag"
**Is your feature request related to a problem? Please describe.**
Every time I start `netlify dev`, functions run on different port. It makes it hard to create a collection of test requests in tools like Postman, because every time I need to change port number.

**Describe the solution you'd like**
I propose new parameter `--functionsPort` that would make possible to specify which port functions

[2022-01-08 22:55] TotalLag commented on #3979
don't mean to hijack, but i'm seeing something weird like this today too and maybe the following can help netlify troubleshoot. i'm sending the following via a rest client:

[code]
and this is from functions log (in prod):

[code]
the encoded body returns an incomplete json string:
[code]
which breaks anything i'm trying to do with JSON.parse

[2022-01-09 10:06] ndr47 commented on #3788
Even with
[code]
in my package.json I still get the error.
here is the output:
![Screenshot from 2022-01-09 10-41-56](https://user-images.githubusercontent.com/65710731/148677780-0ed27654-77ff-4673-a7b3-705b73a5b751.png)

[2022-01-09 10:26] mrloop opened #3981 "Error on post install script"
**Describe the bug**

`yarn global add netlify-cli` fails with

[code]
See full logs below

**To Reproduce**

Steps to reproduce the behavior:

1. Run `yarn global add netlify-cli`

**CLI Output**

Run failure for github action https://github.com/mrloop/activity-merge/actions/runs/1673191915 see logs

[3_Install netlify-cli.txt](https://github.com/netlify/cli/files/7834845/3_Install.netlify-cli.tx

[2022-01-09 11:44] nbl7 commented on #3788
[code]
then add to `package.json`
[code]
then
[code]

[2022-01-09 11:44] sawa-zen commented on #3981
It seems to be caused by the author of colors.js adding infinite loop processing to the release.
https://github.com/Marak/colors.js/commit/074a0f8ed0c31c35d13d28632bd8a049ff136fb6

[2022-01-09 20:12] patrickdappollonio commented on #1147
It seems the workaround is letting Netlify build the function for you, instead of you doing it locally. There's something wrong between the build-and-pack part when you do it yourself. I opened a ticket with Netlify and they said the issue comes from "how the zip is being made" -- but not sure what zip are they talking about.

If anyone has found out a better workaround please share!

[2022-01-09 20:25] erezrokah commented on #3981
As a workaround please use `npm install -g netlify-cli`. We publish a shrinkfile file with the CLI that prevents such issues by locking the CLI dependencies during publish time, however `yarn` doesn't support it, hence it takes the latest (and broken) version of `colors.js`.

[2022-01-09 22:34] lsnow99 commented on #1147
Thanks @patrickdappollonio . Unfortunately my website has other build steps that make it ideal to do in a GitHub CI job as opposed to taking advantage of the netlify build feature. If the ticket is public please do share the link to it. I have an open post on the support forums currently: https://answers.netlify.com/t/invalid-aws-lambda-parameters-reserved-keys-used-in-this-request/47233/8

[2022-01-09 23:51] patrickdappollonio commented on #1147
@lsnow99 I'm also looking for a solution since I'm working the same way as you, where my pipeline is in Github and I would rather keep it there for unit tests and the likes.  The ticket isn't public but if you're a paying Netlify customer you can e-mail them.

The same issue is actually outlined in another Github repo from Netlify: https://github.com/netlify/go-functions-example/issues/2 -- that r

[2022-01-09 23:56] cbmdfc commented on #1147
judging by the fact this ticket has been opened for well over a year, I doubt @netlify wants to fix it, they would rather see you pay them the build time

[2022-01-10 08:03] SamusElderg commented on #3981
For those using GitHub actions like: `uses: netlify/actions/cli@master` in their `.yaml` file in their `.github/workflows` folder, I have forked and flipped it to `npm` instead as a temporary fix you can change your workflow file to something like this:

[code]

Simply swapped over the Netlify deploy setup action from:
`uses: netlify/actions/cli@master`
to:
`uses: SamusElderg/actions/cli@master`

[2022-01-10 09:52] AidanDaniel97 commented on #3788
Looks like this is related
https://github.com/netlify/cli/issues/3981#issue-1097159039

[2022-01-10 11:18] erezrokah commented on #3981
Re-opening as the fix didn't work

[2022-01-10 11:46] erezrokah commented on #3981
Looks we need to wait for https://github.com/rafeca/prettyjson/pull/54#issuecomment-1008784779 as it was fixed in https://github.com/npkgz/cli-progress/issues/116#issuecomment-1008272485 and https://github.com/winstonjs/logform/pull/128

[2022-01-10 13:28] karagulamos opened #4001 "When encountering a zip file, ignore it and show a log message that we haven't loaded the function"
**Describe the bug**

The issue is already described here https://github.com/netlify/zip-it-and-ship-it/issues/637. I'm reopening it here because it's related to the CLI registry module.

**Expected behavior**

When loading functions invoked via `netlify functions:serve`, we should ignore function files ending with a ZIP extension and log a detailed message for the user as shown below:

![image](h

[2022-01-11 03:56] giuseppelt opened #4011 "Error on deploy command due to regression on dependency(prettyjson)"
After prettyjson patch update(1.2.1 --> 1.2.2), deploy commands fail on line
https://github.com/netlify/cli/blob/d9a41aa0d2508892d592e025bba42f2dc5e49626/src/commands/deploy/deploy.js#L517

because the logged object has some properties undefined (when the site has no functions or config).
In the previous version prettyjson simply skipped undefined properties, now crashes the process.

Linked issue

[2022-01-11 07:07] dongm2ez opened #4012 "Error on deploy command due to regression on dependency(prettyjson)"
**Describe the bug**

Run `netlify deploy --prod --dir dist`

[code]

**CLI Output**

[code]

[2022-01-11 08:19] Uhiyamind commented on #4012
I am having the same problem.
I get a "RangeError" when deploying from CircleCI to Netlify. I can't see the detail log so I can't figure out the cause.

The build timed out due to an infinite loop bug in colors.js. Since then, all builds have failed.

I hope the problem will be resolved.

[2022-01-11 09:33] MarkMekhaiel commented on #4012
Same symptoms as above, we're unable to deploy since yesterday.

[2022-01-11 09:44] lukasholzer commented on #3514
@ehmicky, @erezrokah I hit some further roadblocks on the cli repository I wanted to discuss with the group.

The CLI is using the require cache mechanism to serve a clean state of the functions locally when developing. When we switch to es modules this feature is not available anymore.

So I'm asking you about ideas on how we can solve that. Some options came to my mind.

1. Migrate to dynamic im

[2022-01-11 09:48] AidanDaniel97 commented on #4012
Exact same issue here, first the colors.js issue and now this - haven't been able to find out exactly what is triggering the error. At first I thought it might have been something within my nuxt site but after testing it on a branch I knew worked before, I got the same error.

[2022-01-11 10:14] grouville commented on #4012
Yeah, we need to bump prettyjson to latest version. On a way to do a PR

[2022-01-11 10:23] XhmikosR commented on #3981
npm removed the offending colors versions so this should no longer happen.

[2022-01-11 10:27] dakshshah96 commented on #4012
I was just able to run this on my local environment and deploy successfully after building locally:

[code]

Running the same command on GitHub Actions gives me the same error as others:

[code]

[2022-01-11 10:29] grouville commented on #4012
oh, so you only built netlify locally and it worked ? No changes in the prettyjson version ?

[2022-01-11 10:31] dakshshah96 commented on #4012
@grouville All I did was install a fresh copy of Netlify CLI (`npm install netlify-cli -g`) on my local environment, and ran the deploy command.

[2022-01-11 10:55] giuseppelt commented on #4011
fixed by prettyjson v.1.2.5

[2022-01-11 10:55] #4011 closed

[2022-01-11 10:56] erezrokah commented on #4012
Hi everyone, we're currently looking into this. This is a duplicate of https://github.com/netlify/cli/issues/4011 but will keep this one as it has a discussion.

We use a shrinkwrap file, which means we pin dependencies at publication, so if you use `npm` to install you should get working versions of `colors` and `prettyjson`, as we haven't updated any of those yet:

[code]

I'll try to reproduce,

[2022-01-11 10:56] erezrokah commented on #4011
Reported in https://github.com/netlify/cli/issues/4012 too

[2022-01-11 13:31] dakshshah96 commented on #4012
@erezrokah Here's what my GitHub Actions workflow looks like. The `RangeError` occurs on the last job. I'll try reproducing this on a minimal repo and update.

[code]

[2022-01-11 13:42] eduardoboucas commented on #3514
We should do everything we can to make sure the local development experience mimics the production environment as much as possible. esbuild is not the default bundler in production, and it's unlikely it will be anytime soon, so we shouldn't use it in the CLI unless people opt into it.

I know that we had some issues in the past with the cache mechanism when serving functions, with paths that shoul

[2022-01-11 13:42] erezrokah commented on #4012
Thanks for the additionally information @dakshshah96, it makes sense. It's **highly recommended** to use `yarn` with a lock file.
That will pin dependencies in your CI builds and ensure they are reproducibles.

To do it, you should commit the `yarn.lock` file to `git` and run `yarn install --frozen-lockfile` instead of `yarn`. See more in https://classic.yarnpkg.com/en/docs/cli/install/

[2022-01-11 13:48] erezrokah commented on #4012
Regardless I believe this issue can be closed as it was resolved in the latest `prettyjson` version. See https://github.com/netlify/cli/issues/4011#issuecomment-1009844819

[2022-01-11 13:48] #4012 closed

[2022-01-11 13:49] erezrokah commented on #3981
Closing as solved

[2022-01-11 13:49] #3981 closed

[2022-01-11 14:57] ehmicky commented on #3514
When it comes to mimicking `require.cache` with pure ES modules, I believe dynamic imports can be used with a cache busting query parameter.

With CommonJS:

[code]

With pure ES modules:

[code]

Please let me know if my comment is out of topic, as I do not know how caching is currently implemented with functions served locally.

[2022-01-11 15:19] tinfoil-knight commented on #3980
@erezrokah Can I pick this one up?

[2022-01-11 15:30] tinfoil-knight commented on #3980
@jiri-matejka I think you can configure `netlify.toml` as follows to get a fixed port.
[code]

![image](https://user-images.githubusercontent.com/51631122/148971846-7d491ef1-539d-466f-8a5d-9f39eb5558cb.png)

Does this work or are you looking for a way to specify it on the command line itself through a flag?

[2022-01-11 15:59] Uhiyamind commented on #4012
I updated netlify-cli to v8.6.19 and the problem was solved. Thanks.

[2022-01-11 16:01] Fran-A-Dev commented on #3870
@lukasholzer I just tried again today after re-installing `nvm` and still same error.  I wonder what could be causing this.

[2022-01-11 16:24] #3954 closed

[2022-01-11 17:59] erezrokah commented on #3980
Re-opening as I think it's good to have as a flag as well + document it

[2022-01-11 19:45] tinfoil-knight commented on #3980
@erezrokah Can I take up the issue?

[2022-01-12 09:25] #4001 closed

[2022-01-13 14:44] #3655 closed

[2022-01-14 16:51] erezrokah opened #4039 "Bug(command-build): unable to set build context via the CONTEXT env flag"
**Describe the bug**

Previously users could set the build context via an environment variable by running `CONTEXT=deploy-preview ntl build`.
This doesn't work anymore, see https://github.com/netlify/cli/pull/3899#issuecomment-1008658116.
Also, running `ntl build` sets the context to `build`.

**To Reproduce**

1. Run `ntl build` and see output, context should be `production`.

or

1. Run `CONTEXT

[2022-01-14 17:57] #3897 closed

[2022-01-14 19:27] charliegerard commented on #3561
Hey @lukasholzer! I've been running into the same issue today and I think I might know what's not working.

Personally, I was trying to run `netlify dev --live` on a RaspberryPi and it seems like the `live-tunnel-client` is an [amd64 package](https://github.com/netlify/live-tunnel-client/blob/master/checksums/0.1.0.txt), so it can't run on a Pi, cause I think it only supports arm64.

I'm not famil

[2022-01-16 12:32] XhmikosR commented on #3302
I've submitted a few PRs the last couple weeks reducing the deps etc. I've pinpointed the root cause for the biggest size increase in netlify-cli. It comes from multiple typescript versions. See https://github.com/netlify/zip-it-and-ship-it/pull/951 for more info.

This affects quite a few packages that depend on `@netlify/zip-it-and-ship-it`.

[2022-01-16 13:46] XhmikosR commented on #3302
So, with the above zip-it-and-ship-it change I get these results for netlify-cli:

[code]

I'm sure we can get this even more down.

[2022-01-16 15:07] patrickdappollonio commented on #1147
A quick update for anyone waiting: the ticket I opened as a paying customer was considered "complete" because I commented in this thread and, as such, "I'll be notified when the issue is resolved".

Judging that both this Github issue has been longstanding, and the other github repository about Go on Netlify is quite old too, it's safe to assume this is not in their priority list. I'm moving on to

[2022-01-17 10:26] erezrokah commented on #3561
Thanks @charliegerard! For context, the place to add a new architecture should be in (private link): https://github.com/netlify/live-tunnel/blob/40e678407da73cdaaaa21f28fd80a9914f20efcd/Makefile#L118

[2022-01-17 10:41] lukasholzer commented on #3561
@erezrokah I'm already on it 👍 I think we should do a better erroring inside the CLI if the CPU architecture or os is not supported.

[2022-01-17 10:51] lukasholzer commented on #3561
We are using always an `amd64` binary ->

[code]

which seems incorrect for me (strangely it works on my m1 chip, as it should be darwin arm64 for me)

what about windows and `ia32` shouldn't we use `process.arch` and `process.platform` to detect which binary to download @erezrokah

[2022-01-17 11:12] eduardoboucas commented on #1147
Hi all! First of all, apologies for the really slow response on this issue.

We've been working on a number of improvements to our Go functions offering, namely the new local development experience using the CLI and the ability to build the functions from source. Note that this doesn't mean we're forcing people to use our build system, because you can build the functions wherever you like by runni

[2022-01-17 11:13] erezrokah commented on #3561
Yep completely agree with both comments. We should error out if we don't support the `arch`, and then consider building the tunnel client with more arch targets.

[2022-01-17 13:03] erezrokah commented on #3978
Being discussed in https://github.com/tj/commander.js/pull/1678

[2022-01-18 09:03] #4039 closed

[2022-01-18 16:54] lukasholzer commented on #3870
@Fran-A-Dev, @maxcell

I've created a rc release with a fix. Can you verify if it worked for you?

`npm install -g netlify-cli@8.9.7-rc.0`

[2022-01-18 16:55] #3561 closed

[2022-01-18 16:58] Fran-A-Dev commented on #3870
@lukasholzer , @maxcell

I just ran the command and it works!!!! Yes!  JAMstack Joy!!  Thank you so much!! I appreciate you!
<img width="748" alt="Screen Shot 2022-01-18 at 10 56 05 AM" src="https://user-images.githubusercontent.com/73023614/149983040-ae98838a-8fe0-4913-8724-2ecb48cb475b.png">

[2022-01-18 16:59] lukasholzer commented on #3870
@Fran-A-Dev thank you for verifying release is coming :)

[2022-01-18 17:01] Fran-A-Dev commented on #3870
Super stoked! @lukasholzer I was missing the shared dev server over HTTPS tunnel and the lamba proxy on dev environment it does out of the box.

[2022-01-18 20:11] Fran-A-Dev commented on #3870
@lukasholzer
Posted an image in github, it installed successfully, but had an error
output on terminal.

Cheers,
Fran

On Tue, Jan 18, 2022 at 10:59 AM Lukas Holzer ***@***.***>
wrote:

[2022-01-19 03:01] DavidSabine opened #4081 "IgnorePluginOptions error while building functions: vertx"
While building functions for use with a Gatsby site, I've been hitting this error for months.

**CLI Output**

[code]

**To Reproduce**

I don't know how to reproduce the error. I don't use "vertx" in the project and have no idea what it is.

**To Avoid the error**

1. I navigate to my node_modules/netlify-lambda/lib/build.js > webpackConfig > webpackConfig > plugins
2. And delete this line:

[cod

[2022-01-19 09:43] lukasholzer commented on #3870
@Fran-A-Dev oh that Is sad to hear. Can you please re-upload the image it seems to be not added here.

[2022-01-19 10:07] lukasholzer commented on #3870
I Reopened the issue and added your comment here

[2022-01-19 10:10] lukasholzer opened #4082 "e2e tests are passing even though they are failing"
**Describe the bug**

![CleanShot 2022-01-19 at 11 10 02](https://user-images.githubusercontent.com/11156362/150109633-687ee8f3-b74e-4e6c-bf15-b6cfa69b2506.png)

[2022-01-19 10:44] lukasholzer commented on #4082
Seems to be failing properly for me if I change some expectations inside the test or running an command that throws.

![CleanShot 2022-01-19 at 11 44 20](https://user-images.githubusercontent.com/11156362/150115036-549dd224-7b8a-4aa2-9c74-bc4ff6c3bf98.png)

[2022-01-19 11:00] erezrokah commented on #4081
Hi @DavidSabine, going to move this to https://github.com/netlify/netlify-lambda, as I think it fits better in that repository.

If you could provide a public repository that we can use to reproduce the error that would be great, as it might be specific to the way `netlify-lambda` is configured with your project.

[2022-01-19 11:39] #4082 closed

[2022-01-19 13:51] #3980 closed

[2022-01-19 14:13] Fran-A-Dev commented on #3870
Thank you @lukasholzer !  It was strange, when I installed it per your new release it successfully installed, then when trying to run a netlify utility command, it gave the error I sent you.  Progress wise though, at least we got it installed.  Thanks again for assisting on this!

[2022-01-19 14:32] jamesqquick opened #4088 "Local Functions Not Working with Node 17+"
**Describe the bug**

When running `netlify dev`, local functions are not accessible on port 8888 when using Node.js version 17.

**To Reproduce**

Steps to reproduce the behavior:

1. Create a new hello world function inside of a functions directory
2. Install Node.js 17+
3. Run `netlify dev` in the project and try to access in the browser at `http://localhost:8888/.netlify/functions/helloWorld`

[2022-01-19 14:42] lukasholzer commented on #3870
can you send me your os information and more details about the environment?
Something like that:
<img width="847" alt="CleanShot 2022-01-19 at 15 41 35@2x" src="https://user-images.githubusercontent.com/11156362/150152991-4d70bef6-3404-4585-bf8c-f96cd9234e40.png">

[2022-01-19 15:37] Fran-A-Dev commented on #3870
Sure thing @lukasholzer , can I just run that exact command in the screenshot on my terminal
`npx envinfo --system --binaries --npmPackages netlify-cli --npmGlobalPackages netlify cli` ?

[2022-01-19 15:41] Fran-A-Dev commented on #3870
Here is a screenshot of the system
<img width="585" alt="Screen Shot 2022-01-19 at 9 39 04 AM" src="https://user-images.githubusercontent.com/73023614/150164615-6c0a6825-bfaa-403b-9ff3-42ff2d0231ec.png">

[2022-01-19 16:40] tinfoil-knight commented on #3770
@lukasholzer I was trying to debug this issue.

This is the place where redirects are handled:

https://github.com/netlify/cli/blob/47bf5eb7df9dfaf1ba9571cc9fc1b403935f0474/src/utils/proxy.js#L216-L227

The `isRedirect` function matches all redirects with http status code `301`. Therefore, instead of reaching the `isExternal` branch, the redirect for the external url is handled in the `isRedirect`

[2022-01-19 16:51] lukasholzer commented on #3770
@tinfoil-knight do you want to continue and take over on this issue?

[2022-01-19 16:52] tinfoil-knight commented on #3770
Yes. Thank you.

[2022-01-19 16:58] lukasholzer commented on #3870
yep exact this command it will download a npm package that analyzes your system:

should print something like that:

[code]

[2022-01-19 17:02] Fran-A-Dev commented on #3870
Awesome, just ran the command, here is the output @lukasholzer :

<img width="1440" alt="Screen Shot 2022-01-19 at 11 01 32 AM" src="https://user-images.githubusercontent.com/73023614/150178746-aae8dd14-f797-446a-9288-21d6fbf6589b.png">

[2022-01-19 20:23] nlshawver opened #4094 "git-credential-netlify is not supported on darwin with CPU architecture arm64"
**Describe the bug**

A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:

1. Run `git clone git@github.com:owner/repo-with-cli-bug.git`
2. Navigate to the cloned repository
3. Run `netlify dev`
4. See that the CLI exits with an error

**Configuration**

- If possible, please copy/paste below your `netlify.toml`.
- Please enter the following comm

[2022-01-20 04:35] patrickdappollonio commented on #1147
I tried your suggestion using `netlify deploy --build` by cloning the repository: https://github.com/netlify/go-functions-example

I managed to get it to build locally, however, the outcome is the same:

[code]

(I also had to run a `go mod init` at the project's root otherwise it wouldn't build).

I don't think the issue has ever been building it. The issue is uploading it to AWS Lambda through t

[2022-01-20 10:11] eduardoboucas commented on #1147
Hi again! This has been fixed in [version 8.11.0](https://github.com/netlify/cli/releases/tag/v8.11.0) of the Netlify CLI.

If you're still experiencing any problems, please let me know and I'll reopen the issue.

Thanks for bearing with me and apologies again for the frustrating experience here.

[2022-01-20 10:11] #1147 closed

[2022-01-20 11:04] lukasholzer opened #4098 "git-credential-netlify is not supported on darwin with CPU architecture arm64"
**Describe the bug**

Running now the `ntl lm:setup` command esits with an error as we don't provide a binary for `arm64 on darwin:

![CleanShot 2022-01-20 at 12 03 46](https://user-images.githubusercontent.com/11156362/150326913-56a5726d-9239-4c80-a78e-b1b72169c579.png)

CLI Version:
`netlify-cli/8.10.2 darwin-arm64 node-v16.13.1`

[2022-01-20 11:17] erezrokah commented on #4094
Hi @nlshawver, do you mind feeling in the missing parts of the issue template? That makes it much easier and faster to resolve the issue.

Also, for more context, the credential helper is built here https://github.com/netlify/netlify-credential-helper/blob/50b6ff358730db8dabea61a1d6e52b847fa49c4e/Makefile#L78

[2022-01-20 11:27] erezrokah commented on #4094
Closing in favor of https://github.com/netlify/cli/issues/4098

[2022-01-20 11:27] #4094 closed

[2022-01-20 11:27] erezrokah commented on #4098
Thanks @lukasholzer, see my comment in https://github.com/netlify/cli/issues/4094#issuecomment-1017394393